/*
Theme Name: Norebro

Adding support for language written in a Right To Left (RTL) direction is easy -
it's just a matter of overwriting all the horizontal positioning attributes
of your CSS stylesheet in a separate stylesheet file named rtl.css.

https://codex.wordpress.org/Right_to_Left_Language_Support

*/
body {
  direction: rtl;
  unicode-bidi: embed;
  text-align: right; }

q, blockquote {
  padding-left: 0;
  padding-right: 35px; }
  q:after, blockquote:after {
    left: auto;
    right: 0; }

input, select, button, textarea, .slider {
  direction: rtl;
  text-align: right; }

.contact-form.classic label input, .contact-form.classic label select {
  text-align: right; }

/* Header */
header#masthead.site-header .header-wrap .site-title,
header#masthead.site-header .header-wrap .site-branding {
  float: right; }

header#masthead.site-header .header-wrap .left {
  float: right; }

header#masthead.site-header .header-wrap .right {
  float: left; }

.header-search form input {
  padding-left: 50px;
  padding-right: 15px; }

.header-search form button {
  right: auto;
  left: 25px; }

#site-navigation {
  float: right; }
  #site-navigation ul#primary-menu > li {
    float: right; }
    #site-navigation ul#primary-menu > li .sub-nav, #site-navigation ul#primary-menu > li .sub-menu {
      left: auto;
      right: 0; }
      #site-navigation ul#primary-menu > li .sub-nav > li a, #site-navigation ul#primary-menu > li .sub-menu > li a {
        padding-left: 45px;
        padding-right: 15px; }
      #site-navigation ul#primary-menu > li .sub-nav > li.has-submenu a.menu-link:after, #site-navigation ul#primary-menu > li .sub-nav > li.has-submenu a.menu-link:before, #site-navigation ul#primary-menu > li .sub-menu > li.has-submenu a.menu-link:after, #site-navigation ul#primary-menu > li .sub-menu > li.has-submenu a.menu-link:before {
        right: auto;
        left: 15px; }
      #site-navigation ul#primary-menu > li .sub-nav > li.has-submenu a.menu-link:before, #site-navigation ul#primary-menu > li .sub-menu > li.has-submenu a.menu-link:before {
        margin-right: 0;
        margin-left: 10px; }
    #site-navigation ul#primary-menu > li .sub-sub-menu {
      margin-left: 0;
      margin-right: 18px;
      left: auto;
      right: 100%; }

#masthead .menu-other {
  float: left; }
  #masthead .menu-other > li {
    float: right; }
    #masthead .menu-other > li:last-child a:last-child {
      padding: 0 20px 0 0; }
    #masthead .menu-other > li .submenu {
      right: auto;
      left: 4px;
      text-align: inherit; }

.hamburger-menu {
  float: left; }

.fullscreen-navigation .site-branding {
  left: auto;
  right: 40px; }

.fullscreen-navigation .close {
  right: auto;
  left: 20px; }

.fullscreen-navigation #secondary-menu li a {
  padding-left: 0;
  padding-right: 40px; }

.fullscreen-navigation #secondary-menu li.mega-menu-item div.sub-nav,
.fullscreen-navigation #secondary-menu li.mega-menu-item .sub-sub-menu {
  right: auto;
  left: -100%; }
  .fullscreen-navigation #secondary-menu li.mega-menu-item div.sub-nav li.mega-menu-item.has-submenu:after,
  .fullscreen-navigation #secondary-menu li.mega-menu-item .sub-sub-menu li.mega-menu-item.has-submenu:after {
    content: '\f3d2';
    right: auto;
    left: 10px; }

/* Widgets */
.widget.widget_search form button, .widget.widget_search form input[type="submit"], .widget.widget_search form label:after {
  right: auto;
  left: 0; }

.widget.widget_categories ul li,
.widget.widget_meta ul li,
.widget.widget_recent_comments ul li {
  padding: 13px 20px 13px 0; }

.widget.widget_categories ul li:after,
.widget.widget_meta ul li:after,
.widget.widget_recent_comments ul li:after {
  left: auto;
  right: 2px; }

.widget.widget_recent_comments ul li {
  padding-right: 40px; }

.widget.widget_argenta_widget_subscribe .subscribe-widget table tr td input {
  border-left-width: 0;
  border-right-width: 1px; }

.widget.widget_argenta_widget_recent_posts ul.recent-posts-list img {
  left: auto;
  right: 0; }

.widget.widget_argenta_widget_recent_posts ul.recent-posts-list h4 {
  text-align: inherit; }

.widget.widget_argenta_widget_recent_posts ul.recent-posts-list .content-wrap {
  padding-left: 0;
  padding-right: 95px;
  float: right; }
  .widget.widget_argenta_widget_recent_posts ul.recent-posts-list .content-wrap.no-thumb {
    padding-right: 0; }

.widget.widget_argenta_widget_about_author img {
  float: right;
  margin-right: 0;
  margin-left: 15px; }

.widget.widget_argenta_widget_about_author .socialbar {
  right: auto;
  left: 0; }

.norebro-bar .content {
  text-align: right;
  direction: ltr; }

.blog-item .title .ion-pin {
  margin-right: 0;
  margin-left: 5px; }

.select i.icon {
  margin-left: 2px;
  margin-right: 15px; }

.site-main h3.related-post-heading {
  text-align: inherit; }

.toggle .vc_col-md-6:first-child {
  float: right; }

.toggle .vc_col-md-6:last-child {
  float: left; }

.toggle .toggle-post h3, .toggle .toggle-post p {
  text-align: right; }

.toggle .toggle-post .ion-ios-arrow-left:before {
  content: '\f3d3'; }

.toggle .toggle-post .ion-ios-arrow-right:before {
  content: '\f3d2'; }

.pagination ul li {
  float: right; }
  .pagination ul li span.icon-right:before {
    content: '\f3d2';
    margin-right: 5px;
    margin-left: 0; }
  .pagination ul li span.icon-left:before {
    content: '\f3d3';
    margin-right: 0;
    margin-left: 5px; }

#comments form {
  text-align: inherit; }

#comments p.text-left {
  text-align: inherit; }

.list-box li {
  padding-left: 0; }
  .list-box li:after {
    left: auto;
    right: 2px; }

.list-box-border-items li {
  padding-right: 20px;
  padding-left: 0; }

.list-box-border-items-offset li {
  padding-right: 0;
  margin-right: 20px;
  margin-left: 0; }
  .list-box-border-items-offset li:after {
    left: auto;
    right: -20px; }

.list-box-icon li {
  padding-left: 0;
  padding-right: 36px; }
  .list-box-icon li .icon {
    left: auto;
    right: 0; }
  .list-box-icon li .icon-shape {
    left: 0;
    right: 2px; }

.list-box-icon.list-box-border-items li {
  padding-right: 36px; }

.list-box-icon.list-box-border-items-offset li {
  margin-left: 0;
  margin-right: 36px;
  padding-right: 0; }
  .list-box-icon.list-box-border-items-offset li .icon {
    right: -36px;
    left: auto; }

.list-box-fill-icon.list-box-border-items li,
.list-box-fill-icon li {
  padding-right: 45px; }

.list-box-fill-icon.list-box-border-items-offset li {
  margin-right: 45px;
  padding-right: 0; }
  .list-box-fill-icon.list-box-border-items-offset li .icon-shape {
    left: -45px; }

.list-box-clear li {
  padding-right: 0; }

.page-error form.search button {
  right: auto;
  left: 15px; }
