/*
Skin Name: Gray
Version: 1.0
Description: Skin for Parallax
*/

/* links */
a,
.post-nav .arrow,
.widget a {
	color: #a3a3a3;
}

/* buttons */
input[type=reset],
input[type=submit],
button,
.pagenav .current,
#load-more a {
	background-color: #333;
	border-color: #111;
	color: #fff;
}
input[type=reset]:hover,
input[type=submit]:hover,
button:hover,
.pagenav a:hover,
#load-more a:hover {
	background-color: #555;
}

textarea:focus, input[type=text]:focus, input[type=password]:focus, input[type=search]:focus, input[type=email]:focus, input[type=url]:focus {
	border-color: #333;
}

/* headerwrap, nav-bar and footerwrap */
.footer-horizontal-left .back-top a,
.footer-horizontal-right .back-top a,
.footer-left-col .back-top a,
.footer-right-col .back-top a,
.header-rightpane.mobile_menu_active #headerwrap #menu-icon,
.header-leftpane.mobile_menu_active #headerwrap #menu-icon,
#headerwrap,
.header-block #main-nav-wrap,
body:not([class*='header-']) #main-nav-wrap,
#footerwrap {
	background-color: #a3a3a3;
}
.header-block.mobile_menu_active .menu-icon-wrap,
body:not([class*="header-"]).mobile_menu_active .menu-icon-wrap,
.body-overlay,
.header-block #main-nav-wrap,
body:not([class*='header-']) #main-nav-wrap,
.header-block.fixed-header-on #main-nav-wrap,
body:not([class*='header-']).fixed-header-on #main-nav-wrap {
	background-color: rgba(163,163,163,.7);
}
body:not(.mobile_menu_active).header-minbar .sidemenu,
body:not(.mobile_menu_active).header-slide-out .sidemenu,
.header-overlay.mobile-menu-visible #headerwrap {
	background-color: rgba(163, 163, 163, .9);
}

/* main navigation */
#main-nav a:hover,
#main-nav li:hover > a,
#main-nav .current_page_item a,
#main-nav .current-menu-item a,
#main-nav .current_page_item a:hover,
#main-nav .current-menu-item a:hover {
	color: #555;
}

/* back-top and footer widget list border */
.back-top,
#footer .widget li {
	border-color: #878787;
}

/* footer */
#footer {
	color: #000;
}
.back-top a:before,
#footer a {
	color: #000;
}
#footer a:hover {
	color: #555;
}

.mobile_menu_active #mobile-menu {
	background-color: #a3a3a3;
}