@font-face {
    font-family: 'builder-font';
    src: url('../../../assets/font/gotham-regular.otf') format('opentype');
}

body,
.tour-dropdown-wrapper .notification-center .pager a,
.customizer-options-menu a,
#customize-theme-controls .control-section .accordion-section-title,
.customizer-header p,
.customizer-header a,
.customizer-subtitle,
.customize-control-title,
#customize-theme-controls .control-section.open .customize-control.customize-control-description,
.md-shortcode-btn-text,
.md-theme-version span,
.customizer-subtitle,
li.customize-control-text label.social.social input[type="text"],
.importer-popup .head h2,
.importer-popup .second-popup h3,
section.demo-importer-title ,
.second-popup .right p{
    font-family: 'builder-font';
}

.customizer-btn span[class^="mdb-"] {
    font-size: 21px;
}

.shortcodes .inner-container span {
    font-size: 28px;
    position: relative;
    top: 10px;
    color: #787880;
}

a.customizer-btn.responsive-view span[class^="mdb-"] {
    font-size: 26px;
    position: relative;
    top: -2px;
    left: -3px;
}

button {
	outline:0 !important;
	}
.procsess {
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    right: 0px;
    z-index: 1000;
}
#customize-preview.wp-full-overlay-main:before{
    display: none;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}

.landscape .actions button {
    font-size: 11px;
}

.clearfix:after {
    clear: both;
}

.part{
    margin-top: 20px;
}
.primary-actions .control-panel-back{
    top: 10px;
}
/* Remove css transition */
.wp-full-overlay,
.wp-full-overlay .collapse-sidebar,
.wp-full-overlay-main,
.wp-full-overlay-sidebar,
.customize-controls-close,
.wp-full-overlay-sidebar .wp-full-overlay-header {
    transition: margin-left .3s;
}
.wp-full-overlay-main{
    height: auto;
    width: auto;
    right: 0;
    margin-right: 0;
}

#customize-controls .wp-full-overlay-sidebar-content{
    margin-bottom:0;
    overflow: hidden;
    /*opacity: 0;*/
}
.in-sub-panel #customize-controls .wp-full-overlay-sidebar-content{
    margin-bottom: 25px;

}

.wp-core-ui .button-primary,
#customize-header-actions .control-panel-back {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

.customize-control-title {
    font-weight: normal;
}
h3{
    font-weight: 400;
}
.customizer-titletext,
#customize-control-header_position .customize-control-title{
    font-size: 13px;
    font-weight: bold;
    line-height: 30px;
    color: #000;
    text-transform: uppercase;
}
.customize-control-titletext hr{
    display: none;
}

#customize-control-footer_widget_area_columns .customize-control-title,
#customize-control-sidebar-style > span,
#customize-control-sidebar-align > span,
#customize-control-custom_css .customize-control-title,
#customize-control-custom_js .customize-control-title{
    font-weight: 700;
}

#customize-controls input[type="text"]{
    height: 33px;
}

#customize-controls input[type="text"], input[type="password"], .ui-autocomplete-input, textarea, .uneditable-input{
    border-radius: 20px;
    padding-left: 20px;
}

#customize-controls input[type="text"]:focus, textarea:focus{
    border: 1px solid #0ad1b7;
    color: black;
}

li.customize-control.customize-control-slider input[type=text] {
    width: 20%;
    float: left;
    text-align: center;
}

li.customize-control.customize-control-slider .ss-slider {
    width: 70%;
    margin-left: 25%;
    margin-top: 12px;
}

.wp-core-ui .button.tooltip {
    display: none;
    margin-top: 5px;
    color: #fff;
    border: 0px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 0;
    line-height: 20px;
    font-weight: bold;
    -webkit-box-shadow: none;
    box-shadow: none;
    float: right;
}

.customize-control-radio label {
    line-height: 28px;
    padding: 5px 10px;
}

li .image.ui-buttonset label.ui-button {
    padding: 2px;
    line-height: 0;
    border-radius: 0;
    background: #ffffff;
    border: 0;
    box-shadow: none;
    width: 32%;
    height: inherit;
}

/*******************
*****  info   ******
*******************/

#customize-header-actions,
.in-sub-panel #massive-controls{
    /*display: none;*/
    left:-312px;

}

.in-sub-panel #customize-header-actions{
    display: block;
}

div.customizer-header {
    height: auto;
    margin: 45px auto 50px 57px;
    width: 210px;
    transition: left .8s cubic-bezier(0.23, 1, 0.32, 1);
    left:0;
    position: relative;
    opacity: 1;
    z-index:11;
}

.in-sub-panel div.customizer-header{
    opacity: 0;
}

div.customizer-header .pic {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #c7c5c7 url("../images/avatar.jpg") no-repeat center;
    overflow: hidden;
}

div.customizer-header .pic .notify-win{
    display: block;
}

.customizer-header .pic .avatar{
    width:100%;
    height: 100%;
}

.customizer-header p {
    text-align: left;
    padding: 0;
    margin: 20px 0 1px;
    font-size : 15.5px;
    font-weight : 700;
    color:#3b3b3b;
    text-transform: uppercase;
}
.edit-profile-customizer{
    color: #969696;
    text-decoration: none ;
    font-size: 10px;
    transition: letter-spacing .3s,color .3s;
}
.edit-profile-customizer:hover {
    letter-spacing: 0;
    color: #696969;
}

.customizer-header a.close {
    font-size: 9px;
    line-height: 9px;
    color: rgba(150,154,157,1);
    text-align: center;
    display: block;
    font-weight: bold;
    transition: color 300ms;
}

.customizer-header a.close:hover {
    color: rgba(150,154,157,0.7);
}

div#customize-info {
    visibility: hidden;
    display: none !important;
}

#customize-header-actions {
    border-left: 11px solid #f1f1f1;
    border-right: 11px solid #f1f1f1;
    border-bottom: none;
    border-bottom-left-radius: 18px;

    background-color: #ffffff;
    margin-bottom: 5px;
    height: 36px;
    width: 285px;
}

.wp-full-overlay-sidebar .wp-full-overlay-header {
    padding: 0;
}

/* close */
.customize-controls-close {
    width: 36%;
    height: 35px;

    background-color: #ffffff;

    border-left: 1px solid #cdcbcb;
    border-bottom: 1px solid #cdcbcb;
    border-right: 1px solid #cdcbcb;
    border-bottom-left-radius: 5px;
    line-height: 35px;
    padding-left: 44px;

}

.back-btn:before {
    font-size: 14px;
    background: url(../images/back-flash.png) no-repeat 0 center;
    content: "";
    font: initial;
    display: inline-block;
    width: 22px;
    height: 35px;
    top: 0;
    left: 0px;
    position: absolute;
}

.back-btn:focus,
.back-btn:hover,
#customize-header-actions .customize-controls-close:focus,
#customize-header-actions .customize-controls-close:hover {
    background-color: #ffffff;
    border-left: 1px solid #cdcbcb;
    border-bottom: 1px solid #cdcbcb;
    border-right: 1px solid #cdcbcb;
    border-bottom-left-radius: 5px;
    outline: none;
}

.back-btn:active{
    color: #444;
}

#customize-header-actions .customize-controls-close:hover:after {
    background-position: 0 -36px;
}

.customize-controls-close:before {
    content: "";
    font: inherit;
}

/* First Item in Panel */
#customize-theme-controls .control-panel .control-panel-content .control-section:first-child .accordion-section-title:hover,
#customize-theme-controls .control-panel .control-panel-content .control-section:first-child .accordion-section-title:hover:before,
#customize-theme-controls .control-panel .control-panel-content .control-section:first-child:hover,
#customize-theme-controls .control-panel .control-panel-content .control-section:first-child:hover:before {
    background-color: #ffffff;
    border-radius: 5px;
}

#customize-theme-controls .control-panel .control-panel-content .control-section.open:first-child .accordion-section-title:hover,
#customize-theme-controls .control-panel .control-panel-content .control-section.open:first-child .accordion-section-title:hover:before,
#customize-theme-controls .control-panel .control-panel-content .control-section.baz:first-child .accordion-section-title:hover,
#customize-theme-controls .control-panel .control-panel-content .control-section.baz:first-child .accordion-section-title:hover:before {
    border-radius: 5px 5px 0 0;
}

.in-sub-panel #customize-theme-controls{
    margin: 0 auto;
    margin-top:120px;
    padding-top: 0px;
    height: auto;
}

.control-section.control-panel .accordion-section-title .panel-title {
    font-size: 13px;
    display: inline;
}

/* Save */
#customize-header-actions .button-primary {
    width: 50%;
    height: 36px;
    margin-top: 0;
    padding: 0 !important;
    background: #ffffff !important;
    color: #000000 !important;
    border-left: 1px solid #cdcbcb !important;
    border-bottom: 1px solid #cdcbcb !important;
    border-right: 1px solid #cdcbcb !important;
    border-bottom-left-radius: 5px !important;
    border-top-right-radius: 0;

    box-shadow: none !important;
}

.wp-core-ui #customize-header-actions .button-disabled,
.wp-core-ui #customize-header-actions .button-secondary.disabled,
.wp-core-ui #customize-header-actions .button-secondary:disabled,
.wp-core-ui #customize-header-actions .button-secondary[disabled],
.wp-core-ui #customize-header-actions .button.disabled,
.wp-core-ui #customize-header-actions .button:disabled,
.wp-core-ui #customize-header-actions .button[disabled] {
    background: #ffffff !important;
    color: #000000 !important;
    border-left: 1px solid #cdcbcb !important;
    border-bottom: 1px solid #cdcbcb !important;
    border-right: 1px solid #cdcbcb !important;
    border-bottom-left-radius: 5px !important;
    border-top-right-radius: 0;
}

.wp-core-ui #customize-header-actions .button-disabled .saved,
.wp-core-ui #customize-header-actions .button-secondary.disabled .saved,
.wp-core-ui #customize-header-actions .button-secondary:disabled .saved,
.wp-core-ui #customize-header-actions .button-secondary[disabled] .saved,
.wp-core-ui #customize-header-actions .button.disabled .saved,
.wp-core-ui #customize-header-actions .button:disabled .saved,
.wp-core-ui #customize-header-actions .button[disabled] .saved {
    display: block;
}

/* Spinner */
#customize-header-actions .spinner {
    position: absolute;
    top: -9px;
    right: 0px;
}

.wp-full-overlay-sidebar .wp-full-overlay-sidebar-content {
    top: 145px !important;
    bottom: 317px;
    height: 495px;
    margin-top: 85px;
}

.section-open .wp-full-overlay-sidebar .wp-full-overlay-sidebar-content {
    top: 0 !important;
    margin-top: 80px;
}
#customize-theme-controls>ul li.customize-section-description-container.section-meta{
    margin-bottom: 30px;
}
.in-sub-panel.wp-full-overlay .wp-full-overlay-sidebar-content,
.section-open.wp-full-overlay .wp-full-overlay-sidebar-content{
    height: 85%;
}

#customize-controls{
    background:#fdfdfd ;
    border: none;
    margin-top: 47px;
    box-shadow: 0 0 0 1px rgb(241,241,241);
    z-index: 9999;
    -webkit-transition: box-shadow 0.3s;
    -moz-transition: box-shadow 0.3s;
    -ms-transition: box-shadow 0.3s;
    -o-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
}

#customize-controls.form-closed{
    z-index: 10;
    box-shadow: 0;
}

.wp-core-ui .in-sub-panel #customize-header-actions .button-primary {
    padding: 0 40px 0 0 !important;
    margin-right: 10px;
}

.wp-core-ui .in-sub-panel #customize-header-actions .spinner {
    right: 5px;
    visibility: hidden;
}


/*******************
*****    ul   ******
*******************/

.accordion-section-content #customize-control-header_position .customize-control-title{
    /* margin: 0 !important; */
}
#customize-theme-controls{
    width: 240px;
    margin-left: 43px;
    transition: left cubic-bezier(0.23, 1, 0.32, 1) .8s;
}

#customize-theme-controls >  ul li {
    margin-bottom: 5px;
}

#customize-theme-controls > ul.customize-pane-child.control-section  li.control-section {
    border: none;
    margin-left: 5px;
    margin-right: 5px;
    text-align: left;
}

#customize-theme-controls .accordion-section-content, #customize-theme-controls >  ul:not('.new-menu-section-content') {
    border: none;
    opacity: 0;
    transition: opacity 1s;
}
.in-sub-panel #customize-info, .in-sub-panel #customize-theme-controls >  .accordion-section {
    left: 0;
}

.in-sub-panel.section-open #customize-info, .in-sub-panel #customize-theme-controls >  .accordion-section {
    left: 0;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.in-sub-panel #customize-theme-controls >  .accordion-section{
    padding-left: 43px;
}

#customize-theme-controls >  .accordion-section-content:not(.open),
#customize-theme-controls > .accordion-sub-container:not(.current-panel){
    left: 300px;
}

    /*******************
    *****  ul li ******
    *******************/
#customize-theme-controls .accordion-section-title{
    background-color: transparent;
}

#customize-theme-controls ul.control-section.open  li.glue.first {
    margin-bottom: 0;
}
#customize-theme-controls .customize-control-slider,
#customize-theme-controls .customize-control-switch,
#customize-theme-controls .customize-control-text,
#customize-theme-controls .customize-control-sidebar_widgets{
    padding-bottom: 11px;
    padding-top: 11px;
}

#customize-theme-controls .customize-control-rgba,
#customize-theme-controls .customize-control-checkbox{
    padding-bottom: 11px;
    padding-top: 11px;
}

#customize-theme-controls ul.control-section.open  li.glue.first.last hr {
    display: none;
}

#customize-theme-controls ul.control-section.open  li.glue {
    margin: 0;
    padding-bottom: 0;
    padding-top: 10px;
    border-bottom: none;
    border-top: none;
    border-radius: 0;
}


#customize-control-header_bg_gradient_color2.glue.glue.glue.glue {
    margin-bottom: 5px;
}
#customize-theme-controls ul.control-section.open  li.last {
    padding-bottom: 5px;
    padding-top: 8px;
}
#customize-theme-controls ul.control-section.open  li.first.glue.last{
    padding-bottom: 10px;
}
#customize-theme-controls ul.control-section.open  li.first.last{
    padding-bottom: 10px;
}
#customize-theme-controls ul.control-section.open  li.first {
    padding-bottom: 0px;
    padding-top: 10px;
}
/*******************
****  ul li h3 *****
*******************/

#customize-info .accordion-section-title,
#customize-info .accordion-section-title:hover {
    color: #808080;
}

#customize-theme-controls .accordion-section-title {
    color: #808080;
    border: none;

}
.in-sub-panel #customize-theme-controls .accordion-sub-container li.panel-meta{
    display: none;
}
#sub-accordion-section-branding li.customize-section-description-container .customize-action,
#sub-accordion-section-branding li.customize-section-description-container button,
#sub-accordion-section-social_item li.customize-section-description-container .customize-action,
#sub-accordion-section-social_item li.customize-section-description-container button,
#sub-accordion-section-notification_main li.customize-section-description-container .customize-action,
#sub-accordion-section-notification_main li.customize-section-description-container button,
.in-sub-panel #customize-theme-controls .accordion-section-content li.customize-section-description-container .customize-action,
.in-sub-panel #customize-theme-controls .accordion-section-content li.customize-section-description-container button
{
    display: none;
}
#sub-accordion-section-branding li.customize-section-description-container .customize-section-title,
#sub-accordion-section-social_item li.customize-section-description-container .customize-section-title,
#sub-accordion-section-notification_main li.customize-section-description-container .customize-section-title,
.in-sub-panel #customize-theme-controls .accordion-section-content li.customize-section-description-container .customize-section-title{
    background: transparent;
    border-bottom:none;

}
#sub-accordion-section-branding li.customize-section-description-container .customize-section-title h3,
#sub-accordion-section-social_item li.customize-section-description-container .customize-section-title h3,
#sub-accordion-section-notification_main li.customize-section-description-container .customize-section-title h3,
.in-sub-panel #customize-theme-controls .accordion-section-content li.customize-section-description-container .customize-section-title h3{
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #3f3f3f;
    padding: 0;
}
#sub-accordion-section-branding .accordion-section-content,
#sub-accordion-section-social_item .accordion-section-content,
#sub-accordion-section-notification_main .accordion-section-content{
    margin-top: 46px !important;
}

.in-sub-panel #customize-theme-controls .accordion-sub-container li.panel-meta .accordion-section-title {
    background:transparent;
}

#customize-theme-controls .control-section .accordion-section-title {
    text-align: left;
    transition: left 300ms, background 300ms,letter-spacing 0.3s,color 0.3s ;
}

#customize-theme-controls .control-section .accordion-section-title:focus,
#customize-theme-controls .control-section .accordion-section-title:hover,
#customize-theme-controls .control-section.open .accordion-section-title,
#customize-theme-controls .control-section:hover .accordion-section-title {
    color: #808080;
    background-color: transparent;
}

#customize-theme-controls .control-section .accordion-section-title:focus::after,
#customize-theme-controls .control-section .accordion-section-title:hover::after,
#customize-theme-controls .control-section.open .accordion-section-title::after,
#customize-theme-controls .control-section:hover .accordion-section-title::after {
    color: #808080;
}

#customize-theme-controls .control-section .accordion-section-title:focus::after,
#customize-theme-controls .control-section .accordion-section-title:hover::after {
    background-color: #efefef;
}

#customize-theme-controls .control-section.open div.accordion-section-title{
    background-color: #ffffff;
    border-radius: 5px 5px 0 0;
    border-bottom: none;
}

#customize-theme-controls .description {
    border-radius: 0 0 5px 5px;
    border-right: 1px solid #cdcbcb;
    border-bottom: 1px solid #cdcbcb;
    border-left: 1px solid #cdcbcb;
}

.customizer-subtitle {
    color: #999;
    font-size: 0.9em;
    margin-bottom: 5px;
}

.ios-select .items{
    color: #000;
}

.ios-select .px-display-none{
    display: none;
}

textarea.px-textarea-width {width:100%;}

/*******************
**  Pixflow info ***
*******************/


#customize-footer-actions{
    display: none;
}

/* controler ui */

hr.customizer-separator {
    margin-top: 15px;
    width: 100%;
    margin-bottom: 0;
    border-bottom: none;
}

.customizer-subtitle,
.customize-control-title {
    font-size: 12px;
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0px;
    width: 44%;
    line-height: 30px;
    color: #656565;
} 

.customize-control-rgba .customize-control-title {
    width: 70%;
}

/* radio buttons title on default and image */
.customize-control-radio .customize-control-title,
.customizer-textarea .customize-control-title {
    width: 100%;
    padding-bottom: 11px;
    padding-top: 5px;

}

/* TitleText control */
.customize-control-titletext .content {
    border-bottom: none;
    padding-top: 5px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0;
    margin-left: 0px;
}

/* radio buttonSet*/
.buttonset .customize-control-title {
    display: inline-block;
    width: 31%;
    border-bottom: none;
    padding-top: 5px;
    padding-bottom: 3px;
    margin-top: 0px;
    margin-bottom: 0;
    margin-left: 0px;
}

.buttonset .ui-buttonset {
    display: inline-block;
    width: 60%;
    float: right;
    margin-right: 0px;
    margin-top: 2px
}

.buttonset .ui-buttonset.triple {
    width: 100%;
    float: none;
    margin: 5px 0 30px;
}

.buttonset label.ui-button {
    padding-right: 0;
    padding-left: 0;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-bl {
    -moz-border-radius-topright: 2px;
    -webkit-border-top-right-radius: 2px;
    -khtml-border-top-right-radius: 2px;
    border-top-right-radius: 2px;

    -moz-border-radius-bottomright: 2px;
    -webkit-border-bottom-right-radius: 2px;
    -khtml-border-bottom-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tr {
    -moz-border-radius-bottomleft: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -khtml-border-bottom-left-radius: 2px;
    border-bottom-left-radius: 2px;

    -moz-border-radius-topleft: 2px;
    -webkit-border-top-left-radius: 2px;
    -khtml-border-top-left-radius: 2px;
    border-top-left-radius: 2px;

    border-top-right-radius: 0;
}

.ui-buttonset .ui-button {
    /*float: right;*/
}

.customize-control-radio .image {
    margin-left: 10px;
    margin-top: 0;
}

/* image controler */
.customize-control-image .customize-control-content {
    width: 36%;
    display: inline-block;
    float: right;
}

/* default radio */
.customize-control-radio > span.accordion-section-title {
    width: 100%;
}

.customize-control-radio .radio-item-title {
    padding: 12px 0;
    width: 31%;
    border-bottom: none;
}

/* color */
.sp-replacer {
    float: right;
    padding-top: 6px;
}
.sp-replacer .sp-previewsp-preview-inner{
    margin-right: 0;
}
/* checkbox */
.pixflow-customizer-checkbox strong {
    float: left;
    margin-left: 10px;
    line-height: 10px;
    font-size: 10px;
}

label.pixflow-customizer-checkbox{
    line-height: inherit;
    margin-left: 0;
    padding-top: 0;
    display: inline;
    padding-bottom: 0;
}

.pixflow-customizer-checkbox .switchery {
    float: right;
    margin-right: 5px;
    margin-top: 12px;
}

/* Select */
.ios-select {
    float: right;
    max-width: 59%;
    height: 30px;
    position: relative;
    width: 55%;
    padding: 1px 0;
    border: 1px solid #cfcfcf;
    border-radius: 20px;
}

.ios-select .flash {
    width: 27px;
    height: 100%;
}

.ios-select .items {
    display: inline-block;
    position: absolute;
    top: 3px;
    left: 0px;
    width: 115px;
    line-height: 25px;
    font-size: 12px;
    text-align: center;
    white-space: nowrap;
    overflow-x: hidden;
}

.ios-select .select-outline {
    padding: 0;
    background: #f1f1f1;
    line-height: 14px;
    margin: 0;
    font-size: 13px;
    border: 0;
    height: auto;
    left: -100px;
    top: 60px;
    z-index:-5;
    position: absolute;
    box-shadow: 0 0 20px 2px #aaa;
    opacity: 0;
    transition: all 0.2s;
    width: 220px;
    display: none;
}

.ios-select .down{
    top: 33px;
    opacity: 1;
    z-index:5;
    display: block;

}

.ios-select .select{
    width: 89%;
    border: 1px solid #cdcbcb;
    background-color:#F1F1F1;
    padding: 0 15px ;
    max-height: 350px;
    overflow-y: auto;
    min-height: 14px;
}

.ios-select .select input.search{
    position: absolute;
    left: 6px;
    width: 98%;
    top: 6px;
}

.ios-select .select input.search:focus{
    border-color: #828282;
    box-shadow: 0 0 2px rgba(109, 109, 109, 0.8);
}

.ios-select .select.with-search{
    padding-top: 28px;
}

.ios-select .select.with-search:before{
    content: "";
    background-color: #f1f1f1;
    width: 100%;
    height: 40px;
    position: absolute;
    top: 1px;
    left: 1px;
}

.ios-select .select .select-item {
    border: 0;
    border-radius: 0;
    display: block;
    line-height: 30px;
    margin-left: 0px;
    background-color: transparent;
    text-align: left;
    padding:13px 0 13px 10px;
    color: #3e3e3e;
    font-size: 14px;
    font-weight: 500;
    border-bottom:1px solid #eeeeee ;
}

.ios-select .select .select-item:last-child{
    border: none;
}

.ios-select .select-item.selected .cd-dropdown-option{
    background-image : url(../images/active-tick.png);
    border: none;
    border-radius: 50%;
}

.ios-select .select .select-item .cd-dropdown-option {
    margin-right: 10px;
}

.ios-select .select .select-item:hover .cd-dropdown-option{
    background-color:#aaa ;
}

/* Social DropDown */

.social {
    font-family: "pixflow-font-library";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-transform: none;
}

li.customize-control-text label.social > span {
    width: 12%;
    line-height: 25px;
    display: inline-block;
    font-size: 15px;
    position: absolute;
    left: 0px;
    border-right: 1px dotted #cdcdcd;
    text-align: center;

}

li.customize-control-text label.social.social input[type="text"] {
    width: 80%;
    margin-left: 18%;
    color: gray;
}

/* Slider */
.customize-control-slider span.slider-value {
    margin-left: -10px;
    display: inline;
    position: absolute;
    top: 18px;
    font-size: 10px;
    color: #A3A3A3;
    width: 34px;
    text-align: right;
}

.customize-control-slider > label {
    display: inline-block;
    width: 49%;
}
.wp-full-overlay{
    transition:margin-left .2s;
}

.md-isIE.customizer-view .wp-full-overlay.expanded{
    margin-left: 0;
}

.md-isIE .wp-full-overlay.expanded{
    /*transition: margin-left .3s;*/
}

.wp-full-overlay.expanded{
    margin-left: 285px;
}

/*.wp-full-overlay .wp-full-overlay-sidebar-content{
    top: 200px !important;
}

.in-sub-panel.wp-full-overlay .wp-full-overlay-sidebar-content{
    margin-top: -125px;
}
*/
.wp-full-overlay.expanded .wp-full-overlay-sidebar {

    width: 285px;

    /*margin-left: 15px !important;*/
}

.wp-core-ui .button-primary {
    border: 0;
}

.wp-core-ui .button-primary.focus,
.wp-core-ui .button-primary.hover,
.wp-core-ui .button-primary:focus,
.wp-core-ui .button-primary:hover {
    border: 0;
}

.wp-core-ui .button-primary-disabled,
.wp-core-ui .button-primary.disabled,
.wp-core-ui .button-primary:disabled,
.wp-core-ui .button-primary[disabled] {
    border: 0 !important;
}

.customize-control-title {
    color: #000;
}

li.customize-control {
    margin-bottom: 2px;
}

.customizer-separator {
    margin-top: 30px;
}

.section-open .customizer-header,
.section-open .customizer-controls-close,
.section-open .md-theme-version,
.in-sub-panel .customizer-header,
.in-sub-panel .customize-controls-close,
.in-sub-panel .md-theme-version{
    left:-350px;
}

.section-open .md-shortcode-bt-customizer,
.in-sub-panel .md-shortcode-bt-customizer{
    left: -460px;
}

.in-sub-panel #px-info,
#accordion-section-themes{
    display: none !important;
}



/* header action in sub panel*/
.in-sub-panel #customize-header-actions {
    width: 225px;
    background: transparent;
    color: #000000;
    border : none;
}

.wp-core-ui .in-sub-panel #customize-header-actions .button-primary {
    background-color: transparent !important;
    border: none !important;
}

.wp-core-ui .in-sub-panel #customize-header-actions .button-primary[value*="Saved"] {
    padding: 0 !important;
    visibility: hidden;
}

.wp-core-ui .in-sub-panel #customize-header-actions .button-primary[value*="Save & Publish"]:hover {
    margin-top: 1px;
    margin-right: 9px;
}

#customize-controls .back-btn {
    background-color: transparent;
    border: none;
    width: 89px;
    height: 35px;
    text-transform: uppercase;
    padding-left: 10px;
    transition: margin-left 300ms;
    display: block;
    left: 30px;
    top: 16px;
    clip: auto;
    overflow: visible;
    font-size: 10pt;
    position: relative;
    padding-right: 0;
    line-height: 35px;
    cursor: pointer;
}

#customize-controls .back-btn span {

}

#customize-controls .back-btn:hover{
    margin-left: 4px;
}

.in-sub-panel .wp-full-overlay-sidebar .wp-full-overlay-sidebar-content {
    top: 0 !important;
}

.current-panel .accordion-sub-container.control-panel-content{
    width: 98% !important;
}

/* open controler */
#customize-theme-controls .control-section.open{
    width: 90%;
    padding:0 1px 150px!important;
    opacity: 1;
    height: 100% !important;
    border-bottom: none;
    margin-left: 15px;
}

.accordion-section-content:focus{
    outline: none;
}

.in-sub-panel.section-open #customize-theme-controls .control-section.open ul {
    margin-top: 105px !important;
    margin-left:35px;
}
ul.accordion-section-content{
	overflow:hidden !important;
}
.section-open #customize-theme-controls .control-section.open ul{
    transform: translateZ(0);
}

/* override css for some accordion section in Customize Settings */
li#accordion-section-menu_locations ul.accordion-section-content{
    margin-top: 5px !important;
}

li#accordion-section-branding ul.accordion-section-content{
    margin-top: -175px !important;
}



#customize-theme-controls #accordion-section-notification_main.open ul{
    margin-top: -330px !important;
    marign-left:45px;
}

#customize-theme-controls #accordion-section-social_item.open ul{
    margin-top: -265px !important;
}





#customize-theme-controls .control-section.open li{
    position: relative;

}

.customize-section-title{
    margin: 0 !important;
}

#customize-theme-controls .control-section.open ul li:last-child{
    margin-bottom: 2px;
}

/* custom css */
#accordion-section-typography .customize-control-radio label {
    padding: 5px;
}

#customize-control-sidebar label.ui-button {
    margin-right: 10px;
}

li#accordion-section-footer_bottom_area ul.accordion-section-content li.ui-state-highlight,
li#accordion-section-header_items ul.accordion-section-content li.ui-state-highlight {
    position: relative;
    margin-bottom: 6px;
    background-color: rgba(255, 255, 255, 0.40);
    border-color: rgba(209, 209, 209, 1);
    border-width: 1px;
    border-style: dashed;
    border-radius: 5px;
    display: inline-block;
    height: 90px;
    width: 100%;
}

ul.accordion-section-content li.sortable {
    cursor: move;
}

ul.accordion-section-content li.sortable:before {
    font-size: 18px;
    margin: 0 12px 0 2px;
    position: relative;
    top: 5px;
}

ul.accordion-section-content li.customize-control-slider.sortable {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(50%, #f1f1f1), color-stop(51%, #e1e1e1), color-stop(100%, #f6f6f6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0); /* IE6-9 */
    width: 65%;
}

ul.accordion-section-content li.customize-control-slider.sortable:before {
    float: left;
}

ul.accordion-section-content li.customize-control-slider.sortable .customize-control-title {
    float: left;
    margin-left: 30px;
}

ul.accordion-section-content li.customize-control-slider.sortable input[type="text"] {
    margin: 2px 0 2px -35px;
}

ul.accordion-section-content li.customize-control-slider.sortable .ss-slider {
    margin-left: 70px;
    width: 56%;
}

li#customize-control-footer_widgets_order,
li#customize-control-vc_edited,
li#customize-control-header_sortable_items_order {
    display: none !important;
}

.controller-hide {
    display: none !important;
}

.controller-hide-slider {
    display: none !important;
    visibility: collapse;
    margin: 0 !important;
    padding: 0 !important;
    height: 0 !important;
}

div.image.ui-buttonset.footer-bg-texture label.ui-button {
    height: 49px;
    width: calc(100% /3 - 19px);
    margin-bottom: 10px;
    margin-right: 7px;
    float: none;
    display: inline-block;
}

div.image.ui-buttonset.footer-bg-texture label.ui-state-active.ui-button span.ui-button-text {
    /*padding: 0;*/
}

div.image.ui-buttonset.footer-bg-texture label.ui-state-active.ui-button span.ui-button-text:after {
    background: url("../images/selected-radio-image-item.png") no-repeat right bottom;
    content: " ";
    display: block;
    height: 49px;
    margin-top: -49px;
    position: relative;
    width: 51px;
}

div.image.ui-buttonset.sidebar-position label.ui-state-active.ui-button span.ui-button-text:after,
div.image.ui-buttonset.header-position label.ui-state-active.ui-button span.ui-button-text:after,
div.image.ui-buttonset.footer-position label.ui-state-active.ui-button span.ui-button-text:after {
    background-image: url("../images/selected-radio-image-item.png");
    background-position: 100% 100%;
    background-repeat: no-repeat;
    content: " ";
    display: block;
    height: 63px;
    margin-top: -59px;
    position: relative;
    width: 57px;
}

.image.ui-buttonset.theme_skin_appearance,
.image.ui-buttonset.header-position,
.image.ui-buttonset.footer-position,
.image.ui-buttonset.sidebar-position {
    margin-left: 0;
    margin-right: 5px;
}

.image.ui-buttonset.theme_skin_appearance label.ui-button,
.image.ui-buttonset.header-position label.ui-button,
.image.ui-buttonset.footer-position label.ui-button,
.image.ui-buttonset.sidebar-position label.ui-button {
    margin-left: 0;
    margin-right: 10px;
    float: left;
    height: 54px;
    width: 54px;
    padding-left: 0;
}

.image.ui-buttonset.footer-position label.ui-button{
    margin-right: 2px;
    height: 50px;
    width: 50px;
}

div.image.ui-buttonset.theme_skin_appearance label.ui-state-active.ui-button {
    margin-left: 4px;
    margin-right: 5px;
}

div.image.ui-buttonset.theme_skin_appearance label.ui-state-active.ui-button span.ui-button-text:after {
    background-image: url("../images/theme_skin_appearance-actice-overlay.png");
    background-position: left top;
    background-repeat: no-repeat;
    content: " ";
    display: block;
    height: 89px;
    margin-left: -5px;
    margin-top: -89px;
    position: relative;
    width: 75px;
}

.ui-button.ui-widget.ui-state-default.ui-button-text-only {
    /*box-shadow: none;*/
}

.customize-control-image .customize-control-content .dropdown-arrow {
    display: none;
    background: inherit;
}

.customize-control-image .container {
    border: 1px solid #cfcfcf !important;
}

.customize-control-image .inner {
    background-image: url("../images/upload-image.png");
    background-repeat: no-repeat;
    background-size: 106%;
    background-position: -3px -8px;
    top: 0;
}
.customize-control-image .attachment-media-view {
    height: 55px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.customize-control-image .attachment-media-view div.placeholder{
    display: block;
    float: right;
    width: 68px;
    height: 38px;
    border-radius: 0 20px 20px 0;
    overflow: hidden;
    position: relative;
    top: 0;
	font-size: 9px;
    right: 0;
    order: 1;
}
.customize-control-image .thumbnail{

    height: 46px;
    position: relative;
    top: 6px;
}
.customize-control-image .thumbnail img.attachment-thumb{
    display: block;
    float: right;
    width: 67px;
    height: 38px;
    border-radius: 0 20px 20px 0;
    overflow: hidden;
    position: absolute;
    left: 0;
}

.customize-control-image .actions {
    width: 163px;
    margin: 0;
}


.customize-control-image .button {
    margin: 0;
    background: #f1f1f1;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px;
    font-size: 11px;
    height: 35px;
}

.ui-buttonset .ui-button.ui-button {
    appearance: none;
    width: 50%;
    box-shadow: inset 0 0 0 1px #d3d3d3;
    cursor: pointer;
    height: 21px;
    line-height: 20px;
    position: relative;
    transition: border .60s .1s, box-shadow .60s .1s;
}

.ui-buttonset.triple .ui-button.ui-button {
    width: 33%;
}

.ui-buttonset .ui-button.ui-button:after {
    box-shadow: inset 0 -3px 3px rgba(0, 0, 0, 0.025), 0 1px 4px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.1);
    display: block;
    height: 24px;
    left: 0;
    position: absolute;
    right: 16px;
    top: 0;
}

.ui-buttonset .ui-state-active.ui-state-active {
    border-color: #dedede;
    box-shadow: inset 0 0 0 23px #dedede;
    transition: border .60s, box-shadow .60s;
}

.ui-buttonset .ui-state-active.ui-state-active:after {
    border-color: #dedede;
    left: 16px;
    right: 0;
}

.ui-buttonset .ui-button.ui-button.ui-radio {
    border-radius: 8px;
    border: 2px solid #e4e4e4;
    box-shadow: inset 0 0 0 1px #FFF;
    background-color: #FFF;
    height: 1px;
    width: 2px;
    margin-right: 0px;
    margin-top: 15px;
    float: right;
    transition: border .70s .1s, box-shadow .60s .1s;
}

.ui-buttonset .ui-state-active.ui-state-active.ui-radio {
    border: 2px solid #A1A1A1;
    background-color: #A1A1A1;
    box-shadow: inset 0 0 0 1px #A1A1A1;
    transition: border .80s, box-shadow .60s;
}

.ui-buttonset .ui-button.ui-button.ui-switch {
    border-radius: 8px;
    border: 3px solid #e4e4e4;
    background-color: #FFF;
    height: 8px;
    width: 8px;
    padding: 0;
    margin-left: 100px;
    transition: border 0.4s, box-shadow 0.4s;
    -webkit-transition: border 0.4s, box-shadow 0.4s;
    box-shadow: rgb(223, 223, 223) 0px 0px 0px 0px inset;
    vertical-align: middle;
    box-sizing: content-box;
}

.ui-buttonset .ui-state-active.ui-state-active.ui-switch {
    border-color: #0ad1b7;
    background-color: #0ad1b7;
    box-shadow: #0ad1b7 0px 0px 0px 5px inset;
    margin-top: -1px;
    -webkit-transition: border 0.4s, box-shadow 0.4s, background-color 1.2s;
    transition: border 0.4s, box-shadow 0.4s, background-color 1.2s;
}


.switch-status {
    margin-left:0;
    font-size: 11px;
    color: #adadad;
    line-height: 14px;
    position: absolute;
    right: 0px;
    top: 20px;
    width: 15px;
    text-align: right;
}

.accordion-section .dropdown {
    float: right;
}

.accordion-section .dropdown-content {
    margin-right: 7px;
    border: none !important;
    height: 34px !important;
    max-width: 80px !important;
    margin-top: -7px !important;
}

.accordion-section .customize-control-image .preview-thumbnail .dropdown-content img {
    max-width: 80px !important;
    margin-top: 5px !important;
}

.customize-image-picker .customize-control-title {
    line-height: 26px;
}

.customize-image-picker .actions a {
    color: #a3a3a3;
    font-size: 11px;
    margin-right: 10px;
}

.customize-image-picker .actions a:hover {
    color: #a3a3a3;
}

.accordion-section .customize-control-image .upload-dropzone,
.accordion-section .customize-control-upload .upload-dropzone {
    margin: 15px auto -12px;
}

li.customize-control-text label.customizer-text .customize-control-title {
    padding-right: 7px;
    width: 35%;
}

li.customize-control-text label.customizer-text input[type="text"] {
    width: 59%;
    border: none;
    box-shadow: none;
}

.customize-control-textarea textarea {
    border: 0 none;
    box-shadow: none;
    margin-left: 5%;
    height: 270px!important;
    resize: none;
    width: 93%!important;
    margin-top: 12px;
    margin-bottom: 12px;
    line-height: 1.6em;
}

textarea:focus {
    box-shadow: none !important;
    border-color: transparent !important;
}

#customize-theme-controls .control-section.open .customize-control.customize-control-description{
    border: none;
    background: none;
    color: #a2a2a2;
    margin-bottom: 45px;
    margin-top: 13px;
    font-size: 11px;
    line-height: 17px;
    font-style: normal;
}

#customize-theme-controls .control-section.open .customize-control.customize-control-titletext{ padding-bottom: 0px;}

#customize-theme-controls .control-section.open .customize-control.customize-control-description ul{
    margin-top: 10px !important;
}

#customize-theme-controls .control-section.open .customize-control.customize-control-description li {
    border: none;
    background: none;
    list-style:  none;
    font-style: normal;
    padding-left: 10px;
    text-indent: -1em;
    display: list-item;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: normal;
    line-height: 19px;
    color: #868686;
}

.gradient_preview {
    float: right;
    margin-right: 8px;
    border-radius: 10px;
    height: 21px;
    width: 120px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.nicescroll-rails {
    z-index: 999999 !important;
}

/* custom controlers style */
#input_p_advance_char .ui-button.ui-button.ui-switch {
    margin-left: 100px;
}

li.customize-control-image .customize-control-title {
    width: 54%;
    font-weight: 700;
}

.md-hidden {
    display: none !important;
}

/* Styles from customizer.php */
.wp-full-overlay-sidebar {
    background: #f1f1f1;
}

.control-section .accordion-section-title {
    padding-top: 10px;
    padding-bottom: 4px;
}

#customize-controls .customize-control-notifications-container {
    display: none;
}

.wp-full-overlay #customize-theme-controls > ul.accordion-sub-container .accordion-section-title {
    padding-top: 15px;
    padding-bottom: 15px;
}

.control-section.control-panel > .accordion-section-title:after {
    background-color: #fff;
    border-left: none;

}

.control-section.control-panel > .accordion-section-title:hover:after {
    border-top: 1px solid #E1E1E1;
}

#customize-theme-controls .control-section.control-panel ul li.control-subsection .accordion-section-title:hover::after{
    background: url(../images/flash.png) no-repeat;
}

#customize-theme-controls .control-section .accordion-section-title:hover,
#customize-theme-controls .control-section .accordion-section-title:hover::before,
#customize-theme-controls .control-section.control-panel ul li.control-subsection .accordion-section-title:hover,
#customize-theme-controls .control-section.control-panel ul li.control-subsection .accordion-section-title:hover::after,
#customize-theme-controls .control-section.control-panel ul li.control-subsection .accordion-section-title:hover::before {
    background-position: 5px center;
    letter-spacing: 00px;
}


#customize-theme-controls .control-section.control-panel .accordion-section-title:hover,
#customize-theme-controls .control-section.control-panel .accordion-section-title:hover::after,
#customize-theme-controls .control-section.control-panel .accordion-section-title:hover::before,
#customize-theme-controls .control-section.control-panel > h3.accordion-section-title:hover:after {
    background-color: transparent;
    color: black;
    background-position: center;
}

#accordion-section-branding.accordion-section.control-section.control-section-default > h3:hover,
#accordion-section-social_item.accordion-section.control-section.control-section-default > h3:hover,
#accordion-section-notification_main.accordion-section.control-section.control-section-default > h3:hover,
.wp-full-overlay:not(.in-sub-panel) #customize-theme-controls .control-section.control-panel .accordion-section-title:hover,
.wp-full-overlay:not(.in-sub-panel) #customize-theme-controls .control-section.control-panel .accordion-section-title:hover::after,
.wp-full-overlay:not(.in-sub-panel) #customize-theme-controls .control-section.control-panel .accordion-section-title:hover::before,
.wp-full-overlay:not(.in-sub-panel) #customize-theme-controls .control-section.control-panel > h3.accordion-section-title:hover:after {
    letter-spacing: 0;
    color: #000;
}

.in-sub-panel #customize-theme-controls .control-section.control-panel:not(.open) .accordion-section-title{
    transition:color 300ms, background-color 300ms,letter-spacing 300ms;
}

#customize-theme-controls .control-section.control-panel > h3.accordion-section-title:focus:after,
#customize-theme-controls .control-section.control-panel > h3.accordion-section-title:hover:after {
    border: none;
}

#customize-theme-controls .control-section.control-panel > .accordion-section-title:first-child:after,
#customize-theme-controls .control-section.control-panel > h3.accordion-section-title:first-child:focus:after,
#customize-theme-controls .control-section.control-panel > h3.accordion-section-title:first-child:hover:after {
    /*border-top-right-radius: 5px;*/

}

#customize-theme-controls .control-section.control-panel > h3.accordion-section-title:focus:after,
#customize-theme-controls .control-section.control-panel > h3.accordion-section-title:hover:after {
    margin-top: -11px;
}

#customize-theme-controls .control-section > .accordion-section-title:after {
    display: none;
}

#accordion-section-branding.accordion-section.control-section.control-section-default h3:after,
#accordion-section-social_item.accordion-section.control-section.control-section-default h3:after,
#accordion-section-notification_main.accordion-section.control-section.control-section-default h3:after{
    top : 0;
}

/*.sp-choose{
    background-image: url(../images/addBtn.png);
}*/
.customize-controls-close:after{
    width: 20px;
    height: 35px;
    content: "";
    display: block;
    position: absolute;
    right: 41px;
    top: 0;
}
#customize-header-actions .button-primary,
#customize-header-actions .primary-actions .preview,
#customize-header-actions .primary-actions .customize-controls-preview-toggle{
    display: none;
}

/* Select */
.ios-select .flash{
    background: url(../images/select-flash.png) no-repeat center;
    float: right;
    margin-right: 3px;
}

ul.accordion-section-content li#customize-control-header_items_order.customize-control.customize-control-text{
    display: none !important;
}

#customize-preview{
    -webkit-backface-visibility: hidden ;
    background-color: #f1f1f1;
}

#customize-preview > iframe{
    margin: 50px 0 0 0;
    width: 100%;
    /*height: calc(100% - 50px);*/
    border-radius: 2px;
    position: relative;
    top: -50px;

}
#customize-preview > iframe:hover{
    z-index: 999;
}

#customize-preview div.customizer-btn + iframe{
    top:0;
}

#customize-preview > .customizer-setting{
    float: right;
}

/*-----------------------------------------------------
                Customizer Transitions
-----------------------------------------------------*/

#customize-info,
#customize-theme-controls >  .accordion-section {
    -webkit-transition: transform cubic-bezier(0.23, 1, 0.32, 1) .8s;
    transition: transform cubic-bezier(0.23, 1, 0.32, 1) .8s,left cubic-bezier(0.23, 1, 0.32, 1) .8s , opacity 500ms;
}

#customize-theme-controls .customize-pane-parent{
    transition: .8s transform cubic-bezier(0.23, 1, 0.32, 1),.8s -webkit-transform cubic-bezier(0.23, 1, 0.32, 1);
;
}

#customize-theme-controls .control-section.current-panel > h3.accordion-section-title {
    -webkit-transition: transform cubic-bezier(0.23, 1, 0.32, 1) .8s;
    transition: transform cubic-bezier(0.23, 1, 0.32, 1) .8s;
}
.accordion-sub-container.control-panel-content {
    -webkit-transition: transform cubic-bezier(0.23, 1, 0.32, 1) .8s;
    transition: transform cubic-bezier(0.23, 1, 0.32, 1) .8s;
    padding-top: 30px;
}
.back-btn {
    -webkit-transition: left .8s cubic-bezier(0.23, 1, 0.32, 1), color .1s ease-in-out, background .1s ease-in-out;
    transition: left .8s cubic-bezier(0.23, 1, 0.32, 1), color .1s ease-in-out, background .1s ease-in-out;
}

/**/
.customizer-beautifier{
    background:#f1f1f1;width: 100%;height: 150px;position: fixed;
    top:0;
    left:0;
}
#massive-controls{
    margin-bottom: 75px;
    margin-top: 55px;
    transition: left .8s cubic-bezier(0.23, 1, 0.32, 1);
    position: relative;
    left:0;
}
.in-sub-panel #customize-theme-controls >  ul.accordion-sub-container > li > h3,
#customize-controls h3{
    font-size: 14px;
    font-weight: 400;
}

#massive-controls > li > h3,
#massive-controls > li > span{
    background-color: rgba(0, 0, 0, 0);
    color:#222222;
    cursor: pointer;
    display: block;
    font-size: 13.5px;
    font-weight: 500;
    height: 25px;
    left: 0px;
    line-height: 25px;
    padding-left: 52px;
    padding-right: 54px;
    padding-top: 5px;
    position: relative;
    text-align: center;
    transition: color 300ms;
}
#massive-controls > li > span:hover {
    color: #0ad1b7
}

.media-modal{
    top: 130px !important;
    left: 130px !important;
    right: 130px !important;
    bottom: 130px !important;
}

#customize-controls a{
    top: -25px;
}
#customize-controls a:focus{
    box-shadow:none
}

/* responsive view */
@media (min-width:1201px) and (max-width: 1500px) {
    .media-modal{
        top: 5% !important;
        left: 5% !important;
        right: 5% !important;
        bottom: 5% !important;
    }
}


.customize-control-image .upload-button,
.customize-control-image .remove-button{
    width: 164px !important;
    height: 42px;
}

.customize-control-image .remove-button,
.customize-control-image .default-button{
    display: none;
}

.customize-control-image .button{
    box-shadow: none;
    border: 1px solid #cfcfcf;
    /*margin-top: -40px;*/
    margin-left: 1px;
    outline: none;
    border-top-left-radius: 25px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 0;
    transition: border 0.3s;
}

.customize-control .actions button.button{
    margin: 0;
}

#customize-control-notify_logo.customize-control-image .remove-button,
#accordion-section-branding .customize-control-image .remove-button{
    margin-top: 18px;
    width: 167px !important;
}
.customize-control .attachment-media-view-image .remove-button,
#customize-control-notify_logo.customize-control-image .remove-button
{
     display: block;
     position: absolute;
     border: 0;
     background: 0;
     color: #d8d8d8;
     width: 17px !important;
     right: 86px;
     font-size: 12px;
     padding: 0;
     cursor: pointer;
     margin-top: 0;
}
.customize-control .attachment-media-view-image .remove-button:hover,
.customize-control .attachment-media-view-image .remove-button:focus
{
    color: #ffffff;
    border:none;
}


#customize-control-notify_logo.customize-control-image .upload-button,
#accordion-section-branding .customize-control-image .upload-button{
    margin-top: 0;
}

#customize-control-notify_logo.customize-control-image .current,
#accordion-section-branding .customize-control-image .current{
    margin-right: 2px;
}

.customize-control-image .button:hover,
.customize-control-image .button:focus{
    background: transparent;
    outline: none;
}

/* customizer hidden when click on eye-collapse */
.wp-full-overlay.collapsed .wp-full-overlay-sidebar {
    margin-left: -320px;
}

.quicksearch.quicksearch.quicksearch{
    width: 220px;
    margin: 0 0 18px 25px;
    height: 39px;
    background-color: #FCFCFC;
    border-color: #dbdbdb;
    box-shadow: none;

}

.quicksearch.quicksearch.quicksearch:focus {
    box-shadow: none;
}
.noUi-origin {
    background: #f1f1f1;
}

/***********************************************
        demo importer
***********************************************/

.importer-overlay,
.importer-overlay .second-popup{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    left: 0;
    top: 0;
    z-index: 999999;
    display: none;
}
.importer-overlay .second-popup{
    background-color: rgba(0,0,0,.5);
    display: block;
}
.importer-popup,
.second-popup > div.clearfix{
    background-color: #FFFFFF;
    border-radius: 3px;
    width: 80%;
    height: 75%;
    padding: 2.2% 1.8%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.second-popup > div.clearfix{
    height: 52%;
    width: 70%;
    margin-top: 10.5%;
    padding-top: 6%;
    padding-bottom: 2.6%;
}

.importer-popup .head{
    margin-bottom: 11px;
}

.importer-popup .head h2,
.importer-popup .second-popup h3{
    font-size: 33px;
    color: #333333;
    font-weight: 400;
    float: left;
    line-height: 33px;
    text-transform: capitalize;
    margin: 0;
}

.importer-popup .second-popup h3{
    float: none;
}

.importer-popup .head .demos-filter{
    float: right;
}

.filter-button-group  a{
    width: 100px;
    height: 36px;
    background-color:transparent;
    font-size: 11px;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 1px;
    display: inline-block;
    margin: 0 10px;
    transition: background-color .3s, color .3s;
    color: #8e8e8e;
    text-align: center;
    line-height: 36px;
    border-radius: 25px;
    cursor: pointer;
}

.filter-button-group  a:hover,
.filter-button-group  a.active{
    background-color: #0f94e9;
    color: #FFFFFF;
}

.importer-popup .second-popup .left a:hover{

}

.demos{
    overflow-y: scroll;
    width: 100%;
}

.demos .demo{

    width: calc(100% / 4 - 20px );
    display: block;
    height: 200px;
    margin: 10px 10px 50px ;
    background: #ddd;
    background-size: cover ;
}

.demos .demo > span{
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 393px;
    background-position: center;
    outline: 1px solid #e0e0e0;
}
section.demo-importer-title {
    font-size: 12px;
    position: relative;
    bottom: -208px;
    text-align: left;
    text-transform: capitalize;
    font-style: normal;
    color: rgb(107, 107, 107);
}
.demo .hover-overlay{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
    transition: opacity .3s;
}

.demo .hover-overlay:hover{
    opacity: 1;
}

.demo .hover-overlay a,
.second-popup .left .screen .live-demo,
.second-popup .right .import-demo{
    width: 175px;
    height: 45px;
    background-color: #0f94e9;
    font-size: 11px;
    color: #ffffff;
    margin: 73px auto;
    letter-spacing: 3px;
    text-align: center;
    line-height: 45px;
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 35px;
    cursor:pointer;
    text-decoration: none;
}

.demo .hover-overlay a:focus,
.second-popup .left .screen .live-demo:focus,
.second-popup .right .import-demo:focus{
    box-shadow: none;
}

.second-popup .right  .loader{
    display: block;
    height: 6px;
    position: absolute;
    left: 0;
    bottom: 0px;
    padding: 0;
}

/* Second popup*/
.second-popup .close,
.importer-popup .close{
    background: url("../images/close.png") no-repeat center;
    background-size: 20px;
    display: inline-block;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 8px;
    cursor: pointer;
    transition: background-color .3s;
}
.second-popup .close:hover,
.importer-popup .close:hover{
    background-color: #dadada;
}
.second-popup .right{
    float: right;
    width: 40%;
    padding-left: 7.5%;
}

.second-popup .right p{
    font-size: 14px;
    line-height: 25px;
    color: #959595;
    max-width: 91%;
}

.second-popup .right .option{
    background: url("../images/options.png") no-repeat left center ;
    height: 77px;
    margin-bottom: 15px;
    margin-top: 20px;
}

.second-popup .right span{
    color:#0f94e9;
    padding: 0 10px;
}

.second-popup .right .import-option{
    color:#414141;
    padding: 12px 20px 12px 20px;
    display: inline-block;
    border: 1px solid;
    border-color: rgba(65, 65, 65, 0.7);
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.3s;
    margin-right: 7px;
    margin-bottom: 5px;
}

.second-popup .right .import-option i.option-icon{
    color: #414141;
    padding-right: 6px;
    transition: all 0.3s;
}

.second-popup .right .import-option.checked i.option-icon{
    color: #ffffff;
}

.second-popup .right .import-option:hover,
.second-popup .right .import-option.checked{
    background-color: #0f94e9;
    border-color: #0f94e9;
    color: #FFF;
}

.second-popup .left{
    float: left;
    width: 52%;
    margin-left: 0;
    position: relative;
}

.second-popup .left .screen{
    background: url("../images/mac.png") no-repeat center center;
    position: absolute;
    left: 0;
    max-width: 100%;
    background-size: cover;
    height: 170%;
    right: 0;
    margin: auto;
    transform: scale(1.009);
    top: -45px;
}

.second-popup .right .import-demo{
    background-color: #505050;
    color: #fff;
    padding: 0 38px;
    font-size: 13px;
    letter-spacing: 1px;
    height: 55px;
    line-height: 55px;
    margin: 30px 0 0px;
    position: relative;
    overflow: hidden;
}
.second-popup .right .import-demo .loader div{
    position: absolute;
    top: -49px;
    left: 133px;
    color: #fff;
    padding: 0 38px;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 55px;
    height: 55px;
}
.second-popup .left .demo-image{
    background-size: cover;
    border-radius: 0;
    margin: auto;
    height: 338px;
    display: block;
    width: 88%;
}

.second-popup .left .screen .live-demo{
    opacity: 0;
    margin-top: 30%;
    transition: opacity .3s;
}

.second-popup .left .screen:hover a{
    opacity: 1;
}

.second-popup .right .import-err{
    color: #d60005;
    font-size: 11px;
    line-height: 11px;
}

.second-popup .right .import-err span{
    color: inherit;
    font-size: inherit;
    line-height: inherit;
}

#customize-preview.wp-full-overlay-main {
    background: none;
    z-index: 9011;
    transition: none;
    padding-top: 47px;
}

/*   Unique Setting customizer styles  */
#customize-theme-controls #unique-setting-switch > .accordion-section-title:after{
    display: none;
}

#customize-theme-controls #unique-setting-switch i{
    margin-right: 15px;
    margin-left: -30px;
    font-size: 13px;
}
    /**************************************************     Main and Customizer Loader      *******************************************/
.main-loader{
    background: rgba(241, 241, 241, 0.51);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    text-align: center;
    opacity:1;
	display:none;
}

.main-loader .text{
    font-size: 44px;
    line-height: 60px;
    max-width: 740px;
    font-weight: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
}

/*****  Customizer Loading *****/
.loader_loading {
    background-color: #ffffff;
    border-radius:6px;
    box-shadow: 0 0 13px rgba(0,0,0,.13);
    width: 140px !important;
    height: 126px;
	text-align: center;
}
.showbox_loading {
	position: absolute;
	top: 30%;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 5%;
}
.customizer-loading {
    background-color:rgba(255, 255, 255, 0.62);
    top: 50px;
}
.loader_loading span {
    color: #928989;
    text-align: center;
    width: 100%;
    position: relative;
    top: -45px;
}
.loader_loading {
    position: relative;
    margin: 0 auto;
    width: 100px;
    padding: 2px;
}

.loader_loading:before {
	content: '';
	display: block;
	padding-top: 100%;
}

.circular_loading {
	animation: rotate 2s linear infinite;
	height: 64px;
    transform-origin: center center;
    width: 72px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;    z-index: 10000;
	right: 0;
	margin: 23px auto;
}

.path_loading {
	stroke-dasharray: 1, 200;
	stroke-dashoffset: 0;
	animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
	stroke-linecap: round;
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}

	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35px;
	}

	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124px;
	}
}

@keyframes color {
	100%,
  0% {
		stroke: #d62d20;
	}

	40% {
		stroke: #0057e7;
	}

	66% {
		stroke: #008744;
	}

	80%,
  90% {
		stroke: #ffa700;
	}
}
.customizer-loading{
    position: absolute;
    width: 100%;
    z-index: 1001;
    height: 100%;
    left: 0px;
}

.customizer-loading .dark-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    background: #f1f1f1;
    z-index: 1001;
}

.main-loader .loading,
.customizer-loading .loading{
    height: 50px;
    line-height: 50px;
    border: 1px solid transparent;
    width: 0;
    padding-left: 50px;
    color: rgba(0,0,0,0.65);
    text-align: left;
    font-size: 13px;
    font-weight: bold;
    position: absolute;
    border-radius: 25px;
    opacity: 0;
    overflow: hidden;
}

.main-loader .loading{
    left: 50%;
    bottom: 75px;
    transform: translate(-50%,0);
}

.customizer-loading .loading{
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 1002;
}

.main-loader .loading .circle,
.customizer-loading .loading .circle {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 9px;
    top: 50%;
    margin-top: -16px;
}
.main-loader .loading .circle svg,
.customizer-loading .loading .circle svg {
    position: absolute;
    width: 100%;
    height: 100%;
}
.main-loader .loading .circle svg.circle-fill,
.customizer-loading .loading .circle svg.circle-fill {
    z-index: 1;
    stroke-dasharray: 21,360;
    transition: transform 300ms;
    animation: svg-animate 20s ease-out infinite;
    -webkit-animation: svg-animate 40s ease-out infinite; /* Chrome, Safari, Opera */
}

@keyframes svg-animate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(14400deg);}
}
@-webkit-keyframes svg-animate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(14400deg);}
}
.circle svg.circle-track {
    z-index: 0;
}

.main-loader .loading .circle .icon,
.customizer-loading .loading .circle .icon{
    font-size: 34px;
    color: #36b38b;
    opacity: 0;
}

.main-loader .loading .loading-text,
.customizer-loading .loading .loading-text{
    width: 150px;
    display: table;
    position: relative;
}
.main-loader .loading .loading-text .rotating-text{
    display:block;
    position:absolute;
    left: 51px;
    top:0;
    opacity:1;
}
.noUi-target{
    height: 2px;
    margin-top: 0px;
    margin-right: -8px;
    width: 69%;
}
.noUi-background{
    background: #909090;
}
.noUi-horizontal .noUi-handle{
    background: #d2d2d2;
    top: -5px !important;
    box-shadow:none;
    height: 11px;
    width: 11px;
    border: none;
}
.customize-control-radio .ui-corner-right:not(.ui-radio){
    border-bottom-right-radius:24px !important;
    border-top-right-radius:24px !important;
}
.customize-control-radio .ui-corner-left:not(.ui-radio){
    border-bottom-left-radius:24px !important;
    border-top-left-radius:24px !important;
}
.customize-control-radio .ui-button:not(.ui-radio){
    background-color: transparent !important;
    display: table;
    float: left;
    margin-left: 3px;
    height: 25px;
    line-height: 25px;
}
.ui-button .ui-button-text,
.ui-state-active .ui-button-text{
    color: #000 !important;
}
.customize-control-image .current{
    float: right;
    height: 40px;
    width: 69px;
    margin-top: 48px;
    margin-bottom: 0;
}
.customize-control-image .current .container{
    border-radius: 0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.customize-control-image .current .container .inner span{
    display: none;
}
.customize-panel-back{
    display: none;
    background: transparent;
    border: none;
    border-right: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: left .18s ease-in-out,color .1s ease-in-out,background .1s ease-in-out;
}

#customize-controls .customize-info .accordion-section-title,
#customize-controls .customize-info .customize-panel-description,
#customize-controls .customize-info{
    display: none;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: none;
    background: transparent;
}

#customize-control-footer_copyright_text .customize-control-title{
    font-size: 12px;
}

.attachment-info .thumbnail {
    width: auto !important;
    height: auto !important;
}

div.thumbnail.thumbnail-image {
    text-align: center;
    margin: 0;
    height: 46px;
    width: 67px;
    position: relative;
    top: 6px;
    right: 0;
    border-radius: 0 20px 20px 0;
}

#customize-control-dark_logo .actions,
#customize-control-light_logo .actions{
    margin-bottom: 0;
}

#customize-control-dark_logo_description{
    margin-bottom: 80px;
}

.message-box-wrapper{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999;
    opacity: 0;
}
.message-box-wrapper .message-box-container{
    width: 444px;
    min-height: 100px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    position: relative;
    background: #fff;
    border-radius: 1px;
    text-align: left;

}
.message-box-wrapper .message-box-container .message-box-title{
    font-size: 15px;
    color: #0a0a0a;
    padding-top: 37px;
    padding-left: 34px;
    text-transform: uppercase;
    margin-bottom: 25px;
    font-weight: 600;
    letter-spacing: 1px;
}
.message-box-wrapper .message-box-container .message-box-text{
    font-size: 12px;
    color: #5e5e5e;
    padding-right: 58px;
    padding-left: 33px;
    font-weight:500 ;
    margin-bottom: 38px;
    line-height: 1.5em;
}
.message-box-wrapper .message-box-container .message-box-title div.msgbox-align-title{
    text-align: center;
    padding-right: 34px;
    margin-bottom: -12px;
}
div.msgbox-align-des{
    text-align: center;
    padding-left: 24px;
    margin-bottom: -17px;
}

.message-box-wrapper .message-box-container .message-box-btn1,
.message-box-wrapper .message-box-container .message-box-btn2{
    width: 50%;
    height: 51px;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: all 200ms;
    background-color: inherit;
    color: #0a0a0a;
    border:none;
    margin-bottom: -1px;
    letter-spacing: 2px;
    border-top: 1px solid #dfdfdf;
}

.message-box-wrapper .message-box-container .message-box-btn2{
    border-left: 1px solid #d9d9d9;
}

.message-box-wrapper .message-box-container .message-box-btn1:hover,
.message-box-wrapper .message-box-container .message-box-btn2:hover{
    background: #404040;
    color: #ffffff;
}

.message-box-container .message-box-text a{
    text-decoration: none;
    position: relative;
    color: inherit;
}
.message-box-container .message-box-text a:after{
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    color:#bdbdbd;
    bottom: -1px;
    border-width: 0 0 2px;
    border-style: solid;
}
.message-box-wrapper .message-box-container.caution-v3{
    background: #27a9ff url(../images/caution-v3.png) no-repeat!important;
    width: 451px;
    height: 451px;
    padding-bottom: 0;
}
.message-box-wrapper .message-box-container.caution-v3 .message-box-title{
    color: #fff;
    padding-top: 260px;
    font-size: 19px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 15px;
}
.message-box-wrapper .message-box-container.caution-v3 .message-box-btn1{
    border-radius: 0;
    background-color: #FFF;
    color: #5e5e5e;
    text-transform: uppercase;
    margin-right: 0;
}
.message-box-wrapper .message-box-container.caution-v3 .message-box-btn1 a{
    color: #5e5e5e;
    text-decoration: none;
    text-transform: uppercase;
}
.message-box-wrapper .message-box-container.caution-v3 .message-box-text{
    color: #fff;
    margin-bottom: 50px;
}
.message-text-color{
    color:#0f94e9;
}
#customize-theme-controls >  ul li#accordion-section-add_menu h3{
    margin: auto;
}

#customize-theme-controls >  ul li#accordion-section-add_menu button{
    float: none;
    margin: 10px auto;
    height: 42px;
    width: 180px;
    border: none;
    background: #fff;
    outline: none;
    box-shadow: none;
    color: #5e5e5e;
    display: block;
}
#customize-theme-controls >  ul li#accordion-section-add_menu button.add-new-menu-item:before{
    left:-7px;
}
#customize-theme-controls >  ul li.menu-desc-holder{
    min-height: 350px;
    margin-top: 10px;
}

#customize-theme-controls >  ul li .menu-desc-title{
    font-size: 13px;
    font-weight: 600;
    line-height: 23px;
    color:#000;
}

#customize-theme-controls >  ul li .menu-desc-text{
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
    color:#8d8d8d;
    vertical-align: top;
    padding-bottom: 5px;
}
#customize-theme-controls >  ul li .menu-desc-img{
    margin-left: 6px;
    margin-top: 15px;
}

.assigned-to-menu-location .live-update-section-title,
.assigned-to-menu-location .menu-item-bar .menu-item-title,
.new-menu-section-content .menu-name-field{
    margin-top: 20px;
    height: 40px;
    border: 1px solid #d7d7d7;
    font-weight: 500;
    font-size: 13px;
    color: #454545;
    line-height: 23px;
}
.assigned-to-menu-location .customize-control-nav_menu_name .menu-name-desc{
    font-weight: normal;
    font-size: 12px;
    color: #8d8d8d;
    line-height: 16px;
    margin-left: 5px;
    width: 224px;
}
.customize-control-nav_menu .reorder-toggle{
    width: 110px;
    height: 40px;
    border-radius: 20px;
    background-color: #d2d2d2;
    color:#454545;
    font-weight: 500;
    font-size: 13px;
}
.customize-control-nav_menu .add-new-menu-item{
    width: 110px;
    height: 40px;
    border-radius: 20px;
    background-color: #969696;
    color:#fff;
    font-weight: 500;
    font-size: 13px;
    box-shadow:none;
    border: none;
}
.assigned-to-menu-location .customize-section-description-container h3{
    padding-left: 30px !important;
}

.customize-control-nav_menu .add-new-menu-item:before, .add-new-widget:before{
    content: none;
}
.customize-control-nav_menu .menu-settings{
    margin-left: 0 !important;
}
.customize-control-nav_menu .customize-control-checkbox.assigned-menu-location{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.customize-control-nav_menu .menu-location{
    width: 16px !important;
    height: 16px !important;
}
.customize-control-new_menu .button-primary{
    text-shadow:none;
}
.assigned-to-menu-location .menu-item-bar .menu-item-title{
    border: none;
    padding-left: 20px;
}
.wp-customizer .toggle-indicator:after{
    outline: none;
    padding-right: 10px;
    box-shadow: none !important;
}

.wp-customizer .menu-item-bar .menu-item-handle{
    border-radius: 20px;
    border: 1px solid #d7d7d7;
}

.control-panel-nav_menus .description{
    border: none !important;
}


.message-box-wrapper .message-box-container.unsaved-caution .message-box-title{
  margin-bottom:22px;

}

/********** dropdown description ***********/
.customizer-description .menu{
    margin-left: 5px;
}

.customizer-description a.menu-page{
    color: #656565;
    border: 1px solid #cccccc;
    font-size: 13px;
    display: block;
    font-style: normal;
    text-align: center;
    padding: 10px;
    margin-top: 18px;
    text-decoration: none;

    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
}

.customizer-description a.menu-page:hover{
    background-color: #cccccc;
    color: #FFFFFF;
}

.customizer-description h6{
    color: #000000;
    font-style: normal;
    font-size: 13px;
    margin-top: 25px;
    margin-bottom: 10px;

}

#customize-control-header_dropdown_description ol{
    list-style-type:decimal;
    margin-left: 18px;
    padding-top: 0;
}

#customize-theme-controls .control-section.open ul #customize-control-header_dropdown_description ol.menu li {
    font-style: normal;
    color: #8d8d8d;
    font-size: 12px;
    margin-bottom: 11px;
    list-style: decimal;
}

.menu-img{
    background: transparent url("../images/menu-img.png") center no-repeat;
    display: block;
    height: 206px;
    margin-top: 24px;
}

/** notification custom css **/
#customize-control-notification_search .customize-control-title:not(.switch-status),
#customize-control-notification_cart .customize-control-title:not(.switch-status){
    text-transform: uppercase;
    width: 54%;
}

#customize-control-search_enable{
    margin-top: -17px !important;
    background-color: #F1F1F1;
}

#customize-control-notification_search label,
#customize-control-notification_cart label{
    margin-left: 80px;
}

#customize-control-search_enable .customize-control-title,
#customize-control-shop_cart_enable .customize-control-title,
#customize-control-active_icon .customize-control-title{
    font-size: 11px;
    position: absolute;
    left: 19px;
    top:5px;
    width:45%;
}

#customize-control-search_enable label,
#customize-control-shop_cart_enable label,
#customize-control-active_icon label{
    margin-left: 0;
    width: 4px;
    height: 4px;
    margin-top: 2px;
}

#search_enable-switch-status,
#shop_cart_enable-switch-status,
#active_icon-switch-status{
    display: none;
}

#accordion-section-title_tagline{
    display: none!important;
}

.no-shortcode{
    margin-top: 125px;
    padding: 0 25px;
    text-align: center;
}

.no-shortcode .tip-image{
    background: url(../../../../assets/img/tip.png) no-repeat;
    width:138px;
    height:132px;
    margin:0 auto 35px;
}
.no-shortcode .heading{
    font-weight: bold;
    color: #37e58e;
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 15px;
}

.second-popup .right .import-option.last{
    margin-right: 0;
}
@media (max-width : 1366px) {
	.second-popup .right .import-demo .loader div {
    top: -41px;
    left: 112px;
	}
	a.import-demo ,
	.purchase-code-true {
    width: 200px !important;
	}
	.customize-control-image .current {
    margin-top: 30px;
	}
div.thumbnail.thumbnail-image {
    top: 0px;
	}
	.customize-control-image .actions {
    width: 162px;
	}
}

@media (max-width: 1460px){
    .second-popup > div.clearfix{
        height: 60%;
        margin-top: 7.5%;
        padding-top: 4%;
    }

    .wp-full-overlay-sidebar .wp-full-overlay-sidebar-content {
        top: 45px;
    }

    .second-popup .left{
        width: 45%;
    }

    .second-popup .left .screen{
        top: -30px;
    }

    .second-popup .left .demo-image{
        height: 230px;
        width: 100%;
    }

    .importer-popup .second-popup h3{
        font-size: 2.4em;
    }

    .second-popup .right{
        width: 45%;
        padding-left: 5.5%;
    }

    .second-popup .right p {
        max-width: 98%;
    }

    .second-popup .right .import-demo {
        background-color: #505050;
        color: #fff;
        padding: 0 0px;
        font-size: 13px;
        letter-spacing: 1px;
        height: 40px;
        line-height: 40px;
        margin: 11px 0 0px;
        position: relative;
        overflow: hidden;
    }

    .second-popup .right .import-option {
        /* color: #414141; */
        padding: 10px;
        cursor: pointer;
        margin-right: 7px;
        margin-bottom: 0;
        width: calc(100% / 4 - 28px);
        font-size: 12px;
        text-align: center;
    }

    .wp-full-overlay .tour-dropdown-wrapper.active-dropdown-view{
        top:5px;
    }

    .second-popup > div.clearfix{
        height: 60%;
        margin-top: 7.5%;
        padding-top: 4%;
    }

}

.hidden {
    display: none !important;
}

#customize-control-nav_menu_locations-primary-nav{
    border-bottom: 1px solid #ddd;
    display: list-item;
    padding-bottom: 10px;
    margin-bottom: 10px !important;
}

#customize-control-nav_menu_locations-mobile-nav select,
#customize-control-nav_menu_locations-primary-nav select{
    float: right;
    max-width: 59%;
    height: 34px;
    position: relative;
    width: 55%;
    padding: 0 5px 0 20px;
    border: 1px solid #cfcfcf;
    border-radius: 20px;
    background-color: #f1f1f1;
    outline: none;
}

#customize-controls.introjs-fixParent.active2 {
    /*height: 100%;*/
    z-index: 9999999 !important;
    /*background-color: inherit;*/
}

#customize-controls.introjs-fixParent.active3 {
    z-index: 9999999 !important;
    background-color: inherit;
}

.tour-parent-first {
    height: 61%;
}

.tour-parent-second {
    height: 50px;
    width: 770px;
    float: right;
    position: initial;
    transition: all .2s;
}

.tour-parent-second.active {
    position: relative;
    /*margin-right: 14px !important;*/
}

.tour-parent-third {
    position: relative;
}

.hidden {
    display: none !important;
}

.introjs-tooltiptext .image {
    position: relative;
}

.introjs-hintReference .introjs-tooltip {
    padding: 5px 17px;
}

.introjs-hintReference .introjs-button {
    background-color: transparent;
    font-size: 11px;
    color: rgba(0,0,0,0.7);
    opacity: .6;
    /* text-transform: uppercase; */
    position: relative;
    padding: 0 0 0 17px;
    cursor: pointer;
    transition: opacity .3s, color .2s;
    margin-left: -11px;
}

.introjs-hintReference .introjs-button:hover {
    opacity: 1;
    color: #25d48f;
}

.introjs-tooltiptext img {
    width: 100%;
}

.introjs-tooltiptext .video-link-part {
    text-decoration: none;
    border: 1px solid#fff;
    padding: 19px;
    border-radius: 50px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    right: 0;
    margin: auto;
    height: 20px;
    transition: color 0.15s, border-color .15s;
    font-size: 20px;
    bottom: 0;
}

.introjs-tooltiptext .video-link-part:hover {
    color: #0f94e9;
    border-color: #0f94e9;
}

.introjs-tooltiptext .text {
    font-size: 18px;
    text-align: center;
    color: rgba(59,59,59,.6);
    margin-top: 20px;
    font-weight: 400;
    line-height: 21px;
}

.introjs-hintReference .icon {
    position: absolute;
    left: 0;
    font-size: 14px;
    opacity: .7;
    bottom: 0;
}

/* Hints */

.introjs-hint {
    display: none;
}

.introjs-hint[data-step='0'],
.introjs-hint[data-step='2'],
.introjs-hint[data-step='3'],
.introjs-hint[data-step='4'] {
    left: 25px !important;
    top: 74px !important;
}

/***********************************************/
/* Messagebar Section */
/***********************************************/

.notify-num {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #2ED4A7;
    position: absolute;
    right: 36%;
    top: 0px;
    font-size: 9px;
    color: #fff;
    line-height: 15px;
    text-align: center;
    display: none;
}

.notify-win:not(i){
    cursor: pointer;
}

.notify-remove{
    cursor: pointer;
}

/*   prompt Box    */
.prompt-box-wrapper{
    width: 100%;
    height: 100%;
    background: rgba(87,87,87,.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999;
    opacity: 0;
}
.prompt-box-wrapper .prompt-box-container{
    width: 453px;
    min-height: 100px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    position: relative;
    background: #fff;
    text-align: center;
    padding-bottom: 30px;
}
.prompt-box-wrapper .prompt-box-container .prompt-box-title{
    font-size: 28px;
    color: #404040;
    padding-top: 50px;
    margin-bottom: 5px;
    font-weight: 300;
    line-height: 28px;
}
.prompt-box-wrapper .prompt-box-container .prompt-box-text{
    font-size: 13px;
    color: #828282;
    padding: 0 30px;
    margin-bottom: 25px;
    line-height: 23px;
    font-weight: 300;
}
.prompt-box-wrapper .prompt-box-container .prompt-box-close{
    background: transparent url("../../../../assets/img/close.png") center no-repeat;
    width: 12px;
    height: 12px;
    position: absolute;
    right: 12px;
    top: 12px;
    cursor: pointer;
}
.prompt-box-wrapper .prompt-box-container .prompt-text-box{
    width: 320px;
    height: 50px;
    border: 2px solid #e3e3e3;
    border-radius: 5px;
    text-align: center;
    outline: none;
    box-shadow:none;
    color:#9c9c9c;
}
.prompt-box-wrapper .prompt-box-container .prompt-text-box::-webkit-input-placeholder { /* Safari, Chrome and Opera */
    color: #9c9c9c;
}

.prompt-box-wrapper .prompt-box-container .prompt-text-box:-moz-placeholder { /* Firefox 18- */
    color: #9c9c9c;
}

.prompt-box-wrapper .prompt-box-container .prompt-text-box::-moz-placeholder { /* Firefox 19+ */
    color: #9c9c9c;
}

.prompt-box-wrapper .prompt-box-container .prompt-text-box:-ms-input-placeholder { /* IE 10+ */
    color: #9c9c9c
}

.prompt-box-wrapper .prompt-box-container .prompt-text-box::-ms-input-placeholder { /* Edge */
    color: #9c9c9c
}

.prompt-box-wrapper .prompt-box-container .prompt-text-box:placeholder-shown { /* Standard one last! */
    color: #9c9c9c;
}
.prompt-box-wrapper .prompt-box-container .prompt-box-holder{
    margin-top: 40px;
    margin-bottom: 40px;
}
.prompt-box-wrapper .prompt-box-container .prompt-box-btn{
    border-radius: 25px;
    background: #0f94e9;
    padding:15px 89px;
    font-size: 14px;
    font-weight: normal;
    line-height:17px;
    color:#fff;
    transition: background 0.3s;
    text-decoration: none;
}
.prompt-box-wrapper .prompt-box-container .prompt-box-btn:hover{
    background: #1a1a1a;
}


#customize-control-nav_menu_locations-primary-nav{
    border-bottom: 1px solid #ddd;
    display: list-item;
    padding-bottom: 10px;
    margin-bottom: 10px !important;
}


#customize-control-nav_menu_locations-mobile-nav select,
#customize-control-nav_menu_locations-primary-nav select{
    float: right;
    max-width: 59%;
    height: 34px;
    position: relative;
    width: 55%;
    padding: 0 5px 0 20px;
    border: 1px solid #cfcfcf;
    border-radius: 20px;
    background-color: #f1f1f1;
    outline: none;
}

#accordion-panel-nav_menus .control-section-nav_menu > ul{
    margin-bottom: 100px !important;
}

#accordion-panel-nav_menus > ul{
    margin-top: -520px !important;
}

#accordion-panel-nav_menus .control-section-nav_menu > ul li .menu-item-settings{
    /*background-color: #fff;
    padding: 14px 34px;
    margin-top: 6px;
    border: 1px solid #d7d7d7;
    border-radius: 20px;*/

    background-color: #fff;
    padding: 0 34px 14px 34px;
    border: 1px solid #d7d7d7;
    border-radius: 0 0 20px 20px;
    border-top: 0;
    padding-top: 34px;
}

#accordion-panel-nav_menus .control-section-nav_menu > ul .menu-item-edit-active .ui-sortable-handle {
    border-bottom: none !important;
    border-radius: 20px 20px 0 0 !important;
/*    padding-bottom: 34px;*/
}

#accordion-panel-nav_menus .control-section-nav_menu > ul .menu-item-settings{
    opacity: 0;
}

#accordion-panel-nav_menus .control-section-nav_menu > ul .menu-item-edit-active .menu-item-settings{
    opacity: 1;
    transition: all .2s;
}

.wp-full-overlay {
    background: #fff;
}



.md-screen div.customizer-header{  margin: 40px auto 40px 57px; }

#select_front_page_static_page,
#select_front_page_posts_page{
    width: 200px;
    left: -92px;
}

/* BUG FIXS */
#customize-theme-controls ul.control-section.open  li:last-child label input[type="text"] {
    margin-bottom: 40px;
}

.customize-control-image .thumbnail img.type-icon{
    height:20px;
}

.customize-control .thumbnail-image.thumbnail .attachment-title{
    display: none;
}
.customize-control-image .attachment-media-view-image .thumbnail-image {
    height: 36px !important;
}
.customize-control .attachment-media-view .thumbnail:not(.thumbnail-document) {
    border-top-left-radius: 0px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 25px;
    border: 1px solid #cfcfcf;
    height: 36px ;
    order: 1;
    top: 0;
    margin: 0;

}

.customize-control .attachment-media-view .thumbnail:not(.thumbnail-document):before{
    content: "";
    background-color: rgba(0,0,0,.05);
    opacity: 0;
    transition: opacity .3s;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}

.customize-control .attachment-media-view:hover .thumbnail:not(.thumbnail-document):before{
    opacity: 1;
}

.customize-control .attachment-media-view.attachment-media-view-font .thumbnail:not(.thumbnail-document) {
    width:99%;
    border-radius: 0;
    clear: both;
    height: auto;
    border: none;
}
.landscape .thumbnail-image {
    height: 28px !important;
}
/* RTL MODE  */

.wp-full-overlay.expanded {
    margin-right: 0 ;
}

.massive-rtl #customize-controls{
    right: auto;
    left:0;
}

.massive-rtl #customize-preview.wp-full-overlay-main{
    width:100%;
}

.massive-rtl #customize-header-actions,.massive-rtl .in-sub-panel #massive-controls{
    display: none !important;
}

.massive-rtl #customize-theme-controls .accordion-section-content {
    right: auto;
    left:0;
}

#customize-control-validate_purchase_code .ui-buttonset {
    width: 100% !important;
}

#customize-control-validate_purchase_code .ui-button:not(.ui-radio) {
    float:left;
    width: 50%;
    margin-left:0;
}

#customize-control-purchase_validation {
    margin-bottom: 20px !important;
    text-transform: capitalize;
    text-align: center;
    overflow: hidden;
}

#customize-control-purchase_validation.invalid{
    color: #ff0000 !important;
}

#customize-control-purchase_validation.valid{
    color: #5cb16f !important;
}

#customize-control-purchase_code_status{
    display:none !important;
}

#purchase_code {
    margin-left: 0%;
}

#customize-control-purchase_validation{
    text-align: left;
}

#validate_loading {
    float: left;
    margin-left: 20px;
    background-image: url("../images/spin.gif");
    width: 20px;
    background-position: center center;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
}

/* md-theme-version */
.md-theme-version{
    display: block;
    padding-left: 57px;
    position: absolute;
    right: 0;
    bottom: 60px;
    left: 0;
    color: #b0b0b0;
    transition: left .6s cubic-bezier(0.23, 1, 0.32, 1);

    font-size: 11px;
}
.md-theme-version span {
    padding-right: 9px;
}

.md-theme-version a{
    color: inherit;
    text-decoration: none;
    transition: color .3s;
}

.md-theme-version a:hover{
    color: #565656;
}
/* md shortcode button*/
.md-shortcode-bt-customizer {
    bottom: 120px;
    display: block;
    top: auto !important;
    left: 0;
    right: 0;
    font-size: 13px;
    width: 174PX;
    height: 51px;
    color: #3b4651;
    background-color: transparent;
    margin: auto;
    text-transform: capitalize;
    position: absolute;
    cursor: pointer;
    border: 2px solid rgba(0,0,0,.1);
    transition: background-color .3s , color .3s,border-color .3s;
}
.md-shortcode-btn-text {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.md-shortcode-bt-customizer:focus,
.md-shortcode-bt-customizer:active{
    color: #3b4651;
}

.md-shortcode-bt-customizer:hover{
    background-color: #2f2f2f;
    border: 2px solid #2f2f2f;
    color: #FFFFFF;
}





/**********************massage box *************************************/
a.mastersettingMsg1 ,  span.mastersettingMsg1{
    text-decoration: none;
    position: relative;
    color: inherit;
}
a.mastersettingMsg1:after , span.mastersettingMsg1:after{
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    color:#bdbdbd;
    bottom: -1px;
    border-width: 0 0 2px;
    border-style: solid;
}
/******************** customizer menu search******************/
#available-menu-items-search {
    padding-top: 50px;
}
.maybe-sticky{top: 0 !important;}
.in-sub-panel ul.customize-pane-parent,
ul.accordion-section:not(.current-panel):not(.open){
    height: 0 !important;
    width: 0 !important;
}

#customize-theme-controls .customize-pane-child.accordion-section-content{
    padding: 0;
}

/******************** customizer menu Bar******************/
.customizer-options-menu{
    z-index: 999999;
    background: #2f2f2f;
    height: 47px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.customizer-options-menu > div {
    display: flex;
    align-items: stretch;
}

.customizer-options-menu .customizer-left-menu > ul,
.customizer-options-menu .customizer-right-menu > ul{
    display: flex;
    margin: 0;
    align-items: stretch;
}

.customizer-options-menu > div > ul > li{
    margin-left: 34px;
    margin-bottom:0;
    display: flex;
    align-items: stretch;
    justify-content: center;
}
.customizer-options-menu > div > ul > .massive-brand{
    margin: 0 14px 0 14px;
}

.customizer-options-menu > div > ul > li > a {
    display: flex;
    align-items: center;
} 

.customizer-btn{
    font-size: 12px;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #d4d0d0;
    font-weight: 500;
    text-align: center;
    top: 0;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    transition: background-color .15s,background-image .15s,color .15s;

}

.customizer-btn:hover{
    color: #fff;
}


a.collaps.hold-collapse{
    color: #ffffff;
}

a.collaps.hold-collapse .status{
    background-color: #2d95dd;
}

a.collaps:hover .status{
    background-color: #2d95dd;
}

a.collaps .status{
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #707070;
    left: 0;
    top:22px;
    transition: background-color .3s;
}

#save-btn{
    width:100%;
}

.customizer-publish-btn .save-loading,
#page-option-btn .save-loading{
    width: 0;
    height: 5px;
    margin-top: -5px;
    background-color: #cddeed;
    display: block !important;
    opacity: 1 !important;
    position: absolute;
    bottom: 0;
    left: 0;
}
#page-option-btn .save-loading{
    margin-left: 0;
    top: auto !important;
}

 #save-btn.saving{
    color:#fff;
}

 a.setting > .symbol{
    margin-top: 5px;
    margin-left: 18px;
}

 .customizer-btn > .symbol{
    opacity: 1;
    display: block;
    height: inherit;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    left: 0;
    top: 0;
}

 .customizer-btn:hover > .symbol{
    opacity: 1;
}
 a.setting{
    text-align: left;
}

#page-option-btn #massive-page-setting-drop{
    width: 171px;
    background-color: #2f2f2f;
}

 .customizer-options-menu > div >  ul > li.close{
    margin-left: 0;
}

 .close a {
    margin-left: 18px;
    margin-right: 18px;
}

 .close svg{
    width: 12px;
}

 .close svg .st0 {
     fill: #e7e7e7 ;
}

 .close:hover svg .st0 {
    fill: #FFFFFF;
}

 /* remove focus and active styles from a tag */
.wp-person a:focus .gravatar, a:focus, a:active , a:focus .media-icon img{
    box-shadow: none;
    color: #FFFFFF;
}



/* drop down */

.cd-dropdown-wrapper{
    -webkit-box-shadow: 0 0 13px rgba(0,0,1,.45);
    -moz-box-shadow: 0 0 13px rgba(0,0,1,.45);
    box-shadow: 0 0 13px rgba(0,0,1,.45);
    background: #fff;
    margin-left: 5px;
    opacity: 0;
    top: 20px;
    position: absolute;
    left: -5px;
    z-index: -5;
    transition: all 0.3s;
    width: 210px;
    display: none;
}


.active-dropdown-view{
    top: 50px;
    left: -5px;
    opacity: 1;
    z-index:10;
}

.cd-dropdown-wrapper ul{
    margin: 0;
}

.cd-dropdown-wrapper ul li{
    padding: 11px 15px 11px 17px;
    cursor: pointer;
    text-align: left;
    margin-bottom: 0;
    transition: background-color 0.3s;
    overflow: hidden;
    height: 30px;
    line-height: 30px;
    position: relative;
}


.cd-dropdown ul li .circle {
    border-radius: 50%;
    width: 5px;
    height: 5px;
    top:50%;
    right:20px;
    position: absolute;
    background: #585858;
    opacity: 1;
    transform: translateY(-50%);
    -webkit-transition: all 1ms;
    -moz-transition: all 1ms;
    -ms-transition: all 1ms;
    -o-transition: all 1ms;
    transition: all 1ms;
}

.cd-dropdown ul li .circle.expand {
    background: #0f94e9;
}

.cd-dropdown ul li .circle.expand ~ a span{
    color:#fff;
}

.cd-dropdown-wrapper ul li a{
    color: #969696;
    font-size: 12px;
    font-weight: 500;
    transition-property:color;
    transition-duration: 300ms;
    text-decoration: none;
    position: relative;
    z-index: 1;
    outline: none;
}

.cd-dropdown-wrapper ul li a:hover, .cd-dropdown-wrapper ul li a:active, .cd-dropdown-wrapper ul li a:focus {
    box-shadow: none;
}

.cd-dropdown-wrapper ul li:hover a{
    color: #FFFFFF !important;
}

.customizer-btn .cd-dropdown-wrapper ul li a{
    height: 100%;
    display: inline-block;
    text-align: left;
}


.cd-dropdown-option{
    width: 21px;
    float: right;
    height: 21px;
    transition: background-image 300ms, background-color 0.3s ;
    margin-top: 10px;
    border-radius: 50%;
}

@media ( max-height: 910px) {
    .md-screen div.customizer-header{
        margin-top: 69px;
    }

    #customize-controls .wp-full-overlay-sidebar-content{
        margin-top: 5px;
    }
}

@media(max-width:1440px ){
    .control-section .accordion-section-title{
        padding-bottom: 3px;
        padding-top: 3px;
    }
    .wp-full-overlay-sidebar .wp-full-overlay-sidebar-content{
        bottom: 180px;
        height: 440px;
        margin-top: 135px;
    }

    .wp-full-overlay-sidebar .wp-full-overlay-sidebar-content .customize-pane-parent{
        height: 440px !important;
    }

    .md-shortcode-bt-customizer {
        bottom: 58px;
        left: 55px;
        width: 150PX;
        height: 27px;
        right: auto;
    }
    .in-sub-panel #customize-controls .wp-full-overlay-sidebar-content{
        margin-top: 80px;
    }
    .wp-full-overlay #customize-theme-controls>ul.accordion-sub-container .accordion-section-title {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .section-open .wp-full-overlay-sidebar-content {
        margin-top: 65px;
    }
    #customize-theme-controls .control-section.open .customize-control.customize-control-description{
        margin-bottom: 25px;
    }

    .filter-button-group a{
        width: 80px;
    }

    .importer-popup .head .demos-filter{
        margin-right: 15px;
    }

    .md-screen div.customizer-header{
        margin: 12px auto 27px 57px;
    }

    .md-theme-version{ display: none;}

}

.customizer-loading{
    display: none !important;
}

@media(max-height:619px ){
    #customize-controls .wp-full-overlay-sidebar-content {
        margin-top: 5px;
    }
    #customize-theme-controls>ul li {
        margin-bottom: 2px;
    }
}



.wp-full-overlay , .customizer-options-menu{
    opacity:0;
    transition: 1s;
}

.wp-full-overlay.show_customizer , .customizer-options-menu.show_customizer {
    opacity: 1;
}


body {
    background-position: center;
    right: 0;
    background-image: url(../images/loading.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #ffffff;
}

#available-menu-items #available-menu-items-search ul.accordion-section-content {
    top: 110px;
}
.customizer-options-menu .customizer-right-menu ul li a{
    font-size: 12px;
    color: #fff;
    font-weight: 500;
    text-align: center;
    top: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-decoration: none;
    transition: background-color .15s,background-image .15s,color .15s;
}
.customizer-options-menu .customizer-right-menu ul li.customizer-preview-btn {
    position: relative;
    margin: 6px 0 6px 0 !important;
    padding: 0 27px;
    border-radius: 3px;
    background-color: #4e4e4e;
    transition-duration: .3s;
}
.customizer-options-menu .customizer-right-menu ul li.customizer-preview-btn:hover{

    background-color: #fff;
}
.customizer-options-menu .customizer-right-menu ul li.customizer-preview-btn:hover a{
    color: #000;
}
.customizer-options-menu .customizer-right-menu ul li.customizer-publish-btn {
    position: relative;
    margin: 6px 0 6px 6px;
    width: 99px;
    border-radius: 3px;
    background-color: #46a9ff;
}
li.massive-brand a:before {
    content: '';
    background-color: rgba(255, 255, 255, .1);
    width: 1px;
    height: 47px;
    position: absolute;
    left: 54px;
    top: 0;
}

#customize-controls #customize-notifications-area{
    display: none !important;
}
#customize-theme-controls .control-panel-content:not(.control-panel-nav_menus) .control-section:nth-child(2){
    border: none;
}

.attachment-media-view,
.media-widget-preview.media_audio,
.media-widget-preview.media_image{
    background: transparent;
}

@media (min-width:1366px) and (max-width:1880px){
    #customize-theme-controls>ul li {
        margin-bottom: 0px;
    }

    .control-section .accordion-section-title {
        padding-top: 4px;
        padding-bottom: 4px;
    }

    #customize-theme-controls .customize-pane-parent {
        top: 40px;
    }

    .md-shortcode-bt-customizer {
        height: 30px;
    }

    .in-sub-panel #customize-theme-controls>.accordion-section {
        top: 60px;
    }

    .wp-full-overlay #customize-theme-controls>ul.accordion-sub-container .accordion-section-title {
        padding-top: 10px;
        padding-bottom: 5px;
    }

    #customize-controls .back-btn{
        z-index:100000;
    }

    #customize-theme-controls .control-section.open{
        top:60px;
    }

}