/************************************************************************************
MOBILE NAVIGATION
*************************************************************************************/
/* #headerwrap added to override Themify Customize output css */

/* 
HEADER
================================================ */
.mobile_menu_active #header {
	height: auto;
	text-align: initial;
	padding: 0;
	margin-left: 2%;
	margin-right: 2%;
}

/* site logo */
.mobile_menu_active #site-logo {
	font-size: 27px;
}

/* site description */
body:not(.header-minbar-left):not(.header-minbar-right):not(.header-left-pane):not(.header-right-pane):not(.header-slide-left):not(.header-slide-right).mobile_menu_active #site-description {
	left: 0;
	-webkit-transform: none;
	-moz-transform: none;
	transform: none;
	text-align: left;
}
body:not(.header-minbar-left):not(.header-minbar-right):not(.header-left-pane):not(.header-right-pane):not(.header-slide-left):not(.header-slide-right).mobile_menu_active #site-description:before {
	left: 0;
	margin-left: 14px;
}

/* menu icon */
.mobile_menu_active #menu-icon {
	display: block;
	text-decoration: none;
	position: absolute;
	width: 30px;
	height: 18px;
	top: 22px;
	right: 0;
	z-index: 9999;
	border-bottom: 2px solid;
}
.mobile_menu_active #menu-icon:before,
.mobile_menu_active #menu-icon:after {
	content: '';
	display: block;
	border-top: 2px solid;
	position: absolute;
	left: 0;
	width: 100%;
	transition: all .7s ease;
	transition-property: transform;
}
.mobile_menu_active #menu-icon:before {
	top: 0;
}
.mobile_menu_active #menu-icon:after {
	top: 50%;
}

/* slide menu icon close */
.mobile_menu_active #menu-icon-close {
	display: block;
	position: absolute;
	text-decoration: none;
	top: 1em;
	right: 1em;
	min-width: 2em;
	min-height: 2em;
	transform-origin: center;
	transition: all .3s linear;
	transition-property: transform;
}
.mobile_menu_active #menu-icon-close:before,
.mobile_menu_active #menu-icon-close:after {
	content: '';
	display: block;
	border-top: 1px solid;
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
}
.mobile_menu_active #menu-icon-close:before {
	-webkit-transform: rotateZ(-45deg);
	-moz-transform: rotateZ(-45deg);
	transform: rotateZ(-45deg);
}
.mobile_menu_active #menu-icon-close:after {
	-webkit-transform: rotateZ(45deg);
	-moz-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
}
.mobile_menu_active.mobile-menu-visible #headerwrap #menu-icon-close:hover {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
}
.mobile_menu_active.mobile-menu-visible #headerwrap #menu-icon {
	display: none;
}

/* 
ICON MENU
================================================ */
.mobile_menu_active .top-icon-wrap {
	position: static;
	-webkit-transform: none;
	-moz-transform: none;
	transform: none;
	margin: auto;
	border-top: 1px solid rgba(0,0,0,.1);
	background: rgba(0,0,0,.05);
	perspective: none;
	-webkit-perspective: none;
	will-change: auto;
	padding: 1em 0;
}
.mobile_menu_active .top-icon-wrap ul {
	float: none;
	display: inline;
}
.mobile_menu_active .top-icon-wrap li {
	width: 33%;
	margin: 0 -1px;
	padding: 0;
}
.mobile_menu_active .top-icon-wrap li a {
	max-width: none;
	display: block;
	text-align: center;
	padding: 1em .5em;
}
.mobile_menu_active .top-icon-wrap li a .tooltip {
	background-color: transparent;
	color: #787878;
	display: block;
	position: static;
	padding: .4em 0 0;
	font-size: .8em;
	margin: 0;
	opacity: 1;
	visibility: visible;
	-webkit-transform: none;
	-moz-transform: none;
	transform: none;
	color: inherit;
}
.mobile_menu_active .top-icon-wrap li a .tooltip:before {
	display: none;
}
.mobile_menu_active .icon-menu .icon-menu-count {
	left: 50%;
}
.mobile_menu_active .sidemenu-on .wishlist + #cart-icon-count #cart-wrap {
	left: 50%;
	top: 100%;
	width: 276px;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
}
.mobile_menu_active .sidemenu-on  #cart-wrap {
	left: 6px;
	width: 276px;
}
.mobile_menu_active #cart-wrap a {
	text-align: left;
}
.mobile_menu_active #headerwrap #cart-icon {
	right: 6%;
}
.mobile_menu_active .icon-menu a .tooltip {
	margin-top: 0;
}
.mobile_menu_active .icon-menu .cart a .tooltip {
	display: block;
}

/* Mobile Menu Styles */
.mobile_menu_active .sidemenu {
	transition: all .2s ease-in-out;
	height: 100%;
	width: 320px;
	padding: 0 0 20px;
	background-color: #fff;
	color: #030301;
	display: block;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	position: fixed;
	top: 0;
	z-index: 111;
	box-sizing: border-box;
}
.mobile_menu_active #mobile-menu {
	right: -320px;
}
.mobile_menu_active #mobile-menu.sidemenu-on {
	right: 0;
	border-left: 1px solid rgba(0,0,0,.1);
}
.mobile_menu_active.sidemenu-active {
	position: relative;
}
.mobile_menu_active.sidemenu-active,
.mobile_menu_active.sidemenu-active #headerwrap {
	left: 0;
	transition: left .2s ease-in-out;
}
.mobile_menu_active.sidemenu-right {
	left: -320px;
}
.mobile_menu_active.sidemenu-left,
.mobile_menu_active.sidemenu-left #headerwrap {
	left: 320px;
}
.mobile_menu_active.sidemenu-left #mobile-menu.sidemenu-on {
	left: 0;
}

/* mobile menu panel link */
.mobile_menu_active #mobile-menu-panel a {
	color: #030301;
	text-decoration: none;
}

/* 
MAIN NAV
================================================ */
.mobile_menu_active #main-nav {
	position: static;
	width: auto;
	height: auto;
	padding: 0;
	margin: 0 0 1em;
	background: none;
	text-align: left;
	float: none;
	clear: both;
	max-width: none;
	border-bottom: 1px solid rgba(0,0,0,.1);
}
.mobile_menu_active #headerwrap #main-nav li {
	clear: both;
	display: block;
	float: none;
	border: none;
	background: none;
	padding: 0;
	margin: 0;
	position: relative;
	width: auto;
}

/* sub level */
.mobile_menu_active #headerwrap #main-nav ul {
	position: static;
	width: auto !important;
	height: auto;		
	display: block;
	border: none;
	margin: 0;
	padding: 0 0 0 2.8em;
	background: none;
	opacity: 1;
	visibility: visible;
	clear: both;
}
.mobile_menu_active #headerwrap #main-nav ul ul {
	padding-left: 1.25em;
}

/* menu link */
.mobile_menu_active #main-nav a, 
.mobile_menu_active #main-nav ul a {
	background: none;
	border: none;
	border-top: solid 1px rgba(0,0,0,.1);
	color: #030301;
	display: block;
	font-size: 100%;
	width: auto;
	padding: .6em 1.4em;
	margin: 0;
	line-height: 1.5em;
	text-decoration: none;
}

/* sub level menu link */
.mobile_menu_active #main-nav ul a {
	font-size: .95em;
	padding: .6em 0;
}

/* menu hover */
.mobile_menu_active #main-nav a:hover,
.mobile_menu_active #main-nav ul a:hover {
	color: #f0be5b;
}

/* current link */
.mobile_menu_active #main-nav .current_page_item > a, 
.mobile_menu_active #main-nav .current-menu-item > a {
	color: #f0be5b;
}

/* current link :hover */
.mobile_menu_active #main-nav > li:hover > a:before,
.mobile_menu_active #main-nav > .current_page_item > a:before, 
.mobile_menu_active #main-nav > .current-menu-item > a:before,
.mobile_menu_active #main-nav > .current_page_item > a:hover:before, 
.mobile_menu_active #main-nav > .current-menu-item > a:hover:before {
	display: none;
}

/* sub arrow */
.mobile_menu_active #main-nav .sub-arrow {
	display: none !important;
}

/* dropdown icon */
.mobile_menu_active #main-nav .menu-item-has-children a,
.mobile_menu_active #main-nav .page_item_has_children a {
	padding-right: 2.5em;
}
.mobile_menu_active #main-nav .menu-item-has-children .child-arrow,
.mobile_menu_active #main-nav .page_item_has_children .child-arrow {
	position: absolute;
	right: 10px;
	top: 0;
	padding: .75em 1.2em;
	z-index: 1;
	cursor: pointer;
	font-size: .75em;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.mobile_menu_active #main-nav .menu-item-has-children .child-arrow:before,
.mobile_menu_active #main-nav .page_item_has_children .child-arrow:before {
	content: "\e80c"; /* ti-angle-down */
	font-family: 'themify_theme_icon';
	display: block;
}
.mobile_menu_active #main-nav .menu-item-has-children .child-arrow.toggle-on:before,
.mobile_menu_active #main-nav .page_item_has_children .child-arrow.toggle-on:before {
	content: "\e80d"; /* ti-close */
}
.mobile_menu_active #main-nav .menu-item-has-children .child-arrow:hover,
.mobile_menu_active #main-nav .page_item_has_children .child-arrow:hover {
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	transform: rotate(-180deg);
}
.mobile_menu_active #main-nav .menu-item-has-children .child-arrow.toggle-on,
.mobile_menu_active #main-nav .page_item_has_children .child-arrow.toggle-on {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	-webkit-transform-origin: center;
	-moz-transform-origin: center;
	transform-origin: center;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-ms-perspective: 1000px;
	perspective: 1000px;
	overflow: hidden;
	box-sizing: border-box;
}
.mobile_menu_active #main-nav .menu-item-has-children .child-arrow.toggle-on:hover,
.mobile_menu_active #main-nav .page_item_has_children .child-arrow.toggle-on:hover {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	transform: rotate(-90deg);		
}

/* Mega menu */
.mobile_menu_active #main-nav .has-mega-column > .sub-menu,
.mobile_menu_active #main-nav .has-mega-sub-menu .mega-sub-menu {
	display: block;
	position: static;
	box-shadow: none;
	border: none;
	background-color: transparent;
	min-height: inherit;
	max-height: inherit;
	opacity: 1;
	-webkit-transform: none;
	-moz-transform: none;
	transform: none;
	margin: auto;
	padding: 0;
}
.mobile_menu_active #main-nav .has-mega-sub-menu .mega-sub-menu ul,
.mobile_menu_active #main-nav .has-mega-column .sub-menu li {
	display: block;
	float: none;
	width: auto;
	margin: 0;
	padding: 0;
}
.mobile_menu_active #main-nav .has-mega-column .widgettitle,
.mobile_menu_active #main-nav .has-mega-column > .sub-menu > .columns-sub-item > a,
.mobile_menu_active #main-nav .has-mega-column > .sub-menu a {
	font-size: inherit;
	font-weight: normal;
	text-transform: none;
	border-top: 1px solid rgba(0,0,0,.05);
	margin: 0;
	padding: .6em 1em .6em 0;
	letter-spacing: inherit;
	font-family: inherit;
}
.mobile_menu_active #main-nav li.mega-link.loading .themify_spinner,
.mobile_menu_active #main-nav li.mega-link.loading:before,
.mobile_menu_active #main-nav .mega-sub-menu li:hover a:after,
.mobile_menu_active #main-nav .mega-menu-posts {
	display: none;
}
.mobile_menu_active #main-nav .has-mega-column > .sub-menu .widget {
	margin-top: .5em;
	margin-bottom: .5em;
}
.mobile_menu_active #main-nav .has-mega-sub-menu .mega-sub-menu,
.mobile_menu_active #main-nav .has-mega-column > .sub-menu {
	color: inherit;
}
.mobile_menu_active #main-nav .has-mega-column .product-categories .count {
	right: 2em;
}

/* visible dropdown menu */
.mobile_menu_active #headerwrap #main-nav .has-mega-column > .sub-menu,
.mobile_menu_active #headerwrap #main-nav .has-mega-sub-menu .mega-sub-menu,
.mobile_menu_active #headerwrap #main-nav .has-mega-column > .sub-menu > li > ul {
	opacity: 1;
	-webkit-transform: none;
	-moz-transform: none;
	transform: none;
}
.mobile_menu_active #headerwrap #main-nav .has-sub-menu > .sub-menu > li > ul.sub-menu,
.mobile_menu_active #headerwrap #main-nav .has-mega-column > .sub-menu > li > ul.sub-menu,
.mobile_menu_active #headerwrap #main-nav > li > div.sub-menu,
.mobile_menu_active #headerwrap #main-nav > li > ul.sub-menu {
	height: 100%;
	overflow: hidden;
	max-height: 0;
	-webkit-transition: max-height 0.5s ease-in-out;
	-moztransition: max-height 0.5s ease-in-out;
	transition: max-height 0.5s ease-in-out;
}
.mobile_menu_active #headerwrap #main-nav .has-sub-menu > .sub-menu > li > .toggle-on + ul.sub-menu,
.mobile_menu_active #headerwrap #main-nav .has-mega-column > .sub-menu > li > .toggle-on + ul.sub-menu,
.mobile_menu_active #headerwrap #main-nav > li > .toggle-on + div.sub-menu,
.mobile_menu_active #headerwrap #main-nav > li > .toggle-on + ul.sub-menu {
	max-height: 2000px;
	min-height: initial;
}

body:not(.header-left-pane):not(.header-right-pane):not(.header-minbar-left):not(.header-minbar-right):not(.header-overlay):not(.header-slide-left):not(.header-slide-right).mobile_menu_active #headerwrap.fixed-header #main-nav .has-mega-column .sub-menu li.dropdown-columns-2 li a,
body:not(.header-left-pane):not(.header-right-pane):not(.header-minbar-left):not(.header-minbar-right):not(.header-overlay):not(.header-slide-left):not(.header-slide-right).mobile_menu_active #headerwrap.fixed-header #main-nav .has-mega-column .sub-menu li.dropdown-columns-3 li a,
body:not(.header-left-pane):not(.header-right-pane):not(.header-minbar-left):not(.header-minbar-right):not(.header-overlay):not(.header-slide-left):not(.header-slide-right).mobile_menu_active #headerwrap.fixed-header #main-nav .has-mega-column .sub-menu li.dropdown-columns-3 li a,
body:not(.header-left-pane):not(.header-right-pane):not(.header-minbar-left):not(.header-minbar-right):not(.header-overlay):not(.header-slide-left):not(.header-slide-right).mobile_menu_active #main-nav .has-mega-column .sub-menu li.dropdown-columns-2 li a,
body:not(.header-left-pane):not(.header-right-pane):not(.header-minbar-left):not(.header-minbar-right):not(.header-overlay):not(.header-slide-left):not(.header-slide-right).mobile_menu_active #main-nav .has-mega-column .sub-menu li.dropdown-columns-3 li a,
body:not(.header-left-pane):not(.header-right-pane):not(.header-minbar-left):not(.header-minbar-right):not(.header-overlay):not(.header-slide-left):not(.header-slide-right).mobile_menu_active #main-nav .has-mega-column .sub-menu li.dropdown-columns-4 li a {
	margin-left: 0;
}

/* 
SEARCH FORM
================================================ */
.mobile_menu_active .sidemenu .search-button {
	position: static;
	width: 71px;
	height: auto;
	border: none;
	border-right: 1px solid rgba(0,0,0,.1);
	top: 0;
	-webkit-transform: none;
	-moz-transform: none;
	transform: none;
	margin: 0;
	text-align: center;
}

/* 
ADMIN BAR
================================================ */
.mobile_menu_active.admin-bar .sidemenu {
	top: 32px;
}
.mobile_menu_active.admin-bar #headerwrap.fixed-header {
	top: 32px;
}

.mobile-menu-visible,
.slide-cart-visible {
	overflow-y: hidden;
}

@media screen and (max-width: 1200px) {
	
	body {
		font-size: .95em;
	}

	#pagewrap {
		max-width: 100%;
	}
	.pagewidth,
	.full_width .themify_builder_row .row_inner {
		max-width: 96%;
	}
	
	/* MAILCHIMP SUBSCRIBE FORM
	================================================ */
	#pagewrap #mc_embed_signup {
		position: relative;
	}
	#pagewrap #mc_embed_signup input[type="email"] {
		max-width: none;
		font-size: .9em;
		padding: .85em 130px .85em .8em;
	}
	#pagewrap #mc_embed_signup .button {
		position: absolute;
		right: 0;
		top: 0;
		font-size: .9em;
		padding: 1em .8em;
	}
	
}

@media screen and (max-width: 800px) {
	
	/*
	POST LAYOUTS
	================================================ */
	.loops-wrapper.grid4 .post {
		width: 48.4%; /* change grid4 to 2 columns */
	}
	.loops-wrapper.grid4 .post:nth-of-type(2n+1) {
		margin-left: 0;
		clear: left;
	}
	.loops-wrapper.no-gutter.grid4 .post {
		width: 50%;
	}

}

@media screen and (max-width: 782px) {

	.mobile_menu_active.admin-bar.mobile-menu-visible .sidemenu,
	.mobile_menu_active.admin-bar #headerwrap.fixed-header {
		top: 46px;
	}

}

@media screen and (max-width: 760px) {

	/*
	STRUCTURE
	================================================ */
	.pagewidth,
	.full_width .themify_builder_row .row_inner {
		max-width: 90%;
	}
	body #content {
		width: 100%;
		max-width: 100%;
		float: none;
		clear: both;
		padding-top: 10%;
	}
	
	/* sidebar */
	body #sidebar {
		width: 100%;
		max-width: 100%;
		float: none;
		clear: both;
		padding-top: 10%;
	}

	#headerwrap #header {
		margin-left: 5%;
		margin-right: 5%;
	}
	
	.page-title,
	h1,
	.sidebar-none.single h1,
	.sidebar-none .page-title,
	.sidebar-none h1 {
		font-size: 4.5em;
	}
	.fancy-heading,
	h2.fancy-heading {
		font-size: 3.8em;
	}
	
	#headerwrap #cart-icon {
		right: 13%;
	}

	/* slider pro */
	#pagewrap .module-pro-slider .bsp-slide-post-title {
		font-size: 8vw !important;
	}
	
	/* SUBSCRIBE FOEM
	================================================ */
	.tf-mc-form .module {
		padding-left: 5%;
		padding-right: 5%;
	}
	.tf-mc-form .mc4wp-form-fields input[type=submit] {
		padding-left: .5em;
		padding-right: .5em;
	}

}

@media screen and (max-width: 695px) {
	/* Added this breakpoint exclusively for social badges */
	#footerwrap .footer-social-badge a {
		line-height: normal;
		padding-top: 35px;
	}
}

@media screen and (max-width: 680px) {
	
	body {
		font-size: 1em;
	}

	/*
	HEADING
	================================================ */
	.page-title,
	h1,
	.sidebar-none .page-title,
	.sidebar-none h1 {
		font-size: 4em;
	}
	h2 {
		font-size: 1.5em;
	}
	h3 {
		font-size: 1.4em;
	}
	h4 {
		font-size: 1.2em;
	}

	/*
	GRID
	================================================ */
	#footerwrap .col4-1,
	#footerwrap .col4-2,
	#footerwrap .col2-1,
	#footerwrap .col4-3,
	#footerwrap .col3-1,
	#footerwrap .col3-2,
	.col4-1,
	.col4-2, .col2-1,
	.col4-3,
	.col3-1,
	.col3-2	 {
		margin-left: 0;
		width: 100%;
		max-width: 100%;
	}
	
	/*
	POST LAYOUTS
	================================================ */
	/* all post */
	.shortcode.loops-wrapper.list-post .post,
	.shortcode.loops-wrapper.grid4 .post,
	.shortcode.loops-wrapper.grid3 .post,
	.shortcode.loops-wrapper.grid2 .post,
	.shortcode.grid2-thumb .post,
	.shortcode.list-thumb-image .post,
	.shortcode.list-large-image .post,
	.loops-wrapper.list-post .post,
	.loops-wrapper.grid4 .post,
	.loops-wrapper.grid3 .post,
	.loops-wrapper.grid2 .post,
	.loops-wrapper.grid2-thumb .post,
	.loops-wrapper.list-thumb-image .post,
	.loops-wrapper.list-large-image .post,
	.loops-wrapper.no-gutter.grid2 .post,
	.loops-wrapper.no-gutter.grid3 .post,
	.loops-wrapper.no-gutter.grid4 .post {
		width: 100%;
		margin-left: 0;
		float: none;
	}

	/* all post title */
	.post-title,
	.loops-wrapper.list-post .post-title,
	.loops-wrapper.grid4 .post-title,
	.loops-wrapper.grid3 .post-title,
	.loops-wrapper.grid2 .post-title,
	.loops-wrapper.grid2-thumb .post-title,
	.loops-wrapper.list-thumb-image .post-title,
	.loops-wrapper.list-large-image .post-title,
	.loops-wrapper.slider .post-title {
		font-size: 1.4em;
	}

	/* all post image */
	.loops-wrapper.list-post .post-image,
	.loops-wrapper.grid4 .post-image,
	.loops-wrapper.grid3 .post-image,
	.loops-wrapper.grid2 .post-image,
	.loops-wrapper.list-large-image .post-image {
		float: none;
		position: static;
		width: auto;
		overflow: visible;
	}
	.loops-wrapper.list-large-image .post-image {
		max-width: none;
		margin-right: auto;
	}

	/* all post content */
	.loops-wrapper.grid2-thumb .post-content,
	.loops-wrapper.list-thumb-image .post-content {
		overflow: visible;
	}

	/* slider post */
	.loops-wrapper.slider .post-content {
		position: static;
		background-color: #000;
		padding-top: 10px;
		padding-bottom: 5px;
	}
	.loops-wrapper.slider .post-meta {
		position: static;
	}
	
	/* single sidebar none post */
	.sidebar-none.single-post .post-content,
	.sidebar-none.single-post .commentwrap {
		padding-left: 0;
		padding-right: 0;
	}
	.sidebar-none.single-post .commentlist {
		margin-left: auto;
	}

	/*
	POST NAV
	================================================ */
	.post-nav .prev, 
	.post-nav .next {
		display: block;
		width: 100%;
		clear: both;
		margin-bottom: 10px;
	}
	
	/*
	COMMENTS
	================================================ */
	.commentlist {
		padding-left: 0;
	}
	.commentlist .commententry {
		clear: left;
	}
	.commentlist .reply {
		margin-left: auto;
	}
	.commentlist .avatar {
		float: left;
		width: 40px;
		height: 40px;
		margin: 0 1em 1em 0;
	}
	#commentform p.comment-form-author,
	#commentform p.comment-form-email {
		width: auto;
		float: none;
		padding: inherit;
	}
	
	/*
	FOOTER
	================================================ */
	/* FOOTER SOCIAL BADGE */
	.footer-social-wrap .footer-social-badge {
		display: block;
	}
	#footerwrap .footer-social-badge a {
		line-height: 99px;
		padding-top: 0;
	}
	
	/* FOOTER LEFT COLUMN, RIGHT COLUMN,
	HORIZONTAL LEFT, HORIZONTAL RIGHT, FOOTER BLOCK
	================================================ */	
	.footer-right-column .footer-logo-wrap,
	.footer-right-column .footer-widgets-wrap,
	.footer-logo-wrap,
	.footer-widgets-wrap {
		clear: both;
		float: none;
		margin: 0;
		width: auto;
	}
	.footer-right-column .footer-widgets-wrap,
	.footer-widgets-wrap {
		margin-bottom: 1em;
	}
	.footer-block .footer-widgets-wrap .widget,
	.footer-horizontal-left .footer-widgets-wrap .widget,
	.footer-horizontal-right .footer-widgets-wrap .widget {
		padding-top: 0;
	}
	.back-top {
		margin-top: 1em;
		width: 45px;
		line-height: 40px;
	}
	.back-top,
	.footer-horizontal-left .back-top {
		-webkit-order: 2;
		order: 2;
	}
	.footer-right-column .back-top,
	.footer-horizontal-right .back-top {
		margin-left: 0;
		margin-right: 0;
	}
	.footer-horizontal-left #footer-logo,
	.footer-horizontal-right #footer-logo {
		float: none;
		width: auto;
		margin-left: auto;
		margin-right: auto;
	}
	.footer-horizontal-left .below-logo-widget {
		float: none;
	}
	.footer-text-outer,
	.footer-right-column .footer-text-outer,
	.footer-horizontal-right .footer-text-outer,
	.footer-horizontal-left .footer-text-outer {
		right: auto;
		left: 0;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: column;
		flex-direction: column;
		-webkit-align-items: flex-start;
		align-items: flex-start;
	}
	.footer-block .footer-widgets-wrap {
		max-width: 100%;
	}
	#footerwrap .footer-widgets .col4-1 {
		width: 48.4% !important;
		margin-left: 3.2% !important;
		float: left !important;
	}
	#footerwrap .footer-widgets .col4-1:nth-child(2n+1) {
		margin-left: 0 !important;
		clear: left;
	}
	
	/*
	SLIDER PRO
	================================================ */
	.module.module-pro-slider .sp-arrow {
		font-size: 1em;
	}
	
	/*
	SEARCH OVERLAY
	================================================ */
	.search-option-tab {
		font-size: .75em;
	}
	.search-option-tab li a {
		padding: .3em;
		margin-right: 1em;
	}
	
	/* BUILDER CONTACT
	================================================ */
	.module.module-contact .builder-contact-field-name,
	.module.module-contact .builder-contact-field-email {
		width: auto;
		float: none;
		padding: inherit;
	}
}