/*------------------------------------------------------------------
[Theme Carousel]
-------------------------------------------------------------------*/

// @version 4.6.5

.wpex-carousel {
	position: relative;
	margin-left: 0 !important;
	margin-right: 0 !important;

	&.no-margins {
		margin-bottom: 0 !important;
	}

	&.owl-carousel .owl-item img {
		display: inline;
		margin: 0;
	}

}

.wpex-carousel-entry-media {
	text-align: center;

	img {
		vertical-align: bottom;

		.wpex-carousel.no-margins & {
			width: 100%
		}

	}

}

.wpex-carousel-entry-details {
	background: $background__light-gray;
	border: 1px solid $borders__color-light;
	padding: 15px;
}

.wpex-carousel-entry-excerpt {
	margin-top: 5px;

	p:last-child {
		margin: 0;
	}

}

.wpex-carousel-entry-price span {
	color: inherit;
}

/* Carousel > Video Play Button */
.wpex-carousel.owl-carousel {

	.owl-video-play-icon {
		 background-image: url(assets/images/carousel-video-play-btn.png);
	}

	.owl-item-video .wpex-carousel-entry-media {
		height: 300px;
	}

}

/* Carousel > Dots */
.wpex-carousel {
	
	.owl-dots {
		text-align: center;

		&.disabled {
			display: none !important;
		}

	}

	button.owl-dot {
		border: 0;
		display: inline-block;
		height: 10px;
		width: 10px;
		margin-left: 2.5px;
		margin-right: 2.5px;
		margin-top: 30px;
		cursor: pointer;
		background: #ddd;
		padding: 0;
		@include border-radius( 50% );
	}

}

/* Carousel > Nav */
.wpex-carousel {


	.owl-nav {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none; user-select: none;

		&.disabled {
			display: none !important;
		}

	}

	.owl-prev,
	.owl-next {
		margin-top: 20px;
		display: block;
		height: 20px;
		line-height: 20px;
		width: 20px;
		font-size: 11px;
		cursor: pointer;
		text-align: center;
		cursor: pointer;
		padding: 0; 
		border: 0;
		float: left;
		font-style: normal;
		font-weight: normal;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		@include border-radius( 2px );
		@include transition( $transition__speed );
		@include box-sizing( content-box );
	}

	.owl-prev {
		margin-right: 2.5px;
	}

	.owl-next {
		margin-left: 2.5px;
	}

	// Left/Right arrows float
	&.arrwpos-right .owl-nav {
		float: right;
	}

	&.arrwpos-left .owl-nav {
		float: left;
	}

	// Centered arrows
	&.arrwpos-center {

		.owl-nav {
			text-align: center;
		}

		.owl-prev,
		.owl-next {
			display: inline-block;
			float: none;
		}

	}

	// Modern arrows style
	&.arrwstyle-slim {

		.owl-prev,
		.owl-next {
			background: none;
			color: inherit;
			font-size: 21px;
			opacity: 0.65;

			&:hover {
				background: none;
				opacity: 1;
			}

		}

		.owl-prev .fa:before {
			content:"\f104";
		}

		.owl-next .fa:before {
			content:"\f105";
		}

		// Absolute Arrows
		&.arrwpos-abs {

			.owl-prev,
			.owl-next {
				background: none !important;
				font-size: 34px;
			}

			.owl-prev {
				left: -60px;
			}

			.owl-next {
				right: -60px;
			}

		}

	}

	// Minimal arrows style
	&.arrwstyle-min {

		.owl-prev,
		.owl-next {
			background: none;
			color: #aaa;
			font-size: 16px;

			&:hover {
				background: none;
				color: #777;
			}

		}

	}

	// Circle Arrows
	&.arrwstyle-circle {

		.owl-prev,
		.owl-next {
			background: none;
			color: #aaa;
			font-size: 21px;

			&:hover {
				background: none;
				color: #777;
			}

		}

		.owl-prev .fa:before {
			content:"\f0a8";
		}

		.owl-next .fa:before {
			content:"\f0a9";
		}
	
	}

	// Border Arrows
	&.arrwstyle-border {

		.owl-prev,
		.owl-next {
			background: none;
			color: #aaa;
			font-size: 14px;
			border: 2px solid #ccc;
			height: 24px;
			line-height: 24px;
			width: 24px;

			&:hover {
				background: none;
				color: #777;
				border-color: #999;
			}

		}

	}

	// Absolute Arrows
	&.arrwpos-abs {

		.owl-prev,
		.owl-next {
			background: #000;
			height: 60px;
			line-height: 60px;
			width: 40px;
			position: absolute;
			top: 50%; 
			margin: -30px 0 0;
			font-size: 16px;
			box-shadow: none;
			cursor: pointer;
			z-index: 3;
			background: #000;
        	background: rgba(0,0,0,.3);
			@include border-radius( 3px );

			&:hover {
				background: rgba(0,0,0,.65);
			}

		}

		.owl-prev {
			left: 15px;
		}

		.owl-next {
			right: 15px;
		}

		&.arrwstyle-circle .owl-prev,
		&.arrwstyle-circle .owl-next {
			background: none;
			color: #fff;
			font-size: 24px;
			height: 30px;
			width: 30px;
			line-height: 30px;
			margin-top: -15px;
		}

		&.arrwstyle-border .owl-prev,
		&.arrwstyle-border .owl-next {
			background: none;
			color: #fff;
			border-color: #fff;
		}

		&.arrwstyle-min .owl-prev,
		&.arrwstyle-min .owl-next {
			background: none;
			color: #fff;
			font-size: 24px;
		}

		&.arrwstyle-default {

			.owl-prev,
			.owl-next {
				font-size: 21px;
			}
			
			.fa-chevron-left:before {
				content: "\f104";
			}

			.fa-chevron-right:before {
				content: "\f105";
			}

		}

	}

}
