/*Tiled styles in themify settings*/
.themify_tiled_settings{
	margin-top:25px;
}
.themify_tiled_settings>li{
    margin-right:5%;
    width:40%;
    margin-bottom: 10px;
    position: relative;
    float: left;
}
.themify_tiled_settings .selected,
.themify_tiled_settings span{
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    cursor: pointer;
}
.themify_tiled_settings ul{
    display: none;
}
.themify_tiled_settings ul li{
    cursor: pointer;
    float: left;
    border: 1px solid #ccc;
    margin-right: 10px;
    margin-bottom: 0;
}
.themify_tiled_settings ul li:last-child{
    margin: 0;
}
.themify_tiled_settings .selected{
    margin: 0 10px 0 0;
    border: 1px solid #ccc;
}
.themify_tiled_settings .selected:after{
    content: "\e64b";
    font-family: 'themify';
    vertical-align: middle;
    display: inline-block;
    padding-right: 4px;
}
.themify_tiled_settings .selected img{
    vertical-align: middle;
    display: inline-block;
}
.themify_tiled_settings .themify_tiled_show{
    position: absolute;
    top: 38px;
    left: 0;
    background: #fff;
    padding: 7px;
    border: 1px solid #ccc;
    z-index: 10;
    width: 238px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.themify_tiled_show li:hover,
.themify_tiled_show li.selected-layout{
    border-color: #000;
}
.themify_tiled_show li.selected-layout{
    cursor: default;
}
.themify_tiled_settings_wrapper{
    margin-top:10px;
}
#themify .themify_tiled_settings_wrapper>label{
    margin-right:20px;
}