@-moz-keyframes rotate {
  0% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
@keyframes countdowntiming {
  0% {
    bottom: -50px;
    position: relative;
    filter: alpha(opacity=0);
    opacity: 0;
  }
  100% {
    bottom: 0;
    position: relative;
    filter: alpha(opacity=100);
    opacity: 1;
  }
}
.page-wrapper {
  background-color: #f5f5f5;
}
.page-template-demo2 .page-wrapper {
  background: #fff;
}
.home.page-template-demo4 .categories-menu.show_home .categories {
  display: none;
}
.home.page-template-demo4 .categories-menu.show_home .morelesscate {
  display: none;
}
.home.page-template-demo4 .page-wrapper {
  background: #fff;
}
.small-body .page-wrapper {
  min-height: 100vh;
  position: relative;
}
.small-body .page-wrapper .footer {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
}
.heightzero {
  height: 0;
  overflow: hidden;
}
.wrapper .vc_row.full-width .row-container {
  margin-left: 0;
  margin-right: 0;
  max-width: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 100%;
}
.wrapper .no-gap {
  margin-left: 0;
  margin-right: 0;
}
.wrapper .no-gap .row-container {
  padding-left: 15px;
  padding-right: 15px;
}
.wrapper .no-gap .vc_column-inner {
  padding-left: 0;
  padding-right: 0;
}
.wrapper .vc_col-has-fill > .vc_column-inner,
.wrapper .vc_row-has-fill > .vc_column_container > .vc_column-inner {
  padding-top: 0;
}
.wrapper .vc_column_container > .vc_column-inner {
  width: auto;
}
.main-container .wpb_single_image > .wpb_wrapper {
  max-width: 100%;
  overflow: hidden;
}
.main-container .wpb_single_image a,
.main-container .image-hover-effect {
  display: inline-block;
  overflow: hidden;
  position: relative;
  vertical-align: top;
}
.main-container .wpb_single_image a img,
.main-container .image-hover-effect img {
  -webkit-transition: all .3s ease-out 0s;
  -moz-transition: all .3s ease-out 0s;
  -ms-transition: all .3s ease-out 0s;
  -o-transition: all .3s ease-out 0s;
  transition: all .3s ease-out 0s;
}
.main-container .wpb_single_image a:hover img,
.main-container .image-hover-effect:hover img {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  transform: scale(1.05);
}
.wrapper i.icon {
  display: inline-block;
  height: auto;
  line-height: inherit;
  margin: 0;
  vertical-align: middle;
  width: auto;
}
.wrapper .wpb_revslider_element .tp-caption a {
  color: inherit;
  display: block;
  position: relative;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -ms-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}
.wrapper .wpb_revslider_element .tp-caption a:hover {
  color: inherit;
}
.wrapper .wpb_revslider_element .tp-caption i {
  font-size: 16px;
  line-height: inherit !important;
  margin-left: 5px;
  vertical-align: top;
}
[class*='products-carousel'] .columns-1 .shop-products .item-col {
  margin-bottom: 0;
}
[class*='products-carousel'] .slick-track {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
[class*='products-carousel'] .slick-track .item-col {
  height: auto;
}
[class*='products-carousel'] .slick-track .product-wrapper {
  min-height: 100%;
}
[class*='products-carousel'] .slick-slider {
  margin-left: 0;
  margin-right: 0;
}
[class*='products-carousel'] .slick-slider .slick-slide {
  padding-left: 0;
  padding-right: 0;
}
[class*='products-carousel'] .shop-products:after {
  clear: both;
  content: '';
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
[class*='products-carousel'] .shop-products .item-col {
  width: 500px;
}
[class*='products-carousel'] .shop-products .item-col.first {
  clear: none;
}
[class*='products-carousel'] .shop-products .item-col.last {
  margin-bottom: 0;
}
[class*='products-carousel'] .shop-products .group .item-col {
  max-width: 600px;
  padding: 0;
  width: 100%;
}
[class*='home-tabs'] .wpb_content_element {
  display: none;
}
[class*='home-tabs'] .shop-products .group .item-col {
  margin: 0 0 45px;
  width: 100%;
}
[class*='home-tabs'] .shop-products .group .item-col:last-child {
  margin: 0;
}
[class*='home-tabs'] .shop-products .item-col {
  margin: 0;
}
[class*='home-tabs'] .shop-products .item-col.first {
  clear: none;
}
.latest-posts .group .item-col {
  margin-bottom: 30px;
}
.latest-posts .group .item-col:last-child {
  margin-bottom: 0;
}
.latest-posts .post-wrapper:after {
  clear: both;
  content: '';
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
.latest-posts .post-thumb {
  margin-bottom: 18px;
}
.latest-posts .post-thumb a {
  display: inline-block;
  overflow: hidden;
  position: relative;
  vertical-align: top;
}
.latest-posts .post-thumb a img {
  -webkit-transition: all .3s ease-out 0s;
  -moz-transition: all .3s ease-out 0s;
  -ms-transition: all .3s ease-out 0s;
  -o-transition: all .3s ease-out 0s;
  transition: all .3s ease-out 0s;
}
.latest-posts .post-thumb a:hover img {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  transform: scale(1.05);
}
.latest-posts .post-title {
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  font-size: 1.143em;
  font-weight: 700;
  margin-bottom: 11px;
}
.latest-posts .post-title a {
  color: #333;
}
.latest-posts .post-title a:hover {
  color: #46b7b9;
}
.latest-posts .post-meta {
  color: #999;
  font-size: .857em;
  line-height: normal;
  margin-bottom: 18px;
}
.latest-posts .post-meta:after {
  clear: both;
  content: '';
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
.latest-posts .post-date,
.latest-posts .post-slash,
.latest-posts .post-comment {
  float: left;
}
.latest-posts .post-date .day:after {
  content: ',';
  display: inline;
  margin: 0 2px 0 -2px;
}
.latest-posts .post-slash {
  margin: 0 5px;
}
.latest-posts .post-comment a {
  color: #999;
}
.latest-posts .post-comment a:hover {
  color: #46b7b9;
}
.latest-posts .post-excerpt {
  color: #515151;
  font-size: .929em;
  line-height: 1.6;
}
.brands-carousel.slick-slider {
  margin: 0;
}
.brands-carousel.slick-slider .slick-slide {
  padding: 0;
  text-align: center;
}
.brands-carousel.slick-slider .slick-next,
.brands-carousel.slick-slider .slick-prev {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}
.brands-carousel.slick-slider .slick-prev {
  left: 15px;
  right: auto;
}
.brands-carousel.slick-slider .slick-next {
  left: auto;
  right: 15px;
}
.brands-carousel a:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
}
.brands-carousel a img {
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}
.policy.layout1 .vc_row {
  float: left;
  margin: 0;
  width: 20%;
}
.policy.layout1 .vc_row:first-child .wpb_text_column:before {
  display: none;
}
.policy.layout1 .vc_row .vc_column-inner {
  padding: 0;
}
.policy.layout1 .wpb_text_column {
  margin: 0;
  padding: 0 15px;
  position: relative;
  text-align: center;
}
.policy.layout1 .wpb_text_column:before {
  background: #ededed;
  content: '';
  display: block;
  height: 34px;
  left: 0;
  position: absolute;
  top: 50%;
  width: 1px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}
.policy.layout1 .wpb_text_column .wpb_wrapper {
  display: inline-block;
  padding-left: 45px;
  position: relative;
  text-align: left;
}
.policy.layout1 .wpb_text_column div.icon {
  left: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}
.policy.layout1 .wpb_text_column div.icon i {
  color: #46b7b9;
  font-size: 0;
  line-height: 1;
}
.policy.layout1 .wpb_text_column div.icon i:before {
  font-size: 36px;
}
.policy.layout1 .wpb_text_column h3 {
  color: #333;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 0;
  text-transform: uppercase;
}
.policy.layout1 .wpb_text_column p {
  font-size: 14px;
}
.products-countdown.layout1 .product-wrapper.gridview {
  display: none;
}
.products-countdown.layout1 .product-wrapper.listview {
  display: block;
}
.products-countdown.layout1 .product-wrapper.listview .list-col4 {
  float: left;
  width: 40%;
}
.products-countdown.layout1 .product-wrapper.listview .list-col8 {
  display: block;
  float: left;
  padding: 30px 30px 30px 15px;
  width: 60%;
}
.products-countdown.layout1 .product-wrapper.listview .list-col8 .product-info,
.products-countdown.layout1 .product-wrapper.listview .list-col8 .actions-wrapper {
  float: none;
  padding: 0;
  width: 100%;
}
.products-countdown.layout1 .product-wrapper.listview .list-col8 .actions-wrapper {
  border: none;
  padding: 0;
}
.products-countdown.layout1 .product-wrapper.listview .list-col8 .price ins,
.products-countdown.layout1 .product-wrapper.listview .list-col8 .price del {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  width: auto;
}
.products-countdown.layout1 .product-wrapper.listview .list-col8 .price del {
  padding-top: 5px;
}
.products-countdown.layout1 .product-wrapper.listview .list-col8 .add-to-cart,
.products-countdown.layout1 .product-wrapper.listview .list-col8 .actions {
  display: none;
}
.products-countdown.layout1 .product-wrapper.listview .list-col8 .count-down {
  display: block;
}
.products-list .slick-slider.shop-products .slick-list {
  margin-bottom: 0;
}
.products-list .slick-slider.shop-products .slick-list .slick-track {
  padding-bottom: 0;
}
.products-list .product-wrapper:hover .star-rating {
  filter: alpha(opacity=0);
  opacity: 0;
}
.products-list .product-wrapper:hover .add-to-cart {
  filter: alpha(opacity=100);
  opacity: 1;
}
.products-list .gridview {
  display: none;
}
.products-list .listview {
  display: block;
}
.products-list .listview .list-col4 {
  float: left;
  width: 40%;
  padding: 0;
}
.products-list .listview .list-col8 {
  float: left;
  padding-bottom: 55px;
  position: relative;
  width: 60%;
}
.products-list .listview .list-col8 .product-info,
.products-list .listview .list-col8 .actions-wrapper {
  float: none;
  padding: 0;
  width: 100%;
}
.products-list .listview .list-col8 .actions-wrapper {
  border: none;
}
.products-list .listview .onsale,
.products-list .listview .product-desc,
.products-list .listview .actions {
  display: none;
}
.products-list .listview .product-name {
  color: #333;
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 13px;
}
.products-list .listview .product-name:hover {
  color: #46b7b9;
}
.products-list .listview .star-rating {
  bottom: 10px;
  position: absolute;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}
.products-list .listview .list-col8 span.price {
  font-size: 20px;
  margin: 0;
}
.products-list .listview .list-col8 span.price ins,
.products-list .listview .list-col8 span.price del {
  display: inline-block;
  width: auto;
}
.products-list .listview .list-col8 span.price del {
  font-size: .8em;
  margin: 0;
}
.products-list .listview .add-to-cart {
  bottom: 0;
  left: 15px;
  margin: 0;
  position: absolute;
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}
.products-list .listview .add_to_cart_inline a {
  background: none;
  border: 2px solid #ededed;
  color: #333;
  display: inline-block;
  font-size: 15px;
  font-weight: normal;
  padding: 0 25px;
  width: auto;
}
.products-list .listview .add_to_cart_inline a:hover {
  background: #46b7b9;
  border-color: #46b7b9;
  color: #fff;
}
.hometab .vc_tta-tabs-container {
  margin: 0 !important;
  width: 20%;
}
.hometab .vc_tta-panels-container {
  background: #fff;
  overflow: hidden;
  width: 80%;
}
.hometab .vc_tta-panels-container .vc_tta-panels {
  background: none !important;
  border: none !important;
  border-radius: 0 !important;
  display: table;
  height: 100%;
}
.hometab .vc_tta-panels-container .vc_tta-panel {
  display: table-cell !important;
  margin: 0 !important;
  vertical-align: middle;
}
.hometab .vc_tta-tabs-list li {
  background: #fff;
  float: left;
  margin: 0 !important;
  padding: 0 !important;
  text-align: center;
  width: 50%;
}
.hometab .vc_tta-tabs-list li a {
  background: transparent !important;
  border: none !important;
  border-bottom: 1px solid #ededed !important;
  border-radius: 0 !important;
  border-right: 1px solid #ededed !important;
  display: table !important;
  font-size: 13px;
  height: 135px;
  margin: 0 !important;
  padding: 0 !important;
  text-transform: uppercase;
  width: 100%;
}
.hometab .vc_tta-tabs-list li a:before,
.hometab .vc_tta-tabs-list li a:after {
  display: none;
}
.hometab .vc_tta-tabs-list li a .vc_tta-title-text {
  background: no-repeat center center;
  background-size: cover;
  display: block;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}
.hometab .vc_tta-tabs-list li a .vc_tta-title-text:before {
  content: '';
  display: block;
  font-family: 'Ionicons';
  font-size: 36px;
  height: 30px;
  line-height: 30px;
  margin: auto;
  text-align: center;
  width: 30px;
}
.hometab .vc_tta-tabs-list li a:hover {
  background: #46b7b9 !important;
  color: #fff !important;
}
.hometab .vc_tta-tabs-list li:first-child a .vc_tta-title-text:before {
  content: '\f43a';
}
.hometab .vc_tta-tabs-list li:nth-child(2) a .vc_tta-title-text:before {
  content: '\f465';
}
.hometab .vc_tta-tabs-list li:nth-child(3) a .vc_tta-title-text:before {
  content: '\f1fa';
}
.hometab .vc_tta-tabs-list li:nth-child(4) a .vc_tta-title-text:before {
  content: '\f3f5';
}
.hometab .vc_tta-tabs-list li:nth-child(5) a .vc_tta-title-text:before {
  content: '\f490';
}
.hometab .vc_tta-tabs-list li:nth-child(6) a .vc_tta-title-text:before {
  content: '\f460';
}
.hometab .vc_tta-panel-body {
  overflow: visible !important;
  padding: 0 !important;
}
.hometab .vc_tta-panel-body img {
  margin: 0;
}
.testimonials-container.layout1 .testimonials .slick-slider {
  background: #292929;
  margin-left: 0;
  margin-right: 0;
}
.testimonials-container.layout1 .testimonials .slick-slider .slick-prev {
  left: auto;
  right: 30px;
}
.testimonials-container.layout1 .testimonials .slick-slider .slick-next {
  left: auto;
  right: 0;
}
.testimonials-container.layout1 .testimonials .slick-list {
  padding: 0;
}
.testimonials-container.layout1 .testimonials .slick-dots {
  margin-top: 25px;
  padding: 0;
}
.testimonials-container.layout1 .testimonials .slick-slide {
  display: block;
  font-size: 15px;
  padding: 45px 35px;
  width: 100%;
}
.testimonials-container.layout1 .testimonials .avatar,
.testimonials-container.layout1 .testimonials .avatar-link {
  display: block;
  height: 107px;
  margin: 0 auto 35px auto;
  width: 107px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.testimonials-container.layout1 .testimonials .testimonials-text {
  background: none;
  border: none;
  color: #d0d0d0;
  font-size: 1em;
  font-style: italic;
  line-height: 1.6;
  margin-bottom: 25px;
  padding: 0;
  text-align: center;
}
.testimonials-container.layout1 .testimonials .testimonials-text p:before,
.testimonials-container.layout1 .testimonials .testimonials-text p:after {
  content: ' " ';
  display: inline-block;
  font-weight: bold;
  margin: 0 5px;
}
.testimonials-container.layout1 .testimonials .testimonials-text p:before {
  margin-left: 0;
}
.testimonials-container.layout1 .testimonials .testimonials-text p:after {
  margin-right: 0;
}
.testimonials-container.layout1 .testimonials .author {
  display: block;
  position: relative;
  text-align: center;
}
.testimonials-container.layout1 .testimonials .author [itemprop='name'] {
  color: #fff;
  display: block;
  font-size: 15px;
  font-weight: 600;
  margin: auto;
}
.testimonials-container.layout1 .testimonials .author [itemprop='name']:before,
.testimonials-container.layout1 .testimonials .author [itemprop='name']:after {
  content: '-';
  display: inline-block;
  margin: 0 5px;
}
.testimonials-container.layout1 .testimonials .author [itemprop='jobTitle'] {
  color: #fff;
  display: none;
  font-size: .857em;
  font-weight: normal;
  margin: 0;
  margin: auto;
}
.testimonials-container.layout1 .testimonials .author a {
  color: #46b7b9;
  display: block;
}
.testimonials-container.layout1 .testimonials .author a:hover {
  text-decoration: underline;
}
.slider-banner.layout2 .wpb_single_image {
  margin-bottom: 30px;
}
.sidebar.layout2 .wpb_text_column {
  margin-bottom: 0;
}
.sidebar.layout2 .wpb_text_column h3 {
  background: #ffcd38;
  color: #333;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  padding: 15px 18px;
  text-transform: uppercase;
}
.sidebar.layout2 .slick-slider .slick-prev,
.sidebar.layout2 .slick-slider .slick-next {
  color: #333;
}
.sidebar.layout2 .slick-slider .slick-prev:hover,
.sidebar.layout2 .slick-slider .slick-next:hover {
  color: #46b7b9;
}
.sidebar.layout2 .slick-slider .slick-prev {
  left: auto;
  right: 60px;
}
.sidebar.layout2 .slick-slider .slick-next {
  left: auto;
  right: 35px;
}
[class*='products-carousel'].layout2 .wpb_wrapper > .woocommerce {
  background: #fff;
  border: 1px solid #ededed;
  margin-bottom: 35px;
}
[class*='products-carousel'].layout2 .wpb_wrapper > .woocommerce .slick-slider {
  margin: 0;
}
.top-category.layout2 .wpb_column {
  margin-bottom: 35px;
}
.top-category.layout2 .vc_column-inner > .wpb_wrapper {
  background: #fff;
  border: 1px solid #ededed;
}
.top-category.layout2 .wpb_single_image {
  text-align: center;
}
.top-category.layout2 .wpb_text_column {
  text-align: center;
}
.top-category.layout2 .wpb_text_column a {
  color: #333;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}
.top-category.layout2 .wpb_text_column a:hover {
  color: #46b7b9;
}
.products-carousel-1.layout2 .shop-products .gridview {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.products-carousel-1.layout2 .shop-products .gridview:after {
  clear: both;
  content: '';
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
.products-carousel-1.layout2 .shop-products .gridview:hover {
  margin: 0;
  padding: 0;
}
.products-carousel-1.layout2 .shop-products .gridview .list-col4 {
  float: left;
  width: 38%;
}
.products-carousel-1.layout2 .shop-products .gridview .list-col8 {
  float: left;
  width: 62%;
}
.products-carousel-1.layout2 .shop-products .gridview .onsale,
.products-carousel-1.layout2 .shop-products .gridview .quickviewbtn,
.products-carousel-1.layout2 .shop-products .gridview .product-hidden {
  display: none;
}
.category-container.layout2 .categories-menu-wrapper .categories-menu-inner {
  position: static;
}
.category-container.layout2 .categories-menu-wrapper .categories-menu-inner .catemenu-toggler {
  background: #46b7b9;
}
.category-container.layout2 .categories-menu-wrapper .categories-menu-inner .catemenu-toggler span {
  display: block;
  height: 100%;
  position: relative;
  border-bottom: 1px solid rgba(0,0,0,0.18);
}
.category-container.layout2 .categories-menu-wrapper .categories-menu-inner .catemenu-toggler span:before {
  margin: 0;
  position: absolute;
  right: 0;
}
.category-container.layout2 .categories-menu-wrapper .categories-menu .categories > .menu_holder > .menu_inner > ul > li.current-menu-ancestor > a.item_link .link_text,
.category-container.layout2 .categories-menu-wrapper .categories-menu .categories > .menu_holder > .menu_inner > ul > li.current-menu-ancestor > a.item_link:after,
.category-container.layout2 .categories-menu-wrapper .categories-menu .categories > .menu_holder > .menu_inner > ul > li.current-menu-item > a.item_link .link_text,
.category-container.layout2 .categories-menu-wrapper .categories-menu .categories > .menu_holder > .menu_inner > ul > li.current-menu-item > a.item_link:after,
.category-container.layout2 .categories-menu-wrapper .categories-menu .categories > .menu_holder > .menu_inner > ul > li.current-product-ancestor > a.item_link .link_text,
.category-container.layout2 .categories-menu-wrapper .categories-menu .categories > .menu_holder > .menu_inner > ul > li.current-product-ancestor > a.item_link:after,
.category-container.layout2 .categories-menu-wrapper .categories-menu .categories > .menu_holder > .menu_inner > ul > li:hover > a.item_link .link_text,
.category-container.layout2 .categories-menu-wrapper .categories-menu .categories > .menu_holder > .menu_inner > ul > li:hover > a.item_link:after {
  color: #fff;
}
.category-container.layout2 .categories-menu-wrapper .categories-menu .categories > .menu_holder .menu_inner > ul > li > a.item_link {
  border-color: rgba(255,255,255,0.1);
}
.testimonials-container.layout2 > .wpb_column > .vc_column-inner > .wpb_wrapper {
  background: #fff;
  border: 1px solid #ededed;
}
.testimonials-container.layout2 .testimonials .slick-list {
  padding: 0;
}
.testimonials-container.layout2 .testimonials .slick-dots {
  margin-top: 25px;
  padding: 0;
}
.testimonials-container.layout2 .testimonials .slick-slide {
  display: block;
  font-size: 15px;
  padding: 45px 35px;
  width: 100%;
}
.testimonials-container.layout2 .testimonials .avatar,
.testimonials-container.layout2 .testimonials .avatar-link {
  display: block;
  height: 107px;
  margin: 0 auto 30px auto;
  width: 107px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.testimonials-container.layout2 .testimonials .testimonials-text {
  background: none;
  border: none;
  color: #333;
  font-size: 15px;
  font-style: italic;
  line-height: 1.6;
  margin-bottom: 25px;
  padding: 0;
  text-align: center;
}
.testimonials-container.layout2 .testimonials .testimonials-text p:before,
.testimonials-container.layout2 .testimonials .testimonials-text p:after {
  content: ' " ';
  display: inline-block;
  font-weight: bold;
  margin: 0 5px;
}
.testimonials-container.layout2 .testimonials .testimonials-text p:before {
  margin-left: 0;
}
.testimonials-container.layout2 .testimonials .testimonials-text p:after {
  margin-right: 0;
}
.testimonials-container.layout2 .testimonials .author {
  display: block;
  position: relative;
  text-align: center;
}
.testimonials-container.layout2 .testimonials .author [itemprop='name'] {
  color: #46b7b9;
  display: block;
  font-size: 15px;
  font-weight: 600;
  margin: auto;
}
.testimonials-container.layout2 .testimonials .author [itemprop='name']:before,
.testimonials-container.layout2 .testimonials .author [itemprop='name']:after {
  content: '-';
  display: inline-block;
  margin: 0 5px;
}
.testimonials-container.layout2 .testimonials .author [itemprop='jobTitle'] {
  color: #fff;
  display: none;
  font-size: .857em;
  font-weight: normal;
  margin: 0;
  margin: auto;
}
.testimonials-container.layout2 .testimonials .author a {
  color: #46b7b9;
  display: block;
}
.testimonials-container.layout2 .testimonials .author a:hover {
  text-decoration: underline;
}
.home-tabs.layout2 .home-tabs-title {
  list-style-type: none;
  margin-bottom: 20px;
  padding: 0;
}
.home-tabs.layout2 .home-tabs-title li {
  display: inline-block;
  margin: 0 40px 0 0;
  vertical-align: middle;
}
.home-tabs.layout2 .home-tabs-title li:last-child {
  margin: 0;
}
.home-tabs.layout2 .home-tabs-title li a {
  color: #838383;
  cursor: pointer;
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  text-transform: uppercase;
}
.home-tabs.layout2 .home-tabs-title li a:hover,
.home-tabs.layout2 .home-tabs-title li a.active {
  color: #333;
}
.home-tabs.layout2 .woocommerce {
  background: #fff;
  border: 1px solid #ededed;
}
.home-tabs.layout2 .woocommerce .slick-slider {
  padding: 0 5px;
}
.home-tabs.layout2 .woocommerce.heightzero {
  border: none;
}
.products-list.layout2 .wpb_wrapper > .woocommerce {
  border: 1px solid #ededed;
  margin-bottom: 35px;
}
.products-list.layout2 .slick-slider {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  max-width: 99.5%;
}
.products-list.layout2 .slick-slider .slick-slide {
  padding-left: 0;
  padding-right: 0;
}
.products-list.layout2 .slick-slider .slick-prev {
  left: auto;
  right: 30px;
}
.products-list.layout2 .slick-slider .slick-next {
  left: auto;
  right: 0;
}
.products-carousel-1.layout3 > .vc_column-inner > .wpb_wrapper {
  background: #fff;
  padding: 15px 20px;
}
.products-carousel-1.layout3 .slick-slider {
  margin-bottom: 0;
}
.products-carousel-1.layout3 .slick-slider .slick-list {
  padding: 0;
}
.products-carousel-1.layout3 .shop-products .gridview {
  margin: 0;
  padding: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.products-carousel-1.layout3 .shop-products .gridview .count-down {
  display: block;
}
.products-carousel-1.layout3 .shop-products .gridview .list-col8 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 10px;
}
.products-carousel-1.layout3 .shop-products .gridview .product-hidden {
  display: none !important;
}
.policy.layout3 .vc_row {
  float: left;
  margin: 0;
  width: 20%;
}
.policy.layout3 .vc_row:first-child .wpb_text_column:before {
  display: none;
}
.policy.layout3 .vc_row .vc_column-inner {
  padding: 0;
}
.policy.layout3 .wpb_text_column {
  margin: 0;
  position: relative;
  text-align: center;
}
.policy.layout3 .wpb_text_column:before {
  background: #ededed;
  content: '';
  display: block;
  height: 34px;
  left: 0;
  position: absolute;
  top: 50%;
  width: 1px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}
.policy.layout3 .wpb_text_column .wpb_wrapper {
  display: inline-block;
  padding-left: 45px;
  position: relative;
  text-align: left;
}
.policy.layout3 .wpb_text_column div.icon {
  left: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}
.policy.layout3 .wpb_text_column div.icon i {
  color: #46b7b9;
  font-size: 0;
  line-height: 1;
}
.policy.layout3 .wpb_text_column div.icon i:before {
  font-size: 36px;
}
.policy.layout3 .wpb_text_column h3 {
  color: #333;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 0;
  text-transform: uppercase;
}
.policy.layout3 .wpb_text_column p {
  font-size: 14px;
}
.top-category.layout3 .row-container > .wpb_column > .vc_column-inner > .wpb_wrapper {
  background: #fff;
  padding: 20px;
}
.top-category.layout3 .vc_row {
  margin-bottom: 0;
}
.top-category.layout3 .wpb_single_image {
  text-align: center;
}
.top-category.layout3 .wpb_text_column {
  margin-bottom: 0;
  text-align: center;
}
.top-category.layout3 .wpb_text_column a {
  color: #333;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}
.top-category.layout3 .wpb_text_column a:hover {
  color: #46b7b9;
}
.top-category.layout3 [class*='title'] {
  margin-bottom: 15px;
  text-align: left;
}
.products-carousel-2.layout3 .row-container > .wpb_column > .vc_column-inner > .wpb_wrapper {
  background: #fff;
  margin-bottom: 35px;
  padding: 20px;
}
.products-carousel-2.layout3 .slick-slider {
  margin-bottom: 0;
}
.tabs-container.layout3 .row-container > .wpb_column > .vc_column-inner > .wpb_wrapper {
  background: #fff;
  margin-bottom: 35px;
  padding: 20px;
}
.tabs-container.layout3 .slick-slider {
  margin-bottom: 0;
}
.home-tabs.layout3 .container {
  width: 100%;
}
.home-tabs.layout3 .home-tabs-title {
  border-bottom: 1px solid #ededed;
  list-style-type: none;
  margin-bottom: 0;
  padding: 0;
}
.home-tabs.layout3 .home-tabs-title li {
  display: inline-block;
  margin: 0 40px 0 0;
  vertical-align: middle;
}
.home-tabs.layout3 .home-tabs-title li:last-child {
  margin: 0;
}
.home-tabs.layout3 .home-tabs-title li a {
  color: #838383;
  cursor: pointer;
  display: block;
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 15px;
  position: relative;
  text-transform: uppercase;
}
.home-tabs.layout3 .home-tabs-title li a:hover,
.home-tabs.layout3 .home-tabs-title li a.active {
  color: #333;
}
.home-tabs.layout3 .home-tabs-title li a:hover:after,
.home-tabs.layout3 .home-tabs-title li a.active:after {
  left: 0;
  right: 0;
  width: 100%;
}
.home-tabs.layout3 .home-tabs-title li a:after {
  background: #46b7b9;
  bottom: 0;
  content: '';
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  right: 50%;
  width: 0;
  z-index: 2;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}
.products-list.layout3 .vc_column-inner > .wpb_wrapper {
  background: #fff;
  margin-bottom: 35px;
}
.products-list.layout3 .slick-slider {
  margin-bottom: 0;
}
.products-list.layout3 .slick-slider .slick-prev {
  right: 45px;
  left: auto;
}
.products-list.layout3 .slick-slider .slick-next {
  left: auto;
  right: 15px;
}
.products-list.layout3 .wpb_text_column {
  padding: 15px 15px 0 15px;
}
.static-block.layout4 .vc_column-inner > .wpb_wrapper {
  position: relative;
}
.static-block.layout4 .vc_column-inner > .wpb_wrapper:hover .wpb_text_column {
  filter: alpha(opacity=100);
  opacity: 1;
}
.static-block.layout4 .vc_column-inner > .wpb_wrapper:hover .wpb_single_image a:before {
  filter: alpha(opacity=100);
  opacity: 1;
}
.static-block.layout4 .wpb_text_column {
  left: 50%;
  margin: 0;
  margin-right: -50%;
  max-width: 80%;
  pointer-events: none;
  position: absolute;
  text-align: center;
  top: 50%;
  z-index: 3;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  filter: alpha(opacity=0);
  opacity: 0;
}
.static-block.layout4 .wpb_text_column h3 {
  color: #fff;
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
}
.static-block.layout4 .wpb_single_image a:before {
  background: rgba(70,183,185,0.5);
  bottom: 0;
  content: '';
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}
.products-countdown.layout4 .gridview {
  display: none;
}
.products-countdown.layout4 .listview {
  display: block;
}
.products-countdown.layout4 .listview .list-col4 {
  float: left;
  width: 40%;
}
.products-countdown.layout4 .listview .list-col8 {
  float: left;
  width: 60%;
}
.products-countdown.layout4 .listview .product-info {
  float: none;
  width: 100%;
}
.products-countdown.layout4 .listview .actions-wrapper {
  display: none;
}
.products-countdown.layout4 .listview .count-down {
  display: block;
}
.products-list.layout4 .listview .product-name {
  font-size: 15px;
  font-weight: normal;
}
.products-list.layout4 .vc_column-inner > .wpb_wrapper > .woocommerce {
  border-top: 1px solid #ededed;
  margin-bottom: 35px;
}
.products-list.layout4 .slick-slider {
  margin-bottom: 0;
}
