@-moz-keyframes rotate {
  0% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
@keyframes countdowntiming {
  0% {
    bottom: -50px;
    position: relative;
    filter: alpha(opacity=0);
    opacity: 0;
  }
  100% {
    bottom: 0;
    position: relative;
    filter: alpha(opacity=100);
    opacity: 1;
  }
}
.main-container.front-page .page-content {
  margin-bottom: 0;
  padding-bottom: 0;
}
.main-container.full-width blockquote {
  background: #fff;
  border: 1px solid #ededed;
  border-left: 5px solid #ec5a4a;
  font-size: 14px;
  font-style: italic;
  line-height: 26px;
  margin: 40px 0 40px 40px;
  padding: 30px 45px;
}
.main-container.default-page blockquote {
  background: #fff;
  border: 1px solid #ededed;
  border-left: 5px solid #ec5a4a;
  font-size: 14px;
  font-style: italic;
  line-height: 26px;
  margin: 40px 0 40px 40px;
  padding: 30px 45px;
}
.main-container.default-page .entry-content:after {
  clear: both;
  content: '';
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
.main-container.default-page .comments-area {
  clear: both;
  margin: 60px 0;
  width: 100%;
}
.main-container.default-page .comments-area .comments-title,
.main-container.default-page .comments-area .comment-reply-title {
  padding: 30px 0 0 0;
  font-size: 24px;
  margin: 0 0 10px;
  text-transform: uppercase;
}
.main-container.default-page .comments-area .commentlist {
  margin: 0;
  padding: 0;
}
.main-container.default-page .comments-area .commentlist li {
  list-style: none;
}
.main-container.default-page .comments-area .commentlist li article.comment {
  background: #fff;
  border: 1px solid #ededed;
  margin: 0 0 20px;
  padding: 30px;
  width: 100%;
}
.main-container.default-page .comments-area .commentlist li article.comment .comment-avatar {
  float: left;
  margin-right: 20px;
}
.main-container.default-page .comments-area .commentlist li article.comment .comment-info {
  border: none;
  overflow: hidden;
  position: relative;
}
.main-container.default-page .comments-area .commentlist li article.comment .comment-info .reply {
  display: inline-block;
  float: right;
  position: absolute;
  right: 0;
  top: 0;
}
.main-container.default-page .comments-area .commentlist li article.comment .comment-info .reply a {
  background: none;
  border: 1px solid #ec5a4a;
  box-shadow: none;
  color: #ec5a4a;
  display: inline-block;
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  font-size: .8em;
  font-weight: bold;
  height: 28px;
  line-height: 26px;
  padding: 0 20px;
  text-shadow: none;
  text-transform: uppercase;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  white-space: nowrap;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}
.main-container.default-page .comments-area .commentlist li article.comment .comment-info .reply a:hover {
  background: #ec5a4a;
  border-color: #ec5a4a;
  color: #fff;
}
.main-container.default-page .comments-area .commentlist .comment-meta {
  color: #999;
  float: left;
  margin: 0 0 15px;
  width: 100%;
}
.main-container.default-page .comments-area .commentlist .comment-meta img {
  margin-right: 10px;
}
.main-container.default-page .comments-area .commentlist .comment-meta cite {
  display: block;
}
.main-container.default-page .comments-area .commentlist .comment-meta cite .fn a {
  color: #333;
}
.main-container.default-page .comments-area .commentlist .comment-meta cite .fn a:hover {
  color: #ec5a4a;
}
.main-container.default-page .comments-area .commentlist .comment-meta cite span {
  display: none;
}
.main-container.default-page .comments-area .commentlist .comment-meta time {
  display: block;
  font-size: .93em;
  font-style: italic;
}
.main-container.default-page .comments-area .commentlist .comment-content {
  color: #999;
}
.main-container.default-page .comments-area .commentlist .comment-content ul li,
.main-container.default-page .comments-area .commentlist .comment-content ol li {
  list-style-type: inherit;
}
.main-container.default-page .comments-area .commentlist .comment-content p:last-child {
  margin-bottom: 0;
}
.main-container.default-page .comments-area .commentlist .comment-content .edit-link a {
  color: #ec5a4a;
}
.main-container.default-page .comments-area .commentlist .comment-content .edit-link a:hover {
  text-decoration: underline;
}
.main-container.default-page .comments-area .comment-respond {
  margin: 40px 0 50px 0;
  width: 100%;
}
.main-container.default-page .comments-area .comment-respond .comment-form label {
  color: #999;
  display: block;
  margin: 0 0 5px;
}
.main-container.default-page .comments-area .comment-respond .comment-form .comment-notes,
.main-container.default-page .comments-area .comment-respond .comment-form .form-allowed-tags {
  color: #999;
  font-size: 12px;
}
.main-container.default-page .comments-area .comment-respond .comment-form .comment-input {
  margin: 0 -10px;
}
.main-container.default-page .comments-area .comment-respond .comment-form .comment-form-author,
.main-container.default-page .comments-area .comment-respond .comment-form .comment-form-email,
.main-container.default-page .comments-area .comment-respond .comment-form .comment-form-url {
  float: left;
  padding: 0 10px;
  width: 33.3333%;
  margin-bottom: 30px;
}
.main-container.default-page .comments-area .comment-respond .comment-form .comment-form-author input,
.main-container.default-page .comments-area .comment-respond .comment-form .comment-form-email input,
.main-container.default-page .comments-area .comment-respond .comment-form .comment-form-url input {
  width: 100%;
}
.main-container.default-page .comments-area .comment-respond .comment-form #comment {
  border: 1px solid #ededed;
  height: 130px;
  width: 100%;
  background: #fff;
}
.main-container.default-page .comments-area .comment-respond .comment-form .form-submit {
  margin-top: 25px;
}
.main-container.default-page .comments-area .comment-form label {
  color: #999;
  display: block;
}
.main-container.default-page .comments-area .comment-form .comment-notes,
.main-container.default-page .comments-area .comment-form .form-allowed-tags {
  color: #999;
  font-size: 12px;
}
.main-container.default-page .comments-area .comment-form .comment-input {
  margin: 0 -10px;
}
.main-container.default-page .comments-area .comment-form .comment-form-author,
.main-container.default-page .comments-area .comment-form .comment-form-email,
.main-container.default-page .comments-area .comment-form .comment-form-url {
  float: left;
  padding: 0 10px;
  width: 33.3333%;
  margin-bottom: 30px;
}
.main-container.default-page .comments-area .comment-form .comment-form-author input,
.main-container.default-page .comments-area .comment-form .comment-form-email input,
.main-container.default-page .comments-area .comment-form .comment-form-url input {
  width: 100%;
}
.main-container.default-page .comments-area .comment-form #comment {
  border: 1px solid #ededed;
  height: 130px;
  width: 100%;
  background: #fff;
}
.main-container.default-page .comments-area .comment-form .logged-in-as a {
  color: #ec5a4a;
}
.main-container.default-page .comments-area .comment-form .logged-in-as a:hover {
  text-decoration: underline;
}
.main-container.default-page .comments-area .form-submit {
  margin-top: 20px;
}
.main-container.default-page .comments-area .logged-in-as a {
  color: #ec5a4a;
}
.main-container.default-page .comments-area .logged-in-as a:hover {
  text-decoration: underline;
}
.main-container.error404 {
  border-top: 1px solid #f0f0f0;
  min-height: 200px;
  text-align: center;
}
.main-container.error404 .search-form-wrapper {
  padding: 112px 0;
}
.main-container.error404 .search-form-wrapper h1 {
  color: #ec5a4a;
  font-size: 200px;
  font-weight: 900;
  letter-spacing: 10px;
  line-height: 1.1;
  margin: 0 0 30px;
}
.main-container.error404 .search-form-wrapper h2 {
  color: #333;
  font-size: 35px;
  text-transform: uppercase;
}
.main-container.error404 .search-form-wrapper p {
  color: #333;
  font-size: 22px;
  font-weight: 300;
  margin: 20px auto 30px;
  text-align: center;
  width: 60%;
}
.main-container.error404 .search-form-wrapper #blogsearchform .form-input {
  margin-left: auto;
  margin-right: auto;
}
.main-container.error404 .search-form-wrapper #blogsearchform .form-input .input_text,
.main-container.error404 .search-form-wrapper #blogsearchform .form-input .button {
  height: 50px;
  line-height: 50px;
}
.main-container.error404 .search-form-wrapper a.button {
  background: #ec5a4a;
  border-radius: 35px;
  box-shadow: none;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  margin-top: 60px;
  padding: 0 30px;
  text-shadow: none;
  text-transform: uppercase;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  white-space: nowrap;
}
.main-container.error404 .search-form-wrapper a.button:hover {
  background: #333;
}
.main-container .entry-content:after {
  clear: both;
  content: '';
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
.main-container .page-links {
  clear: both;
  margin: 15px 0;
}
.main-container .page-links a {
  background: #333;
  border-bottom: 2px solid transparent;
  color: #fff;
  display: inline-block;
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  font-size: 12px;
  height: 36px;
  line-height: 34px;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  width: 36px;
}
.main-container .page-links a:hover {
  background: #ec5a4a;
  color: #fff;
}
.main-container .page-links > span {
  background: #ec5a4a;
  border-bottom: 2px solid transparent;
  color: #fff;
  display: inline-block;
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  font-size: 12px;
  height: 36px;
  line-height: 34px;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  width: 36px;
}
.main-container .blog-page.blog-sidebar .post-thumbnail {
  margin: 0 0 50px;
  width: 100%;
}
.main-container .blog-page.blog-nosidebar article {
  margin: 0 0 40px 0;
  width: 100%;
}
.main-container .blog-page .post,
.main-container .blog-page article {
  background: #fff;
  border: 1px solid #ededed;
  margin: 0 0 60px;
  padding: 45px 30px;
  width: 100%;
}
.main-container .blog-page .post.sticky .entry-title a,
.main-container .blog-page .post.tag-sticky-2 .entry-title a,
.main-container .blog-page article.sticky .entry-title a,
.main-container .blog-page article.tag-sticky-2 .entry-title a {
  color: #ec5a4a;
}
.main-container .blog-page .post.sticky .entry-title a:before,
.main-container .blog-page .post.tag-sticky-2 .entry-title a:before,
.main-container .blog-page article.sticky .entry-title a:before,
.main-container .blog-page article.tag-sticky-2 .entry-title a:before {
  content: '\f005';
  display: inline-block;
  font-family: FontAwesome;
  font-size: 8px;
  margin-right: 5px;
  vertical-align: top;
}
.main-container .blog-page .post:last-of-type,
.main-container .blog-page article:last-of-type {
  margin-bottom: 0;
}
.main-container .blog-page .post .entry-title,
.main-container .blog-page article .entry-title {
  font-size: 27px;
  margin-bottom: 10px;
}
.main-container .blog-page .post .post-thumbnail,
.main-container .blog-page article .post-thumbnail {
  margin: 30px 0;
  position: relative;
  text-align: center;
}
.main-container .blog-page .post .post-thumbnail .su-slider-centered,
.main-container .blog-page article .post-thumbnail .su-slider-centered {
  margin-bottom: 0;
}
.main-container .blog-page .post .post-thumbnail .su-responsive-media-yes,
.main-container .blog-page article .post-thumbnail .su-responsive-media-yes {
  margin-bottom: 0;
}
.main-container .blog-page .post .post-thumbnail .su-slider-slide-title,
.main-container .blog-page article .post-thumbnail .su-slider-slide-title {
  display: none;
}
.main-container .blog-page .post .postinfo-wrapper,
.main-container .blog-page article .postinfo-wrapper {
  padding: 0;
}
.main-container .blog-page .post .postinfo-wrapper.no-thumbnail,
.main-container .blog-page article .postinfo-wrapper.no-thumbnail {
  padding: 0;
  width: 100%;
}
.main-container .blog-page .post .searchform .form-input .input_text,
.main-container .blog-page article .searchform .form-input .input_text {
  height: 40px;
}
.main-container .blog-page .entry-header {
  background: none;
  border: none;
  float: none;
  margin: 0 0 30px;
  position: relative;
  text-align: center;
}
.main-container .blog-page .entry-title {
  font-size: 35px;
  font-weight: 700;
  padding: 0;
  text-transform: none;
  text-transform: uppercase;
}
.main-container .blog-page .entry-title:after {
  display: none;
}
.main-container .blog-page .entry-title a {
  color: #292929;
}
.main-container .blog-page .entry-title a:hover {
  color: #ec5a4a;
}
.main-container .blog-page .su-responsive-media-yes {
  margin-bottom: 0;
}
.main-container .blog-page .player {
  margin-bottom: 20px;
  width: 100%;
}
.main-container .blog-page .su-audio {
  margin: auto;
}
.main-container .blog-page .archive-title {
  font-size: 30px;
  margin: 0 0 10px;
  padding: 0;
}
.main-container .blog-page .entry-summary {
  color: #555555;
  text-align: center;
}
.main-container .blog-page .entry-summary,
.main-container .blog-page .entry-content {
  font-size: 15px;
  margin: 0;
  width: 100%;
}
.main-container .blog-page .post-password-form label {
  float: left;
  height: 40px;
  line-height: 40px;
}
.main-container .blog-page .post-password-form label input {
  border: 1px solid #ededed;
  height: 40px;
  margin-left: 5px;
  padding: 0 10px;
}
.main-container .blog-page .post-password-form input[type='submit'] {
  background: #ec5a4a;
  border: none;
  color: #fff;
  font-weight: 700;
  height: 40px;
  line-height: 40px;
  margin-left: 5px;
  padding: 0 30px;
  text-align: center;
}
.main-container .blog-page .post-password-form input[type='submit']:hover {
  background: #e7301c;
}
.main-container .blog-page blockquote {
  background: #fff;
  border: 1px solid #ededed;
  border-left: 5px solid #ec5a4a;
  font-size: 14px;
  font-style: italic;
  line-height: 26px;
  margin: 40px 0 40px 40px;
  padding: 30px 45px;
}
.main-container .blog-page .post-date {
  color: #8c8c8c;
  display: inline-block;
  font-size: 0.93em;
  vertical-align: middle;
}
.main-container .blog-page .post-date:before {
  content: '\f073';
  display: inline-block;
  font-family: FontAwesome;
  margin-right: 5px;
  vertical-align: top;
}
.main-container .blog-page .post-category {
  color: #ec5a4a;
  display: block;
  font-size: 13px;
  font-weight: normal;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.main-container .blog-page .post-category:before {
  content: '\f07b';
  display: inline-block;
  font-family: FontAwesome;
  margin-right: 5px;
}
.main-container .blog-page .post-category a {
  color: #ec5a4a;
  text-decoration: underline;
}
.main-container .blog-page .post-category a:hover {
  color: #333;
}
.main-container .blog-page .post-separator {
  color: #8c8c8c;
  display: inline-block;
  margin: 0 10px;
  vertical-align: middle;
}
.main-container .blog-page .post-author {
  color: #8c8c8c;
  display: inline-block;
  font-size: 0.93em;
  vertical-align: middle;
}
.main-container .blog-page .post-author:before {
  content: '\f007';
  display: inline-block;
  font-family: FontAwesome;
  margin-right: 5px;
  vertical-align: top;
}
.main-container .blog-page .readmore {
  margin-top: 35px;
}
.main-container .blog-page a.button {
  background: #ec5a4a;
  border: 0;
  color: #fff;
  font-size: 12px;
  height: 40px;
  line-height: 40px;
}
.main-container .blog-page a.button:hover {
  background: #333;
}
.main-container .blog-page .entry-meta {
  border-bottom: 1px solid #ededed;
  border-top: 1px solid #ededed;
  color: #999;
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin: 0 0 30px;
  padding: 5px 0;
  width: 100%;
}
.main-container .blog-page .entry-meta a {
  color: #999;
}
.main-container .blog-page .entry-meta a:hover {
  color: #ec5a4a;
}
.main-container .blog-page .entry-meta {
  margin: 0 0 30px;
}
.main-container .blog-page .social-sharing {
  margin: 40px 0;
  text-align: center;
  width: 100%;
}
.main-container .blog-page .social-sharing .widget_socialsharing_widget {
  display: inline-block;
}
.main-container .blog-page .social-sharing .widget-title {
  background: none;
  color: #8c8c8c;
  font-size: 12px;
  line-height: 26px;
  margin: 0 20px;
  text-transform: uppercase;
  width: auto;
}
.main-container .blog-page .social-sharing .social-icons {
  float: left;
  margin: 10px 0 20px;
  padding: 0;
}
.main-container .blog-page .social-sharing .social-icons li {
  float: left;
  list-style: none;
  position: relative;
}
.main-container .blog-page .social-sharing .social-icons li:first-child {
  border-left: none;
}
.main-container .blog-page .social-sharing .social-icons li .begetip {
  line-height: 1.5;
}
.main-container .blog-page .social-sharing .social-icons li .social-icon {
  background: #f7f7f7;
  border-radius: 100%;
  color: #353535;
  display: inline-block;
  font-size: 12px;
  height: 26px;
  line-height: 26px;
  margin-right: 10px;
  text-align: center;
  width: 26px;
}
.main-container .blog-page .social-sharing .social-icons li .social-icon:hover {
  background: #ec5a4a !important;
  color: #fff;
}
.main-container .blog-page .social-sharing .social-icons li .social-icon i {
  line-height: 26px;
}
.main-container .blog-page .social-comment a.comment {
  color: #ec5a4a;
}
.main-container .blog-page .social-comment a.comment:hover {
  text-decoration: underline;
}
.main-container .blog-page .author-info {
  margin: 0;
  width: 100%;
}
.main-container .blog-page .author-info h2 {
  font-size: 16px;
  margin: 0 0 10px;
  text-transform: uppercase;
}
.main-container .blog-page .author-info .author-avatar {
  float: left;
}
.main-container .blog-page .author-info .author-description {
  color: #999;
  margin-left: 100px;
}
.main-container .blog-page .moretag {
  color: #ec5a4a;
}
.main-container .blog-page .moretag:hover {
  color: #ec5a4a;
}
.main-container .blog-page .navigation .newer {
  float: left;
}
.main-container .blog-page .navigation .newer a:before {
  content: '\f177';
  display: inline-block;
  font-family: FontAwesome;
  font-size: 12px;
  margin-right: 5px;
}
.main-container .blog-page .navigation .older {
  float: right;
}
.main-container .blog-page .navigation .older a:after {
  content: '\f178';
  display: inline-block;
  font-family: FontAwesome;
  font-size: 12px;
  margin-left: 5px;
}
.main-container .blog-page .pagination {
  margin-bottom: 35px;
  padding-top: 20px;
  text-align: right;
  width: 100%;
}
.main-container .blog-page .pagination a,
.main-container .blog-page .pagination span {
  background: #fff;
  color: #333;
  display: inline-block;
  font-size: 15px;
  font-weight: normal;
  height: 42px;
  line-height: 42px;
  margin-right: 5px;
  min-width: 0;
  padding: 0 8px;
  text-align: center;
  vertical-align: middle;
  width: 42px;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
.main-container .blog-page .pagination a:last-child,
.main-container .blog-page .pagination span:last-child {
  margin-right: 0;
}
.main-container .blog-page .pagination a.next,
.main-container .blog-page .pagination a.prev,
.main-container .blog-page .pagination span.next,
.main-container .blog-page .pagination span.prev {
  font-size: 0;
}
.main-container .blog-page .pagination a.next:before,
.main-container .blog-page .pagination a.prev:before,
.main-container .blog-page .pagination span.next:before,
.main-container .blog-page .pagination span.prev:before {
  display: block;
  font-size: 15px;
}
.main-container .blog-page .pagination a.prev:before,
.main-container .blog-page .pagination span.prev:before {
  content: '<<';
}
.main-container .blog-page .pagination a.next:before,
.main-container .blog-page .pagination span.next:before {
  content: '>>';
}
.main-container .blog-page .pagination span.current,
.main-container .blog-page .pagination a:hover {
  background: #ec5a4a;
  color: #fff;
}
.main-container .blog-page .comments-area {
  clear: both;
  margin: 60px 0;
  width: 100%;
}
.main-container .blog-page .comments-area .comments-title,
.main-container .blog-page .comments-area .comment-reply-title {
  font-size: 24px;
  margin: 0 0 10px;
  text-transform: uppercase;
}
.main-container .blog-page .comments-area .commentlist {
  padding: 0;
}
.main-container .blog-page .comments-area .commentlist li {
  list-style: none;
}
.main-container .blog-page .comments-area .commentlist li article.comment {
  background: #fff;
  border: 1px solid #ededed;
  margin: 0 0 20px;
  padding: 30px;
  width: 100%;
}
.main-container .blog-page .comments-area .commentlist li article.comment .comment-avatar {
  float: left;
  margin-right: 20px;
}
.main-container .blog-page .comments-area .commentlist li article.comment .comment-info {
  border: none;
  overflow: hidden;
  position: relative;
}
.main-container .blog-page .comments-area .commentlist li article.comment .comment-info .reply {
  display: inline-block;
  float: right;
  position: absolute;
  right: 0;
  top: 0;
}
.main-container .blog-page .comments-area .commentlist li article.comment .comment-info .reply a {
  background: none;
  border: 1px solid #ec5a4a;
  box-shadow: none;
  color: #ec5a4a;
  display: inline-block;
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  font-size: .8em;
  font-weight: bold;
  height: 28px;
  line-height: 26px;
  padding: 0 20px;
  text-shadow: none;
  text-transform: uppercase;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  white-space: nowrap;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}
.main-container .blog-page .comments-area .commentlist li article.comment .comment-info .reply a:hover {
  background: #ec5a4a;
  border-color: #ec5a4a;
  color: #fff;
}
.main-container .blog-page .comments-area .commentlist .comment-meta {
  color: #999;
  margin: 0 0 15px;
  width: 100%;
}
.main-container .blog-page .comments-area .commentlist .comment-meta img {
  margin-right: 10px;
}
.main-container .blog-page .comments-area .commentlist .comment-meta cite {
  display: block;
}
.main-container .blog-page .comments-area .commentlist .comment-meta cite .fn a {
  color: #333;
}
.main-container .blog-page .comments-area .commentlist .comment-meta cite .fn a:hover {
  color: #ec5a4a;
}
.main-container .blog-page .comments-area .commentlist .comment-meta cite span {
  display: none;
}
.main-container .blog-page .comments-area .commentlist .comment-meta time {
  display: block;
  font-size: .93em;
  font-style: italic;
}
.main-container .blog-page .comments-area .commentlist .comment-content {
  color: #999;
}
.main-container .blog-page .comments-area .commentlist .comment-content ul li,
.main-container .blog-page .comments-area .commentlist .comment-content ol li {
  list-style-type: inherit;
}
.main-container .blog-page .comments-area .commentlist .comment-content p:last-child {
  margin-bottom: 0;
}
.main-container .blog-page .comments-area .commentlist .comment-content .edit-link a {
  color: #ec5a4a;
}
.main-container .blog-page .comments-area .commentlist .comment-content .edit-link a:hover {
  text-decoration: underline;
}
.main-container .blog-page .comments-area .comment-respond {
  margin: 40px 0 50px 0;
  width: 100%;
}
.main-container .blog-page .comments-area .comment-respond .comment-form label {
  color: #999;
  display: block;
  margin: 0 0 5px;
}
.main-container .blog-page .comments-area .comment-respond .comment-form .comment-notes,
.main-container .blog-page .comments-area .comment-respond .comment-form .form-allowed-tags {
  color: #999;
  font-size: 12px;
}
.main-container .blog-page .comments-area .comment-respond .comment-form .comment-input {
  margin: 0 -10px;
}
.main-container .blog-page .comments-area .comment-respond .comment-form .comment-form-author,
.main-container .blog-page .comments-area .comment-respond .comment-form .comment-form-email,
.main-container .blog-page .comments-area .comment-respond .comment-form .comment-form-url {
  float: left;
  padding: 0 10px;
  width: 33.3333%;
  margin-bottom: 30px;
}
.main-container .blog-page .comments-area .comment-respond .comment-form .comment-form-author input,
.main-container .blog-page .comments-area .comment-respond .comment-form .comment-form-email input,
.main-container .blog-page .comments-area .comment-respond .comment-form .comment-form-url input {
  width: 100%;
}
.main-container .blog-page .comments-area .comment-respond .comment-form #comment {
  border: 1px solid #ededed;
  height: 130px;
  width: 100%;
  background: #fff;
}
.main-container .blog-page .comments-area .comment-respond .comment-form .form-submit {
  margin-top: 25px;
}
.main-container .blog-page .comments-area .comment-form label {
  color: #999;
  display: block;
}
.main-container .blog-page .comments-area .comment-form .comment-notes,
.main-container .blog-page .comments-area .comment-form .form-allowed-tags {
  color: #999;
  font-size: 12px;
}
.main-container .blog-page .comments-area .comment-form .comment-input {
  margin: 0 -10px;
}
.main-container .blog-page .comments-area .comment-form .comment-form-author,
.main-container .blog-page .comments-area .comment-form .comment-form-email,
.main-container .blog-page .comments-area .comment-form .comment-form-url {
  float: left;
  padding: 0 10px;
  width: 33.3333%;
  margin-bottom: 30px;
}
.main-container .blog-page .comments-area .comment-form .comment-form-author input,
.main-container .blog-page .comments-area .comment-form .comment-form-email input,
.main-container .blog-page .comments-area .comment-form .comment-form-url input {
  width: 100%;
}
.main-container .blog-page .comments-area .comment-form #comment {
  border: 1px solid #ededed;
  height: 130px;
  width: 100%;
  background: #fff;
}
.main-container .blog-page .comments-area .comment-form .logged-in-as a {
  color: #ec5a4a;
}
.main-container .blog-page .comments-area .comment-form .logged-in-as a:hover {
  text-decoration: underline;
}
.main-container .blog-page .comments-area .form-submit {
  margin-top: 20px;
}
.main-container .blog-page .nav-single {
  border-bottom: 1px solid #ededed;
  border-top: 1px solid #ededed;
  float: left;
  font-size: 13px;
  padding: 10px 0;
  width: 100%;
}
.main-container .blog-page .nav-single a {
  color: #999;
}
.main-container .blog-page .nav-single a:hover {
  color: #ec5a4a;
}
.main-container .blog-page .nav-single .nav-previous {
  float: left;
}
.main-container .blog-page .nav-single .nav-next {
  float: right;
}
.main-container .blog-page .btn,
.main-container .blog-page .btn-primary,
.main-container .blog-page #searchsubmit,
.main-container .blog-page #wsearchsubmit {
  background: #ec5a4a;
  border: none;
  border-radius: 2px;
  box-shadow: none;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  height: 26px;
  line-height: 26px;
  padding: 0 10px;
  text-shadow: none;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
.main-container .blog-page .btn:hover,
.main-container .blog-page .btn-primary:hover,
.main-container .blog-page #searchsubmit:hover,
.main-container .blog-page #wsearchsubmit:hover {
  background: #999;
}
.main-container .blog-page .archive-header {
  margin-bottom: 30px;
}
.main-container .blog-page .archive-header span {
  text-transform: uppercase;
}
.main-container .blog-page .author-info.archives {
  margin: 0 0 60px;
}
.main-container .blog-page .author-info.archives .author-avatar {
  margin-right: 0;
}
.main-container .blog-page .author-info.archives .author-description {
  margin-left: 82px;
}
.main-container .blog-page .author-info.archives .author-description h2 {
  border-bottom: 1px solid #ededed;
  margin: 0 0 10px;
}
.main-container .blog-page .attachment .navigation {
  border-bottom: 1px solid #ededed;
  border-top: 1px solid #ededed;
  margin: 0 0 25px;
  padding: 5px 0;
}
.main-container .blog-page.single .author-info {
  border-bottom: 1px solid #ededed;
  margin-bottom: 40px;
  padding-bottom: 40px;
}
.main-container .blog-page.single .relatedposts {
  font-size: 12px;
  margin: 40px 0 0 0;
  width: 100%;
}
.main-container .blog-page.single .relatedposts h3 {
  display: inline-block;
  font-size: 20px;
  margin: 0 0 25px;
  position: relative;
  text-transform: uppercase;
}
.main-container .blog-page.single .social-sharing,
.main-container .blog-page.single .entry-content {
  margin-bottom: 0;
}
.main-container .blog-page.single .relatedthumb {
  float: left;
  margin-bottom: 35px;
  text-align: left;
}
.main-container .blog-page.single .relatedthumb .image {
  margin-bottom: 15px;
}
.main-container .blog-page.single .relatedthumb .post-date {
  font-style: italic;
}
.main-container .blog-page.single .relatedthumb .short-description {
  color: #727272;
  font-size: 13px;
  margin-bottom: 15px;
}
.main-container .blog-page.single .relatedthumb h4 {
  font-size: 14px;
  margin: 0;
  text-transform: uppercase;
}
.main-container .blog-page.single .relatedthumb h4 a {
  color: #292929;
}
.main-container .blog-page.single .relatedthumb h4 a:hover {
  color: #ec5a4a;
}
.main-container .blog-page.single .relatedthumb img {
  padding: 0;
  width: 100%;
}
.main-container .blog-page.single .relatedthumb a {
  display: inline-block;
  text-decoration: none;
}
.main-container .blog-page.single .post .player {
  float: right;
  max-width: none;
  padding: 0;
}
.main-container .blog-page.single .post-thumbnail {
  width: 100%;
}
.main-container .blog-page.single .post-thumbnail .post-date {
  left: 10px;
  right: auto;
}
.main-container .blog-page.single .postinfo-wrapper {
  padding: 0;
  width: 100%;
}
.main-container .blog-page.single .postinfo-wrapper .entry-header {
  margin: 30px 0 20px;
  padding-top: 0;
}
.main-container .blog-page.single .postinfo-wrapper .entry-header:after {
  background: #e9e9e9;
  content: '';
  display: block;
  height: 1px;
  margin-top: 15px;
  width: 60px;
}
.main-container .blog-page.single .postinfo-wrapper .entry-header .entry-title {
  color: #292929;
  margin-top: 15px;
}
.main-container .blog-page.single .postinfo-wrapper .entry-header .entry-title:after {
  max-width: 180px;
}
.main-container .blog-page.single .postinfo-wrapper .entry-header .post-category,
.main-container .blog-page.single .postinfo-wrapper .entry-header .post-author {
  display: inline-block;
}
.main-container .blog-page.single .postinfo-wrapper .entry-header .post-category:after,
.main-container .blog-page.single .postinfo-wrapper .entry-header .post-author:after {
  display: none;
}
.main-container .blog-page.single .postinfo-wrapper .entry-header .post-separator {
  color: #999;
  display: inline-block;
  margin: 0 25px;
}
.main-container .blog-page.single a[rel='tag'],
.main-container .blog-page.single .comment-link {
  font-weight: 600;
  color: #ec5a4a;
}
.main-container .blog-page.single a[rel='tag']:hover,
.main-container .blog-page.single .comment-link:hover {
  text-decoration: underline;
}
.main-container .blog-page.single .entry-meta {
  font-size: 13px;
  padding: 15px 0;
  text-transform: uppercase;
}
.main-container .blog-page.single .entry-meta a {
  font-size: 13px;
  text-transform: uppercase;
}
.main-container .blog-page.single .comments-area {
  float: right;
  max-width: none;
  padding: 0;
}
.main-container.about-page .bege-intro h2 {
  margin-bottom: 20px;
}
.main-container.about-page .title-breadcrumb {
  margin: 0;
}
.main-container.about-page .page-content {
  padding: 0;
}
.main-container.about-page img {
  margin: 0;
}
.main-container.about-page .corporate-counter {
  text-align: center;
}
.main-container.about-page .corporate-counter .counter-image {
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;
}
.main-container.about-page .corporate-counter .counter-info {
  color: #333;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.main-container.about-page .corporate-counter .counter-info .counter-number {
  font-size: 30px;
  font-weight: bold;
}
.main-container.about-page .corporate-counter .counter-info .counter-text {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
.main-container.about-page .our-works ul li {
  padding-left: 60px;
}
.main-container.about-page .our-works ul li i {
  background: #ec5a4a;
  border: 3px solid #f3998f;
  border-radius: 84px;
  color: #fff;
  display: inline-block;
  float: left;
  font-family: Ubuntu;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  height: 48px;
  left: 0;
  line-height: 42px;
  margin-right: 15px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 48px;
}
.main-container.about-page .our-works ul li strong {
  display: block;
}
.main-container.about-page .about-intro {
  color: #555555;
  font-size: 15px;
}
.main-container.about-page .about-intro h2 {
  font-weight: 900;
  margin-bottom: 40px;
  text-transform: uppercase;
}
.main-container.about-page .about-intro h2 strong {
  font-weight: 900;
}
.main-container.about-page .about-intro p {
  margin-bottom: 15px;
}
.main-container.about-page .about-intro a.button {
  background: none;
  border: 1px solid #333;
  border-width: 1px;
  color: #555555;
  height: 40px;
  line-height: 40px;
  margin-top: 26px;
}
.main-container.about-page .about-intro a.button:hover {
  background: #ec5a4a;
  border-color: #ec5a4a;
  color: #fff;
}
.main-container.about-page .about-skill .vc_progress_bar .vc_single_bar {
  margin-bottom: 35px;
}
.main-container.about-page .about-skill .vc_progress_bar .vc_single_bar:last-child {
  margin-bottom: 0;
}
.main-container.about-page .about-skill .vc_progress_bar .vc_single_bar .vc_label {
  padding: 0 0 0 10px;
  text-transform: uppercase;
}
.main-container.about-page .vc_column_container .wpb_wrapper h3 {
  border: none;
  font-size: 21px;
  margin: 0 0 10px;
}
.main-container.about-page .vc_column_container .wpb_wrapper .wpb_heading,
.main-container.about-page .vc_column_container .wpb_wrapper h4 {
  font-size: 16px;
  margin: 0 0 25px;
  padding: 0 0 5px;
}
.main-container.about-page .vc_column_container .vc_progress_bar .vc_single_bar {
  box-shadow: none;
  margin: 0 0 40px;
}
.main-container.about-page .vc_column_container .vc_progress_bar .vc_single_bar .vc_label {
  color: #000;
  font-size: 12px;
  height: 15px;
  line-height: 15px;
  padding-bottom: 0;
  padding-left: 40px;
  padding-top: 0;
}
.main-container.about-page .vc_column_container .vc_progress_bar .vc_single_bar .vc_label .vc_label_units {
  background: #3e3e3e;
  border: 3px solid #a0a0a0;
  border-radius: 100%;
  color: #fff;
  display: block;
  font-size: 11px;
  font-weight: 700;
  height: 40px;
  left: -10px;
  line-height: 35px;
  position: absolute;
  text-align: center;
  text-shadow: none;
  top: -10px;
  width: 40px;
}
.main-container.about-page .vc_column_container ul {
  padding: 0;
}
.main-container.about-page .vc_column_container ul li {
  list-style: none;
  padding-left: 0;
  position: relative;
}
.main-container.about-page h3 {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 14px;
}
.main-container.about-page h3 strong {
  font-weight: normal;
}
.main-container.about-page .about-us-text h3 {
  margin-bottom: 24px;
}
.main-container.about-page .about-us-text p {
  margin-bottom: 30px;
}
.main-container.about-page .about-us-text ul {
  padding: 0;
}
.main-container.about-page .about-us-text ul li {
  list-style: none;
  margin: 5px 0;
}
.main-container.about-page .about-us-text ul li > i {
  font-size: 0;
}
.main-container.about-page .about-us-text ul li > i:before {
  color: #ec5a4a;
  font-size: 15px;
  margin-right: 10px;
}
.main-container.about-page .counter .counter-box {
  float: left;
  text-align: center;
  width: 20%;
}
.main-container.about-page .counter .counter-image {
  margin-bottom: 17px;
}
.main-container.about-page .counter .counter-number {
  color: #333;
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  font-size: 40px;
  margin-bottom: 15px;
}
.main-container.about-page .counter .counter-text {
  color: #333;
  font-size: 15px;
  text-transform: uppercase;
}
.main-container.contact-page .page-content {
  padding: 0;
}
.main-container.contact-page .contact-form .wpb_content_element h2,
.main-container.contact-page .contact-info .wpb_content_element h2 {
  font-size: 30px;
  font-weight: 900;
}
.main-container.contact-page .contact-input {
  display: block;
  margin: 0 -10px;
}
.main-container.contact-page .contact-input:after {
  clear: both;
  content: '';
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
.main-container.contact-page .contact-input span {
  float: left;
  margin: 0 0 20px;
  padding: 0 10px;
  width: 50%;
}
.main-container.contact-page .contact-input span.wpcf7-not-valid-tip {
  margin: 0;
}
.main-container.contact-page .contact-input span span {
  width: 100%;
}
.main-container.contact-page .contact-input span input,
.main-container.contact-page .contact-input span .wpcf7-text {
  background: #f2f2f2;
  border: none;
  border-radius: 0;
  height: 46px;
  padding-left: 15px;
  width: 100%;
}
.main-container.contact-page .contact-message {
  float: left;
  margin: 0 0 20px;
  width: 100%;
}
.main-container.contact-page .contact-message span {
  float: left;
  width: 100%;
}
.main-container.contact-page .contact-message textarea,
.main-container.contact-page .contact-message .wpcf7-textarea {
  border: 1px solid #ededed;
  border-radius: 0;
  height: 135px;
  padding: 15px;
  width: 100%;
}
.main-container.contact-page .address ul {
  max-width: 380px;
  padding: 0;
}
.main-container.contact-page .address ul li {
  border-top: 1px solid #e4e4e4;
  list-style: none;
  padding: 10px 0;
}
.main-container.contact-page .address ul li i {
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 40px;
}
.main-container.contact-page .box-contact-1 {
  text-align: center;
}
.main-container.contact-page .box-contact-1 .widget_text .widgettitle {
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
}
.main-container.contact-page .box-contact-2 {
  text-align: center;
}
.main-container.contact-page .box-contact-2 .vc_icon_element > div.vc_icon_element-inner {
  border: 0;
  border-radius: 100%;
  box-shadow: 0 0 0 3px #333;
  color: #fff;
  height: 95px !important;
  line-height: 95px !important;
  text-align: center;
  -webkit-transition: color .3s;
  -moz-transition: color .3s;
  transition: color .3s;
  width: 95px !important;
}
.main-container.contact-page .box-contact-2 .vc_icon_element > div.vc_icon_element-inner:hover {
  background: #ec5a4a !important;
  box-shadow: 0 0 0 3px #ec5a4a;
}
.main-container.contact-page .box-contact-2 .vc_icon_element > div.vc_icon_element-inner:hover span,
.main-container.contact-page .box-contact-2 .vc_icon_element > div.vc_icon_element-inner:hover a {
  color: #fff !important;
}
.main-container.contact-page .box-contact-3 .contact-input span input {
  background: #e7e7e7;
}
.main-container.contact-page .box-contact-3 .contact-message .wpcf7-textarea {
  background: #e7e7e7;
}
.main-container.contact-page .box-contact-3 .contact-submit {
  display: inline-block;
  text-align: center;
  width: 100%;
}
.main-container.contact-page .box-contact-3 .button.wpcf7-submit {
  height: 55px;
  line-height: 55px;
  padding: 0 30px;
}
.main-container.contact-page .box-contact-4 {
  text-align: center;
}
.main-container.contact-page .box-contact-4 .vc_icon_element > div {
  background: rgba(120,120,120,0.61);
  border: 0;
  color: #fff;
  height: 95px !important;
  line-height: 95px !important;
  text-align: center;
  -webkit-transition: color .3s;
  -webkit-transition: -webkit-transform .2s, opacity .2s;
  -moz-transition: color .3s;
  -moz-transition: -moz-transform .2s, opacity .2s;
  transition: color .3s;
  transition: transform .2s, opacity .2s;
  transition: background .2s, color .2s;
  width: 95px !important;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.main-container.contact-page .box-contact-4 .vc_icon_element > div:after {
  border: 2px solid transparent;
  border-radius: 50%;
  bottom: 4px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  content: '';
  left: 4px;
  pointer-events: none;
  position: absolute;
  right: 4px;
  top: 4px;
  -webkit-transition: -webkit-transform .2s, opacity .2s;
  -moz-transition: -moz-transform .2s, opacity .2s;
  transition: transform .2s, opacity .2s;
  z-index: 2;
}
.main-container.contact-page .box-contact-4 .vc_icon_element > div:hover:after {
  border-color: #fff;
}
.main-container.contact-page .box-contact-4 .vc_icon_element > div:hover span.fa-facebook {
  background: #3b5998;
}
.main-container.contact-page .box-contact-4 .vc_icon_element > div:hover span.fa-twitter {
  background: #1da1f2;
}
.main-container.contact-page .box-contact-4 .vc_icon_element > div:hover span.fa-google-plus {
  background: #dd4b39;
}
.main-container.contact-page .box-contact-4 .vc_icon_element > div:hover span.fa-pinterest {
  background: #bd081c;
}
.main-container.contact-page .box-contact-4 .vc_icon_element > div:hover span.fa-instagram {
  background: #833ab4;
}
.main-container.contact-page .box-contact-4 .vc_icon_element > div:hover span.fa-skype {
  background: #00aff0;
}
.main-container.contact-page .box-contact-4 .vc_icon_element > div span,
.main-container.contact-page .box-contact-4 .vc_icon_element > div a {
  color: #fff !important;
  z-index: 1;
}
.main-container.contact-page .box-contact-4 .vc_icon_element > div span {
  height: 100%;
  line-height: 91px !important;
  width: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.main-container.service-page .page-content {
  padding: 0;
}
.main-container.service-page .box-services .wpb_column:hover .wpb_text_column .box-content {
  opacity: 1;
  visibility: visible;
}
.main-container.service-page .box-services .wpb_content_element {
  margin-bottom: 0;
}
.main-container.service-page .box-services .vc_column-inner {
  padding: 0;
}
.main-container.service-page .box-services .vc_column-inner .wpb_single_image {
  margin-bottom: 0;
}
.main-container.service-page .box-services .vc_column-inner > .wpb_wrapper {
  overflow: hidden;
  position: relative;
}
.main-container.service-page .box-services .vc_column-inner > .wpb_wrapper .box-content {
  background: #fff;
  bottom: 0;
  left: 0;
  opacity: 0;
  padding: 40px;
  padding-top: 80px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  visibility: hidden;
}
.main-container.service-page .box-services .vc_column-inner > .wpb_wrapper .box-content i {
  background: #333;
  border-radius: 100%;
  color: #fff;
  display: inline-block;
  font-size: 40px;
  height: 115px;
  line-height: 115px;
  text-align: center;
  width: 115px;
}
.main-container.service-page .box-services .vc_column-inner > .wpb_wrapper .box-content i:before {
  margin-left: 10px;
}
.main-container.service-page .our-services {
  color: #fff;
}
.main-container.service-page .service-intro .wpb_single_image * {
  width: 100%;
}
.main-container.service-page .corporate-price-table .ts-price-table {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px #fff inset, 0 1px 3px rgba(34,25,25,0.4);
  text-align: center;
}
.main-container.service-page .corporate-price-table .ts-price-table header {
  background: #3e3e3e;
  padding: 20px;
}
.main-container.service-page .corporate-price-table .ts-price-table header h3,
.main-container.service-page .corporate-price-table .ts-price-table header h4 {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.main-container.service-page .corporate-price-table .ts-price-table .table-description {
  padding: 0 20px 40px 20px;
}
.main-container.service-page .corporate-price-table .ts-price-table .table-description .table-price {
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  font-size: 48px;
  font-weight: bold;
  margin: 0;
  padding: 50px 0;
  text-transform: uppercase;
}
.main-container.service-page .corporate-price-table .ts-price-table .table-description .table-price .desc-price {
  font-size: 12px;
}
.main-container.service-page .corporate-price-table .ts-price-table .table-description ul li {
  border-bottom: 1px solid #ededed;
  list-style: none;
  padding: 15px 0;
}
.main-container.service-page .corporate-price-table .ts-price-table .table-description ul li:first-child {
  border-top: 1px solid #ededed;
}
.main-container.service-page .corporate-price-table .ts-price-table .table-description a.button {
  margin: 40px 0 0;
}
.main-container.service-page .corporate-price-table .ts-price-table:hover header {
  background: #ec5a4a;
}
