@-moz-keyframes rotate {
  0% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
@keyframes countdowntiming {
  0% {
    bottom: -50px;
    position: relative;
    filter: alpha(opacity=0);
    opacity: 0;
  }
  100% {
    bottom: 0;
    position: relative;
    filter: alpha(opacity=100);
    opacity: 1;
  }
}
.visible-large {
  display: block;
}
.visible-small {
  display: none;
}
@media screen and (min-width: 1800px) {
  .large-container .container {
    width: 1800px;
  }
  .large-container .row-container {
    max-width: 1800px;
  }
}
@media screen and (min-width: 1500px) {
  .slider-wrapper.layout1 .slider {
    width: 61.33%;
  }
  .slider-wrapper.layout1 .slider-banner {
    width: 22%;
  }
  .slider-wrapper.layout1 .slider-hidden {
    width: 16.67%;
  }
  .header-container .menu-wrapper {
    width: 83.33%;
  }
  .header-container .category-wrapper {
    width: 16.67%;
  }
  .banner.layout1 .banner-1 {
    width: 39%;
  }
  .banner.layout1 .banner-2 {
    width: 61%;
  }
  .banner.layout1 .vc_row {
    margin-bottom: 0;
  }
  .hometab-testimonials .hometab {
    width: 77.5%;
  }
  .hometab-testimonials .testimonials-container.layout1 {
    width: 22.5%;
  }
  .sidebar.layout2 {
    width: 16.67%;
  }
  .main-column.layout2 {
    width: 83.33%;
  }
  .slider-wrapper.layout3 .slider {
    width: 66.33%;
  }
  .slider-wrapper.layout3 .products-carousel-1.layout3 {
    width: 17%;
  }
  .slider-wrapper.layout3 .slider-hidden {
    width: 16.67%;
  }
  .sidebar-shop {
    width: 16.66666667%;
  }
  #archive-product {
    width: 83.33333333%;
  }
  .single-product-wrapper > .row > .col-md-7 {
    width: 41.66666667%;
  }
  .single-product-wrapper > .row > .col-md-5 {
    width: 58.33333333%;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1500px) {
  .slider-banner.layout1 {
    display: none;
  }
  .categories-menu-wrapper .categories-menu .categories > .menu_holder .menu_inner > ul > li > a.item_link {
    height: 43px !important;
    line-height: 43px;
  }
  .categories-menu-wrapper .categories-menu .morelesscate span {
    height: 45px;
    line-height: 45px;
  }
  .header-3 .categories-menu-wrapper .categories-menu .categories > .menu_holder .menu_inner > ul > li > a.item_link {
    height: 39px !important;
    line-height: 39px;
  }
  .header-3 .categories-menu-wrapper .categories-menu .morelesscate span {
    height: 42px;
    line-height: 42px;
  }
  .banner.layout1 .banner-1 {
    width: 39.5%;
  }
  .banner.layout1 .banner-2 {
    width: 60.5%;
  }
  .banner.layout1 .vc_row {
    margin-bottom: 0;
  }
  .testimonials-container.layout1 .testimonials .slick-slide {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1800px) {
  .large-container .row-container {
    width: 95%;
    max-width: 95%;
  }
  .large-container .container {
    width: 95%;
    max-width: 95%;
  }
  .hometab .vc_tta-tabs-container {
    width: 25%;
  }
  .hometab .vc_tta-panels-container {
    width: 75%;
  }
  .footer .mc4wp-form input[type='email'] {
    width: 250px;
  }
}
@media screen and (max-width: 1500px) {
  .slider-banner.layout1 .wpb_single_image {
    float: left;
    width: 50%;
  }
  .shop-products .listview .list-col8 .actions-wrapper {
    padding: 0 15px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1500px) {
  .products-countdown.layout1 .shop-products .listview .count-down .count-down-inner {
    padding: 13px 30px;
  }
  .footer .social-icons li {
    margin: 0 5px 0 0;
  }
  .footer .social-icons li:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 992px) and (max-width: 1500px) {
  .products-list .listview .product-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
@media screen and (min-width: 1200px) {
  #archive-product .shop-products .listview .list-col4 {
    width: 20%;
  }
  #archive-product .shop-products .listview .list-col8 {
    width: 80%;
  }
}
@media screen and (max-width: 1199px) {
  .wrapper {
    overflow-x: hidden;
  }
  .wrapper .row-container {
    width: 970px;
  }
  .header-container .header-default h1.logo {
    text-align: center;
    margin-bottom: 35px;
  }
  .header-container .header-default .horizontal-menu .primary-menu-container {
    text-align: center;
  }
  .header-container .logo {
    text-align: center !important;
    margin-bottom: 35px;
  }
  .header-container .header-middle-right {
    margin-top: 35px;
  }
  .header-container .header-middle-right > .vc_column-inner > .wpb_wrapper {
    float: none;
    text-align: center;
  }
  .header-container .header-middle-right > .vc_column-inner > .wpb_wrapper > div {
    float: none;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }
  .header-container.header-1 .mobile-menu {
    background: #f18478;
  }
  .header-container.header-2 .horizontal-menu {
    text-align: center;
  }
  .header-container.header-2 .topbar-nav {
    text-align: center;
  }
  .header-container.header-2 .topbar-nav > .vc_column-inner > .wpb_wrapper {
    float: none;
    display: inline-block;
    text-align: left;
  }
  .footer .mc4wp-form input[type='email'] {
    width: 250px;
  }
  .footer .social-icons {
    float: none;
    margin: 50px 0 0;
    text-align: center;
  }
  .footer .newsletter-wrapper .wpb_text_column:last-child {
    float: right;
  }
  .footer .footer-copyright {
    text-align: center;
  }
  .footer .footer-copyright .wpb_single_image {
    text-align: center;
    margin-top: 15px;
  }
  .hometab .vc_tta-tabs-container {
    width: 25%;
  }
  .hometab .vc_tta-panels-container {
    width: 75%;
  }
  .policy.layout1 .vc_row,
  .policy.layout3 .vc_row {
    width: 33.33%;
    margin-bottom: 35px;
  }
  .category-container.layout2 .categories-menu {
    height: auto !important;
  }
  .toolbar .entry-header {
    float: none;
    width: 100%;
    margin: 0 0 30px 0;
  }
  .toolbar .toolbar-inner {
    float: none;
    width: 100%;
    margin-bottom: 20px;
  }
  .toolbar .woocommerce-ordering {
    float: left;
    margin: 0;
  }
  .shop-products .listview .list-col8 .product-info {
    width: 100%;
    float: none;
    padding: 0;
  }
  .shop-products .listview .list-col8 .actions-wrapper {
    float: none;
    width: 100%;
    padding: 0;
    margin-top: 30px;
    border: none;
  }
}
@media screen and (max-width: 991px) {
  .wrapper .row-container {
    width: 750px;
  }
  .yith_magnifier_mousetrap {
    display: none;
  }
  .visible-large {
    display: none;
  }
  .visible-small {
    display: block;
  }
  .mobile-menu {
    background: #f18478;
    height: 60px;
    margin: 0;
    position: relative;
  }
  .mobile-menu .mbmenu-toggler {
    color: #fff;
    cursor: pointer;
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 60px;
    line-height: 60px;
    padding: 0 12px;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
  }
  .mobile-menu .mbmenu-toggler span.mbmenu-icon {
    display: block;
    float: right;
    margin-left: 5px;
    width: 22px;
  }
  .mobile-menu .mobile-menu-container {
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.6);
    float: left;
    height: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    padding: 0 12px;
    position: absolute;
    top: 60px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    z-index: 99;
  }
  .mobile-menu .mobile-menu-container.open {
    display: block;
  }
  .mobile-menu .mobile-menu-container ul.nav-menu {
    float: left;
    margin: 5px 0;
    padding: 0;
    text-align: left;
    width: 100%;
  }
  .mobile-menu .mobile-menu-container ul.nav-menu > li {
    float: left;
    list-style: none;
    margin: 0;
    position: relative;
    width: 100%;
  }
  .mobile-menu .mobile-menu-container ul.nav-menu > li > a {
    border-top: 1px solid #ededed;
    color: #999;
    display: block;
    float: left;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    width: 100%;
  }
  .mobile-menu .mobile-menu-container ul.nav-menu > li > a:hover {
    color: #ec5a4a;
  }
  .mobile-menu .mobile-menu-container ul.nav-menu > li:first-child a {
    border-top: none;
  }
  .mobile-menu .mobile-menu-container ul.nav-menu > li .fa {
    color: #999;
    cursor: pointer;
    float: right;
    height: 40px;
    line-height: 40px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 40px;
    z-index: 2;
  }
  .mobile-menu .mobile-menu-container ul.nav-menu > li .fa:hover {
    color: #ec5a4a;
  }
  .mobile-menu .mobile-menu-container ul.nav-menu > li > ul.sub-menu > li > a {
    color: #999;
  }
  .mobile-menu .mobile-menu-container ul.nav-menu > li > ul.sub-menu > li > a:hover {
    color: #ec5a4a;
  }
  .mobile-menu .mobile-menu-container ul.nav-menu > li ul.sub-menu {
    float: left;
    margin: 0;
    padding: 0 0 0 10px;
    width: 100%;
  }
  .mobile-menu .mobile-menu-container ul.nav-menu > li ul.sub-menu li {
    float: left;
    list-style: none;
    margin: 0;
    position: relative;
    width: 100%;
  }
  .mobile-menu .mobile-menu-container ul.nav-menu > li ul.sub-menu li a {
    border-top: 1px solid #ddd;
    color: #999;
    display: block;
    float: left;
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    height: 40px;
    line-height: 40px;
    width: 100%;
  }
  .main-container {
    max-width: 100%;
    overflow: hidden;
  }
  .header-container .header-sticky {
    display: none !important;
  }
  #secondary .sidebar-border.left {
    border-right: none;
    padding-right: 0;
  }
  #secondary .sidebar-border.right {
    border-left: none;
    padding-left: 0;
  }
  .main-container.error404 .search-form-wrapper {
    padding: 80px 0;
  }
  .main-container.error404 .search-form-wrapper h1 {
    font-size: 100px;
    line-height: 100px;
  }
  .main-container.error404 .search-form-wrapper h2 {
    font-size: 20px;
  }
  .main-container.error404 .search-form-wrapper p {
    font-size: 16px;
  }
  .main-container.error404 .search-form-wrapper .form-input {
    width: 300px;
  }
  .main-container.error404 .search-form-wrapper a.button {
    margin-top: 40px;
  }
  .header-container.header-3 .main-menu-wrapper {
    margin-top: 20px;
  }
  .footer .footer-policy .row-container {
    display: block;
  }
  .footer .footer-policy .row-container .wpb_column:nth-child(3) {
    border-left: 1px solid #ededed;
  }
  .footer .footer-main .wpb_column.vc_col-sm-6:nth-child(2n+1) {
    clear: both;
  }
  .footer .newsletter-wrapper {
    text-align: center;
  }
  .footer .newsletter-wrapper .newsletter-text {
    margin: 0 0 35px;
  }
  .footer .newsletter-wrapper .wpb_text_column:last-child {
    float: none;
  }
  .footer .newsletter-wrapper .mc4wp-form input[type='email'] {
    width: 360px;
  }
  .footer.footer-4 .newsletter-wrapper .newsletter-text {
    float: none;
  }
  .footer.footer-4 .newsletter-wrapper .newsletter {
    float: none;
  }
  .policy.layout1 .vc_row,
  .policy.layout3 .vc_row {
    width: 50%;
    margin-bottom: 35px;
  }
  .policy.layout1 .vc_row .wpb_text_column,
  .policy.layout3 .vc_row .wpb_text_column {
    text-align: left;
  }
  .policy.layout1 .vc_row .wpb_text_column:before,
  .policy.layout3 .vc_row .wpb_text_column:before {
    display: none;
  }
  .slider-banner.layout2 .wpb_single_image {
    text-align: center;
  }
  .main-container .product-view .product .woocommerce-tabs ul.tabs li {
    padding: 0 10px;
  }
}
@media screen and (min-width: 768px) {
  .banner.layout3 .row-container > .wpb_column:first-child {
    width: 60.7%;
  }
  .banner.layout3 .row-container > .wpb_column:last-child {
    width: 39.3%;
  }
  .banner.layout3 .vc_row {
    margin-bottom: 5px;
  }
  .banner.layout3 .wpb_single_image * {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .wrapper .row-container {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }
  .main-container .product-view .product .woocommerce-tabs ul.tabs li {
    margin: 0 0 25px 0;
    width: 100%;
    padding: 0;
  }
  .main-container .product-view .product .woocommerce-tabs ul.tabs li:before {
    display: none;
  }
  .main-container .product-view .product .woocommerce-tabs ul.tabs li a {
    border: none;
    padding-bottom: 2px;
  }
  .vc_row {
    margin-left: 0;
    margin-right: 0;
  }
  .shop-products.grid-view .item-col.product.first {
    clear: none;
  }
  .shop-products.grid-view .item-col.product[class*='col-xs-6']:nth-child(2n+1) {
    clear: both;
  }
  .shop-products.list-view .item-col {
    width: 50%;
  }
  .shop-products.list-view .item-col .list-col4 {
    margin-bottom: 30px;
  }
  .shop-products.list-view .item-col .price-box {
    margin-bottom: 20px;
  }
  .shop-products.list-view .item-col .product-desc {
    margin-bottom: 25px;
  }
  .shop-products.list-view .item-col.first {
    clear: none;
  }
  .shop-products.list-view .item-col:nth-child(2n+1) {
    clear: both;
  }
  .main-container.contact-page .contact-input span {
    width: 100% !important;
  }
  .main-container.contact-page .contact-desc .wpb_text_column {
    padding: 0;
  }
  .main-container.contact-page .contact-desc .wpb_text_column h2 {
    font-size: 40px !important;
  }
  .main-container.error404 .search-form-wrapper .form-input {
    max-width: 95%;
  }
  .main-container .blog-page .post-thumbnail {
    width: 100%;
  }
  .main-container .blog-page .postinfo-wrapper {
    margin-top: 20px;
    width: 100%;
  }
  .header-container .top-bar {
    text-align: center;
  }
  .header-container .topbar-nav {
    text-align: center;
  }
  .header-container .topbar-nav > .vc_column-inner > .wpb_wrapper {
    float: none;
    display: inline-block;
    text-align: left;
  }
  .footer .footer-policy .row-container .wpb_column {
    padding: 20px 20px;
  }
  .hometab .vc_tta-panels-container .vc_tta-panels {
    display: block !important;
  }
  .hometab .vc_tta-panels-container .vc_tta-panel {
    display: block !important;
  }
  .home-tabs.layout2 .home-tabs-title li {
    margin: 0 0 20px 0;
    width: 100%;
    text-align: center;
  }
  .home-tabs.layout2 .home-tabs-title li a {
    display: inline-block;
  }
  .home-tabs.layout3 .home-tabs-title li {
    margin: 0 0 20px 0;
    width: 100%;
    text-align: center;
  }
  .home-tabs.layout3 .home-tabs-title li a {
    display: inline-block;
    padding-bottom: 5px;
  }
  .banner.layout3 .row-container > .wpb_column {
    width: 100% !important;
  }
  .banner.layout3 .row-container > .wpb_column .wpb_single_image {
    text-align: center;
  }
  .static-block.layout4 .wpb_single_image {
    text-align: center;
  }
  .products-countdown.layout4 .listview .list-col4 {
    width: 100%;
  }
  .products-countdown.layout4 .listview .list-col8 {
    width: 100%;
  }
  .toolbar .view-mode {
    float: left;
    width: 100%;
    margin-bottom: 20px;
  }
  .toolbar .woocommerce-ordering {
    float: left;
    width: 100%;
    margin-bottom: 20px;
  }
  .toolbar .woocommerce-result-count {
    float: left;
    width: 100%;
    margin-bottom: 20px;
    text-align: left;
  }
}
@media screen and (min-width: 640px) and (max-width: 767px) {
  .products-countdown.layout1 .shop-products .listview .count-down .count-down-inner {
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media screen and (max-width: 639px) {
  .shop_table.cart {
    border: 1px solid #ededed !important;
  }
  .shop_table.cart th,
  .shop_table.cart td,
  .shop_table.cart tr {
    display: block;
  }
  .shop_table.cart th,
  .shop_table.cart td {
    border: none;
  }
  .shop_table.cart tr {
    border-bottom: none;
  }
  .shop_table.cart .product-thumbnail {
    display: block;
    text-align: center;
  }
  .shop_table.cart .product-thumbnail a {
    margin: auto;
  }
  .shop_table.cart tbody > tr {
    border-bottom: 1px solid #ededed;
    margin-bottom: 20px;
  }
  .shop_table.cart thead tr .product-thumbnail,
  .shop_table.cart thead tr .product-remove {
    display: none;
  }
  .shop_table.cart .coupon #coupon_code {
    width: 100%;
    margin: 0 0 20px 0;
  }
  .shop_table.cart .coupon .button {
    float: none !important;
    margin: 0;
    width: auto !important;
  }
  .main-container .blog-page .comments-area .commentlist li.comment article.comment .comment-info time,
  .main-container .blog-page .comments-area .commentlist li.comment article.comment .comment-info cite,
  .main-container .blog-page .comments-area .commentlist li.comment article.comment .comment-info .reply {
    display: block;
    float: none;
    margin: 15px 0 0 0;
    width: 100%;
  }
  .main-container .blog-page .comments-area .commentlist li.comment article.comment .comment-info time:first-child,
  .main-container .blog-page .comments-area .commentlist li.comment article.comment .comment-info cite:first-child,
  .main-container .blog-page .comments-area .commentlist li.comment article.comment .comment-info .reply:first-child {
    margin-top: 0;
  }
  .footer .newsletter-wrapper .mc4wp-form {
    text-align: center;
  }
  .footer .newsletter-wrapper .mc4wp-form input[type='email'] {
    display: inline-block;
    float: none;
  }
  .footer .newsletter-wrapper .mc4wp-form button[type='submit'] {
    margin-top: 20px;
    float: none;
    display: inline-block;
  }
  .products-countdown.layout1 .product-wrapper.listview .list-col4 {
    width: 100%;
  }
  .products-countdown.layout1 .product-wrapper.listview .list-col8 {
    width: 100%;
  }
  .products-countdown.layout1 .product-wrapper.listview .product-image a {
    display: block;
    width: 100%;
  }
  .products-countdown.layout1 .product-wrapper.listview .product-image img {
    width: 100%;
  }
  .policy.layout1 .vc_row,
  .policy.layout3 .vc_row {
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  [class*='vc_col-'] {
    width: 100% !important;
  }
  .shop_table.cart {
    border: 1px solid #ededed !important;
  }
  .shop_table.cart thead {
    display: none;
  }
  .shop_table.cart td,
  .shop_table.cart th {
    display: block;
  }
  .toolbar {
    margin-bottom: 40px;
  }
  .main-container .product-view .summary.single-product-info .product_meta .sku_wrapper,
  .main-container .product-view .summary.single-product-info .product_meta .posted_in,
  .main-container .product-view .summary.single-product-info .product_meta .tagged_as {
    display: block;
    margin: 0 0 10px 0;
  }
  .shop_content .shop-products .item-col {
    clear: none !important;
    width: 100%;
  }
  .header-container .topbar-nav > .vc_column-inner > .wpb_wrapper > div {
    margin: 0;
    width: 100%;
    text-align: center;
  }
  .header-container .topbar-nav > .vc_column-inner > .wpb_wrapper > div:before {
    display: none;
  }
  .header-container .switcher > div {
    width: 100%;
  }
  .header-container .switcher > div:before {
    display: none;
  }
  .header-container .switcher .language .wpml-ls-legacy-dropdown .wpml-ls-item-toggle {
    padding: 0;
  }
  .header-container .switcher .currency .wcml_currency_switcher .wcml-cs-active-currency .wcml-cs-item-toggle {
    padding: 0;
  }
  .header-container .header-search .categories-container .cate-toggler {
    display: none;
  }
  .header-container .header-search .search-without-dropdown .widget_product_search #searchform .form-input {
    padding-right: 140px;
  }
  .header-container .header-middle-right > .vc_column-inner > .wpb_wrapper > div {
    padding: 0 15px;
  }
  .header-container .widget_shopping_cart_content .mini_cart_content {
    right: -32px;
  }
  .header-container .widget_shopping_cart_content .mini_cart_content .mini_cart_inner {
    padding: 30px 10px 15px 10px;
    width: 300px;
  }
  .footer .social-icons li {
    margin: 0 5px 0 0;
  }
  .footer .social-icons li:last-child {
    margin-right: 0;
  }
  .shop-products .listview .count-down .count-down-inner {
    padding-left: 10px;
    padding-right: 10px;
  }
  .shop-products .listview .count-down .hastime {
    padding-left: 30px;
  }
  .shop-products .listview .count-down .hastime:before {
    margin-right: 10px;
  }
  .shop-products .listview .count-down .hastime .timebox {
    font-size: 14px;
  }
}
