/*  
Skin Name: Yellow
Version: 1.0
*/

/************************************************************************************
GENERAL
*************************************************************************************/
input[type=reset], input[type=submit], button {
	background-color: #fff200;
	color: #fff;
}
a {
	color: #B3AA00;
}
.sidemenu h1,
.sidemenu h2,
.sidemenu h3,
.sidemenu h4,
.sidemenu h5,
.sidemenu h6 {
	color: #000;
}

/************************************************************************************
HEADER
*************************************************************************************/
#headerwrap {
	background-color: #fff200;
	color: #000;
	border-bottom: none;
}
#header a,
#headerwrap #menu-icon,
#headerwrap #searchform .icon-search:before {
	color: #000;
}

/* SITE LOGO */
#site-logo a,
#site-logo a:hover {
	color: inherit;
}

/* SITE DESCRIPTION */
#site-description {
	background-color: #000;
}
#site-description:before {
	border-right-color: #000;
}

/* SEARCH FORM */
#headerwrap #searchform #s {
	background-color: rgba(0,0,0,0.8);
	border-radius: 0;
	border: none;
	color: #fff;
}
#headerwrap #searchform .icon-search:before {
	color: #fff;
}
#headerwrap #searchform #s:focus,
#headerwrap #searchform #s:hover,
#headerwrap #searchform .icon-search:hover + #s {
	background-color: rgba(0,0,0,0.8);
	color: #fff;
}
#headerwrap #searchform:hover .icon-search:before,
#headerwrap #searchform:focus .icon-search:before {
	color: #fff;
}
#headerwrap #searchform #s::-webkit-input-placeholder,
#headerwrap #searchform #s::-webkit-input-placeholder {
	color: #fff;
}
#headerwrap #searchform #s::-moz-placeholder,
#headerwrap #searchform #s::-moz-placeholder {
	color: #fff;
}

/* MOBILE PANEL */
#mobile-menu {
	background-color: #fff200;
	color: #000;
}

/************************************************************************************
MAIN NAVIGATION
*************************************************************************************/
#main-nav > li > a {
	color: #000;
	border-left: 1px solid rgba(197,197,197,0.3);
}
#main-nav > li:last-child > a {
	border-right: 1px solid rgba(197,197,197,0.3);
}
#main-nav li li > a {
	color: #5a5e61;
}
#main-nav > .current_page_item > a,
#main-nav > .current-menu-item > a,
#main-nav > .current_page_item a:hover,
#main-nav > .current-menu-item a:hover,
#header #main-nav > li:hover > a {
	color: #000;
}

/************************************************************************************
PAGE
*************************************************************************************/
.page-category-title-wrap {
	background-color: #fff200;
}
.category-title-overlay {
    background-color: rgba(0,0,0,0.3);
}

/************************************************************************************
FOOTER
*************************************************************************************/
#footerwrap {
	background-color: #fff200;
	color: #000;
	border-top: none;
}
.footer-widgets-wrap {
	-webkit-box-shadow: none;
	box-shadow: none;
}
.back-top .arrow-up a {
	background-color: #fff200;
	color: #000;
}
.back-top a:before {
	color: inherit;
}
.back-top .arrow-up:hover > a {
	background-color: #000;
	color: #fff200;
}
.back-top .arrow-up:hover > a:before {
	color: inherit;
}

/************************************************************************************
MOBILE MENU ACTIVE
*************************************************************************************/
.mobile_menu_active .sidemenu #headerwrap #main-nav a,
.mobile_menu_active .sidemenu #headerwrap #main-nav ul a {
	color: inherit;
	border-bottom-color: #000;
}
.mobile_menu_active #headerwrap #main-nav > .current_page_item > a,
.mobile_menu_active #headerwrap #main-nav > .current-menu-item > a,
.mobile_menu_active #headerwrap #main-nav > .current_page_item a:hover,
.mobile_menu_active #headerwrap #main-nav > .current-menu-item a:hover,
.mobile_menu_active #header #main-nav li:hover > a {
	color: #333;
}

/* SEARCH FORM */
.mobile_menu_active #headerwrap #searchform #s {
	color: #fff;
}
.mobile_menu_active #headerwrap .sidemenu #searchform #s:focus,
.mobile_menu_active #headerwrap .sidemenu #searchform #s:hover,
.mobile_menu_active #headerwrap .sidemenu #searchform .icon-search:hover + #s {
	color: #fff;
}