/*
HEADER BOXED COMPACT
================================================ */
body {
	background-color: #ddd;
}
#pagewrap {
	width: 1236px;
	margin: 27px auto;
	max-width: 95%;
	background-color: #fff;
	position: relative;
}

/* header */
#header {
	height: auto;
	text-align: inherit;
}
#header,
#header .hgroup {
	display: block;
}

/* header bar */
body:not(.mobile_menu_active) .header-bar {
	float: left;
	margin-top: 20px;
}

/* site logo */
#site-logo {
	font-size: 1.5em;
	margin: 0;
	display: inline-block;
	vertical-align: middle;
}
#headerwrap.fixed-header #site-logo img {
	max-height: 30px;
}

/* site description */
#site-description {
	margin: 0 0 0 10px;
	font-size: .75em;
	display: inline-block;
	vertical-align: middle;
}

/* social widget */
#header .social-widget {
	float: right;
	margin: 17px 0 0;
}
#searchform-wrap + .social-widget {
	margin-left: 20px;
	margin-right: 10px;
}

/* boxed compact searchform */
#searchform-wrap {
	float: right;
	margin: 15px 10px 0 0;
}
#headerwrap #searchform #s {
	left: auto;
	right: 0;
}

/* boxed compact main nav */
body:not(.mobile_menu_active) #main-nav {
	text-align: right;
	margin-right: 15px;
}
#main-nav {
	float: right;
	width: auto;
}

/* boxed compact fixed-header */
#headerwrap.fixed-header .header-bar,
#headerwrap.fixed-header .social-widget,
#headerwrap.fixed-header #searchform-wrap {
	display: block;
}

/* Mobile Menu Active */
/* mobile menu active social widget */
.mobile_menu_active #header .social-widget {
	margin: 0 0 1em;
	float: none;
	display: block;
}

/* mobile menu active searchform */
.mobile_menu_active #headerwrap #searchform-wrap {
	float: none;
	display: block;
}
.mobile_menu_active #headerwrap #searchform .icon-search:before {
	padding: 8px;
}

/* boxed compact main-nav */
.mobile_menu_active #main-nav {
	float: none;
}

/* boxed compact dropdown menu style */
.dropdown-menu-style.mobile_menu_active .header-bar {
	float: left;
}
.dropdown-menu-style.mobile_menu_active .header-bar #site-description {
	display: none;
}
.dropdown-menu-style.mobile_menu_active #headerwrap #mobile-menu {
	float: right;
}
.dropdown-menu-style.mobile_menu_active #header .social-widget,
.dropdown-menu-style.mobile_menu_active #header #searchform-wrap {
	float: right;
	margin-bottom: 0;
}
.dropdown-menu-style.mobile_menu_active #header .social-widget {
	margin-right: 30px;
}
.dropdown-menu-style.mobile_menu_active #header #searchform {
	width: 35px;
}
.dropdown-menu-style.mobile_menu_active #header #searchform #s {
	padding-left: 0;
	padding-right: 0;
	position: absolute;
}
.dropdown-menu-style.mobile_menu_active #header #searchform:hover #s {
	padding-left: 2em;
	padding-right: 2em;
}
.dropdown-menu-style.mobile_menu_active #headerwrap #main-nav {
	margin: auto;
	left: auto;
	right: 0;
	top: 45px;
}
.dropdown-menu-style.mobile_menu_active #menu-icon-dropdown {
	left: auto;
	right: 3%;
	top: 50%;
	bottom: auto;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.dropdown-menu-style.mobile_menu_active #menu-icon-dropdown span {
	display: none;
}
.dropdown-menu-style.mobile_menu_active.header-boxed-compact #headerwrap.fixed-header .social-widget,
.dropdown-menu-style.mobile_menu_active.header-boxed-compact #headerwrap.fixed-header #searchform-wrap {
	display: block;
}