/* 
Skin Name: Black
Version: 1.0
Demo URI: https://themify.me/demo/themes/shoppe-black/
Required Plugins: builder-contact, builder-maps-pro, builder-woocommerce, woocommerce
*/

/************************************************************************************
GENERAL
*************************************************************************************/
body {
	background-color: #1b1b1b;
	color: #c7c7c7;
}
a {
	color: #af8f42;
}
a:hover {
	color: #fff;
}
textarea, input[type=text], input[type=password], input[type=search], input[type=email], input[type=url], input[type=number], input[type=tel], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=time], input[type=week] {
	background-color: #000;
	color: #fff;
	border-color: rgba(256,256,256,.2);
}

/* form button */
input[type=reset], input[type=submit], button {
	background-color: #e3a700;
}
/* checkbox */
input[type=checkbox] {
	background-color: #444;
}

/* HEADINGS
================================================ */
h1, h2, h3, h4, h5, h6 {
	color: #fff;
}
.fancy-heading strong,
.fancy-heading .main-head {
	color: #fff;
}
.fancy-heading {
	color: #af8f42;
}
.fancy-heading:after {
	border-bottom-color: #af8f42;
}

/************************************************************************************
HEADER
*************************************************************************************/
#headerwrap {
	background: rgba(0,0,0,.8);
	color: #fff;
}
#headerwrap a {
	color: #fff;
}

/* ICON NAVIGATION
================================================ */
.icon-menu a .tooltip {
	background-color: #515151;
}
.icon-menu a .tooltip:before {
	border-bottom-color: #515151;
}
.top-icon-wrap .cart-total-checkout-wrap,
#cart-wrap {
	background-color:#2e2e2e;
}
#cart-list {
	background-color:#515151;
}
#cart-wrap .product {
	border-color: rgba(0,0,0,.15);
}
#cart-wrap .button {
	border-color: rgba(255,255,255,.3);
	color: #fff;
}
#cart-wrap .cart-total #view-cart:hover {
	color: #fff;
}
#slide-cart #shopdock {
	border-color: rgba(255,255,255,.15);
}
#slide-cart #cart-wrap,
#slide-cart #cart-list {
	background: none;
}
#slide-cart #cart-list {
	border-bottom: 1px solid rgba(255,255,255,.15);
}
#slide-cart #cart-wrap .product {
	border-color: rgba(255,255,255,.15);
}
#cart-wrap .cart-total {
	color: #fff;
}

/* SEARCH LIGHTBOX
================================================ */
#search-lightbox-wrap {
	background-color: rgba(0,0,0,.9);
	color: #fff;
}
#searchform {
	border-bottom-color: #fff;
}
#close-search-box,
#searchform .icon-search:before,
#searchform #s {
	color: #fff;
}
.mobile-menu-visible .top-icon-wrap,
.mobile-menu-visible #headerwrap .search-button,
.sidemenu .search-button {
	border-color: rgba(255,255,255,.15);
}

/* MAIN NAVIGATION
================================================ */
body:not(.mobile_menu_active) #main-nav ul,
body:not(.mobile_menu_active):not(.header-left-pane):not(.header-right-pane):not(.header-minbar-left):not(.header-minbar-right):not(.header-overlay):not(.header-slide-left):not(.header-slide-right) #main-nav .has-mega-sub-menu .mega-sub-menu,
body:not(.header-left-pane):not(.header-right-pane):not(.header-minbar-left):not(.header-minbar-right):not(.header-overlay):not(.header-slide-left):not(.header-slide-right) #main-nav .has-mega-column > .sub-menu {
	background-color: #2e2e2e;
}
#main-nav ul a {
	color: #fff;
	border-color: rgba(0,0,0,.15);
}
#main-nav .mega-sub-menu li a:after {
	border-top-color: #fff;
	border-right-color: #fff;
}
#main-nav .has-mega-column .widget .widgettitle,
#main-nav .has-mega-column > .sub-menu > .columns-sub-item > a,
#main-nav li.mega-link.loading:before {
	color: #fff;
}

/* sub-levels link :hover */
#main-nav ul .current_page_item > a,
#main-nav ul .current-menu-item > a,
#main-nav a:hover,
#main-nav ul  a:hover,
#main-nav .current_page_item ul a:hover,
#main-nav ul .current_page_item a:hover,
#main-nav .current-menu-item ul a:hover,
#main-nav ul .current-menu-item a:hover {
	color: #af8f42;
}

/* dropdown */
#main-nav .has-mega-sub-menu > .sub-menu > li ul,
#main-nav .has-mega-sub-menu > .sub-menu > li ul ul,
#main-nav .has-mega-column > .sub-menu > li ul,
#main-nav .has-mega-column > .sub-menu > li ul ul {
	color: #fff;
}

/* MEGA MENU */
#main-nav .has-mega-column .product-categories .count {
	background-color: #000;
	color: #fff;
}

/* MOBILE MENU ACTIVE
================================================ */
#slide-cart,
.mobile-menu-visible .sidemenu,
.mobile_menu_active.mobile-menu-visible .sidemenu {
	background: #000;
}
.mobile_menu_active.mobile-menu-visible .sidemenu,
.mobile_menu_active .sidemenu {
	color: inherit;
}
.mobile_menu_active #main-nav,
.mobile_menu_active #main-nav a,
.mobile_menu_active #main-nav ul a {
	border-color: rgba(255,255,255,.1);
}
.mobile_menu_active #main-nav a,
.mobile_menu_active #main-nav ul a {
	color: inherit;
}

/* HEADER LAYOUTS
================================================ */
.header-overlay #headerwrap #main-nav a,
.header-overlay #headerwrap #main-nav ul a,
.header-left-pane #headerwrap #main-nav a,
.header-left-pane #headerwrap #main-nav ul a,
.header-right-pane #headerwrap #main-nav a,
.header-right-pane #headerwrap #main-nav ul a,
.header-slide-left #headerwrap #main-nav a,
.header-slide-left #headerwrap #main-nav ul a,
.header-slide-right #headerwrap #main-nav a,
.header-slide-right #headerwrap #main-nav ul a,
.header-minbar-left #headerwrap #main-nav a,
.header-minbar-left #headerwrap #main-nav ul a,
.header-minbar-right #headerwrap #main-nav a,
.header-minbar-right #headerwrap #main-nav ul a {
	color: inherit;
	border-color: rgba(255,255,255,.15);
}
.header-overlay #headerwrap #main-nav,
.header-left-pane #headerwrap #main-nav,
.header-right-pane #headerwrap #main-nav,
.header-slide-left #headerwrap #main-nav,
.header-slide-right #headerwrap #main-nav,
.header-minbar-left #headerwrap #main-nav,
.header-minbar-right #headerwrap #main-nav {
	border-color: rgba(255,255,255,.15);
}
.header-overlay #headerwrap #main-nav .has-mega-column .product-categories .count,
.header-left-pane #headerwrap #main-nav .has-mega-column .product-categories .count,
.header-right-pane #headerwrap #main-nav .has-mega-column .product-categories .count,
.header-slide-left #headerwrap #main-nav .has-mega-column .product-categories .count,
.header-slide-right #headerwrap #main-nav .has-mega-column .product-categories .count,
.header-minbar-left #headerwrap #main-nav .has-mega-column .product-categories .count,
.header-minbar-right #headerwrap #main-nav .has-mega-column .product-categories .count {
	background-color: #2e2e2e;
}
.header-stripe #headerwrap {
	background-color: transparent;
}
.header-stripe #header {
	background: #2e2e2e;
}
.header-stripe #headerwrap a {
	color: inherit;
}
.header-stripe #headerwrap #main-nav ul a {
	color: #fff;
}
.header-minbar-left.mobile-menu-visible .sidemenu-on,
.header-slide-left.mobile-menu-visible .sidemenu-on {
	border-right-color: rgba(255,255,255,.15);
	box-sizing: border-box;
}
.header-minbar-right.mobile-menu-visible .sidemenu-on,
.header-slide-right.mobile-menu-visible .sidemenu-on {
	border-left-color: rgba(255,255,255,.15);
	box-sizing: border-box;
}
.header-block .icon-menu a .tooltip {
	background: none;
}
body:not(.mobile-menu-visible).header-left-pane.mobile_menu_active #headerwrap #menu-icon,
body:not(.mobile-menu-visible).header-right-pane.mobile_menu_active #headerwrap #menu-icon {
	background-color: #1b1b1b;
	outline-color: #1b1b1b
}

.header-boxed-layout #pagewrap,
.header-boxed-content #body {
	background-color: #000;
}

/* TRANSPARENT HEADER
================================================ */
.transparent-header #headerwrap.fixed-header {
	background-color: rgba(0,0,0,.9);
	color: #fff;
}

/************************************************************************************
PAGE
*************************************************************************************/
#pattern,
div.pp_overlay,
.body-overlay {
	background-color: rgba(0,0,0,.9);
}
.nicescroll-rails > div {
	background-color: rgba(245,245,245,.2) !important;
	border-color: rgba(245,245,245,.4) !important;
}

/************************************************************************************
POST
*************************************************************************************/
.post-title a,
.single .post-title a,
.loops-wrapper:not(.overlay):not(.polaroid):not(.auto_tiles) .post-title a {
	color: inherit;
}
div.pp_woocommerce .pp_close:before,
.post-lightbox .close-lightbox {
	color: #fff;
}

/* Load more */
#load-more a {
	color: #fff;
}

/* Tile/Overlay/Polaroid */
.auto_tiles .product.has-post-thumbnail .product-content,
.tiled ul.products li.product.has-post-thumbnail .product-content,
.auto_tiles .post-image + .post-content {
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 40%, rgba(0,0,0,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 40%,rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 40%,rgba(0,0,0,1) 100%);
	color: #fff;
}
.overlay.products .product.has-post-thumbnail .product-content,
.loops-wrapper.overlay .product-image + .product-content,
.loops-wrapper.overlay .post-image + .post-content {
	background-color: rgba(0,0,0,.8);
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.35) 0%, rgba(0,0,0,0.72) 35%, rgba(0,0,0,0.93) 59%, rgba(0,0,0,1) 72%, rgba(0,0,0,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.72) 35%,rgba(0,0,0,0.93) 59%,rgba(0,0,0,1) 72%,rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.72) 35%,rgba(0,0,0,0.93) 59%,rgba(0,0,0,1) 72%,rgba(0,0,0,1) 100%);
	color: #fff;
}
.polaroid.products .product.has-post-thumbnail .product-content,
.loops-wrapper.polaroid .product-image + .product-content,
.loops-wrapper.polaroid .post-image + .post-content {
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.35) 35%, rgba(0,0,0,0.55) 55%, rgba(0,0,0,1) 100%);
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.35) 35%,rgba(0,0,0,0.55) 55%,rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.35) 35%,rgba(0,0,0,0.55) 55%,rgba(0,0,0,1) 100%);
	color: #fff;
}
.polaroid.products .product:hover .product-content,
.loops-wrapper.polaroid .product:hover .product-content,
.loops-wrapper.polaroid .post:hover .post-content {
	background: -moz-linear-gradient(top, rgba(0,0,0,0.01) 0%,rgba(0,0,0, 0.25) 15%,rgba(0,0,0, .7) 35%,rgba(0,0,0,1) 100%);
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.01) 0%,rgba(0,0,0, 0.25) 15%,rgba(0,0,0, .7) 35%,rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0.01) 0%,rgba(0,0,0, 0.25) 15%,rgba(0,0,0, .7) 35%,rgba(0,0,0,1) 100%);
}

.auto_tiles .has-post-thumbnail .post-meta,
.loops-wrapper.overlay .has-post-thumbnail .post-meta,
.loops-wrapper.polaroid .has-post-thumbnail .post-meta {
	color: inherit;
}
.auto_tiles .has-post-thumbnail .post-date:before,
.auto_tiles .has-post-thumbnail .post-comment:before,
.auto_tiles .has-post-thumbnail .post-tag:before,
.loops-wrapper.overlay .has-post-thumbnail .post-date:before,
.loops-wrapper.overlay .has-post-thumbnail .post-comment:before,
.loops-wrapper.overlay .has-post-thumbnail .post-tag:before,
.loops-wrapper.polaroid .has-post-thumbnail .post-date:before,
.loops-wrapper.polaroid .has-post-thumbnail .post-comment:before,
.loops-wrapper.polaroid .has-post-thumbnail .post-tag:before {
	background-color: rgba(255,255,255,.8);
}
.woocommerce .auto_tiles li.product .product-content .add_to_cart_button {
	border-color: #fff;
    color: #fff;
}

/* message, info, error */
.woocommerce .woocommerce-error,
.woocommerce .woocommerce-info,
.woocommerce .woocommerce-message,
.woocommerce-page .woocommerce-error,
.woocommerce-page .woocommerce-info,
.woocommerce-page .woocommerce-message {
    background-color: #000;
	color: inherit;
}

.woocommerce-checkout #payment,
.woocommerce form .form-row .select2-container .select2-choice {
	border-color: rgba(256,256,256,.2);
	box-shadow: none;
    background-color: #000;
	color: inherit;
}
.woocommerce-checkout #payment div.payment_box {
    background-color: #444;
	color: inherit;
}
.woocommerce-checkout #payment ul.payment_methods,
.woocommerce-checkout #payment div.payment_box:before {
    border-bottom-color: #444;
}
.select2-drop-active {
    border: 1px solid #666;
    border-top: none;
    background-color: #444;
	color: inherit;
}
.select2-results {
    background: #444;
}
.woocommerce #content .shop_table.cart .actions input[type=submit],
.woocommerce-page #content .shop_table.cart .actions input[type=submit] {
	background: #444;
	color: inherit;
}

/************************************************************************************
SIDEBAR
*************************************************************************************/
.widgettitle:after {
	border-color: rgba(255,255,255,.7);
}

/************************************************************************************
FOOTER
*************************************************************************************/
#footerwrap {
	background-color: rgba(0,0,0,.8);
	color: #c7c7c7;
}
#footerwrap a {
	color: #fff;
}
#footerwrap .back-top a {
	background-color: #2e2e2e;
}

/************************************************************************************
BUILDER 
*************************************************************************************/
#pagewrap .module-buttons.outline a.yellow {
	color:#af8f42;
	border-color:#af8f42;
}
#pagewrap .module-buttons.outline a.yellow:hover {
	color:#fff;
	background-color:#af8f42;
}

/************************************************************************************
WOOCOMMERCE 
*************************************************************************************/
/* quick look */
#post-lightbox-wrap.animate_start, 
#post-lightbox-wrap #post-lightbox-container {
	background-color: #1b1b1b;
}

/* archive product */
.woocommerce ul.products li.product, 
.woocommerce-page ul.products li.product {
	text-align: center;
}
.woocommerce .loops-wrapper.overlay li.product h3,
.woocommerce .loops-wrapper.polaroid li.product h3,
.woocommerce .loops-wrapper.auto_tiles li.product h3 {
	color: inherit;
}
.woocommerce ul.products li.product a:hover {
	color: #dcaa2e;
}
.grid4 .product-share-wrap,
.grid3 .product-share-wrap,
.related .product-share-wrap,
.archive .product-share-wrap {
	display: block;
}

/* buttons */
.woocommerce ul.products li.product.outofstock .button,
.wishlist-button.wishlisted,
.woocommerce ul.products li.product a.wishlisted,
.woocommerce .wc-products .product .add_to_cart_button, 
.woocommerce ul.products li.product .add_to_cart_button,
.woocommerce #content input.button,
.woocommerce #respond input#submit,
.woocommerce #content input.button.alt,
.woocommerce #respond input#submit.alt,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce-page #content input.button,
.woocommerce-page #respond input#submit,
.woocommerce-page #content input.button.alt,
.woocommerce-page #respond input#submit.alt,
.woocommerce-page a.button,
.woocommerce-page button.button,
.woocommerce-page input.button,
.woocommerce-page a.button.alt,
.woocommerce-page button.button.alt,
.woocommerce-page input.button.alt {
	background: #af8f42;
}

/* TABS */
.woocommerce #content div.product .woocommerce-tabs ul.tabs li:hover a,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active a,
.woocommerce div.product .woocommerce-tabs ul.tabs li:hover a,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:hover a,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active a,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li:hover a,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active a,
.search-option-tab li:hover a,
.search-option-tab li.active a {
	color: #fff;
	box-shadow: inset 0 -3px 0 0 #af8f42;
}
.woocommerce #content div.product .woocommerce-tabs ul.tabs:before,
.woocommerce div.product .woocommerce-tabs ul.tabs:before,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs:before,
.woocommerce-page div.product .woocommerce-tabs ul.tabs:before {
	border-bottom-color: rgba(255,255,255,.13);
}

/* Lists */
.woocommerce ul.cart_list li a,
#main-nav .woocommerce .product_list_widget li a {
	border-color: rgba(0,0,0,.15);
}

/* On Sale */
.woocommerce span.onsale:before,
.woocommerce-page span.onsale:before {
	border-bottom-color: #af8f42;
}

/* price */
.woocommerce #content div.product p.price,
.woocommerce #content div.product span.price,
.woocommerce div.product p.price,
.woocommerce div.product span.price,
.woocommerce-page #content div.product p.price,
.woocommerce-page #content div.product span.price,
.woocommerce-page div.product p.price,
.woocommerce-page div.product span.price {
    color: #fff;
}

/* select sorting */
.woocommerce .woocommerce-ordering select,
.woocommerce-page .woocommerce-ordering select {
	border-color: rgba(255,255,255,.2);
}
.woocommerce .woocommerce-ordering:after,
.woocommerce-page .woocommerce-ordering:after {
    border-bottom-color: #fff;
    border-left-color: #fff;
}

/* Tooltip */
.quick-look .tooltip,
.wishlist-button .tooltip,
.social-share {
	background-color: #515151;
}
.quick-look .tooltip:before,
.wishlist-button .tooltip:before,
.social-share:before {
	border-top-color: #515151;
}

/* Wishlisted */
#wishlist-wrapper .products .product {
	text-align: inherit;
}
.woocommerce .woocommerce-product-rating {
	color: inherit;
}

/* border color */
#wishlist-wrapper .products .product,
.result-item,
.loops-wrapper.list-large-image .post {
	border-bottom-color: rgba(255,255,255,.15);
}

body:not(.mobile_menu_active) .logo-wrap:after,
body:not(.header-left-pane):not(.header-right-pane) #site-description:before,
#main-nav > li:hover > a:before,
#main-nav > .current_page_item > a:before, 
#main-nav > .current-menu-item > a:before,
#main-nav > .current_page_item > a:hover:before, 
#main-nav > .current-menu-item > a:hover:before,
.view-all-button:after {
	border-bottom-color: #af8f42;
}
.woocommerce.sidebar-none .cart-collaterals .cart_totals,
.woocommerce-page.sidebar-none .cart-collaterals .cart_totals {
	border-color: rgba(255,255,255,.1);
}
.woocommerce table.shop_table td {
    border-top-color: rgba(255,255,255,.1);
}
.select2-container--default .select2-selection--single {
	border-color: rgba(256,256,256,.2);
	background: #000;
}

/* background color */
#main-nav .has-mega-column .product-categories li:hover .count,
.back-top a:before,
.icon-menu .icon-menu-count,
body:not(.header-left-pane):not(.header-right-pane):not(.header-block):not(.header-boxed-content) #site-description {
	background-color: #af8f42;
}
.header-minbar-left #headerwrap #site-description:before,
.header-minbar-right #headerwrap #site-description:before {
    border-bottom-color: transparent;
    border-right-color: #af8f42;
}