/************************************************************************************
MOBILE NAVIGATION
*************************************************************************************/
/* change max-width to trigger mobile menu active class */

/************************************************************************************
HEADER
*************************************************************************************/
.mobile_menu_active #header {
	height: auto;
}

/* reset absolute elements to static */
.mobile_menu_active #site-logo {
	clear: both;
	margin: 0;
	padding: 0;
}

/* site logo */
.mobile_menu_active #site-logo {
	font-size: 30px;
	margin: 0.65em 0.55em 0.65em 0;
}
/* site description */
.mobile_menu_active #site-description {
	font-size: 0.55em;
}

/* header widget */
.mobile_menu_active.header-widget {
	position: static;
	float: none;
	text-align: left;
	clear: both;
	margin: 0;
}
.mobile_menu_active .header-widget .widget {
	margin: 0 0 10px;
}

/*
MENU PANEL
================================================ */
.mobile_menu_active.slideout-widgets-empty #headerwrap #menu-icon {
	display: block;
}
/* mobile menu panel link */
.mobile_menu_active #mobile-menu-panel a {
	color: #fff;
	text-decoration: none;
}

/* main nav */
.mobile_menu_active #main-nav {
	position: static;
	width: auto;
	height: auto;
	padding: 0;
	margin: 15px 0;
	background: none;
	border: none;
	text-align: left;
	float: none;
	clear: both;
	font-size: 1em;
}
.mobile_menu_active #headerwrap #main-nav li {
	float: none;
	display: block;
	border: none;
	background: none;
	padding: 0;
	margin: 0;
	clear: both;
}

/* sub level */
.mobile_menu_active #headerwrap #main-nav ul {
	position: static;
	width: auto;
	height: auto;
	display: block;
	border: none;
	margin: 0;
	padding: 0 0 0 1em;
	background: none;
	box-shadow: none;
	opacity: 1;
	visibility: visible;
	clear: both;
	-webkit-transform: none;
	-moz-transform: none;
	transform: none;
}
.mobile_menu_active #headerwrap #main-nav ul li {
	border: none;
	background: none;
	padding: 0;
	margin: 0;
	width: auto;
	float: none;
}

/* menu link */
.mobile_menu_active #headerwrap #main-nav a,
.mobile_menu_active #headerwrap #main-nav ul a {
	width: auto;
	display: block;
	border: none;
	padding: .6em 0;
	margin: 0;
	color: inherit;
	font-size: 100%;
	font-weight: bold;
	line-height: 1.5em;
	background: none;
	text-decoration: none;
	border-bottom: solid 1px rgba(0,0,0,.1);
}
.mobile_menu_active #headerwrap #main-nav li:last-child > a {
	border-right: none;
}

/* sub level menu link */
.mobile_menu_active #headerwrap #main-nav ul a {
	font-weight: normal;
	font-size: 1em;
}

/* sub-menu icon */
.mobile_menu_active #main-nav .menu-item-has-children > a:after,
.mobile_menu_active #main-nav ul .menu-item-has-children > a:after {
	display: none;
}

/* mega menu */
.mobile_menu_active #main-nav .has-mega-sub-menu .mega-sub-menu,
.mobile_menu_active #main-nav .has-mega-sub-menu .mega-sub-menu > ul,
.mobile_menu_active.no-touch #main-nav .has-mega-column > .sub-menu,
.mobile_menu_active.no-touch #main-nav .has-mega-column > .sub-menu ul,
.mobile_menu_active.no-touch #main-nav li ul {
	opacity: 1;
	-webkit-transform: scale(1,1);
	-moz-transform: scale(1,1);
	transform: scale(1,1);
}
.mobile_menu_active #main-nav .has-mega-sub-menu .mega-sub-menu,
.mobile_menu_active #main-nav .has-mega-column > .sub-menu {
	background: none;
	box-shadow: none;
}
.mobile_menu_active #main-nav .has-mega-sub-menu .mega-sub-menu {
	position: static;
	display: block;
	border: none;
	min-height: 0;
	max-height: none;
	margin: 0;
	width: auto;
}
.mobile_menu_active #main-nav .has-sub-menu > a:after,
.mobile_menu_active #main-nav .has-mega-sub-menu > a:after,
.mobile_menu_active #main-nav .mega-sub-menu li a:after,
.mobile_menu_active #main-nav .mega-menu-posts {
	display: none;
}
.mobile_menu_active #main-nav .has-mega-sub-menu .mega-sub-menu ul {
	height: auto;
	width: auto;
	float: none;
}
.mobile_menu_active #main-nav .has-mega-sub-menu:hover .mega-sub-menu ul {
	display: block;
}

/* mega column */
.mobile_menu_active #main-nav .has-mega-column > ul.sub-menu {
	display: block;
	position: static;
	background: none;
	padding: 0;
	margin: 0 0 0 1em;
	border: none;
	width: auto;
	max-height: none;
	max-width: none;
}
.mobile_menu_active #main-nav .has-mega-column > .sub-menu > li {
	width: 100%;
	float: none;
	margin-left: 0;
	font-size: 1em;
}
.mobile_menu_active #main-nav .has-mega-column .sub-menu > li > a,
.mobile_menu_active #main-nav .has-mega-column .sub-menu h3 {
	text-transform: none;
	margin: 0;
}
.mobile_menu_active #main-nav .has-mega-column .mega-column-wrapper h3 a,
.mobile_menu_active #main-nav .has-mega-column .mega-column-wrapper a {
	margin: 0;
	padding: 7px 0;
}
.mobile_menu_active #main-nav li.mega-link.loading:before,
.mobile_menu_active #main-nav .mega-sub-menu li:after {
	display: none;
}
.mobile_menu_active #main-nav .has-mega-column > .sub-menu .themify-widget-menu li {
	border-bottom: solid 1px rgba(0,0,0,.1);
	padding: 0.5em 0;
}
.mobile_menu_active #main-nav .has-mega-column > .sub-menu .themify-widget-menu li a {
	border-bottom: none;
	padding: 0;
}
.mobile_menu_active #main-nav .has-mega-column .widgettitle,
.mobile_menu_active #main-nav .has-mega-column > .sub-menu > li > a {
	font-size: 1em;
	font-weight: normal;
	margin: 0;
	padding: 0.6em 0;
	text-transform: none;
}
.mobile_menu_active.touch #headerwrap #main-nav .has-mega-column li .sub-arrow,
.mobile_menu_active.touch #headerwrap #main-nav .has-mega-sub-menu li .sub-arrow	{
	display: none;
}
.mobile_menu_active.touch #main-nav .menu-item-has-children > a {
	padding-right: 0;
}

/* dropdown icon */
.mobile_menu_active #headerwrap #main-nav > li {
	position: relative;
}
.mobile_menu_active #main-nav .page_item_has_children .child-arrow:before,
.mobile_menu_active #main-nav .menu-item-has-children .child-arrow:before {
    content: "\e800"; /* ti-angle-down */
	font-family: 'themify_theme_icon';
    font-size: 0.8em;
    line-height: 1;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: .4em;
    padding: .75em;
    -webkit-transition: transform 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    border-radius: 100%;
}
.mobile_menu_active #main-nav .page_item_has_children .child-arrow:hover:before,
.mobile_menu_active #main-nav .menu-item-has-children .child-arrow:hover:before {
    background: rgba(214,214,214,.4);
}
.mobile_menu_active #main-nav .page_item_has_children .child-arrow.toggle-on:before,
.mobile_menu_active #main-nav .menu-item-has-children .child-arrow.toggle-on:before {
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	transform: rotate(180deg);
}

.mobile_menu_active #headerwrap #main-nav .has-sub-menu > .children > li > ul.children,
.mobile_menu_active #headerwrap #main-nav .has-mega-column > .children > li > ul.children,
.mobile_menu_active #headerwrap #main-nav > li > div.children,
.mobile_menu_active #headerwrap #main-nav > li > ul.children,
.mobile_menu_active #headerwrap #main-nav .has-sub-menu > .sub-menu > li > ul.sub-menu,
.mobile_menu_active #headerwrap #main-nav .has-mega-column > .sub-menu > li > ul.sub-menu,
.mobile_menu_active #headerwrap #main-nav > li > div.sub-menu,
.mobile_menu_active #headerwrap #main-nav > li > ul.sub-menu {
	height: 100%;
	overflow: hidden;
	max-height: 0;
	-webkit-transition: max-height 0.5s ease-in-out;
	-moz-transition: max-height 0.5s ease-in-out;
	transition: max-height 0.5s ease-in-out;
}
.mobile_menu_active #headerwrap #main-nav .has-sub-menu > .children > li > .toggle-on + ul.children,
.mobile_menu_active #headerwrap #main-nav .has-mega-column > .children > li > .toggle-on + ul.children,
.mobile_menu_active #headerwrap #main-nav > li > .toggle-on + div.children,
.mobile_menu_active #headerwrap #main-nav > li > .toggle-on + ul.children,
.mobile_menu_active #headerwrap #main-nav .has-sub-menu > .sub-menu > li > .toggle-on + ul.sub-menu,
.mobile_menu_active #headerwrap #main-nav .has-mega-column > .sub-menu > li > .toggle-on + ul.sub-menu,
.mobile_menu_active #headerwrap #main-nav > li > .toggle-on + div.sub-menu,
.mobile_menu_active #headerwrap #main-nav > li > .toggle-on + ul.sub-menu {
	max-height: 2000px;
	min-height: initial;
}

/*
SEARCH FORM
================================================ */
.mobile_menu_active #searchform-wrap {
	margin: 0 0 1em;
}
.mobile_menu_active #headerwrap #searchform {
	position: relative;
	left: auto;
	right: auto;
	top: auto;
	bottom: auto;
	float: none;
	clear: both;
	padding: 0;
	width: auto;
}
.mobile_menu_active #headerwrap #searchform #s {
	width: 100%;
	float: none;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
	position: static;
}
.mobile_menu_active #headerwrap #searchform #s:focus,
.mobile_menu_active #headerwrap #searchform #s:hover,
.mobile_menu_active #headerwrap #searchform .icon-search:hover + #s {
	width: 100%;
	color: #000;
}
.mobile_menu_active #headerwrap #searchform .icon-search:before {
	padding: 0;
	right: 10px;
}

/*
SOCIAL WIDGET
================================================ */
.mobile_menu_active .social-widget {
	margin: 0 0 1em;
	position: static;
	float: none;
}
.mobile_menu_active .social-widget,
.mobile_menu_active #searchform-wrap,
.mobile_menu_active #main-nav {
	display: none;
}
.mobile_menu_active .sidemenu .social-widget,
.mobile_menu_active .sidemenu #searchform-wrap,
.mobile_menu_active .sidemenu #main-nav {
	display: block;
}

/*
SINGLE SPLIT LAYOUT
================================================ */
.mobile_menu_active.single.single-split-layout .related-posts .post-image img {
	height: auto;
	min-height: initial;
}

@media screen and (max-width: 1200px) {

	/************************************************************************************
	STRUCTURE
	*************************************************************************************/
	body #pagewrap {
		max-width: 100%;
	}
	.pagewidth,
	.full_width .themify_builder_row .row_inner {
		max-width: 96%;
	}
	body {
		font-size: 1em;
	}

}

@media screen and (max-width: 800px) {
	
	/************************************************************************************
	POST LAYOUTS
	*************************************************************************************/
	.loops-wrapper.grid4 .post {
		width: 48.4%; /* change grid4 to 2 columns */
	}
	.loops-wrapper.grid4 .post:nth-of-type(2n+1) {
		margin-left: 0;
		clear: left;
	}

}

@media screen and (max-width: 760px) {

	/************************************************************************************
	STRUCTURE
	*************************************************************************************/
	.pagewidth,
	.full_width .themify_builder_row .row_inner {
		max-width: 90%;
	}
	#pagewrap #content {
		width: 100%;
		max-width: 100%;
		float: none;
		clear: both;
	}
	
	/* sidebar */
	#pagewrap #sidebar {
		width: 100%;
		max-width: 100%;
		float: none;
		clear: both;
	}
	
	/* header */
	#headerwrap #header {
		max-width: 90%;
	}
	
	/* footer */
	.footer-widgets .widget {
		padding-bottom: 1em;
		margin: 0;
	}
	.footer-widgets-wrap,
	#footerwrap {
		padding-top: 2em;
		padding-bottom: 2em;
	}
	.footer-widgets-wrap {
		box-shadow: none;
	}
	
	/* #commentform */
	#commentform p {
		margin: 0 0 1em;
	}
	#commentform label,
	#commentform input[type=text],
	#commentform input[type=email],
	#commentform input[type=url] {
		display: block;
		width: 100%;
		max-width: none;
		box-sizing: border-box;
	}
	
	/* single split layout */
	.single.single-split-layout .featured-area,
	.single.single-split-layout .footer-widgets-wrap,
	.single.single-split-layout #footerwrap,
	.single.single-split-layout #layout,
	.single.single-split-layout .post-nav {
		position: relative;
		width: 100%;
		float: none;
	}
	.single.single-split-layout #layout {
		max-width: 90%;
	}
	.single.single-split-layout #content,
	.single.single-split-layout .footer-widgets-wrap,
	.single.single-split-layout #footerwrap {
		padding-left: inherit;
		padding-right: inherit;
	}
	.single.single-split-layout .post-image img {
		height: auto;
		min-height: initial;
	}
	.single.single-split-layout .post-nav {
		background-color: transparent;
		margin-bottom: 1em;
	}
	.single.single-split-layout .post-nav .prev,
	.single.single-split-layout .post-nav .next {
		clear: none;
	}
	.single.single-split-layout .featured-area .post-content {
		padding-top: 1.7em;
	}
	.single.single-split-layout .post-image + .post-content .post-meta,
	.single.single-split-layout .post-meta {
		top: auto;
	}
	
	/* single gallery layout */
	.single.single-gallery-layout .post-content {
		padding-left: inherit;
		padding-right: inherit;
	}
	.single.single-gallery-layout .post-meta {
		max-width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	/* Tiles */
	.loops-wrapper.custom_tiles .has-post-thumbnail .post-content,
	.loops-wrapper.auto_tiles .has-post-thumbnail .post-content {
		color: #fff;
	}
	.loops-wrapper.tiled .post.tiled-square-small,
	.loops-wrapper.tiled .post.tiled-portrait {
		font-size: 1em;
	}

	/* featured area */
	.single .featured-area .post-meta {
		font-size: 0.6em;
	}
	
	/************************************************************************************
	 WOOCOMMERCE
	*************************************************************************************/
	.woocommerce .col2-set .col-1,
	.woocommerce .col2-set .col-2,
	.woocommerce-page .col2-set .col-1,
	.woocommerce-page .col2-set .col-2 {
		float:none;
		width:100%;
	}
	.woocommerce .cart-collaterals .cart_totals,
	.woocommerce .cart-collaterals .cross-sells,
	.woocommerce .cart-collaterals .shipping_calculator,
	.woocommerce-page .cart-collaterals .cart_totals,
	.woocommerce-page .cart-collaterals .cross-sells,
	.woocommerce-page .cart-collaterals .shipping_calculator {
		width:100%;
		float:none;
		text-align: left;
	}
	.woocommerce ul.products {
		width: auto;
	}
	.woocommerce ul.products li.product,
	.woocommerce-page ul.products li.product {
		width: 50%;
		margin: 0 0 1em;
		float: left;
		clear: both;
		box-sizing: border-box;
		padding: 0 4%;
	}
	.woocommerce ul.products li.product:nth-child(2n),
	.woocommerce-page ul.products li.product:nth-child(2n) {
		float: right;
		clear: none;
	}
	
	.woocommerce #pagewrap ul.products li.product .add_to_cart_button,
	.woocommerce #pagewrap ul.products li.product .button[data-product_id] {
		font-size: .6em;
	}
	.woocommerce #pagewrap ul.products li.product h3 {
		font-size: 1.1em;
	}
	
	/* Fix Cart Responsive */
	.woocommerce table.shop_table {
		border-collapse: inherit;
	}
	.woocommerce .cart-collaterals .cart_totals tr td,
	.woocommerce-page .cart-collaterals .cart_totals tr th {
		width: auto !important;
	}
	
}

@media screen and (min-width: 660px) and (max-width: 790px) {
	.loops-wrapper.tiled .tiled-square-small .post-title,
	.loops-wrapper.tiled .tiled-portrait .post-title {
		font-size: 2.1em;
	}
	#pagewrap .product-tiles .wc-products .product h3 {
		font-size: 1.1em;
		margin-bottom: 0.2em;
	}
	#pagewrap .module.product-tiles  .product .price {
		font-size: 0.9em;
		margin-bottom: 0.2em;
	}
}

@media screen and (max-width: 680px) {
	
	/************************************************************************************
	HEADING
	*************************************************************************************/
	h1 {
		font-size: 1.8em;
	}
	h2 {
		font-size: 1.6em;
	}
	h3 {
		font-size: 1.4em;
	}
	h4 {
		font-size: 1.2em;
	}

	/************************************************************************************
	GRID
	*************************************************************************************/
	.col4-1,
	.col4-2, .col2-1,
	.col4-3,
	.col3-1,
	.col3-2	 {
		margin-left: 0;
		width: 100%;
		max-width: 100%;
	}

	/************************************************************************************
	PAGE
	*************************************************************************************/
	.page-category-title-wrap .page-category-title,
	.page-category-title-wrap .page-title {
		max-width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
	.page-title {
		font-size: 2.2em;
	}
	.page-category-title-wrap .page-category-description {
		font-size: 1.1em;
	}

	/* page category wrapper */
	.transparent-header .page-category-title-wrap {
		padding-top: 24%;
	}

	/************************************************************************************
	POST LAYOUTS
	*************************************************************************************/
	/* all post */
	.shortcode.loops-wrapper.list-post .post,
	.shortcode.loops-wrapper.grid4 .post,
	.shortcode.loops-wrapper.grid3 .post,
	.shortcode.loops-wrapper.grid2 .post,
	.shortcode.grid2-thumb .post,
	.shortcode.list-thumb-image .post,
	.shortcode.list-large-image .post,
	.loops-wrapper.list-post .post,
	.loops-wrapper.grid4 .post,
	.loops-wrapper.grid3 .post,
	.loops-wrapper.grid2 .post,
	.loops-wrapper.grid2-thumb .post,
	.loops-wrapper.list-thumb-image .post,
	.loops-wrapper.list-large-image .post {
		width: 100%;
		margin: 0 0 1em;
		float: none;
	}
	.gutter-sizer{
		width:0;
	}

	/* all post title */
	.post-title,
	.loops-wrapper.list-post .post-title,
	.loops-wrapper.grid4 .post-title,
	.loops-wrapper.grid3 .post-title,
	.loops-wrapper.grid2 .post-title,
	.loops-wrapper.grid2-thumb .post-title,
	.loops-wrapper.list-thumb-image .post-title,
	.loops-wrapper.list-large-image .post-title,
	.loops-wrapper.slider .post-title {
		font-size: 1.4em;
	}

	/* all post image */
	.loops-wrapper.list-post .post-image,
	.loops-wrapper.grid4 .post-image,
	.loops-wrapper.grid3 .post-image,
	.loops-wrapper.grid2 .post-image,
	.loops-wrapper.list-large-image .post-image {
		float: none;
		position: static;
		width: auto;
		margin: 0;
		overflow: visible;
	}

	/* all post content */
	.loops-wrapper.grid2-thumb .post-content,
	.loops-wrapper.list-thumb-image .post-content {
		overflow: visible;
	}

	/* slider post */
	.loops-wrapper.slider .post-content {
		position: static;
		background-color: #000;
		padding-top: 10px;
		padding-bottom: 5px;
	}
	.loops-wrapper.slider .post-meta {
		position: static;
	}
	
	/* SINGLE POST */
	.single-post .featured-area .entry-content {
		display: none;
	}
	.single-post .featured-area .post-title {
		font-size: 1.4em;
	}
	.single-post .featured-area .post-meta {
		top: 15px;
	}
	
	/* RELATED POST */
	.related-posts .post {
		width: 100%;
		float: none;
		margin: 0;
	}
	
	/* TILED POST */
	.loops-wrapper.auto_tiles .post-image,
	.loops-wrapper.custom_tiles .post-image {
		position: relative !important;
	}
	.loops-wrapper.auto_tiles .post-image + .post-content,
	.loops-wrapper.custom_tiles .post-image + .post-content {
		position: absolute !important;
		width: 100%;
		top: 0;
	}
	.loops-wrapper.auto_tiles .post-meta,
	.loops-wrapper.custom_tiles .post-meta {
		font-size: .75em;
	}
	.is_phone .auto_tiles  .entry-content,
	.is_phone .custom_tiles  .entry-content {
		display: none;
	}
	.is_phone .auto_tiles .post,
	.is_phone .custom_tiles .post {
		margin-bottom: 5px;
	}
	
	#pagewrap .module.product-tiles .wc-products .product {
		margin-left: 0;
		margin-bottom: 5px;
	}

	/* AUTHOR BOX */
	.author-box {
		display: block;
	}
	.author-box .author-avatar {
		width: 100%;
		display: block;
	}
	.author-bio {
		margin: auto;
		margin-top: 7px;
	}

	/************************************************************************************
	POST NAV
	*************************************************************************************/
	.post-nav .prev,
	.post-nav .next {
		display: block;
		width: 100%;
		clear: both;
		margin-bottom: 10px;
	}
	
	/************************************************************************************
	COMMENTS
	*************************************************************************************/
	.commentlist {
		padding-left: 0;
	}
	.commentlist .commententry {
		clear: left;
	}
	.commentlist .avatar {
		float: left;
		width: 40px;
		height: 40px;
		margin: 0 1em 1em 0;
	}
	.commentlist li {
		padding-left: 55px;
	}
	
	.woocommerce #pagewrap #content div.product .woocommerce-tabs ul.tabs li a,
	.woocommerce #pagewrap div.product .woocommerce-tabs ul.tabs li a,
	.woocommerce-page #pagewrap #content div.product .woocommerce-tabs ul.tabs li a,
	.woocommerce-page #pagewrap div.product .woocommerce-tabs ul.tabs li a {
		padding: .8em 0.9em;
	}
	.single.single-slider-layout .post-meta .author-avatar img.avatar {
		width: 32px;
		height: 32px;
	}
	.single.single-slider-layout .post-author {
		font-size: 1.3em;
	}
	.single.single-slider-layout .post-date {
		font-size: 0.9em;
	}
	
	.post-filter li a {
		font-size: 0.8em;
	}
	
	/* project info */
	.single-portfolio .project-meta {
		margin: 0 0 1.5em;
	}
	.project-date,
	.project-services,
	.project-view {
		margin: .5em 0;
		display: block;
		border-left: none;
		padding-left: 0;
	}
	.project-date,
	.project-client,
	.project-services,
	.project-view {
		font-size: 0.9em;
		line-height: 1.4em;
		margin-bottom: .5em;
	}
	.project-meta strong {
		margin: 0;
	}

}