/*  
Skin Name: Purple
Version: 1.0
Description: Skin for Flatshop
*/


/* color reset */
h1, h2, h3, h4, h5, h6,
#site-logo a,
#site-description,
#menu-icon,
.post-title,
.post-title a,
.widgettitle,
#footer .social-widget a,
#body h2,
.horizontal-menu a {
	color: #9f77af;
}
#menu-icon:hover,
#site-logo a:hover,
#footer .social-widget a:hover,
#menu-icon-close:hover,
.horizontal-menu a:hover,
#slide-cart a:hover,
#slide-cart .cart-total #view-cart,
.sidemenu ::-webkit-input-placeholder {
	color: #c796dd;
}
.mobile_menu_active #mobile-menu .horizontal-menu a:hover,
.mobile_menu_active #mobile-menu .horizontal-menu ul a:hover,
#main-nav a:hover,
#main-nav a:hover,
#main-nav .current_page_item a,
#main-nav .current-menu-item a,
.social-widget a:hover,
.social-widget div.rss a:hover {
	color: #d7a2ef;
}

/* searchform */
#header #searchform #s {
	color: #c796dd;
	border-color: #c796dd;
	border-width: 0 0 1px 0;
}

#slide-cart .product:last-child {
	border-color: #c796dd;
}

/* menu slide */
#cart-icon,
.sidemenu,
#slide-nav > div {
	color: #fff;
	background-color: #9f77af;
}
#cart-icon:hover {
	background-color: #c796dd;
}