/*---------------------------------------------------------
**
** BASIC CSS CHANGES
**
----------------------------------------------------------*/
html,body{ margin:0; padding:0; height:100%; width:100%;}
body{-webkit-font-smoothing: antialiased;}
#page-wrapper { height: 100%; overflow: initial; }
/* LINK SWEET ANIMATION */
a, a:hover, a:focus,button:hover,input[type="submit"]{
  text-decoration: none;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* CHROME ISSUE ON FORM */
button:focus,input:focus{outline:0;}

img{max-width: 100%;}

/*MATERIAL DESIGN EFFECT*/
a.btn.btn-default,
#nav-buttons a,
#main-content button[type="submit"],
#main-content input[type="button"],
input[type="submit"],
#buddypress  .button-nav li a,
#content-container #buddypress button,
#user-sidebar nav ul li a,
#woffice-login .login-submit input[type="submit"],
#buddypress div.item-list-tabs ul li a,
#learndash_next_prev_link a{
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0,0,0);
}
#navbar a{
  -webkit-transform: translate3d(0,0,0);
  .material{
    background:rgba(173, 173, 173, 0.3) !important;
  }

}
.material{
  display: block;
  position: absolute;
  border: 0 !important;
  background:rgba(255, 255, 255, 0.3) !important;
  border-radius: 100% !important;
  -webkit-transform:scale(0);
  -moz-transform:scale(0);
  -o-transform:scale(0);
  transform:scale(0);
  /*BUDDYPRESS CONFLICT*/
  border: 0 !important;
}
.animate {
  -webkit-animation:ripple 0.65s linear;
  -moz-animation:ripple 0.65s linear;
  -ms-animation:ripple 0.65s linear;
  -o-animation:ripple 0.65s linear;
  animation:ripple 0.65s linear;
}
@-webkit-keyframes ripple {100% {opacity: 0; -webkit-transform: scale(2.5);}}
@-moz-keyframes ripple    {100% {opacity: 0; -moz-transform: scale(2.5);}}
@-o-keyframes ripple      {100% {opacity: 0; -o-transform: scale(2.5);}}
@keyframes ripple         {100% {opacity: 0; transform: scale(2.5);}}

@-ms-viewport{width:auto!important}

@-webkit-keyframes opacity-blink {
  0% {opacity: 1;}
  50% {opacity: 0.5;}
  100% {opacity: 1;}
}
@keyframes opacity-blink {
  0% {opacity: 1;}
  50% {opacity: 0.5;}
  100% {opacity: 1;}
}