/*---------------------------------------------------------
**
** BUDDYPRESS
**
----------------------------------------------------------*/
// Table wrappers
form#notifications-bulk-management,
form#messages-bulk-management{
  overflow-x: auto;
  overflow-y: hidden;
  display: block;
  width: 100%;
}


#activate-page{padding: 40px;}
.wp-editor-container .quicktags-toolbar input[type="button"]{
  background-color: #fafafa !important;
  margin-right: 5px !important;
}
.bp-screen-reader-text{
  position: relative;
}
#buddypress .wp-editor-wrap a.button, #buddypress .wp-editor-wrap button, #buddypress .wp-editor-wrap input[type=submit], #buddypress .wp-editor-wrap input[type=button], #buddypress .wp-editor-wrap input[type=reset]{    background: initial !important;  border: 0 !important;}
#content-container #bp-browse-button{
  margin-left: 15px;
}
/* COVERS */
#user-cover, #item-header{background-color: #575757;}
#cover-image-container{
  position: relative;
  z-index: 1;
}
#item-header{
  color: #FFF;
  border-radius: 5px 5px 0 0;
  position: relative;
  padding: 30px 30px 20px 30px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  &.no-featured{
    background: #FFF;
  }
}
#item-header p{
  color: #FFF;
}
#content-container #buddypress #item-header-avatar{
  img{
    width: 150px;
    height: 150px;
    margin-right: 20px;
    float: left;
    border-radius: 50%;
    z-index: 15;
    position: relative;
    -webkit-box-shadow: 0 0 0 6px #FFF;
    -moz-box-shadow: 0 0 0 6px #FFF;
    -ms-box-shadow: 0 0 0 6px #FFF;
    -o-box-shadow: 0 0 0 6px #FFF;
    box-shadow: 0 0 0 6px #FFF;
    &:hover{
      opacity: .6;
      -webkit-transition: opacity 0.4s;
      -moz-transition: opacity 0.4s;
      transition: opacity 0.4s;
    }
  }
  a:hover{
    opacity: 1;
  }
}
#buddypress div#item-header div#item-header-content{
  position: relative;
  z-index: 19;
  margin-top: 40px;
  margin-left: 20px;
}
#buddypress span.activity{
  font-size: initial;
  font-style: italic;
}
#buddypress li.load-more{
  border-radius: 5px;
  text-transform: uppercase;
  a:hover{
    text-decoration: none;
  }
}
#buddypress div#item-header div#item-meta{
  font-size: 90%;
  color: #FFF;
  font-style: italic;
  overflow: hidden;
  margin: 10px 0 0 0;
  p{
    color: #FFF;
  }
  #latest-update p{
    background-color: rgba(0,0,0,.3);
    padding: 10px;
    color: #FFF;
    font-size: 1.1em;
    border-radius: 4px;
    font-style: initial;
  }
}
/*THE NAVIGATION*/
#content-container div{
  &.item-list-tabs,
  &.item-list-tabs-wiki,
  &.item-list-tabs-project{
    ul{
      text-align: center;
      font-size: 0;
      margin: 0;
      padding: 0;
      li{
        float: none;
        display: inline-block;
        vertical-align: top;
        font-size: 12px;
        margin: 0;
        list-style: none;
      }
    }
  }
}
#content-container div.item-list-tabs ul li.current a span.no-count,
#content-container div.item-list-tabs ul li.current a span.count,
#content-container div.item-list-tabs ul li.current a span,
#content-container div.item-list-tabs ul li.selected a span,
#content-container div.item-list-tabs-wiki ul li.active a span,
#content-container div.item-list-tabs-project ul li.active a span,
#content-container div.item-list-tabs ul li a span.no-count,
#content-container div.item-list-tabs ul li a span.count,
#content-container div.item-list-tabs ul li a span,
#content-container div.item-list-tabs-wiki ul li a span,
#content-container div.item-list-tabs-project ul li a span{
  color: #FFF;
  padding: 1px 8px;
  border-radius: 20px;
  margin-left: 10px;
  display: inline-block;
  line-height: normal;
  font-size: 90%;
  position: absolute;
  right: 15px;
  border: 3px solid;
  border-color: #FFF;
  top: 35px;
}
#content-container div.item-list-tabs ul li a,
div.item-list-tabs ul li span,
#content-container div.item-list-tabs-wiki ul li a,
#content-container div.item-list-tabs-wiki ul span,
#content-container div.item-list-tabs-project ul li a,
#content-container div.item-list-tabs-project ul span{
  font-size: 1.2em;
}
#content-container div.item-list-tabs ul li a,
#content-container div.item-list-tabs-wiki ul li a,
#content-container div.item-list-tabs-project ul li a{
  padding: 15px 15px;
  font-weight: bold;
  display: block;
  text-transform: uppercase;
  border-left: 1px solid;
  text-align: center;
  background: #FFF;
}
/*Design for version 1.4.0*/
#content-container .bp_members #buddypress #item-nav.intern-box div.item-list-tabs ul,
#content-container .bp_group #buddypress #item-nav.intern-box div.item-list-tabs ul{padding-top: 20px;}
#content-container .bp_members #buddypress #item-nav.intern-box div.item-list-tabs ul li,
#content-container .bp_group #buddypress #item-nav.intern-box div.item-list-tabs ul li{margin: 0 10px 20px 10px;}
#content-container .bp_members #buddypress #item-nav.intern-box div.item-list-tabs ul li a,
#content-container .bp_group #buddypress #item-nav.intern-box div.item-list-tabs ul li a{
  min-width: 125px;
  padding: 15px 15px;
  border-radius: 5px;
  border-right: 1px solid;
  border-top: 1px solid;
  border-bottom: 1px solid;
}
#content-container .bp_members #buddypress #item-nav.intern-box div.item-list-tabs ul li.current a,
#content-container .bp_group #buddypress #item-nav.intern-box div.item-list-tabs ul li.current a{border: 0;}
/*END*/
#content-container div.item-list-tabs ul li:last-child a,
#content-container div.item-list-tabs-wiki ul li:last-child a,
#content-container div.item-list-tabs-project ul li:last-child a{
  border-right: 1px solid;
}
#content-container div.item-list-tabs ul li.selected a,
#content-container div.item-list-tabs-wiki ul li.active a,
#content-container div.item-list-tabs-project ul li.active a,
div.item-list-tabs ul li.current a{
  color: #FFF;
  opacity: 1;
}
#content-container div.item-list-tabs ul li.selected a:hover,
#content-container div.item-list-tabs-wiki ul li.active a:hover,
#content-container div.item-list-tabs-project ul li.active a:hover,
div.item-list-tabs ul li.current a:hover{
  opacity: .4;
  color: #FFF !important;
  text-decoration: none;
}
#content-container #item-nav.intern-box{
  padding: 0;
  border-top: 0;
}
#content-container div.item-list-tabs ul li > a:before,
#content-container div.item-list-tabs-wiki ul li > a:before,
#content-container div.item-list-tabs-project ul li > a:before{
  font-family: 'FontAwesome';
  padding-bottom: 5px;
  padding-right: 0;
  font-weight: initial;
  display: block;
  font-size: 2em;
}
/*DEFAULT ONE*/
#content-container div#object-nav.item-list-tabs ul li a:not(.has-icon){
  &::before{ content: "\f103"; }
}

#content-container div#object-nav.item-list-tabs ul li#activity-personal-li > a::before{ content: "\f1ea"; }
#content-container div#object-nav.item-list-tabs ul li#xprofile-personal-li > a::before{ content: "\f007"; }
#content-container div#object-nav.item-list-tabs ul li#notifications-personal-li > a::before{ content: "\f024"; }
#content-container div#object-nav.item-list-tabs ul li#messages-personal-li > a::before{ content: "\f086"; }
#content-container div#object-nav.item-list-tabs ul li#friends-personal-li > a::before{ content: "\f164"; }
#content-container div#object-nav.item-list-tabs ul li#groups-personal-li > a::before{ content: "\f0c0"; }
#content-container div#object-nav.item-list-tabs ul li#settings-personal-li > a::before{ content: "\f013"; }
#content-container div#object-nav.item-list-tabs ul li#courses-personal-li > a::before{ content: "\f19d"; }
#content-container div#object-nav.item-list-tabs ul li#calendar-personal-li > a::before{ content: "\f073"; }
#content-container div#object-nav.item-list-tabs ul li#media-personal-li > a::before{ content: "\f1c5"; }
#content-container div#object-nav.item-list-tabs ul li#notes-personal-li > a::before{ content: "\f044"; }
#content-container div#object-nav.item-list-tabs ul li#forums-personal-li > a::before{ content: "\f0e8"; }
#content-container div#object-nav.item-list-tabs ul li#buddydrive-personal-li > a::before{ content: "\f0a0"; }

#content-container div.item-list-tabs ul li#activity-all > a::before{ content: "\f0c0"; }
#content-container div.item-list-tabs ul li#activity-friends > a::before{ content: "\f087"; }
#content-container div.item-list-tabs ul li#activity-groups > a::before{ content: "\f097"; }
#content-container div.item-list-tabs ul li#activity-mentions > a::before{ content: "\f064"; }
#content-container div.item-list-tabs ul li#activity-favorites > a::before{ content: "\f005"; }

#content-container div.item-list-tabs ul li#groups-all > a::before{ content: "\f0c0"; }
#content-container div.item-list-tabs ul li#group-create-nav > a::before{ content: "\f0fe"; }
#content-container div.item-list-tabs ul li#groups-personal > a::before{ content: "\f004"; }

#content-container div.group-header div.item-list-tabs ul li#home-groups-li > a::before{ content: "\f015"; }
#content-container div.group-header div.item-list-tabs ul li#members-groups-li > a::before{ content: "\f0c0"; }
#content-container div.group-header div.item-list-tabs ul li#invite-groups-li > a::before{ content: "\f234"; }
#content-container div.group-header div.item-list-tabs ul li#admin-groups-li > a::before{ content: "\f085"; }
#content-container div.group-header div.item-list-tabs ul li#nav-group-projects-groups-li > a::before{ content: "\f1b3"; }

#content-container div.item-list-tabs ul li#forums-personal-li > a::before{ content: "\f0e8"; }
#content-container div.item-list-tabs ul li#nav-forum-groups-li > a::before{ content: "\f0e8"; }
#content-container div.item-list-tabs ul li#nav-experiences-groups-li > a::before{ content: "\f19d"; }
#content-container div.item-list-tabs ul li#rtmedia-media-nav-groups-li > a::before{ content: "\f1c5"; }

#content-container #groups-directory-form #item-nav div.item-list-tabs ul li{
  width: 180px;
}
#content-container #groups-directory-form #item-nav,
#content-container #create-group-form #item-nav{
  border-radius: 5px 5px 0 0;
}
/*SUBNAV*/
#buddypress div.item-list-tabs {
  &#subnav {
    margin: 0;
    ul {
      text-align: left;
      display: inline-block;
      width: 100%;
      border: 0;
      margin-bottom: 30px;
      border-radius: 5px;
      li {
        a {
          border: 0;
          padding: 12px 20px 12px 20px;
          font-size: .9em;
          background: transparent;
          overflow: visible;
          span {
            top: 10px;
          }
          &:hover {
            opacity: 1;
            background: #FFF;
            -webkit-transition: background 0.4s;
            -moz-transition: background 0.4s;
            transition: background 0.4s;
          }
        }
        &.current a {
          color: #FFF !important
        }
        &:first-child {
          a {
            border-radius: 5px 0 0 5px;
          }
        }
        &#notifications-personal-li > a::before{
          content: none;
        }
      }
    }
  }
  ul {
    li {
      &.last {
        margin-top: 3px !important;
        margin-left: 10px;
        margin-right: 10px;
        padding-top: 2px;
        label {
          margin-bottom: 0;
          font-weight: normal;
          font-style: italic;
          font-size: .9em;
          /*FINALY HIDE IT*/
          display: none;
        }
        select {
          margin: 0;
          min-width: 160px;
        }
      }
    }
  }
}
/*Notes field*/
.field_woffice_notes{display: none;}
form#woffice_user_notes{margin: 0;}

#buddypress .activity-list li.mini .activity-avatar img.avatar, #buddypress .activity-avatar img.FB_profile_pic, #whats-new-avatar a img,
.activity-avatar a img, #buddypress .item-avatar img{
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin-left: 0;
  position: relative;
}
#buddypress .activity-avatar img.avatar:hover,
#buddypress .item-avatar img:hover,
ul.birthdays-list li a img.avatar:hover {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
#buddypress ul.item-list .activity-comments li img.avatar, .ac-reply-avatar img{
  border-radius: 4px;
}
#item-body .activity{
  padding: 40px 0;
}
#buddypress .activity-content{
  margin: 0 0 0 90px !important;
  padding: 20px !important;
  border-radius: 5px;
}
#buddypress .activity-list .activity-content::before{
  content: "\f0d9";
  position: absolute;
  font-size: 2em;
  left: -8px;
  top: 16px;
  font-family: "fontAwesome";
}
#buddypress #activity-stream .activity-inner p{
  font-weight: normal;
  font-style: initial;
  font-size: 1.1em;
}
#buddypress div.activity-meta{
  margin: 0;
  a{
    border: 0;
    color: #FFF;
  }
}
/*SEARCH*/
#buddypress div.message-search{
  margin: 0;
  display: block;
  width: 100%;
  float: none;
}
#buddypress {
  div.item-list-tabs#subnav {
    form {
      margin: 0 0 20px 0;
      label {
        display: none;
      }
      input[type="text"] {
        width: 60%;
        margin-top: 0;
        margin-bottom: 0;
      }
      input[type="submit"] {
        width: 35%;
        padding: 17px 0;
        margin-top: 0;
        margin-left: 5%;
        margin-bottom: 0;
        float: right;
      }
    }
  }
}
#content-container #buddypress input#aw-whats-new-submit{margin-top: 15px;}
/*THE NOTIFICATIONS*/
#buddypress div#message,
#bp-uploader-warning,
#content-container  div.wpcf7-response-output,
#bp-avatar-feedback.updated.success{
  padding: 20px 40px;
  border-radius: 5px;
  z-index: 10;
  margin-top: 15px;
  overflow: hidden;
  position: relative;
  opacity: 1;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
#bp-uploader-warning, #bp-webcam-message p.warning,
#bp-avatar-feedback.updated.success{
  color: #FFF;
  border: none;
}
#buddypress div#message:hover,
#bp-uploader-warning:hover,
#content-container div.wpcf7-response-output:hover,
#bp-avatar-feedback.updated.success:hover{
  opacity: .8;
}
#buddypress div#message::before,
#content-container div.wpcf7-response-output::before,
#bp-uploader-warning::before,
#bp-avatar-feedback.updated.success::before{
  font-size: 7em;
  left: -20px;
  font-family: 'FontAwesome';
  content: "\f05a";
  top: -20px;
  position: absolute;
  color: rgba(255,255,255,.4);
}
#buddypress div#message p,
#bp-uploader-warning p, #bp-webcam-message p,
#content-container div.wpcf7-response-output{
  margin: 0;
  font-size: 1.1em;
  padding: 0;
  background-color: transparent;
  border: 0;
  color: #FFF;
}
#buddypress div#message.error:hover{
  opacity: .9;
}
#buddypress div#message.updated:hover{
  opacity: .9;
}
#buddypress div#message.updated p,
#buddypress div#message.error p{
  color: #FFF;
  border-color: transparent;
  background: transparent;
}
#buddypress div.item-list-tabs ul li.last select#notifications-sort-order-list{
  padding-right: 30px;
}
#buddypress div.item-list-tabs#subnav form#notifications-sort-order{
  margin: 0;
}
#notifications-count-top{
  margin-left: 0;
  font-style: italic;
}
#buddypress table.notification-settings{
  width: 100%;
}
#buddypress table.notification-settings .yes, #buddypress table.notification-settings .no{
  text-align: center;
}
#buddypress table.notification-settings .yes input,
#buddypress table.notification-settings .no input{
  width: initial;
}
div.bp-progress{border-radius: 3px;}
/* OTHER CHANGE TO THE MEMBER PAGE */
#content-container #buddypress input,
#content-container #buddypress select {
  margin-top: 0;
}
#buddypress form li{
  width: 100%;
}
#buddypress input[type=submit]{
  display: inline-block;
  width: initial;
}
#buddypress .standard-form input[type=text],
#buddypress .standard-form textarea{
  width: 100%;
  margin: 10px 0;
}
#buddypress .standard-form input[type=checkbox]{
  width: 20px;
}
#buddypress .standard-form div.submit{
  text-align: right;
}
#buddypress .standard-form div.submit input{
  float: none;
  display: inline-block;
  width: inherit;
  margin-right: 0;
  margin-bottom: 0;
}
#buddypress .standard-form select{
  height: 40px;
  padding: 10px;
}
#buddypress a.bp-secondary-action, #buddypress span.highlight{
  font-size: 100%;
}
#messages-bulk-manage{
  float: none;
  display: inline-block;
  width: initial;
}
.ac-reply-avatar img{
  width: 50px !important;
  height: 50px !important;
}
#buddypress .standard-form .datebox select {
  width: auto;
  display: inline-block;
  margin-right: 10px;
}
/*ACTIVITY*/
#buddypress .activity-list li{border-bottom: 0 !important;}
#buddypress .activity-list li:hover{background: none !important;}
#buddypress .activity-list li.mini{
  font-size: 100%;
  padding-bottom: 30px;
  /*border-bottom: 1px solid; */
  display: block;
}
#buddypress .activity-list li.mini:last-child{
  padding-bottom: 20px;
  border-bottom: 0;
}
#buddypress div.ac-reply-avatar img{
  border: 0;
  border-radius: 50%;
}
#buddypress form#whats-new-form #whats-new-options select{display: inline-block !important;}
#buddypress form#whats-new-form p.activity-greeting{
  line-height: normal;
}
#buddypress #whats-new-avatar img{
  width: 100px;
  height: 100px;
}
#buddypress form#whats-new-form #whats-new-content{
  margin-left: 100px;
}
#buddypress form#whats-new-form p.activity-greeting{
  margin-bottom: 0;
  margin-left: 120px;
}
#buddypress form#whats-new-form textarea{
  height: 60px !important;
  width: 100%;
}
#buddypress #item-body form#whats-new-form{
  padding: 30px 40px 10px 40px;
  border: 0;
  border-radius: 5px;
}
#buddypress ul.item-list{
  border-top: 0;
}
#buddypress ul#activity-stream.item-list li{
  padding: 20px 30px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
#content-container #buddypress div.activity-meta a.button:first-child{
  border-radius: 5px 0 0 5px;
}
#content-container #buddypress div.activity-meta a.button:last-child{
  border-radius: 0 5px 5px 0;
}
#content-container #buddypress div.activity-meta a.button{
  border-radius: 0;
  padding: 0 10px 0 0;
  background: transparent;
  display: inline-block;
  font-size: initial;
}
#buddypress a.activity-time-since{font-weight: 400;}
/* Added in 1.2.4 */
#main-content #buddypress div.activity-meta a.button { background-color: transparent !important;}
/* End */
#content-container #buddypress div.activity-meta a.button:hover{
  opacity: 1;
}
#buddypress div.activity-meta a,
#buddypress a.button,
#buddypress div.generic-button a,
#buddypress .comment-reply-link,
a.bp-title-button{
  text-transform: uppercase;
  border-radius: 2px;
  color: #FFF;
  font-weight: bold;
  padding: 10px 18px;
  margin: 15px 0px 15px 0px;
  border: 0;
  display: inline-block;
}
#buddypress div.activity-meta a:hover,
#buddypress a.button:hover,
#buddypress div.generic-button a:hover,
#buddypress .comment-reply-link:hover,
a.bp-title-button:hover{
  border: 0;
  color: #FFF !important;
}
#buddypress input[type=button]:hover{border: 0; background: inherit; color: #FFF;}
#buddypress #activity-stream p{
  /*font-weight: bold;
  font-style: italic;*/
}
#buddypress #activity-stream p{font-weight: bold;}
#buddypress .activity-list .activity-content .activity-header img.avatar{
  border-radius: 3px;
  position: relative;
  top: -5px;
  height: 30px;
  width: 30px;
}
#buddypress #activity-stream p{
  margin: 0;
}
#buddypress a.bp-primary-action span, #buddypress #reply-title small a span{
  color: #FFF;
  padding: 1px 8px;
  border-radius: 10px;
  margin-left: 10px;
  display: inline-block;
  line-height: normal;
}
#buddypress #whats-new-options{
  overflow: hidden;
  height: 55px !important;
  text-align: right;
}
#buddypress form#whats-new-form #whats-new-submit{
  float: none;
  margin-top: 0px;
  display: inline-block;
}
#buddypress .standard-form#send-reply textarea{
  width: 100%;
}
#buddypress ul.item-list li div.item-title, #buddypress ul.item-list li h4{
  font-size: 100%;
  font-weight: bold;
  text-transform: uppercase;
}
#buddypress div.pagination{
  float: none;
  padding: 20px 0;
  margin: 0;
  .pag-count{
    margin-left: 0;
  }
}
#buddypress div.pagination .pagination-links span{opacity: .6;}
#buddypress div.pagination .pagination-links a:hover{opacity: .8;text-decoration: none;}
#buddypress div.pagination .pagination-links span,
#buddypress div.pagination .pagination-links a{
  display: inline-block;
  padding: 10px 14px;
  margin: 0 -2px;
  color: #FFF;
}
#buddypress div.pagination .pagination-links .page-numbers:first-child{border-radius: 3px 0 0 3px;}
#buddypress div.pagination .pagination-links .page-numbers:last-child{border-radius: 0 3px 3px 0;}
#content-container .bp_activity #buddypress #item-nav.intern-box{
  border-top: 1px solid;
}
#content-container .bp_activity #buddypress .intern-padding:first-child{
  /*padding: 20px 40px 0 40px;*/
}
body.activity-permalink #buddypress .activity-list li .activity-content{margin-left: 120px;}
#buddypress div.activity-comments form .ac-textarea{
  border: 1px solid;
  border-radius: 5px;
  padding: 10px;
}
/*MESSAGES BUDDYPRESS*/
#buddypress table.messages-notices tr th{text-transform: uppercase;}
#buddypress #message-threads thead tr th:first-child{
  border-radius: 5px 0 0 0;
}
#buddypress #message-threads thead tr th:last-child{
  border-radius: 0 5px 0 0;
}
#buddypress div#message-thread div.alt{border-radius: 5px;}
#buddypress .thread-from .from,
#buddypress .thread-from .to{
  text-transform: uppercase;
  font-size: .8em;
  font-weight: 500;
}
#buddypress .thread-from a{
  text-transform: uppercase;
  padding-left: 10px;
}
#buddypress table#message-threads tr.unread td .thread-excerpt, #buddypress table#message-threads tr.unread td .activity, #buddypress table#message-threads tr.unread td.thread-options{font-size: .9em;}
#message-thread #message-recipients  .button.confirm { display: inline-block}
/*IMAGE CROP*/
.jcrop-holder{float: none!important;}
/*IMAGE DRAG AND DROP - BUDDYPRESS 2.3.0 */
.bp-avatar-nav li a:hover{text-decoration: none !important;}
.bp-avatar-nav ul.avatar-nav-items li.current{border-bottom-color: #FFF !important;}
/*PROFILE FIELDS*/
.datebox-selects{
  margin-top: 20px;
}
#profile-edit-form .editfield{margin-bottom: 20px;}
#main-content #buddypress ul.button-nav{padding-left: 0;}
#buddypress .button-nav li{
  display: inline;
  float: none !important;
}
#buddypress .button-nav li a{overflow: hidden;position: relative;}
table.profile-fields{
  margin-top: 20px;
  overflow: auto !important;
  width: 100%;
  display: block;
}
#content #buddypress table.profile-fields td.label{
  font-size: 1em;
  display: table-cell;
  border-radius: 0;
  text-align: left;
  border: 0;
  font-weight: 500;
  line-height: inherit;
}
#content #buddypress table.profile-fields tr.alt td{background: transparent;}
#content #buddypress table.profile-fields tr td.data{
  border-radius: 3px;
  padding: 10px 20px;
}
#content #buddypress .profile legend{
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 300;
}
/*SOCIAL ICONS*/
#content-container .member-social a{
  color: #FFF;
  font-size: 1.6em;
  padding: 10px 10px 0px 0;
  display: inline-block;
}
/*DROPDOWN LISTS*/
#buddypress .item-list-tabs ul li.last{
  position:relative;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  *display: inline;
}
#buddypress .item-list-tabs ul li.last select{
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  position:relative;
  background:transparent;
  text-transform: uppercase;
  font-size: .9em;
  font-weight: bold;
  padding:5px 10px;
  border:2px solid;
  border-radius: 5px;
}
#buddypress .item-list-tabs ul li.last select::-ms-expand {
  display: none;
}
#buddypress .item-list-tabs ul li.last:after{
  content: "\f0dc";
  font-family: FontAwesome;
  position:absolute;
  font-size: 1.4em;
  right: 5px;
  top: 18px;
  background:transparent;
  width:10%;
  line-height:10%;
}

/*GROUPS*/
#buddypress #pag-top.pagination{
  display: none;
}
#content-container #buddypress #group-create-tabs ul{
  padding: 20px;
  li{
    width: 160px;
    font-size: 14px;
    margin: 0 10px !important;
    &.current a{
      color: #FFF;
    }
    a, span{
      border-radius: 100px !important;
      opacity: 1;
    }
    span{
      padding: 15px;
      font-style: italic;
    }
  }
}

#content-container #buddypress #members-group-list #member-list li img{border-radius: 50%;}
#content-container #buddypress #members-group-list ul.item-list li div.action{top: 35px;}
#content-container #buddypress li.groups-members-search{display: none;}

#buddypress #create-group-form #message{margin: 20px 40px !important;}

/*Conflict with Bootstrap : */
#buddypress ul#groups-list li.hidden{display: inline-block !important;visibility: visible !important;}
/*SINGLE GROUP DESIGN*/
#buddypress ul#groups-list li,
#buddypress ul#members-list li{
  width: 31.2%;
  display: inline-block;
  border: 1px solid;
  padding: 0;
  margin: 20px 1%;
  border-radius: 5px;
}
#buddypress ul#groups-list li:hover,
#buddypress ul#members-list li:hover{
  -webkit-box-shadow: 0px 0px 8px 1px rgba(232,232,232,.4);
  -moz-box-shadow: 0px 0px 8px 1px rgba(232,232,232,.4);
  -ms-box-shadow: 0px 0px 8px 1px rgba(232,232,232,.4);
  box-shadow: 0px 0px 8px 1px rgba(232,232,232,.4);

}
#buddypress ul#groups-list li div.item,
#buddypress ul#members-list li div.item{
  padding: 35px 20px 0 20px;
  text-align: center;
}
#buddypress ul#groups-list li div.action,
#buddypress ul#members-list li div.action{
  position: relative;
  text-align: center;
  top: 0;
  padding: 10px 0 10px 0;
}
#buddypress ul#groups-list li div.action div.generic-button a,#buddypress ul#members-list li div.action div.generic-button a{font-size: .7em;}
#buddypress ul#groups-list li div.item-meta span,#buddypress ul#members-list li div.item-meta span{font-size: .9em;}
#buddypress ul#groups-list li div.item-desc,
#buddypress ul#members-list li div.item-desc{
  margin: 0;
  width: 100%;
}
#buddypress ul#groups-list li div.item-desc p,
#buddypress ul#members-list li div.item-desc p{
  text-transform: none;
  font-weight: initial;
}
#buddypress ul#groups-list li div.item-title,
#buddypress ul#members-list li div.item-title{
  width: 100%;
}
#buddypress ul#groups-list li div.item-title h3,
#buddypress ul#members-list li div.item-title h3{
  font-size: 18px;
  padding: 5px;
  margin-bottom: 0;
}
#buddypress .bp-widget ul#members-list li{

 div.item-title {
   padding-top: 20px;
 }

  .btn, .button {
    display: inline-block;
    font-size: .8em;
    padding: .9em 1.3em;
    margin: 5px;
  }
}

#content-container div.item-title a.heading::before{top: 70%;}
#buddypress ul#groups-list li div.item-title a{margin-bottom: 0;}

#buddypress ul#groups-list li div.item-title a,
#buddypress ul#members-list li div.item-title a{display: block;}

#buddypress ul#groups-list li div.item-avatar,
#buddypress ul#members-list li div.item-avatar {
  text-align: center;
  border-radius: 5px 5px 0 0;
  position: relative;
}
#buddypress ul#members-list li div.item-avatar.has-cover,
#buddypress ul#groups-list li div.item-avatar.has-cover{
  background-color: transparent;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#content-container #buddypress div.item-avatar a:hover{opacity: 1;}
#buddypress ul#groups-list li div.item-avatar img.avatar,
#buddypress ul#members-list li div.item-avatar img.avatar{
  float: none;
  height: 100px;
  width: 100px;
  position: relative;
  margin: 0;
  bottom: -50px;
  opacity: 1 !important;
  -webkit-box-shadow: 0 0 0 5px #FFF;
  -moz-box-shadow: 0 0 0 5px #FFF;
  -ms-box-shadow: 0 0 0 5px #FFF;
  -o-box-shadow: 0 0 0 5px #FFF;
  box-shadow: 0 0 0 5px #FFF;
}

#buddypress ul#members-list li div.item-title span.update{display: none;}
#buddypress ul#members-list li div.item-title h3{font-size: 1.4em;}
#buddypress ul#members-list li div.action{padding: 20px;}

#buddypress ul#members-list li div.item-avatar span.member-role{
  position: absolute;
  right: 10px;
  top: 10px;
  margin-left: 10px;
  text-transform: uppercase;
  font-size: .8em;
  color: #FFF;
  padding: 2px 5px;
  border-radius: 3px;
}
.bp-widget #members-list.item-list > li h5 > span.small > a {
  display: inline-block;
  margin-top: 2px;
  margin-bottom: 0;
}
/*MEMBERS TABLE*/
#members-list-table {
  th {
    white-space: nowrap;
  }
  td {
    a {
      img {
        display: inline-block;
        width: 60px;
        height: 60px;
        border-radius: 50%;
      }
    }
    div.generic-button {
      a {
        display: block;
        padding: 8px 6px;
        width: 80%;
      }
    }
  }
  tr {
    >td {
      &:first-child {
        a {
          display: block;
          text-align: center;
          width: 100px;
          span {
            display: block;
            margin-top: 10px;
            position: relative;
          }
        }
      }
    }
  }
  tbody {
    td {
      vertical-align: middle;
      div.generic-button {
        a {
          box-sizing: content-box;
        }
      }
    }
    td.field-icon {
      min-width: 0;
    }
  }
}
/*XPROFILE FIELDS*/
.woffice-xprofile-list{
  text-align: left;

  span {
    line-height: 30px;
    display: block;

    &.field-icon {
      display: inline-block;
      margin-right: 5px;
    }

    i{
      font-size: 20px;
      display: inline-block;
      margin-right: 10px;
      width: 25px;
      position: relative;
      top: 2px;
    }
  }
}

#members-list .member-xprofile-social-items {
  margin-top: 12px;
  margin-bottom: 5px;

  a {
    font-size: 22px;
    margin: 0 5px;
    line-height: 1;
  }
}

/*SINGLE GROUP PAGE*/
#buddypress div#item-header.group-header{
  padding: 10px 30px 50px 30px;
  div#item-actions{
    width: 30%;
  }
  ul img.avatar{
    width: 50px;
    height: 50px;
  }
  img.avatar{margin: 0;}
  div#item-header-content{
    margin: 40px 40px 0px 180px;
    float: none;
  }
}
#content-container #item-nav.intern-box.group-header{border-top: 1px solid;}
#content-container #buddypress div#item-header ul#group-admins li{margin-left: 10px;}
/*OTHER*/
#buddypress{
  div#item-header ul li a img{
    border-radius: 5px;
  }
  div.bp-avatar-status p.success,
  div.bp-avatar-status p.warning,
  div.bp-cover-image-status p.success,
  div.bp-cover-image-status p.warning{
    border-radius: 3px;
    border: 0;
    padding: 20px;
  }
}
/*BUDDYPRESS MAP*/
#members-extra{
  padding: 20px 0px 0 0px;
  text-align: center;
  .btn.btn-default{
    margin-left: 5px !important;
    margin-right: 5px !important;
    margin-bottom: 0 !important;
  }
}
#members-map{
  width: 100%;
  height: 400px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
#buddypress {
  #members-map-localize{
    position: absolute;
    display: none;
    top: 320px;
    width: 200px;
    left: 50%;
    margin-left: -100px;
  }
  &.has-map{
    #members-map-localize{
      display: block;
    }
    #members-directory-form{
      margin-top: 300px;
    }
  }
}


#members-map-container, #woffice-members-filter{display: inline-block;}
#buddypress.has-map #members-directory-form{margin-top: 300px;}
#members-map-loader{display: none;}
.user-map-box a{
  color: #8e8e8e;
  &:hover{
    text-transform: none;
  }
}
.user-map-box img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.user-map-box h3{margin-top: 10px;}
#woffice-members-filter-btn .fa-caret-down{margin-left: 10px;}
#members-directory-form{margin-top: 0;}
#woffice-members-filter-form{margin-bottom: 0;}
.dropdown-menu{margin-left: 10px;}
.dropdown-menu li a{color: initial !important;}
.dropdown-menu li a:hover{text-decoration: none !important;}

/*Map in the widget*/
.widget_woffice_usersmap #members-map-widget {display: block; position: relative;height: 200px;border-radius: 5px;}
.widget_woffice_usersmap #members-map-widget .user-map-box img {width: 30px;height: 30px;}
.widget_woffice_usersmap #members-map-widget .user-map-box h3{ margin: 5px 0;  font-size: 1.3em;}
/*REGISTER PAGE*/
#signup_form{margin: 0;padding: 40px;}
#signup_form > p{text-transform: none; font-style: italic;}

#content #bbp-search-form #bbp_search {
  width: 55%;
  margin-top: 0;
}
#bbp-search-form #bbp_search_submit {
  margin: 0
}

#buddypress #friend-listf.item-list li {
  overflow: hidden;
}
/*Autocomplete*/
#buddypress {
  ul.acfb-holder li.friend-tab {
    border: 1px solid #cacaca;
    font-size: 1em;
    padding: 10px;
    margin-bottom: 10px;
    background: #f3f3f3;
  }
  li.friend-tab {
    span.p {
      padding-left: 0;
      font-weight: bold;
      float: right;
      line-height: 20px;
      border-radius: 50%;
      background: #808080;
      height: 20px;
      color: #FFF;
      text-align: center;
      width: 20px;
      &:hover {
        opacity: .8;
      }
    }
    span {
      img {
        border-radius: 3px;
      }
      a {
        &:hover {
          text-decoration: none !important;
        }
      }
    }
  }
}

#close-notice {
  display: block;
  text-align: right;
}

#woffice-members-advanced-search {
  display: none;
  text-align: left;

  .form-group label{
    display: block;
  }

  #advanced-search-reset {
    margin: 15px !important;
    color: #fff !important;
  }
}