/*---------------------------------------------------------
**
** FOOTER COMPOMENTS
**
----------------------------------------------------------*/
#main-footer {
  position: relative;
  z-index: 18;
  a {
    text-decoration: none;
  }
}
/*EXTRAFOOTER*/
#extrafooter {
  position: relative;
  border-top: 6px solid;
  overflow: hidden;
  #familiers {
    height: 240px;
    width: 100%;
    width: calc(100vw + 60px);
    img {
      display: inline-block;
      position: relative;
    }
  }
}
#extrafooter-layer {
  position: absolute;
  z-index: 10;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: #FFF;
  a {
    color: inherit;
    h1 {
      opacity: 1;
      -webkit-transition: opacity 0.4s;
      -moz-transition: opacity 0.4s;
      transition: opacity 0.4s;
    }
    &:hover {
      h1 {
        opacity: .5;
        -webkit-transition: opacity 0.4s;
        -moz-transition: opacity 0.4s;
        transition: opacity 0.4s;
      }
    }
  }
  h1 {
    position: relative;
    padding: 50px 0 100px 0;
    font-size: 3em;
    &::after {
      content: "";
      background-image: url(images/headline.png);
      background-repeat: no-repeat;
      background-size: 600px 100px;
      background-position: center bottom;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
    }
    span {
      font-weight: bold;
    }
  }
  ul {
    padding-left: 0;
  }
}
/*WIDGETS*/
#widgets {
  padding: 30px 0;
  -webkit-box-shadow: inset 0px 0px 40px rgba(0,0,0,.4);
  -moz-box-shadow: inset 0px 0px 40px rgba(0,0,0,.4);
  -ms-box-shadow: inset 0px 0px 40px rgba(0,0,0,.4);
  box-shadow: inset 0px 0px 40px rgba(0,0,0,.4);
  h3 {
    margin: 0 0 30px 0;
    font-size: 1.3em;
    position: relative;
    &:after {
      content: "";
      width: 30px;
      position: absolute;
      height: 2px;
      left: 0;
      bottom: -10px;
    }
  }
  .widget{
    border-right: 1px solid;
    padding: 0 30px;
    &.widget_archive,
    &.widget_categories,
    &.widget_pages,
    &.widget_meta,
    &.widget_recent_comments,
    &.widget_recent_entries,
    &.widget_rss,
    &.widget_eventon,
    &.widget_woffice_projects,
    &.widget_woffice_wiki {
      ul li {
        padding-left: 30px;
        &::before{
          font-family: "FontAwesome";
          left: 0;
          top: 0;
          position: absolute;
          font-size: 1.5em;
          content: "\f178";
          color: #FFF !important;
        }
      }
    }
    &:last-child {
      border-right: none;
    }
    ul {
      padding-left: 0px;
      list-style-type: none;
      li {
        position: relative;
        line-height: 1.5em;
        margin-bottom: 8px;
        a {
          &:hover {
            padding-left: 10px;
            position: relative;
          }
        }
        span.label {
          margin-left: 10px;
        }
      }
    }
    ul.birthdays-list {
      li {
        padding-left: 0;
        &::before {
          display: none;
        }
      }
    }
  }
  .widget.widget_nav_menu {
    ul {
      li {
        padding-left: 0;
        &::before {
          display: none;
        }
      }
    }
  }
}
/*COPYRIGHT*/
#copyright {
  text-align: center;
  border-top: 6px solid;
  a {
    &:hover {
      opacity: .8;
    }
  }
  p {
    margin: 0;
    padding: 20px;
  }
}
