/*---------------------------------------------------------
**
** NAVIGATION COMPOMENTS
**
----------------------------------------------------------*/
/*LAYOUT*/
.admin-bar #navigation{
  top: 32px;
}
#navigation{
  z-index: 50;
  left: 0;
  top: 0;
  position: fixed;
  height: 100%;
  /*-webkit-transition: all 0.6s;*/
  /*-moz-transition: all 0.6s;*/
  /*transition: all 0.6s;*/
  -webkit-transition: left 0.6s;
  -moz-transition: left 0.6s;
  transition: left 0.6s;
  -webkit-box-shadow: 2px 0 5px rgba(0,0,0,.05);
  -moz-box-shadow: 2px 0 5px rgba(0,0,0,.05);
  -ms-box-shadow: 2px 0 5px rgba(0,0,0,.05);
  -o-box-shadow: 2px 0 5px rgba(0,0,0,.05);
  box-shadow: 2px 0 5px rgba(0,0,0,.05);
}
.main-menu{
  padding-left: 0;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  height: 100%;
  padding-bottom: 80px;
  overflow:auto;
  ul {
    padding-left: 0;
  }
  li{
    line-height: 0;
    a{
      padding: 31px 10px 32px;
      display: block;
      position: relative;
      overflow: hidden;
      text-align: center;
      font-weight: bold;
      font-size: .9em !important;
      line-height: 1;
      color: #FFF;
      border-bottom: 1px solid;
      text-decoration: none;
      &:before{
        font-weight: normal;
        position: absolute;
        opacity: .2;
        font-size: 48px;
        top: 10px;
        left: 0px;
        width: 100%;
        -webkit-transition: all 0.6s;
        -moz-transition: all 0.6s;
        transition: all 0.6s;
        font-family: "FontAwesome";
      }
    }
  }
}
.main-menu li > a:hover,
.main-menu li.current-menu-item a,
.main-menu li.current_page_item a{
  color: #FFF;
}
.main-menu li.menu-item-has-icon > a:hover,
.main-menu li.current-menu-item.menu-item-has-icon a,
.main-menu li.current_page_item.menu-item-has-icon a{
  padding: 41px 10px 22px 10px;
}
.main-menu li.menu-item-has-icon > a:hover:before,
.main-menu li.current-menu-item.menu-item-has-icon > a:before,
.main-menu li.current_page_item.menu-item-has-icon > a:before{
  font-size: 28px;
  opacity: 1;
}
.main-menu li.current-menu-item > a:hover:before,
.main-menu li.current_page_item > a:hover:before{
  opacity: .4;
}
/*SUBMENU*/
.main-menu ul.sub-menu {
  position: absolute;
  z-index: 20;
  padding-left: 0;
  list-style-type: none;
  opacity: 0;
  height: 0;
  overflow: hidden;
  li a{
    padding: 15px 10px 14px 15px !important;
    text-align: left;
    overflow: hidden;
    border-bottom: 0;
    max-width: 200px;
  }
  &.display-submenu{
    -webkit-transition: left 0.4s, opacity 1s ease-out;
    -moz-transition: left 0.4s, opacity 1s ease-out;
    transition: left 0.4s, opacity 1s ease-out;
    opacity: 1;
    padding-left: 15px;
    margin-left: -15px;
    height: auto;
    overflow: visible;
  }
}
.main-menu ul.sub-menu li a:hover,
.main-menu ul.sub-menu li.current-menu-item a,
.main-menu ul.sub-menu li.current_page_item a{
  --background: #FFF;
  padding: 15px 10px 14px 15px !important;
}
.main-menu ul.sub-menu li.current-menu-item a:hover,
.main-menu ul.sub-menu li.current_page_item a:hover{
  color: #FFF;
}
.main-menu ul.sub-menu li.menu-item-has-icon > a:hover:before,
.main-menu ul.sub-menu li.current-menu-item.menu-item-has-icon > a:before,
.main-menu ul.sub-menu li.current_page_item.menu-item-has-icon > a:before{
  opacity: .2 !important;
}
.main-menu ul.sub-menu li > a:before{
  left: 0 !important;
}

/*MEGAMENU*/
.main-menu .mega-menu {
  position: absolute;
  z-index: 20;
  display: block;
  opacity: 0;
  left: -100%;
  height: 0;
  overflow: hidden;
  padding-left: 20px;
  -webkit-transition: left 0.4s, opacity 1s ease-out;
  -moz-transition: left 0.4s, opacity 1s ease-out;
  transition: left 0.4s, opacity 1s ease-out;
  &.open{
    display: block;
    opacity: 1;
    margin-left: -20px;
    height: auto;
  }
}
#navigation  .mega-menu > ul.sub-menu:last-child,
#navigation  .mega-menu > ul.sub-menu:last-child ul.sub-menu{
  border-right: 0;
}
#navigation .mega-menu ul.sub-menu li{
  border-bottom: 0;
}
#navigation .mega-menu ul.sub-menu li a{
  width: 180px !important;
  padding: 15px 10px 14px 15px!important;
}
#navigation ul.sub-menu.mega-menu-row{
  /*width: 190px;*/
  display: block !important;
  position: relative;
  top: 0;
  margin-top: 0 !important;
  opacity: 1 !important;
  left: 0 !important;
  height: auto;
}
#navigation ul.sub-menu.mega-menu-row:after{
  clear: both;
}
#navigation ul.sub-menu.mega-menu-row .sub-menu{
  top: 0;
  display: block !important;
  position: relative;
  left: 0 !important;
  height: auto;
  opacity: 1;
  margin: 0 !important;
  padding: 0 !important;
}
#navigation .mega-menu ul.sub-menu li {
  width: 180px;
}
body.menu-is-horizontal #navigation .mega-menu ul.sub-menu li { width: 200px;}
#navigation ul.sub-menu.mega-menu-row .mega-menu-col {
  float: left;
}
#navigation ul.sub-menu.mega-menu-row .sub-menu li a{
  padding-left: 30px;
}
/*Horizontal Menu*/
body.menu-is-horizontal:not(.sidebar-hidden) #navigation {
  width:75%;
}
body.menu-is-horizontal.sidebar-hidden #navigation {
  width:100%;
}
#main-search {
  width:100%;
}
body.menu-is-horizontal #navigation{
  height: 76px !important;
  position: absolute;
  -webkit-transition: height 0.6s ease, width 0.6s ease;
  -moz-transition: height 0.6s ease, width 0.6s ease;
  transition: height 0.6s ease, width 0.6s ease;
  z-index: 20;
}
body.menu-is-horizontal.has-navigation-fixed #navigation{position: fixed;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  transition: all 0.6s ease;}
body.menu-is-horizontal .main-menu{max-width:100% !important;text-align:center;    padding-bottom: 0 !important; margin: 0 !important;overflow: visible !important;}
/*body.menu-is-horizontal #user-cover{margin-top: 76px !important;}*/
body.menu-is-horizontal #left-content{padding-top: 76px !important;}
body.menu-is-horizontal #navbar.navigation-fixed{left: 0 !important;}
body.menu-is-horizontal #user-sidebar{z-index: 21;}
body.menu-is-horizontal .main-menu li{display: inline-block;position: relative;vertical-align: top}
body.menu-is-horizontal #main-content,body.menu-is-horizontal #main-header,body.menu-is-horizontal #main-footer{padding-left: 0 !important;}
body.menu-is-horizontal .main-menu .mega-menu {top: 0; margin-top: 76px; left: 0;}
body.menu-is-horizontal .main-menu ul.sub-menu:not(.mega-menu-row),
body.menu-is-horizontal #navigation .main-menu .mega-menu ul.sub-menu a {width: 200px !important; margin-top: 0 !important; left: 0 !important;}
body.menu-is-horizontal #nav-trigger{height: 0; overflow: hidden;}