/* 
HEADER LEFT PANE
================================================ */
/* body overlay */
.body-overlay.body-overlay-on {
	left: 300px;
	box-shadow: none;
}

/* pagewrap */
#pagewrap {
	padding-top: 0 !important;
}

/* builder row */
.full_width .themify_builder_row.fullwidth .row_inner {
	 max-width: 100%;
}

/* body */
.mobile-menu-visible {
    overflow-x: hidden;
}
#footerwrap,
#body {
	margin-left: 300px;
	padding-left: 4%;
	padding-right: 4%;
}
#footerwrap,
.full_width #body {
	padding-left: 0;
	padding-right: 0;
}
#footer {
	padding-left: 4%;
	padding-right: 4%;
}

/* headerwrap */
#headerwrap {
	border-bottom: none;
	border-right: 1px solid rgba(0,0,0,.1);
	position: fixed;
	top: 0;
	left: 0px;
	width: 300px;
	height: 100%;
	z-index: 1;
	box-sizing: border-box;
	overflow: hidden;
	overflow-y: auto;
	text-align: inherit;
	-webkit-overflow-scrolling: touch;
}
body.page-loaded.fixed-header #headerwrap {
	position: fixed; /* required */
}
body:not(.mobile-menu-visible).mobile_menu_active #headerwrap {
	overflow: visible !important;
}
#headerwrap #header {
	max-width: none;
	padding: 30px 0;
	margin: auto;
}
#headerwrap.fixed-header {
	width: 300px;
}

/* logo wrap */
.logo-wrap {
	margin-left: 1.55em;
	margin-right: 1.55em;
	display: block;
}
#site-logo {
	padding-bottom: .5em;
	display: block;
}

/* site tagline */
#site-description {
	background: none !important;
	color: #7d7d7d;
	display: block;
	font-size: .85em;
	font-weight: 300;
	margin: 0 0 .5em;
	padding: 0;
	position: static;
	opacity: 1;
	visibility: visible;
	-webkit-transform: none;
	-moz-transform: none;
	transform: none;
	text-align: inherit;
	letter-spacing: -.01em;
}
#site-description:before {
	display: none;
}

/* search button */
#headerwrap .search-button {
	position: static;
	border: 1px solid rgba(0,0,0,.1);
	border-radius: 100%;
	height: auto;
	width: auto;
	padding: 3px 7px 0;
	margin-left: .4em;
	-webkit-transform: none;
	-moz-transform: none;
	transform: none;
}
.search-button:before {
	padding: 0;
	font-size: 1em;
}

/* top icon menu */
.sidemenu .top-icon-wrap {
	position: relative;
	left: 0;
	right: 0;
	width: auto;
	border: none;
	background: none;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-transform: none;
	-moz-transform: none;
	transform: none;
	perspective: none;
	-webkit-perspective: none;
	will-change: auto;
}
.sidemenu .icon-menu {
	float: none;
}
.sidemenu .top-icon-wrap li {
	width: auto;
}
.sidemenu .top-icon-wrap li a {
	display: inline-block;
}
.sidemenu .top-icon-wrap .icon-menu a .tooltip {
	background-color: #000;
	color: #fff;
	display: inline-block;
	font-size: 0.95em;
	line-height: normal;
	padding: .3em 1.1em .5em;
	position: absolute;
	top: 100%;
	left: 0;
	opacity: 0;
	visibility: hidden;
	-webkit-transform: none;
	-moz-transform: none;
	transform: none;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
	z-index: 1;
	margin-top: 10px;
}
.sidemenu .top-icon-wrap .icon-menu a:hover .tooltip {
	opacity: 1;
	visibility: visible;
	margin-top: 0;
}
.sidemenu .top-icon-wrap .icon-menu a .tooltip:before {
	content: '';
	display: block;
	border: 5px solid transparent;
	border-bottom-color: #000;
	position: absolute;
	bottom: 100%;
	left: 0;
	margin-left: 15px;
}
.sidemenu .top-icon-wrap .icon-menu .cart a .tooltip {
	display: none;
}
#headerwrap .sidemenu .top-icon-wrap li.cart {
	position: static;
}
#headerwrap .sidemenu #cart-wrap {
	width: 275px;
	right: 0;
	left: 0;
	margin: auto;
	margin-left: -.5em;
	-webkit-transform: none;
	-moz-transform: none;
	transform: none;
}
#headerwrap .sidemenu .top-icon-wrap:hover #cart-wrap {
	z-index: 11;
}
.mobile_menu_active .sidemenu-on .wishlist + #cart-icon-count #cart-wrap {
    left: 0;
    right: 0;
    transform: none;
}

.header-icons {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex; /* Safari */
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
	-webkit-align-items: center; /* Safari 7.0+ */
	align-items: center;
	width: 100%;
	margin: 0 1.1em;
}

/* menu navigation */
#headerwrap #main-nav {
	position: static;
	float: none;
	margin: .5em 0 0;
	padding: 0;
	border-bottom: 1px solid rgba(0,0,0,.1);
	-webkit-transform: none;
	-moz-transform: none;
	transform: none;
	max-width: none;
	clear: both;
}
#main-nav li {
	float: none;
	display: block;
}
#main-nav a {
	float: none;
	display: block;
	padding: .5em 1.65em;
	margin: auto;
}
#main-nav ul li:first-child > a,
#main-nav a {
	border-top: 1px solid rgba(0,0,0,.1);
	border-bottom: none;
}
#headerwrap #main-nav ul {
	border: none;
	background-color: transparent;
	display: block;
	opacity: 1;
	visibility: visible;
	position: static;
	padding: 0 0 0 3em;
	margin: auto;
}
#headerwrap #main-nav ul ul {
	padding-left: 1.5em;
}
#main-nav ul li {
	padding: 0;
}
#main-nav ul a {
	padding: .65em 0;
	width: auto;
}
#main-nav ul ul {
	margin: auto;
}
#main-nav > li > a:before {
	display: none;
}

/* sub level */
#headerwrap #main-nav ul {
	position: static;
	width: auto;
	height: auto;		
	display: block;
	border: none;
	margin: 0;
	padding: 0 0 0 2.8em;
	background: none;
	opacity: 1;
	visibility: visible;
	clear: both;
}
#headerwrap #main-nav ul ul {
	padding-left: 1.25em;
}

/* menu link */
#headerwrap #main-nav > li {
	position: relative;
}
#headerwrap #main-nav a, 
#headerwrap #main-nav ul a {
	background: none;
	border: none;
	border-top: solid 1px rgba(0,0,0,.1);
	display: block;
	font-size: 100%;
	width: auto;
	padding: .6em 1.4em;
	margin: 0;
	line-height: 1.5em;
	text-decoration: none;
}

/* sub level menu link */
#headerwrap #main-nav ul a {
	font-size: .95em;
	padding: .6em 1.4em .6em 0;
}

/* Mega menu */
#main-nav .has-mega-column > .sub-menu,
#main-nav .has-mega-sub-menu .mega-sub-menu {
	display: block;
	position: static;
	box-shadow: none;
	border: none;
	background-color: transparent;
	min-height: inherit;
	max-height: inherit;
	opacity: 1;
	-webkit-transform: none;
	-moz-transform: none;
	transform: none;
	margin: auto;
	padding: 0;
	width: auto !important;
}
#main-nav .has-mega-sub-menu .mega-sub-menu ul,
#main-nav .has-mega-column .sub-menu li {
	display: block;
	float: none;
	width: auto !important;
	margin: 0;
	padding: 0;
}
#main-nav li:not(.has-mega-column).dropdown-columns-2 > .sub-menu > li,
#main-nav li:not(.has-mega-column).dropdown-columns-3 > .sub-menu > li,
#main-nav li:not(.has-mega-column).dropdown-columns-4 > .sub-menu > li {
	float: none;
	width: 100%;
}
#main-nav .has-mega-column .widgettitle,
#main-nav .has-mega-column > .sub-menu > .columns-sub-item > a,
#main-nav .has-mega-column > .sub-menu a {
	font-size: inherit;
	font-weight: normal;
	text-transform: none;
}
#main-nav li.mega-link.loading .themify_spinner,
#main-nav li.mega-link.loading:before,
#main-nav .mega-sub-menu li:hover a:after,
#main-nav .mega-menu-posts {
	display: none;
}
#main-nav .has-mega-column > .sub-menu .widget {
	margin-top: .5em;
	margin-bottom: .5em;
}
#main-nav .has-mega-sub-menu .mega-sub-menu,
#main-nav .has-mega-column > .sub-menu {
	color: inherit;
}
#main-nav .has-mega-column > .sub-menu {
	padding: 0 0 0 2.8em;
}
#main-nav .has-mega-sub-menu .mega-sub-menu > ul a {
	padding: .5em 1em .1em;
}
#main-nav .has-mega-column .product-categories .count {
	right: 2em;
}

/* sub arrow */
#main-nav .sub-arrow {
	display: none;
}

/* dropdown icon */
#headerwrap #main-nav .menu-item-has-children > a,
#headerwrap #main-nav .page_item_has_children > a {
	padding-right: 2.5em;
}
#main-nav .menu-item-has-children .child-arrow,
#main-nav .page_item_has_children .child-arrow {
	position: absolute;
	right: 15px;
	top: 0;
	padding: .45em .5em;
	z-index: 1;
	cursor: pointer;
	font-size: .75em;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}
#main-nav .menu-item-has-children .child-arrow:before,
#main-nav .page_item_has_children .child-arrow:before {
	content: "\e80c"; /* ti-angle-down */
	font-family: 'themify_theme_icon';
	display: block;
}
#main-nav .menu-item-has-children .child-arrow.toggle-on:before,
#main-nav .page_item_has_children .child-arrow.toggle-on:before {
	content: "\e80d"; /* ti-close */
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	transform: rotate(-90deg);		
}
#main-nav .menu-item-has-children .child-arrow:hover,
#main-nav .page_item_has_children .child-arrow:hover {
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	transform: rotate(-180deg);
}
#main-nav .menu-item-has-children .child-arrow.toggle-on,
#main-nav .page_item_has_children .child-arrow.toggle-on {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	-webkit-transform-origin: center;
	-moz-transform-origin: center;
	transform-origin: center;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-ms-perspective: 1000px;
	perspective: 1000px;
}
#main-nav .menu-item-has-children .child-arrow.toggle-on:hover,
#main-nav .page_item_has_children .child-arrow.toggle-on:hover {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	transform: rotate(-90deg);		
}
#headerwrap #main-nav .has-mega-column > .sub-menu,
#headerwrap #main-nav .has-mega-sub-menu .mega-sub-menu,
#headerwrap #main-nav .has-mega-column > .sub-menu > li > ul {
	opacity: 1;
	-webkit-transform: none;
	-moz-transform: none;
	transform: none;
}
#headerwrap #main-nav .has-sub-menu > .sub-menu > li > ul.sub-menu,
#headerwrap #main-nav .has-mega-column > .sub-menu > li > ul.sub-menu,
#headerwrap #main-nav > li > div.sub-menu,
#headerwrap #main-nav > li > ul.sub-menu {
	height: 100%;
	overflow: hidden;
	max-height: 0;
	-webkit-transition: max-height 0.5s ease-in-out;
	-moztransition: max-height 0.5s ease-in-out;
	transition: max-height 0.5s ease-in-out;
}
#headerwrap #main-nav .has-sub-menu > .sub-menu > li > .toggle-on + ul.sub-menu,
#headerwrap #main-nav .has-mega-column > .sub-menu > li > .toggle-on + ul.sub-menu,
#headerwrap #main-nav > li > .toggle-on + div.sub-menu,
#headerwrap #main-nav > li > .toggle-on + ul.sub-menu {
	max-height: 1000px;
	min-height: initial;
}

/* Using Flex Css ordering elements */
#headerwrap .sidemenu {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex; /* Safari */
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
	-webkit-align-items: center; /* Safari 7.0+ */
	align-items: center;
	position: static;
	padding: 0 0 30px;
	overflow: inherit;
	border: none;
	width: auto;
	-webkit-overflow-scrolling: touch;
}
.sidemenu .top-icon-wrap {
	-webkit-order: 1;
	order: 1;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex; /* Safari */
	display: flex;
	-webkit-flex-direction: row-reverse;
	flex-direction: row-reverse;
}
#headerwrap .search-button {
	-webkit-order: 2;
	order: 2;
}
#headerwrap #main-nav-wrap {
	-webkit-order: 3;
	order: 3;
	width: 100%;
}

/* SLIDE CART */
.slide-cart-visible.sidemenu-right.mobile_menu_active {
	left: 300px;
}
.slide-cart-visible.sidemenu-right,
.slide-cart-visible.sidemenu-right #headerwrap {
	left: 0;
}
#headerwrap #slide-cart {
	right: auto;
	left: -300px;
	position: fixed;
	width: 300px;
	display: block;
	padding: 50px 0;
	overflow-y: auto;
	height: 100%;
	-webkit-transition: 200ms ease-in-out;
	-moz-transition: 200ms ease-in-out;
	transition: 200ms ease-in-out;
	-webkit-overflow-scrolling: touch;
}
.slide-cart-visible #headerwrap #slide-cart {
	left: 0;
	border-right: 1px solid rgba(0,0,0,.1);
}

/* MOBILE MENU ACTIVE */
/* header left-pane #body */
.mobile_menu_active #footerwrap,
.mobile_menu_active #body {
	padding-left: 0;
	padding-right: 0;
	margin-left: 0;
}
.mobile_menu_active #footer {
	padding-left: 0;
	padding-right: 0;
}
.mobile_menu_active.full_width.mobile-menu-visible {
	left: 300px;
}

/* header left-pane headerwrap */
.mobile_menu_active.mobile-menu-visible.sidemenu-active #headerwrap {
	left: 0;
}
.mobile_menu_active.sidemenu-active #headerwrap {
	left: -320px;
}

/* header left-pane menu icon */
.mobile_menu_active #headerwrap #menu-icon {
	position: fixed;
	right: auto;
	left: 10px;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
	width: 18px;
	height: 14px;
	margin: 0;
	background-color: #f4f4f4;
	outline: 10px solid #f4f4f4;
}
.mobile_menu_active.mobile-menu-visible #headerwrap #menu-icon {
	width: 30px;
	height: 18px;
	left: auto;
	right: 12px;
	top: 18px;
	position: absolute;
	outline-style: none;
	background-color: transparent;
}

.mobile_menu_active #menu-icon-close {
	top: 5px;
}

/* NICESCROLL */
.nicescroll-rails {
	z-index: 1001;
}

/* ADMIN BAR */
.mobile_menu_active.admin-bar #headerwrap {
	top: 32px;
}
.mobile_menu_active.admin-bar.mobile-menu-visible #headerwrap #menu-icon {
	top: 0px;
}

@media only screen and (min-width: 1201px) {
	/* builder row */
	.full_width .themify_builder_row .row_inner {
		 max-width: 96%;
	}
}