/* 
HEADER SLIDE RIGHT
================================================ */

/* search button & top icon link */
#headerwrap .search-button {
	display: inline-block;
	width: 56px;
	height: 100%;
	border-right: 1px solid rgba(0,0,0,.1);
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 2;
}
#headerwrap .search-button:hover {
	background-color: #000;
	color: #dcaa2e;
}

.search-button + .top-icon-wrap {
	right: auto;
	left: 68px;
}
.icon-menu a .tooltip {
	left: 0;
	-webkit-transform: none;
	-moz-transform: none;
	transform: none;
}
.icon-menu a .tooltip:before {
	left: 0;
	margin-left: 10px;
}
#cart-wrap {
	left: auto;
	right: 0;
}

/* menu navigation */
#main-nav {
	position: static;
	float: none;
	margin: 4.1em 0 1em;
	padding: 0;
	border-bottom: 1px solid rgba(0,0,0,.1);
	-webkit-transform: none;
	-moz-transform: none;
	transform: none;
	max-width: none;
}
#main-nav li {
	float: none;
	display: block;
}
#main-nav a {
	float: none;
	display: block;
	padding: .5em 2em;
	margin: auto;
}
#main-nav ul li:first-child > a,
#main-nav a {
	border-top: 1px solid rgba(0,0,0,.1);
	border-bottom: none;
}
#main-nav ul {
	border: none;
	background-color: transparent;
	display: block;
	opacity: 1;
	visibility: visible;
	position: static;
	padding: 0 0 0 3em;
	margin: auto;
}
#main-nav ul li {
	padding: 0;
}
#main-nav ul a {
	padding: .65em 0;
	width: auto;
}
#main-nav ul ul {
	margin: auto;
	padding-left: 1em;
}
#main-nav > li > a:before {
	display: none;
}

/* sub level */
#headerwrap #main-nav ul {
	position: static;
	width: auto;
	height: auto;		
	display: block;
	border: none;
	margin: 0;
	padding: 0 0 0 2.8em;
	background: none;
	opacity: 1;
	visibility: visible;
	clear: both;
}
#headerwrap #main-nav ul ul {
	padding-left: 1.25em;
}

/* menu link */
#headerwrap #main-nav a, 
#headerwrap #main-nav ul a {
	background: none;
	border: none;
	border-top: solid 1px rgba(0,0,0,.1);
	color: #030301;
	display: block;
	font-size: 100%;
	width: auto;
	padding: .6em 1.4em;
	margin: 0;
	line-height: 1.5em;
	text-decoration: none;
}

/* sub level menu link */
#headerwrap #main-nav ul a {
	font-size: .95em;
	padding: .6em 1.4em .6em 0;
}

/* Mega menu */
#main-nav .has-mega-column > .sub-menu,
#main-nav .has-mega-sub-menu .mega-sub-menu {
	display: block;
	position: static;
	box-shadow: none;
	border: none;
	background-color: transparent;
	min-height: inherit;
	max-height: inherit;
	opacity: 1;
	-webkit-transform: none;
	-moz-transform: none;
	transform: none;
	margin: auto;
	padding: 0;
	width: auto !important;
}
#main-nav .has-mega-sub-menu .mega-sub-menu ul,
#main-nav .has-mega-column .sub-menu li {
	display: block;
	float: none;
	width: auto !important;
	margin: 0;
	padding: 0;
}
#main-nav li:not(.has-mega-column).dropdown-columns-2 > .sub-menu > li,
#main-nav li:not(.has-mega-column).dropdown-columns-3 > .sub-menu > li,
#main-nav li:not(.has-mega-column).dropdown-columns-4 > .sub-menu > li {
	float: none;
	width: 100%;
}
#main-nav .has-mega-column .widgettitle,
#main-nav .has-mega-column > .sub-menu > .columns-sub-item > a,
#main-nav .has-mega-column > .sub-menu a {
	font-size: inherit;
	font-weight: normal;
	text-transform: none;
}
#main-nav li.mega-link.loading .themify_spinner,
#main-nav li.mega-link.loading:before,
#main-nav .mega-sub-menu li:hover a:after,
#main-nav .mega-menu-posts {
	display: none;
}
#main-nav .has-mega-column > .sub-menu .widget {
	margin-top: .5em;
	margin-bottom: .5em;
}
#main-nav .has-mega-sub-menu .mega-sub-menu,
#main-nav .has-mega-column > .sub-menu {
	color: inherit;
}
#main-nav .has-mega-column > .sub-menu {
	padding: 0 0 0 2.8em;
}
#main-nav .has-mega-sub-menu .mega-sub-menu > ul a {
	padding: .5em 1em .1em;
}
#main-nav .has-mega-column .product-categories .count {
	right: 2em;
}

/* sub arrow */
#main-nav .sub-arrow {
	display: none;
}

/* dropdown icon */
#headerwrap #main-nav .menu-item-has-children > a,
#headerwrap #main-nav .page_item_has_children > a {
	padding-right: 2.5em;
}
#main-nav .menu-item-has-children .child-arrow,
#main-nav .page_item_has_children .child-arrow {
	position: absolute;
	right: 15px;
	top: 0;
	padding: .45em .5em;
	z-index: 1;
	cursor: pointer;
	font-size: .75em;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}
#main-nav .menu-item-has-children .child-arrow:before,
#main-nav .page_item_has_children .child-arrow:before {
	content: "\e80c"; /* ti-angle-down */
	font-family: 'themify_theme_icon';
	display: block;
}
#main-nav .menu-item-has-children .child-arrow.toggle-on:before,
#main-nav .page_item_has_children .child-arrow.toggle-on:before {
	content: "\e80d"; /* ti-close */
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	transform: rotate(-90deg);		
}
#main-nav .menu-item-has-children .child-arrow:hover,
#main-nav .page_item_has_children .child-arrow:hover {
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	transform: rotate(-180deg);
}
#main-nav .menu-item-has-children .child-arrow.toggle-on,
#main-nav .page_item_has_children .child-arrow.toggle-on {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	-webkit-transform-origin: center;
	-moz-transform-origin: center;
	transform-origin: center;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-ms-perspective: 1000px;
	perspective: 1000px;
}
#main-nav .menu-item-has-children .child-arrow.toggle-on:hover,
#main-nav .page_item_has_children .child-arrow.toggle-on:hover {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	transform: rotate(-90deg);		
}
#headerwrap #main-nav > li {
	position: relative;
}
#headerwrap #main-nav .has-mega-column > .sub-menu,
#headerwrap #main-nav .has-mega-sub-menu .mega-sub-menu,
#headerwrap #main-nav .has-mega-column > .sub-menu > li > ul {
	opacity: 1;
	-webkit-transform: none;
	-moz-transform: none;
	transform: none;
}
#headerwrap #main-nav .has-sub-menu > .sub-menu > li > ul.sub-menu,
#headerwrap #main-nav .has-mega-column > .sub-menu > li > ul.sub-menu,
#headerwrap #main-nav > li > div.sub-menu,
#headerwrap #main-nav > li > ul.sub-menu {
	height: 100%;
	overflow: hidden;
	max-height: 0;
	-webkit-transition: max-height 0.5s ease-in-out;
	-moztransition: max-height 0.5s ease-in-out;
	transition: max-height 0.5s ease-in-out;
}
#headerwrap #main-nav .has-sub-menu > .sub-menu > li > .toggle-on + ul.sub-menu,
#headerwrap #main-nav .has-mega-column > .sub-menu > li > .toggle-on + ul.sub-menu,
#headerwrap #main-nav > li > .toggle-on + div.sub-menu,
#headerwrap #main-nav > li > .toggle-on + ul.sub-menu {
	max-height: 1000px;
	min-height: initial;
}

/* sidemenu */
.sidemenu {
	background-color: rgba(255,255,255,.95);
	color: inherit;
	display: block;
	position: fixed;
	padding: 0 0 50px;
	width: 320px;
	height: 100%;
	left: auto;
	right: -320px;
	top: 0;
	z-index: 9999;
	-webkit-transition: right 200ms ease-in-out;
	-moz-transition: right 200ms ease-in-out;
	transition: right 200ms ease-in-out;
	overflow: hidden;
	overflow-y: auto;
}
.mobile-menu-visible .sidemenu-on {
	right: 0px;
	border-left: 1px solid rgba(0,0,0,.1);
}

/* menu-icon */
#headerwrap #menu-icon {
	display: block;
	text-decoration: none;
	position: absolute;
	width: 30px;
	height: 18px;
    top: 22px;
	right: 20px;
	z-index: 1;
	border-bottom: 2px solid;
	overflow: hidden;
	margin: 0;
}
#headerwrap #menu-icon:before,
#headerwrap #menu-icon:after {
	content: '';
	display: block;
	border-top: 2px solid;
	position: absolute;
	left: 0;
	width: 100%;
	transition: all .7s ease;
	transition-property: transform;
}
#headerwrap #menu-icon:before {
	top: 0;
}
#headerwrap #menu-icon:after {
	top: 50%;
}
.mobile-menu-visible #headerwrap #menu-icon {
	display: none;
}

/* slide menu icon close */
.mobile-menu-visible #menu-icon-close {
	display: block;
	position: absolute;
	text-decoration: none;
	top: .75em;
	right: 1em;
	min-width: 2em;
	min-height: 2em;
	transform-origin: center;
	transition: all .3s linear;
	transition-property: transform;
}
.mobile-menu-visible #menu-icon-close:before,
.mobile-menu-visible #menu-icon-close:after {
	content: '';
	display: block;
	border-top: 1px solid;
	position: absolute;
	left: 0;
	top: 60%;
	width: 100%;
}
.mobile-menu-visible #menu-icon-close:before {
	-webkit-transform: rotateZ(-45deg);
	-moz-transform: rotateZ(-45deg);
	transform: rotateZ(-45deg);
}
.mobile-menu-visible #menu-icon-close:after {
	-webkit-transform: rotateZ(45deg);
	-moz-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
}
.mobile-menu-visible #menu-icon-close:hover {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
}

/* search icon */
.mobile-menu-visible #headerwrap .search-button {
	left: 0;
    right: auto;
    height: 62px;
    top: 0px;
}

/* sidemenu active */
.sidemenu-active {
	position: relative;
}
.sidemenu-active,
.sidemenu-active #headerwrap {
	left: 0;
	-webkit-transition: left .2s ease-in-out;
	-moz-transition: left .2s ease-in-out;
	transition: left .2s ease-in-out;
}
.sidemenu-right {
	left: -320px;
}

/* MOBILE MENU ACTIVE */
.mobile_menu_active .logo-wrap {
	display: block;
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
}
.mobile_menu_active #headerwrap .search-button {
	position: static;
	width: 71px;
	height: auto;
	-webkit-transform: none;
	-moz-transform: none;
	transform: none;
}
.mobile_menu_active #main-nav {
	margin-top: 0;
}
.mobile_menu_active #headerwrap #menu-icon {
	right: 0;
}

.mobile_menu_active.admin-bar #headerwrap,
.mobile_menu_active.admin-bar #headerwrap.fixed-header {
	top: 0;
}


/* ADMIN BAR */
.admin-bar #headerwrap {
	top: 0 !important;
}
.mobile_menu_active.admin-bar #headerwrap #menu-icon,
.admin-bar #headerwrap #menu-icon {
	top: 25px;
}