/************************************************************************************
WOOCOMMERCE
*************************************************************************************/
/* SINGLE PRODUCT
================================================ */
.woocommerce div.product {
	clear: both;
}
.woocommerce div.product:after {
	content: '';
	display: table;
	clear: both;
}

/* message, info, error */
.woocommerce .woocommerce-error,
.woocommerce .woocommerce-info,
.woocommerce .woocommerce-message,
.woocommerce-page .woocommerce-error,
.woocommerce-page .woocommerce-info,
.woocommerce-page .woocommerce-message {
    border: none;
    background-color: #F4F4F4;
    box-shadow: none;
    border-radius: 0;
    text-shadow: none;
}

.woocommerce .woocommerce-error:before,
.woocommerce .woocommerce-info:before,
.woocommerce .woocommerce-message:before {
    color: inherit;
    text-shadow: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.woocommerce-error li:last-child,
.woocommerce-info li:last-child,
.woocommerce-message li:last-child {
	margin-bottom: 0;
}

/* Breadcrum */
.woocommerce .woocommerce-breadcrumb {
	font-weight: 300;
	font-size: .75em;
	color: #959595;
	letter-spacing: 0.1em;
	margin-bottom: .9em;
}
.woocommerce .woocommerce-breadcrumb a {
	color: inherit;
	font-weight: 500;
	text-decoration: none;
	text-transform: uppercase;
	margin-right: -1px;
}
.sidebar-none .woocommerce-breadcrumb {
	text-align: center;
}
.sidebar-none .has-post-thumbnail .woocommerce-breadcrumb {
	text-align: left;
}

/* single product title */
.woocommerce div.product .product_title {
	font-family: inherit;
	font-weight: 300;
	font-size: 1.8em;
	line-height: 1.1em;
	margin: 0 0 .575em;
	padding: 0;
	text-align: inherit;
}

/* single product image */
.woocommerce-main-image.zoom{
    display:block;
    position: relative;
    margin: 0; /* reset margin-bottom from .post-image */
}
.product_zoom{
	cursor: url('../images/zoom-in.png'),e-resize;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:10;
}
.product_zoom.zoomed{
	cursor: url('../images/zoom-out.png'),e-resize;
}
.zoom_progress{
    opacity:.5;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -ms-transition:opacity 0.3s ease-out ; /* IE10 is actually unprefixed */
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}
.woocommerce #content div.product div.summary,
.woocommerce div.product div.summary,
.woocommerce-page #content div.product div.summary,
.woocommerce-page div.product div.summary {
	box-sizing: border-box;
	padding-left: 4.5%;
}
.woocommerce #content div.product div.images a[data-rel*="prettyPhoto[product-gallery]"],
.woocommerce div.product div.images a[data-rel*="prettyPhoto[product-gallery]"],
.woocommerce-page #content div.product div.images a[data-rel*="prettyPhoto[product-gallery]"],
.woocommerce-page div.product div.images a[data-rel*="prettyPhoto[product-gallery]"] {
	float: right;
	width: 87%;
	box-sizing: border-box;
}
.woocommerce div.product div.images div.thumbnails,
.woocommerce div.product div.images .thumbnails,
.woocommerce-page div.product div.images div.thumbnails,
.woocommerce-page div.product div.images .thumbnails {
	float: left;
	width: 12%;
	padding: 0;
}

/* star rating */
.woocommerce div.product .woocommerce-product-rating {
    margin-bottom: .85em;
}
.woocommerce .woocommerce-product-rating {
	color: #dcaa2e;
}
.woocommerce .woocommerce-product-rating a {
	color: inherit;
}
.woocommerce .woocommerce-product-rating .star-rating {
	font-size: .9em;
	letter-spacing: .2em;
	width: 6.2em;
	margin-right: .5em;
}
.woocommerce-review-link {
	font-size: .75em;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.1em;
}
.woocommerce div.product form.cart,
.woocommerce div.product p.cart {
	margin-top: 2.45em;
}
.woocommerce div.product .product_meta,
.woocommerce div.product .product_meta {
	text-transform: uppercase;
}
.woocommerce div.product .product_meta a,
.woocommerce div.product .product_meta a {
	text-transform: none;
	font-weight: normal;
}

/* product tags */
.woocommerce div.product .product_meta .tagged_as {
	display: block;
}

/* quantity */
.woocommerce div.product form.cart div.quantity {
	margin: 0;
}

/* add to cart button */
.woocommerce div.product form.cart .button {
	float: none;
	display: inline-block;
	margin: 0 .75em 0 0;
}

/* add to cart button variation */
.single_variation_wrap {
	display: inline-block;
}
.single_variation,
.woocommerce-variation-add-to-cart {
	display: inline-block;
	vertical-align: middle;
}
.single_variation {
	margin-right: 1em;
}

/* price */
.woocommerce #content div.product p.price,
.woocommerce #content div.product span.price,
.woocommerce div.product p.price,
.woocommerce div.product span.price,
.woocommerce-page #content div.product p.price,
.woocommerce-page #content div.product span.price,
.woocommerce-page div.product p.price,
.woocommerce-page div.product span.price {
    color: #666;
}

/* price */
.woocommerce div.product p.price,
.woocommerce div.product span.price {
	color: inherit;
	font-size: 1.4em;
	font-weight: 500;
	margin: 0 0 .6em;
	font-weight: 300;
}
.woocommerce div.product p.price del,
.woocommerce div.product span.price del {
	font-size: .8em;
	margin-right: .5em;
	display: inline-block;
	margin-bottom: .5em;
}
.woocommerce div.product p.price ins,
.woocommerce div.product span.price ins {
	font-weight: 300;
	display: inline-block;
}

/* quantity */
.woocommerce-page .quantity .qty,
.woocommerce .quantity .qty {
	font-size: 1.08em;
	margin: 0;
	margin-right: .55em;
	padding: 0.575em 1.2em;
	width: 4.9em;
	max-width: none;
	border-radius: 0;
}
.woocommerce-page .quantity .minus,
.woocommerce-page .quantity .plus,
.woocommerce .quantity .minus,
.woocommerce .quantity .plus {
	display: none;
}

/* sale */
.woocommerce #content div.product div.images,
.woocommerce div.product div.images,
.woocommerce-page #content div.product div.images,
.woocommerce-page div.product div.images {
	overflow: hidden;
}

.woocommerce span.onsale,
.woocommerce-page span.onsale,
.woocommerce ul.products li.product .onsale,
.woocommerce-page ul.products li.product .onsale {
	box-sizing: border-box;
	box-shadow: none;
	border-radius: 0;
	background: transparent;
	color: #eaeaea;
	font-size: .9em;
	font-weight: normal;
	padding: .3em 1.65em;
	text-align: center;
	text-transform: Uppercase;
	text-shadow: none;
	min-width: 3.4em;
	min-height: 0;
	margin: -1em -1.6em 0 0;
	top: 0;
	left: auto;
	right: 0;
	letter-spacing: .05em;
	line-height: 4.4em;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: 2;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.woocommerce span.onsale:before,
.woocommerce-page span.onsale:before {
	content: '';
	display: inline-block;
	background-color: #dcaa2e;
	height: 3.2em;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
}

/* tabs */
.woocommerce #content div.product .woocommerce-tabs ul.tabs,
.woocommerce div.product .woocommerce-tabs ul.tabs,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs,
.woocommerce-page div.product .woocommerce-tabs ul.tabs {
	padding: 1em 0 0;
	margin: 0 0 2em;
}
.woocommerce #content div.product .woocommerce-tabs ul.tabs:before,
.woocommerce div.product .woocommerce-tabs ul.tabs:before,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs:before,
.woocommerce-page div.product .woocommerce-tabs ul.tabs:before {
	border-bottom: solid 1px rgba(0,0,0,.13);
}
.woocommerce #content div.product .woocommerce-tabs ul.tabs li,
.woocommerce div.product .woocommerce-tabs ul.tabs li,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li {
	background: none;
	border: none;
	border-radius: 0;
	margin: 0;
	padding: 0;
	position: relative;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce div.product .woocommerce-tabs ul.tabs li:before {
	display: none;
}
.woocommerce #content div.product .woocommerce-tabs ul.tabs li a,
.woocommerce div.product .woocommerce-tabs ul.tabs li a,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li a {
	border: none;
	border-bottom: 3px solid transparent;
	box-shadow: none;
	padding: .9em 1em;
	text-shadow: none;
	text-transform: uppercase;
	font-size: .9em;
	font-weight: 500;
	letter-spacing: 0.05em;
	color: #959595;
}
.woocommerce #content div.product .woocommerce-tabs ul.tabs li:hover a,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active a,
.woocommerce div.product .woocommerce-tabs ul.tabs li:hover a,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:hover a,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active a,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li:hover a,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active a {
	border-color: #dcaa2e;
	color: #060604;
}

/* sidebar-none description tabs */
body:not(.product-img-right):not(.product-img-left).woocommerce.sidebar-none #content div.product .woocommerce-tabs ul.tabs,
body:not(.product-img-right):not(.product-img-left).woocommerce.sidebar-none div.product .woocommerce-tabs ul.tabs,
body:not(.product-img-right):not(.product-img-left).woocommerce-page.sidebar-none #content div.product .woocommerce-tabs ul.tabs,
body:not(.product-img-right):not(.product-img-left).woocommerce-page.sidebar-none div.product .woocommerce-tabs ul.tabs {
	text-align: center;
}
body:not(.product-img-right):not(.product-img-left).woocommerce.sidebar-none div.product .woocommerce-tabs .panel {
	padding-left: 12%;
	padding-right: 12%;
}

.woocommerce .woocommerce-tabs h2,
.woocommerce .woocommerce-noreviews {
	display: none;
}
.woocommerce .woocommerce-tabs h3 {
	text-transform: none;
	font-size: 1.2em;
	font-weight: 300;
	margin: 0 0 .6em;
	letter-spacing: 0;
}

/* reviews tabs */
.woocommerce #commentform .comment-form-rating label {
	display: inline-block;
	vertical-align: middle;
	margin-right: 1em;
}
.woocommerce #review_form #respond #commentform .comment-form-rating .stars {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	line-height: normal;
}

.woocommerce #reviews #comments ol.commentlist li img.avatar {
	width: 85px;
	border: none;
	padding: 0;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text {
	margin-left: 120px;
	border: none;
	padding: 0;
	text-align: left;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta {
	margin: 4px 0 10px;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta strong {
	font-weight: normal;
    font-style: normal;
    font-size: 125%;
	display: block;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta time {
    color: #959595;    
    letter-spacing: -.015em;
}

/* attributes table */
.woocommerce table.shop_attributes {
    border: 0;
    margin-bottom: 1.5em;
    width: 100%;
    text-align: left;
    border-spacing: 0;
}
.woocommerce table.shop_attributes th {
	font-weight: 500;
	padding: .4em .4em .4em 0;
}
.woocommerce table.shop_attributes td p {
	padding: .4em .4em .4em 0;
}
.woocommerce table.shop_attributes td, 
.woocommerce table.shop_attributes th {
	font-style: normal;
	border-bottom: solid 1px rgba(0,0,0,.07);
}
.woocommerce table.shop_attributes .alt td, 
.woocommerce table.shop_attributes .alt th {
	background: none;
}

/* related products */
.woocommerce .related.products ul,
.woocommerce .related.products {
	text-align: center;
}
.woocommerce .related.products ul li {
	text-align: left;
}
.woocommerce .related.products {
	margin-top: 4em;
}
.woocommerce.woocommerce-page .related ul.products .product {
	float: none;
	display: inline-block;
	vertical-align: top;
}

/* Product Gallery Lightbox */
div.pp_overlay {
	background-color: rgba(255,255,255,.95);
}
div.pp_woocommerce .pp_content_container {
	box-shadow: none;
	border-radius: 0;
	border: 1px solid rgba(0,0,0,.15);
}
div.pp_woocommerce .pp_close {
	padding: 6px;
	line-height: 1.7em;
	position: fixed;
	right: 5px;
	top: 5px;
	background-color: transparent;
	width: 25px;
	height: 25px;
}
div.pp_woocommerce .pp_close:before {
	content: '\e80d'; /* ti-close */
	font-family: 'themify_theme_icon';
	color: #000;
}
div.pp_woocommerce .pp_close:hover {
	background-color: transparent;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
}
div.pp_woocommerce .pp_arrow_next,
div.pp_woocommerce .pp_arrow_previous,
div.pp_woocommerce .pp_close,
div.pp_woocommerce .pp_next:before,
div.pp_woocommerce .pp_previous:before,
div.pp_woocommerce a.pp_contract,
div.pp_woocommerce a.pp_expand {
	text-shadow: none;
}
div.pp_woocommerce .pp_next,
div.pp_woocommerce .pp_previous,
div.pp_woocommerce .pp_arrow_next,
div.pp_woocommerce .pp_arrow_previous {
	padding: 3px;
	margin-top: 3px;
	line-height: 1.1em;
	background: none;
	color: inherit !important;
}
div.pp_woocommerce .pp_next:before,
div.pp_woocommerce .pp_previous:before,
div.pp_woocommerce .pp_arrow_next:before,
div.pp_woocommerce .pp_arrow_previous:before {
	font-family: 'themify_theme_icon';
	padding: 3px;
}
div.pp_woocommerce .pp_next:before,
div.pp_woocommerce .pp_arrow_next:before {
	content: '\e80e'; /* ti-arrow-right */
}
div.pp_woocommerce .pp_previous:before,
div.pp_woocommerce .pp_arrow_previous:before {
	content: '\e80f'; /* ti-arrow-left */
}
div.pp_woocommerce .pp_arrow_next:hover,
div.pp_woocommerce .pp_arrow_previous:hover {
	background: none;
}
div.pp_woocommerce a.pp_contract,
div.pp_woocommerce a.pp_expand {
	width: 23px;
	height: 22px;
	line-height: .9em;
}

/* Caption Title */
div.pp_woocommerce div.ppt {
	color: #000 !important;
}

/* buttons */
.woocommerce ul.products li.product.outofstock .button,
.woocommerce .wc-products .product .add_to_cart_button, 
.woocommerce ul.products li.product .add_to_cart_button,
.woocommerce #content input.button,
.woocommerce #respond input#submit,
.woocommerce #content input.button.alt,
.woocommerce #respond input#submit.alt,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce button.button.alt.disabled,
.woocommerce-page #content input.button,
.woocommerce-page #respond input#submit,
.woocommerce-page #content input.button.alt,
.woocommerce-page #respond input#submit.alt,
.woocommerce-page a.button,
.woocommerce-page button.button,
.woocommerce-page input.button,
.woocommerce-page a.button.alt,
.woocommerce-page button.button.alt,
.woocommerce-page input.button.alt {
	background: #dcaa2e;
	color: #fff;
	border-radius: 0;
	cursor: pointer;
	font-size: 1em;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.07em;
	padding: .8em 1em .8em 1.25em;
}
.woocommerce ul.products li.product.outofstock .button:hover,
.woocommerce .wc-products .product .add_to_cart_button:hover, 
.woocommerce ul.products li.product .add_to_cart_button:hover,
.woocommerce #content input.button:hover,
.woocommerce #respond input#submit:hover,
.woocommerce #content input.button.alt:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce button.button.alt.disabled:hover,
.woocommerce-page #content input.button:hover,
.woocommerce-page #respond input#submit:hover,
.woocommerce-page #content input.button.alt:hover,
.woocommerce-page #respond input#submit.alt:hover,
.woocommerce-page a.button:hover,
.woocommerce-page button.button:hover,
.woocommerce-page input.button:hover,
.woocommerce-page a.button.alt:hover,
.woocommerce-page button.button.alt:hover,
.woocommerce-page input.button.alt:hover {
	background: #dcaa2e;
	color: #fff;
}
.woocommerce ul.products li.product .added_to_cart {
	background-color: transparent;
	color: inherit;
	padding: .9em 0;
	font-size: 100%;
	text-transform: none;
	letter-spacing: normal;
	font-weight: normal;
}

.woocommerce div.product form.cart .variations select {
	border-radius: 0;
	border-color: #ddd;
	padding: 5px;
	max-width: 150px;
	margin-bottom: 10px;
}

.woocommerce div.product form.cart .reset_variations {
    padding: .5em 1em;
    position: relative;
    padding-left: 1.8em;
    color: inherit;
}
.woocommerce div.product form.cart .reset_variations:before,
.woocommerce div.product form.cart .reset_variations:after {
	content: '';
	display: inline-block;
	width: 16px;
	border-bottom: 1px solid;
	position: absolute;
	left: 0;
	top: 50%;
	cursor: pointer;
	-webkit-transform: rotateZ(45deg);
	-moz-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
	-webkit-transition: .3s ease-in-out;
	-moz-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.woocommerce div.product form.cart .reset_variations:after {
	-webkit-transform: rotateZ(-45deg);
	-moz-transform: rotateZ(-45deg);
	transform: rotateZ(-45deg);
}
.woocommerce div.product form.cart .reset_variations:hover:before {
	-webkit-transform: rotateZ(135deg);
	-moz-transform: rotateZ(135deg);
	transform: rotateZ(135deg);
}
.woocommerce div.product form.cart .reset_variations:hover:after {
	-webkit-transform: rotateZ(45deg);
	-moz-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
}

/*
SOCIAL SHARE
================================================ */
/* product share wrap */
.product-share-wrap {
	display: inline-block;
	vertical-align: middle;
}
.grid4 .product-share-wrap {
	display: block;
}
.wishlist-wrap {
	padding: 0;
	display: inline-block;
	vertical-align: middle;
}
.wishlist-button:before {
	content: '\e810'; /* ti-heart */
	font-family: 'themify_theme_icon';
	font-size: 1.2em;
}
.quick-look,
.wishlist-button {
	color: inherit;
	position: relative;
	text-decoration: none;
}
.quick-look .tooltip,
.wishlist-button .tooltip {
	background-color: #000;
	color: #fff;
	font-size: .95em;
	line-height: 1;	
	padding: .4em 1.1em;
	position: absolute;
	bottom: 100%;
	left: 50%;
	opacity: 0;
	visibility: hidden;
	margin-bottom: 0px;
	line-height: normal;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	transition: all 200ms linear;
	white-space: nowrap;
}
.quick-look .tooltip:before,
.wishlist-button .tooltip:before {
	content: '';
	display: block;
	border: 5px solid transparent;
	border-top-color: #000;
	position: absolute;
	top: 100%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
}
.quick-look:hover .tooltip,
.wishlist-button:hover .tooltip {
	opacity: 1;
	visibility: visible;
	margin-bottom: 10px;
}
.wishlist-button {
	width: 24px;
	height: 24px;
	display: inline-block;
	text-align: center;
	border-radius: 50%;
	padding: 4px;
}
.wishlist-button.wishlisted,
.woocommerce ul.products li.product a.wishlisted {
	background-color: #dcaa2e;
	color: #fff;
}
.wishlist_empty.icon-menu-count{
	display:none;
}
.share-wrap {
	margin: 0 .1em;
	display: inline-block;
	position: relative;
}
.share-wrap .share-button {
	color: inherit;
}
.share-wrap .share-button:before {
	content: '\e811'; /* ti-export */
	font-family: 'themify_theme_icon';
	font-style: normal;
	font-size: 1.1em;
	display: inline-block;
	vertical-align: middle;
	padding: 0 .7em .2em;
	line-height: normal;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.social-share {
	z-index: 999;
	margin: 0 auto;
	text-align: center;
	padding: 5px 1em;
	position: absolute;
	visibility: hidden;
	left: 50%;
	bottom: 5px;
	background: #000;
	margin: 0;
	opacity: 0;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.social-share:before {
    content: '';
    display: block;
    border: 5px solid transparent;
    border-top-color: #000;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

/* show dropdown social boxes */
.share-wrap:hover .social-share {
	display: block;
	visibility: visible;
	opacity: 1;
	bottom: 100%;
	margin-bottom: 5px;
}
.share-wrap  .share {
	font-size: .65em;
	font-weight: 900;
	text-decoration: none;
	text-transform: uppercase;
	display:block;
	color: #fff;
	padding: .4em 0;
}
.woocommerce ul.products li.product .share {
	color: #fff;
}
.share-wrap .sharrre > a {
	text-decoration: none;
}

/* common social icons config */
.social-share .share:after {
	font-family: 'themify_theme_icon';
	speak: none;
	font-size: 2em;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	display: block;
	text-decoration: none;
	top: 0;
	left: 0;
	margin-bottom: 6px;
}
.social-share .share:hover:after {
	color: #dcaa2e;
}
/* Social icons */
.facebook-share .share:after {
	content: '\e806'; /* ti-facebook */
}
.pinterest-share .share:after {
	content: '\e807'; /* ti-pinterest */
}
.googleplus-share .share:after {
	content: '\e808'; /* ti-google */
}
.twitter-share .share:after {
	content: '\e805'; /* ti-twitter-alt */
}
.linkedin-share .share:after {
	content: "\e809"; /* ti-linkedin */
}

/* SINGLE PRODUCT LAYOUT OPTIONS */
/* product img center */
.product-img-center.woocommerce #content div.product div.images,
.product-img-center.woocommerce div.product div.images,
.product-img-center.woocommerce-page #content div.product div.images,
.product-img-center.woocommerce-page div.product div.images {
	width: 50%;
	float: none;
	margin-left: auto;
	margin-right: auto;
}
.product-img-center.woocommerce .product-images-carousel,
.product-img-center.woocommerce #content div.product div.images > a[data-rel*="prettyPhoto[product-gallery]"],
.product-img-center.woocommerce div.product div.images > a[data-rel*="prettyPhoto[product-gallery]"],
.product-img-center.woocommerce-page #content div.product div.images > a[data-rel*="prettyPhoto[product-gallery]"],
.product-img-center.woocommerce-page div.product div.images > a[data-rel*="prettyPhoto[product-gallery]"] {
	float: none;
	width: auto;
}
.product-img-center.woocommerce .product-thumbnails-carousel,
.product-img-center.woocommerce div.product div.images div.thumbnails,
.product-img-center.woocommerce div.product div.images .thumbnails,
.product-img-center.woocommerce-page div.product div.images div.thumbnails,
.product-img-center.woocommerce-page div.product div.images .thumbnails {
	float: none;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: .5em;
	text-align: center;
}
.product-img-center.woocommerce #content div.product div.images .thumbnails .zoom,
.product-img-center.woocommerce-page  #content div.product div.images .thumbnails .zoom,
.product-img-center.woocommerce div.product div.images .thumbnails .zoom,
.product-img-center.woocommerce-page div.product div.images .thumbnails .zoom {
	display: inline-block;
	vertical-align: middle;
	margin: 0.35em 0.35em 0.35em 0;
	max-width: 12%;
}
.product-img-center.woocommerce #content div.product div.images .product-thumbnails-carousel .thumbnails {
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}
.product-img-center.woocommerce #content div.product div.summary,
.product-img-center.woocommerce div.product div.summary,
.product-img-center.woocommerce-page #content div.product div.summary,
.product-img-center.woocommerce-page div.product div.summary {
	width: 50%;
	float: none;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.product-img-center.woocommerce #content div.product div.summary .woocommerce-breadcrumb,
.product-img-center.woocommerce div.product div.summary .woocommerce-breadcrumb,
.product-img-center.woocommerce-page #content div.product div.summary .woocommerce-breadcrumb,
.product-img-center.woocommerce-page div.product div.summary .woocommerce-breadcrumb {
	text-align: center;
}
.product-img-center.woocommerce #content div.product div.summary form.cart div.quantity,
.product-img-center.woocommerce div.product div.summary form.cart div.quantity,
.product-img-center.woocommerce-page #content div.product div.summary form.cart div.quantity,
.product-img-center.woocommerce-page div.product div.summary form.cart div.quantity {
	display: inline-block;
	vertical-align: middle;
	float: none;
}
.product-img-center.woocommerce .woocommerce-product-rating .star-rating {
	float: none;
	margin: .2em auto;
}
.product-img-center.woocommerce #content div.product .woocommerce-tabs,
.product-img-center.woocommerce div.product .woocommerce-tabs,
.product-img-center.woocommerce-page #content div.product .woocommerce-tabs,
.product-img-center.woocommerce-page div.product .woocommerce-tabs {
	text-align: center;
}
.product-img-center.woocommerce #content .comment-title:after,
.product-img-center.woocommerce div.product .comment-reply-title:after,
.product-img-center.woocommerce-page #content .comment-title:after,
.product-img-center.woocommerce-page div.product .comment-reply-title:after {
	margin-left: auto;
	margin-right: auto;
}
.product-img-center.woocommerce #content #commentform,
.product-img-center.woocommerce div.product #commentform,
.product-img-center.woocommerce-page #content #commentform,
.product-img-center.woocommerce-page div.product #commentform {
	text-align: left;
}

/* product img right */
.product-img-right.woocommerce #content div.product div.images,
.product-img-right.woocommerce div.product div.images,
.product-img-right.woocommerce-page #content div.product div.images,
.product-img-right.woocommerce-page div.product div.images {
	float: right;
}
.product-img-right.woocommerce #content div.product div.images > a[data-rel*="prettyPhoto[product-gallery]"],
.product-img-right.woocommerce div.product div.images > a[data-rel*="prettyPhoto[product-gallery]"],
.product-img-right.woocommerce-page #content div.product div.images > a[data-rel*="prettyPhoto[product-gallery]"],
.product-img-right.woocommerce-page div.product div.images > a[data-rel*="prettyPhoto[product-gallery]"] {
	float: left;
}
.product-img-right.woocommerce div.product div.images div.thumbnails,
.product-img-right.woocommerce div.product div.images .thumbnails,
.product-img-right.woocommerce-page div.product div.images div.thumbnails,
.product-img-right.woocommerce-page div.product div.images .thumbnails {
	float: right;
}
.product-img-right.woocommerce #content div.product div.summary,
.product-img-right.woocommerce div.product div.summary,
.product-img-right.woocommerce-page #content div.product div.summary,
.product-img-right.woocommerce-page div.product div.summary {
	float: left;
	padding-left: 0;
	padding-right: 4.5%;
}

/* ARCHIVE PRODUCTS
================================================ */
.woocommerce .products ul, 
.woocommerce ul.products {
	list-style: none;
}
.woocommerce .products ul li, 
.woocommerce ul.products li.product {
	list-style: none;
	margin: 0 0 5%;
	clear: none;
	box-sizing: border-box;
}

.woocommerce ul.products li.product a {
	color: inherit;
}

/* archive product image */
.woocommerce ul.products li.product .product-image {
    overflow:hidden;
    position:relative;
}
.woocommerce ul.products li.product a img {
	margin: 0;
}
.woocommerce ul.products li.product a img {
	margin: 0;
}
.woocommerce #content div.product div.images,
.woocommerce div.product div.images,
.woocommerce-page #content div.product div.images,
.woocommerce-page div.product div.images {
	position: relative;
	width: 51.7%;
	margin: 0;
}
.woocommerce ul.products li.product a img {
	-webkit-transition: .3s ease-in-out;
	-moz-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

/* archive product title */
.woocommerce ul.products li.product h3 {
	font-size: 1.1em;
	line-height: 1.5;
	font-weight: 300;
	padding: 0;
	margin: 0 0 .3em;
	letter-spacing: -0.01em;
}
.sidebar-none .woocommerce ul.products li.product h3 {
    font-size: 1.4em;
}

/* product price */
.woocommerce ul.products li.product .price {
    color: inherit;
    font-weight: 500;
    font-size: 1em;
    margin: 0 0 .75em;
}
.woocommerce ul.products li.product .price del,
.woocommerce ul.products li.product .price ins {
	display: inline-block;
}
.woocommerce ul.products li.product .price del {
	margin-right: .3em;
}
.woocommerce ul.products li.product .price ins {
	font-weight: 300;
}

/* Add to Cart button */
.woocommerce ul.products li.product.outofstock .button,
.woocommerce .auto_tiles li.product .product-content .variable-link,
.woocommerce .wc-products .product .add_to_cart_button,
.woocommerce ul.products li.product .add_to_cart_button {
    font-size: .7em;
    margin: 0 .75em .5em 0;
}

/* Added to Cart/ View Cart button */
.woocommerce ul.products li.product .added_to_cart {
	display: none;
}

/* quick look/ zoom icon */
.quick-look {
	background: none;
	color: inherit;
	display: inline-block;
	vertical-align: middle;
	padding: 0;
	margin-left: .5em;
}
.quick-look:before {
	content: '\e812'; /* ti-zoom-in */
	font-family: 'themify_theme_icon';
	font-size: 1.2em;
}
.search-button:hover {
	background: none;
	color: inherit;
}

/* archive product sort/order */
.woocommerce .woocommerce-ordering {
	margin-top: -2em;
	margin-bottom: 2.5em;
}
.woocommerce .woocommerce-ordering select,
.woocommerce-page .woocommerce-ordering select {
	font-weight: 500;
	font-size: .75em;
	background-color: transparent;
	color: inherit;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid rgba(0,0,0,.1);
	letter-spacing: .08em;
	padding: 9px 0;
	text-transform: uppercase;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding-right: 30px;
}
.woocommerce .woocommerce-ordering:after,
.woocommerce-page .woocommerce-ordering:after {
	content: '';
	display: inline-block;
	width: 10px;
	height: 10px;
	border: 1px solid transparent;
	border-bottom-color: #000;
	border-left-color: #000;
	margin-left: -20px;
	pointer-events: none;
	-webkit-transform: rotateZ(-45deg);
	transform: rotateZ(-45deg);
}
.sidebar-none.woocommerce .woocommerce-ordering,
.sidebar-none.woocommerce-page .woocommerce-ordering {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3em;
	float: none;
	text-align: center;
}

/* product result count */
.woocommerce .woocommerce-result-count {
	font-size: .95em;
	padding: 0 0 2em;
	margin: 0;
}

/* Pagination */
.woocommerce nav.woocommerce-pagination ul,
.woocommerce-page nav.woocommerce-pagination ul,
.woocommerce #content nav.woocommerce-pagination ul,
.woocommerce-page #content nav.woocommerce-pagination ul {
	border: none;
	margin: 1px 0 0 1px;
}
.woocommerce nav.woocommerce-pagination ul li,
.woocommerce-page nav.woocommerce-pagination ul li,
.woocommerce #content nav.woocommerce-pagination ul li,
.woocommerce-page #content nav.woocommerce-pagination ul li {
	border: none;
	margin: -1px 0 0 -1px;
}
.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce-page nav.woocommerce-pagination ul li a,
.woocommerce #content nav.woocommerce-pagination ul li a,
.woocommerce-page #content nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span,
.woocommerce-page nav.woocommerce-pagination ul li span,
.woocommerce #content nav.woocommerce-pagination ul li span,
.woocommerce-page #content nav.woocommerce-pagination ul li span {
	font-weight: normal;
	border: 1px solid rgba(0,0,0,.3);
	color: inherit;
}
.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce-page nav.woocommerce-pagination ul li a:focus,
.woocommerce #content nav.woocommerce-pagination ul li a:focus,
.woocommerce-page #content nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce-page nav.woocommerce-pagination ul li a:hover,
.woocommerce #content nav.woocommerce-pagination ul li a:hover,
.woocommerce-page #content nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current,
.woocommerce-page nav.woocommerce-pagination ul li span.current,
.woocommerce #content nav.woocommerce-pagination ul li span.current,
.woocommerce-page #content nav.woocommerce-pagination ul li span.current {
	background-color: #daa832;
	color: #fff;
}
.woocommerce nav.woocommerce-pagination ul li a.prev.page-numbers,
.woocommerce-page nav.woocommerce-pagination ul li a.prev.page-numbers,
.woocommerce #content nav.woocommerce-pagination ul li a.prev.page-numbers,
.woocommerce-page #content nav.woocommerce-pagination ul li a.prev.page-numbers,
.woocommerce nav.woocommerce-pagination ul li span.prev.page-numbers,
.woocommerce-page nav.woocommerce-pagination ul li span.prev.page-numbers,
.woocommerce #content nav.woocommerce-pagination ul li span.prev.page-numbers,
.woocommerce-page #content nav.woocommerce-pagination ul li span.prev.page-numbers,
.woocommerce nav.woocommerce-pagination ul li a.next.page-numbers,
.woocommerce-page nav.woocommerce-pagination ul li a.next.page-numbers,
.woocommerce #content nav.woocommerce-pagination ul li a.next.page-numbers,
.woocommerce-page #content nav.woocommerce-pagination ul li a.next.page-numbers,
.woocommerce nav.woocommerce-pagination ul li span.next.page-numbers,
.woocommerce-page nav.woocommerce-pagination ul li span.next.page-numbers,
.woocommerce #content nav.woocommerce-pagination ul li span.next.page-numbers,
.woocommerce-page #content nav.woocommerce-pagination ul li span.next.page-numbers {
	border-color: transparent;
	position: relative;
}
.woocommerce nav.woocommerce-pagination ul li a.prev.page-numbers:before,
.woocommerce nav.woocommerce-pagination ul li span.prev.page-numbers:before,
.woocommerce nav.woocommerce-pagination ul li a.next.page-numbers:before,
.woocommerce nav.woocommerce-pagination ul li span.next.page-numbers:before {
	content: '';
	display: block;
	font-family: 'themify_theme_icon';
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}
.woocommerce nav.woocommerce-pagination ul li a.prev.page-numbers:before,
.woocommerce nav.woocommerce-pagination ul li span.prev.page-numbers:before {
	content: '\e80f'; /* ti-arrow-left */
}
.woocommerce nav.woocommerce-pagination ul li a.next.page-numbers:before,
.woocommerce nav.woocommerce-pagination ul li span.next.page-numbers:before {
	content: '\e80e'; /* ti-arrow-right */
}
.woocommerce nav.woocommerce-pagination ul li a.prev.page-numbers:focus,
.woocommerce nav.woocommerce-pagination ul li a.next.page-numbers:focus,
.woocommerce-page nav.woocommerce-pagination ul li a.prev.page-numbers:focus,
.woocommerce-page nav.woocommerce-pagination ul li a.next.page-numbers:focus,
.woocommerce #content nav.woocommerce-pagination ul li a.prev.page-numbers:focus,
.woocommerce #content nav.woocommerce-pagination ul li a.next.page-numbers:focus,
.woocommerce-page #content nav.woocommerce-pagination ul li a.prev.page-numbers:focus,
.woocommerce-page #content nav.woocommerce-pagination ul li a.next.page-numbers:focus,
.woocommerce nav.woocommerce-pagination ul li a.prev.page-numbers:hover,
.woocommerce nav.woocommerce-pagination ul li a.next.page-numbers:hover,
.woocommerce-page nav.woocommerce-pagination ul li a.prev.page-numbers:hover,
.woocommerce-page nav.woocommerce-pagination ul li a.next.page-numbers:hover,
.woocommerce #content nav.woocommerce-pagination ul li a.prev.page-numbers:hover,
.woocommerce #content nav.woocommerce-pagination ul li a.next.page-numbers:hover,
.woocommerce-page #content nav.woocommerce-pagination ul li a.prev.page-numbers:hover,
.woocommerce-page #content nav.woocommerce-pagination ul li a.next.page-numbers:hover,
.woocommerce nav.woocommerce-pagination ul li a.prev.page-numbers.current,
.woocommerce nav.woocommerce-pagination ul li a.next.page-numbers.current,
.woocommerce-page nav.woocommerce-pagination ul li a.prev.page-numbers.current,
.woocommerce-page nav.woocommerce-pagination ul li a.next.page-numbers.current,
.woocommerce #content nav.woocommerce-pagination ul li a.prev.page-numbers.current,
.woocommerce #content nav.woocommerce-pagination ul li a.next.page-numbers.current,
.woocommerce-page #content nav.woocommerce-pagination ul li a.prev.page-numbers.current,
.woocommerce-page #content nav.woocommerce-pagination ul li a.next.page-numbers.current {
	background-color: transparent;
	color: inherit;
}

/* OVERLAY PRODUCTS
================================================ */
.overlay.products .product,
.polaroid.products .product,
.overlay ul.products li.product,
.polaroid ul.products li.product,
.tiled ul.products li.product {
	position: relative;
	overflow: hidden;
	text-align: center;
}

/* product image */
.overlay.products .product img,
.polaroid.products .product img,
.woocommerce.overlay ul.products li.product a img,
.woocommerce.polaroid ul.products li.product a img,
.woocommerce.tiled ul.products li.product a img {
	margin-bottom: 0;
	-webkit-transition: all .5s ease-out;
	transition: all .5s ease-out;
}
.overlay.products .product:hover img,
.polaroid.products .product:hover img,
.products.overlay .product:hover a img,
.products.polaroid .product:hover a img,
.products.tiled .product:hover a img {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	transform: scale(1.1);
}

/* product title */
.woocommerce.overlay ul.products li.product.has-post-thumbnail a,
.woocommerce.overlay ul.products li.product.has-post-thumbnail h3,
.woocommerce.polaroid ul.products li.product.has-post-thumbnail a,
.woocommerce.polaroid ul.products li.product.has-post-thumbnail h3,
.woocommerce.tiled ul.products li.product.has-post-thumbnail a,
.woocommerce.tiled ul.productsli.product.has-post-thumbnail h3 {
	color: inherit;	
}

/* product share */
.products.overlay .product .product-share-wrap,
.products.polaroid .product .product-share-wrap,
.products.tiled .product .product-share-wrap {
	display: block;
	margin-top: .5em;
}
.woocommerce.overlay ul.products li.product.has-post-thumbnail .social-share,
.woocommerce.polaroid ul.products li.product.has-post-thumbnail .social-share,
.woocommerce.tiled ul.products li.product.has-post-thumbnail .social-share {
	font-size: .9em;
}
.woocommerce ul.products.grid4 .product .product-share-wrap {
	margin-top: .2em;
}

/* product vertical middle content section */
.overlay.products .product.has-post-thumbnail .product-content-inner-wrapper,
.polaroid.products .product.has-post-thumbnail .product-content-inner-wrapper,
.overlay ul.products li.product.has-post-thumbnail .product-content-inner-wrapper,
.polaroid ul.products li.product.has-post-thumbnail .product-content-inner-wrapper,
.tiled ul.products li.product.has-post-thumbnail .product-content-inner-wrapper {
	display: table;
	width: 100%;
	height: 100%;
	table-layout: fixed;
}

.overlay.products .product.has-post-thumbnail .product-content-inner,
.polaroid.products .product.has-post-thumbnail .product-content-inner,
.overlay ul.products li.product.has-post-thumbnail .product-content-inner,
.polaroid ul.products li.product.has-post-thumbnail .product-content-inner,
.tiled ul.products li.product.has-post-thumbnail .product-content-inner {
	padding: 5%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
	display: table-cell;
	vertical-align: middle;
}
.overlay.products .product.has-post-thumbnail .product-content,
.polaroid.products .product.has-post-thumbnail .product-content,
.overlay ul.products li.product.has-post-thumbnail .product-content,
.polaroid ul.products li.product.has-post-thumbnail .product-content,
.tiled ul.products li.product.has-post-thumbnail .product-content,
.auto_tiles .product.has-post-thumbnail .product-content {
	background-color: rgba(255,255,255,.8);
	background: -moz-linear-gradient(top,  rgba(255,255,255,0.35) 0%, rgba(255,255,255,0.72) 35%, rgba(255,255,255,0.93) 59%, rgba(255,255,255,1) 72%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0.35) 0%,rgba(255,255,255,0.72) 35%,rgba(255,255,255,0.93) 59%,rgba(255,255,255,1) 72%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,0.35) 0%,rgba(255,255,255,0.72) 35%,rgba(255,255,255,0.93) 59%,rgba(255,255,255,1) 72%,rgba(255,255,255,1) 100%);
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.overlay.products .product.has-post-thumbnail .product-content,
.overlay ul.products li.product.has-post-thumbnail .product-content {
	top: 100%;
}
.overlay.products .product:hover .product-content,
.overlay ul.products li.product:hover .product-content {
	top: 0;
}

/* polaroid style */
.polaroid.products .product.has-post-thumbnail .product-content-inner,
.polaroid ul.products li.product.has-post-thumbnail .product-content-inner {
	vertical-align: bottom;
}
.polaroid.products .product:hover.has-post-thumbnail .product-content-inner,
.polaroid ul.products li.product:hover.has-post-thumbnail .product-content-inner {
	vertical-align: middle;
}
.polaroid ul.products li.product.has-post-thumbnail h3 {
	overflow: hidden;
	width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.polaroid.no-gutter.grid3 ul.products li.product.has-post-thumbnail .product-content {
	margin-top: -19%;
}
.polaroid.no-gutter.grid3 ul.products li.product.has-post-thumbnail .product-content {
	margin-top: -25%;
}
.polaroid.no-gutter.grid4 ul.products li.product.has-post-thumbnail .product-content {
	margin-top: -33%;
}
.polaroid.no-gutter.grid3 ul.products li.product:hover .product-content,
.polaroid.no-gutter.grid4 ul.products li.product:hover .product-content {
	margin-top: 0;
}
.polaroid.products .product.has-post-thumbnail .product-content,
.polaroid.products .product .product-content,
.polaroid ul.products li.product .product-content {
	bottom: 0;
	height: auto;
	padding-top: 3.75em;
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.35) 35%, rgba(255,255,255,0.55) 55%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.35) 35%,rgba(255,255,255,0.55) 55%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.35) 35%,rgba(255,255,255,0.55) 55%,rgba(255,255,255,1) 100%);
}
.polaroid.products .product.has-post-thumbnail:hover .product-content,
.polaroid.products .product:hover .product-content,
.polaroid ul.products li.product:hover .product-content {
	bottom: 0;
	background: -moz-linear-gradient(top, rgba(255,255,255,0.01) 0%,rgba(255, 255, 255, 0.25) 15%,rgba(255, 255, 255, .7) 35%,rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.01) 0%,rgba(255, 255, 255, 0.25) 15%,rgba(255, 255, 255, .7) 35%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0.01) 0%,rgba(255, 255, 255, 0.25) 15%,rgba(255, 255, 255, .7) 35%,rgba(255,255,255,1) 100%);
}
.polaroid.products .product.has-post-thumbnail .product-content .product-description,
.polaroid.products .product.has-post-thumbnail .product-content .price,
.polaroid.products .product.has-post-thumbnail .product-content .add_to_cart_button,
.polaroid.products .product.has-post-thumbnail .product-content .product-share-wrap,
.polaroid ul.products li.product.has-post-thumbnail .product-content .product-description,
.polaroid ul.products li.product.has-post-thumbnail .product-content .price,
.polaroid ul.products li.product.has-post-thumbnail .product-content .add_to_cart_button,
.polaroid ul.products li.product.has-post-thumbnail .product-content .product-share-wrap {
	-webkit-transition: .3s ease-in-out;
	-moz-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	transform: translateY(100%);
	position: absolute;
}
.polaroid.products .product:hover .product-content .product-description,
.polaroid.products .product:hover .product-content .price,
.polaroid.products .product:hover .product-content .add_to_cart_button,
.polaroid.products .product:hover .product-content .product-share-wrap,
.polaroid ul.products li.product:hover .product-content .product-description,
.polaroid ul.products li.product:hover .product-content .price,
.polaroid ul.products li.product:hover .product-content .add_to_cart_button,
.polaroid ul.products li.product:hover .product-content .product-share-wrap {
	-webkit-transform: none;
	-moz-transform: none;
	transform: none;
	position: static;
}
.polaroid ul.products li.product.has-post-thumbnail .product-content .product-description p,
.polaroid.products .product.has-post-thumbnail .product-content .product-description p {
	margin-left: auto;
	margin-right: auto;
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* tiled style */
.tiled ul.products li.product.has-post-thumbnail .product-content-inner {
	vertical-align: bottom;
}
.auto_tiles .product.has-post-thumbnail .product-content,
.tiled ul.products li.product .product-content {
	height: auto;
	bottom: -100%;
	padding: 5%;
	padding-bottom: 0;
	background-color: rgba(255,255,255,.8);
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.65) 50%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.65) 50%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.65) 40%,rgba(255,255,255,1) 100%);
	pointer-events: none;
}
.auto_tiles li.product .product-content .product-content-inner {
	padding-bottom: .8em;
	pointer-events: auto;
}
.woocommerce .auto_tiles li.product .product-content .variable-link,
.woocommerce .auto_tiles li.product .product-content .add_to_cart_button {
	border: solid 1px #000;
	color: #000;
	background: none;
}
.woocommerce .auto_tiles li.product .product-content .variable-link:hover,
.woocommerce .auto_tiles li.product .product-content .add_to_cart_button:hover {
	background: #000;
	color: #fff;
}
.auto_tiles .product:hover .product-content,
.tiled ul.products li.product:hover .product-content {
	bottom: 0;
	height: auto;
	z-index:3;
}
.woocommerce ul.products.auto_tiles li.product .product-image,
.auto_tiles .product .product-image{
	width: 100%;
	height: 100%;
	margin: 0;
	display: block;
	box-sizing: border-box;
}
.auto_tiles .swiper-container-big{
	height:100%;
}
.tiled ul.products li.product.has-post-thumbnail .product-image img,
.auto_tiles .product.has-post-thumbnail .product-image img {
	height: auto;
	width: 100%;
	-webkit-object-fit: cover;
	object-fit: cover;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.auto_tiles .product:hover .product-image img,
.tiled ul.products li.product:hover .product-image img {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	transform: scale(1.1);
}
.tiled ul.products li.product.has-post-thumbnail.tiled-portrait .product-image img,
.auto_tiles .product.has-post-thumbnail.tiled-portrait .product-image img {
	height: 100%;
	width: auto;
}
body:not(.ie) .tiled ul.products li.product.has-post-thumbnail.tiled-portrait .product-image,
body:not(.ie) .auto_tiles .product.has-post-thumbnail.tiled-portrait .product-image {
	background-image: none !important;
}
.ie .tiled ul.products li.product.has-post-thumbnail.tiled-portrait .product-image,
.ie .auto_tiles .product.has-post-thumbnail.tiled-portrait .product-image {
	background-size: cover;
	background-position: center;
}
.ie .tiled ul.products li.product.has-post-thumbnail.tiled-portrait .product-image img,
.ie .auto_tiles .product.has-post-thumbnail.tiled-portrait .product-image img {
	visibility: hidden;
	opacity: 0;
	display: none;
}

/* ARCHIVE PRODUCT GRID
================================================ */
.woocommerce.woocommerce-page ul.products .product {
	list-style: none;
	margin: 0 0 5%;
	clear: none;
	box-sizing: border-box;
}
.woocommerce ul.products.list-post .product,
.woocommerce .list-post ul.products .product{
	float:none;
	width:100%;
}
.woocommerce-page.columns-2 ul.products li.product, 
.woocommerce.columns-2 ul.products li.product,
.woocommerce ul.products.grid2 .product {
	width: 48.4%;
	margin-left: 3.2%;
	float: left;
}
.woocommerce-page.columns-3 ul.products li.product, 
.woocommerce.columns-3 ul.products li.product,
.woocommerce ul.products.grid3 .product {
	width: 31.2%;
	margin-left: 3.2%;
	float: left;
}
.woocommerce-page.columns-4 ul.products li.product, 
.woocommerce.columns-4 ul.products li.product,
.woocommerce ul.products.grid4 .product {
	width: 22.6%;
	margin-left: 3.2%;
	float: left;
}

/* clear product grid layout float */
.woocommerce-page.columns-4 ul.products li.product:nth-of-type(4n+1), 
.woocommerce.columns-4 ul.products li.product:nth-of-type(4n+1),
.woocommerce-page.columns-3 ul.products li.product:nth-of-type(3n+1), 
.woocommerce.columns-3 ul.products li.product:nth-of-type(3n+1),
.woocommerce-page.columns-2 ul.products li.product:nth-of-type(2n+1), 
.woocommerce.columns-2 ul.products li.product:nth-of-type(2n+1),
.woocommerce ul.products.grid4 .product:nth-of-type(4n+1),
.woocommerce ul.products.grid3 .product:nth-of-type(3n+1),
.woocommerce ul.products.grid2 .product:nth-of-type(2n+1),
.woocommerce ul.products.grid2-thumb .post:nth-of-type(2n+1) {
	margin-left: 0;
	clear: left;
}

/* GRID2 THUMB */
.woocommerce .wc-products.grid2-thumb .product {
	width: 48.4%;
	margin-left: 3.2%;
	float: left;
	clear: none;
	overflow: hidden;
}
.woocommerce .wc-products.grid2-thumb .post-image {
	width: 20%;
	float: left;
	margin: 0 1.6em 1.3em 0;
}
.woocommerce .wc-products.grid2-thumb .post-content {
	overflow: hidden;
	min-width: 120px;
}
.woocommerce .wc-products.grid2-thumb .star-rating {
	float: none;
}
.woocommerce .wc-products.grid2-thumb .onsale {
	font-size: 75%;
	right: auto;
	left: 0;
	margin: -0.65em 0 0 -1.6em;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.wc-products.list-thumb-image .product.has-post-thumbnail {
	overflow: hidden;
}
.wc-products.list-thumb-image .product.has-post-thumbnail .onsale {
	right: auto;
	left: 0;
	margin: -1em 0 0 -1.6em;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.woocommerce ul.masonry-done.products .product {
	margin-left:0;
	margin-right:0;
}

/* No Gutter*/
.woocommerce ul.products.grid2.no-gutter .product{
    margin: 0;
    width: 50%;
}
.woocommerce ul.products.grid3.no-gutter .product{
    margin: 0;
    width: 33.33%;
}
.woocommerce ul.products.grid4.no-gutter .product{
    margin: 0;
    width: 25%;
}

/* MY ACCOUNT
================================================ */
.woocommerce-account .woocommerce-MyAccount-navigation {
	width: 24.5%;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul {
	padding: 0;
	margin: 0;
	margin-top: .75em;
	border-top: 1px solid rgba(0,0,0,.08);
}
.woocommerce-account .woocommerce-MyAccount-navigation ul li {
	display: block;
	border-bottom: 1px solid rgba(0,0,0,.08);
	margin: 0;
	padding: .55em 0 .615em;
	position: relative;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul li.is-active a:after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	border: 1px solid transparent;
	border-top-color: inherit;
	border-right-color: inherit;
	width: 15px;
	height: 15px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -8px;
}
.woocommerce-account .woocommerce-MyAccount-content {
	width: 70%;
}

/*
LOGIN
================================================ */
.login input[type=text] {
	width: 100%;
}
.lost_reset_password label,
.login label {
    display: block;
    font-size: .8em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .04em;
}
.login label small {
	font-weight: 300;
	text-transform: none;
}
.login textarea {
	height: 140px;
}
.login input[type=submit] {
	padding: 0.9em 1em .8em 1.25em;
}
.woocommerce-account.woocommerce-page .woocommerce form.lost_reset_password,
.woocommerce-account.woocommerce-page .woocommerce form.login {
	max-width: 397px;
	margin: 0 auto 5.4em;
}
.woocommerce-account.woocommerce-page .woocommerce h2 {
	max-width: 387px;
	margin: 1.225em auto .9em;
}
.woocommerce form.login {
	border: none;
	border-radius: 0;
	padding: 0;
	margin-top: 1.5em;
}
.woocommerce form .form-row {
	margin: 0 0 1.15em;
	float: none;
	width: auto;
}

/* CART
================================================ */
/* coupon */
.woocommerce #content table.cart td.actions .coupon .input-text,
.woocommerce table.cart td.actions .coupon .input-text,
.woocommerce-page #content table.cart td.actions .coupon .input-text,
.woocommerce-page table.cart td.actions .coupon .input-text {
    border: 1px solid #ddd;
    padding: .65em .45em;
    width: 6.5em;
	border-radius: 0;
}

/* proceed */
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
    display: block;
    letter-spacing: .03em;
    padding: 1.4em .3em;
    font-size: .9em;
	line-height: normal;
	white-space: normal;
}

/* cart totals */
.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
    text-align: right;
}
.woocommerce.sidebar-none .cart-collaterals .cart_totals,
.woocommerce-page.sidebar-none .cart-collaterals .cart_totals {
	width: 27%;
	padding: 1.5em 2em 0;
	box-sizing: border-box;
	border: 1px solid rgba(0,0,0,.1);
}
.woocommerce .cart-collaterals .amount,
.woocommerce-page .cart-collaterals .amount {
    text-align: right;
    display: block;
    font-size: 1.2em;
    font-weight: 300;
}

/* cart collaterals */
.woocommerce .cart-collaterals .cart_totals tr td,
.woocommerce-page .cart-collaterals .cart_totals tr th {
    border-top: 1px solid rgba(0,0,0,.07);
    width: 17%;
    font-weight: 500;
    padding: 1em 0;
    text-transform: none;
    font-size: 1em;
}

.woocommerce .cart-collaterals .shipping_calculator,
.woocommerce-page .cart-collaterals .shipping_calculator {
    text-align: right;
}
.woocommerce .cart-collaterals,
.woocommerce-page .cart-collaterals {
	margin: 3em 0 0;
}

/* cart table h2 */
.cart-collaterals h2 {
    font-size: 1.8em;
}

/* cart update button */
.woocommerce .cart-collaterals .shipping_calculator .button,
.woocommerce-page .cart-collaterals .shipping_calculator .button {
    display: inline-block;
    width: auto;
}

/* cart live css */
.woocommerce .cart .button,
.woocommerce .cart input.button {
    margin: 0 .1em;
}

.woocommerce-cart .cart-collaterals .shipping_calculator .shipping-calculator-button span,
.woocommerce-cart .cart-collaterals .shipping_calculator .shipping-calculator-button:after {
    display: none;
}

/* remove icon */
.woocommerce a.remove {
	display: block;
	position: relative;
	width: 20px;
	height: 22px;
	text-decoration: none;
	text-indent: -999em;
	overflow: hidden;
	transition: all .3s;
	color: inherit !important;
}
.woocommerce a.remove:before,
.woocommerce a.remove:after{
	content: '';
    display: inline-block;
    width: 20px;
    border-bottom: 1px solid;
    position: absolute;
    left: 0;
	cursor: pointer;
}
.woocommerce a.remove:before{
	transform: rotateZ(45deg);
	top: 11px;
}
.woocommerce a.remove:after{
	transform: rotateZ(-45deg);
	top: 50%;
}
.woocommerce a.remove:hover {
	background-color: transparent !important;
	color: #dcaa2e !important;
	-webkit-transform: rotateZ(90deg);
	transform: rotateZ(90deg);
}

/* CHECK OUT
================================================ */
.woocommerce table.shop_table {
    border-radius: 0;
    border: none;
    border-collapse: collapse;
}
.sidebar-none .woocommerce table.shop_table.cart {
	width: 66%;
	float: left;
}
.woocommerce table.shop_table th {
	padding: .4em 0;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: .04em;
}
.woocommerce table.shop_table tbody th, 
.woocommerce table.shop_table tfoot td, 
.woocommerce table.shop_table tfoot th {
	font-weight: 300;
	font-size: 1.3em
}
.woocommerce table.shop_table tfoot td strong {
	font-weight: 300;
}
.woocommerce table.shop_table td {
    border-top: 1px solid rgba(0,0,0,.05);
    padding: 1em 0;
}
.woocommerce table.shop_table strong {
	font-weight: 500;
}

/* payment box */
.woocommerce-checkout #payment {
    background-color: #f4f4f4;
    border-radius: 0;
}
.woocommerce-checkout #payment div.payment_box {
    background-color: #ddd;
    color: #333;
    text-shadow: none;
}
.woocommerce-checkout #payment div.payment_box:before {
    border-bottom-color: #ddd;
}
.woocommerce-checkout #payment div.payment_box:after {
    border-bottom-color: #ddd;
    top: -1px;
}
.woocommerce-checkout #payment ul.payment_methods {
    border-bottom: 1px solid rgba(0,0,0,.07);
}

.woocommerce form .form-row .select2-container .select2-choice {
	padding: .275em;
	border-radius: 0;
}

.select2-container--default .select2-selection--single {
	height: 43px;
	border-radius: 0;
	border: 1px solid rgba(0,0,0,.15);
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 43px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 43px;
}
.select2-results__option {
	margin-bottom: 0;
}

/* WISHLISTED PRODUCT
================================================ */
#wishlist-wrapper {
	padding-left: 15%;
	padding-right: 15%;
}
#wishlist-wrapper .products .product {
	border-bottom: 1px solid rgba(0,0,0,.05);
	box-sizing: border-box;
	width: 100%;
	float: none !important;
	margin: 0;
	position: relative;
	padding: 2em 0 2em 4em;
}
#wishlist-wrapper .products .product:after {
	content: '';
	display: table;
	clear: both;
}
#wishlist-wrapper .products .product .product-content h3,
#wishlist-wrapper .products .product .product-content .price {
	display: block;
	text-align: left;
}
#wishlist-wrapper .products .product-image {
	max-width: 180px;
	margin: 0 2em 0 0;
	display: inline-block;
}
#wishlist-wrapper .products .product-content {
	max-width: 250px;
	display: inline-block;
	vertical-align: top;
}
#wishlist-wrapper .products .product .product-content h3 {
	font-weight: 300;
	font-size: 1.4em;
	letter-spacing: .02em;
}
#wishlist-wrapper .products .product .product-content .price ins,
#wishlist-wrapper .products .product .product-content .price del {
	display: block;
}

#wishlist-wrapper .products .product .quick-look,
#wishlist-wrapper .products .product .share-wrap {
	display: none;
}
#wishlist-wrapper .products .product .add_to_cart_button {
	position: absolute;
	top: 3em;
	right: 0;
	margin: 0;
}
#wishlist-wrapper .products .product .wishlist-remove {
	position: absolute !important;
	top: 2.5em;
	left: 0;
	display: block;
	width: 20px;
	height: 20px;
	text-indent: -99em;
	overflow: hidden;
	background-color: transparent;
	color: #dcaa2e;
}
#wishlist-wrapper .products .product .wishlist-wrap .wishlist-remove:before,
#wishlist-wrapper .products .product .wishlist-wrap .wishlist-remove:after {
	content: '';
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid;
	position: absolute;
	left: 0;
	top: 50%;
}
#wishlist-wrapper .products .product .wishlist-wrap .wishlist-remove:before {
	-webkit-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
}
#wishlist-wrapper .products .product .wishlist-wrap .wishlist-remove:after {
	-webkit-transform: rotateZ(-45deg);
	transform: rotateZ(-45deg);	
}
#wishlist-wrapper .products .product .wishlist-wrap .wishlist-remove:hover {
	-webkit-transform: rotateZ(90deg);
	transform: rotateZ(90deg);
}

#wishlist-wrapper ul.products li.product .onsale {
	right: auto;
	left: 0;
	top: 0;
	margin: -1em 0 0 -1.6em;
	-webkit-transform: rotateZ(-45deg);
	transform: rotateZ(-45deg);	
}

/* no wishlist item message */
.themify_wishlist_no_items {
	font-size: 2em;
	text-align: center;
	line-height: 1.2;
	position: relative;
	max-width: 66%;
	margin: auto;
	letter-spacing: -.015em;
}
.themify_wishlist_no_items:before {
	content: '\e813'; /* ti-heart-broken */
	color: #d2d1d0;
	font-family: 'themify_theme_icon';
	font-size: 2.75em;
	display: block;
	text-align: center;
	margin-bottom: 20px;
}

/* WIDGET STYLES
================================================ */
/* Product list widget */
.woocommerce ul.cart_list li a,
.woocommerce ul.product_list_widget li a,
.woocommerce ul.cart_list .product-title,
.woocommerce ul.product_list_widget a,
.woocommerce ul.product_list_widget .product-title {
	font-weight: normal;
	font-size: 1em;
	margin: 0 0 .3em;
}
.woocommerce ul.cart_list del,
.woocommerce ul.product_list_widget del {
	font-size: .8em;
	opacity: 0.6;
	margin-right: 7px;
}
.woocommerce ul.cart_list li .star-rating,
.woocommerce ul.product_list_widget li .star-rating {
	margin: .3em 0 .5em;
	font-size: .6em;
}
.woocommerce ul.cart_list li,
.woocommerce ul.product_list_widget li {
	padding: 0;
	margin: 0 0 1em;
}
.woocommerce ul.cart_list li img,
.woocommerce ul.product_list_widget li img {
	width: 40px;
	max-height: 40px;
}
#main-nav .woocommerce .product_list_widget li {
	margin-bottom: .6em;
	line-height: 1.2;
	padding: 0;
}
.woocommerce ul.cart_list li a,
#main-nav .woocommerce .product_list_widget li a {
	padding: .8em 0 .4em;
	border: none;
	border-top: 1px solid rgba(0,0,0,.05);
}
.woocommerce.widget_shopping_cart .product_list_widget li a.remove {
	top: 1em;
	padding: 0;
}

#main-nav .has-mega-column .product_list_widget .amount {
	font-size: 0.85em;
}

/* for product widget in mobile menu */
.mobile_menu_active #main-nav .woocommerce .product_list_widget li {
		padding-bottom: .8em !important;
}
.mobile_menu_active #main-nav .woocommerce .product_list_widget li a {
	padding: 1em 1em .4em 0;
}

#pattern{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #fff;
    background-color: rgba(255,255,255,0.95);
    display: none;
}
#post-lightbox-wrap{
    -webkit-overflow-scrolling: touch;
    margin: auto;
    position: fixed;
    z-index: 3000;
    left: 0;
    top: 0;
    width: 960px;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#post-lightbox-wrap.post-lightbox-prepare{
    max-width:100%;
    max-height:100%;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px;
}
#post-lightbox-wrap .post-lightbox-iframe #pagewrap{
    opacity:1;
    visibility:visible;
    -webkit-transition: height .3s ease-out, opacity ease .3s;
    -moz-transition: height .3s ease-out, opacity  ease .3s;
    -ms-transition: height .3s ease-out, opacity ease .3s; /* IE10 is actually unprefixed */
    -o-transition: height .3s ease-out, opacity ease .3s;
    transition: height .3s ease-out, opacity ease .3s;
}
#post-lightbox-wrap.post-lightbox-prepare .post-lightbox-iframe #pagewrap{
	opacity:0;
	visibility:hidden;
	height:auto;
}
.post-lightbox-main-image img{
	width:100%;
}
#post-lightbox-wrap .product-images-carousel{
	height:auto;
}
 
#post-lightbox-wrap.post-lightbox-prepare .post-lightbox-main-image{
	display:block;
}
#post-lightbox-wrap.animate_start .post-lightbox-main-image,
#post-lightbox-wrap .post-lightbox-main-image{
	display:none;
}

#post-lightbox-wrap .swiper-slide{
	height:0;
}

#post-lightbox-wrap .themify_swiper_ready .swiper-wrapper .swiper-slide,
#post-lightbox-wrap .swiper-wrapper .swiper-slide:first-child{
	height:auto;
}
#post-lightbox-wrap.animate_start{
	border: 1px solid rgba(167,167,167,.31);
}
#post-lightbox-wrap.animate_start,
#post-lightbox-wrap #post-lightbox-container {
    padding: 4%;
    background-color: #fff;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    -webkit-overflow-scrolling: touch;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    overflow: hidden;
}
#post-lightbox-wrap #layout {
	max-width: 100% !important;
}
#post-lightbox-wrap:not(.post-lightbox-prepare){
    max-width: 90%;
    max-height: 95%;
    overflow-y: auto;
    height: auto !important;
	border: 1px solid rgba(167,167,167,.31);
}
#post-lightbox-wrap.post-lightbox-prepare #post-lightbox-container{
    height: auto;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: all 1.2s ease;
    -moz-transform-style: preserve-3d;
    -moz-transition: all 1.2s ease;
    -o-transform-style: preserve-3d;
    -o-transition: all 1.2s ease;
    transform-style: preserve-3d;
    transition: all 1.2s ease;
    padding:0;
    background:none;
}
#post-lightbox-wrap.post-lightbox-prepare .close-lightbox{
    display:none;
}

#post-lightbox-wrap .post-lightbox-iframe #pagewrap,
#post-lightbox-wrap .post-lightbox-iframe #body {
	box-shadow: none; /* reset shadow from boxed-layout and boxed-content */
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -ms-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -webkit-transform: rotateY(0);
    -o-transform: rotateY(0);
    transform: rotateY(0);
  }
  to {
    -ms-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -webkit-transform: rotateY(0);
    -o-transform: rotateY(0);
    transform: rotateY(0);
  }
  to {
    -ms-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
.post-lightbox-flip-infinite{
    -webkit-animation: rotating 1.2s linear infinite;
  -moz-animation: rotating 1.2s linear infinite;
  -ms-animation: rotating 1.2s linear infinite;
  -o-animation: rotating 1.2s linear infinite;
  animation: rotating 1.2s linear infinite;
}
.post-lightbox #headerwrap #menu-icon {
    display: none;
}

#post-lightbox-container,
#post-lightbox-wrap #pagewrap,
#post-lightbox-wrap .post-lightbox-iframe,
#post-lightbox-wrap #body,
#post-lightbox-wrap #layout,
#post-lightbox-wrap #content{
    height:100%;
}
#post-lightbox-wrap #content{
    padding:0;
    width: 100%;
    float: none;
}
.post-lightbox .close-lightbox {
    cursor: pointer;
    color: #000;
    display: block;
    position: fixed;
    text-decoration: none;
    top: 16px;
    right: 16px;
    width: 30px;
    height: 30px;
    z-index: 9999;
    -webkit-transition: transform .3s;
    transition: transform .3s;
}
.post-lightbox .close-lightbox:before,
.post-lightbox .close-lightbox:after {
    content: '';
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid;
    position: absolute;
    left: 0;
    top: 50%;
}
.post-lightbox .close-lightbox:before {
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}
.post-lightbox .close-lightbox:after {
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);	
}
.post-lightbox .close-lightbox:hover {
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
}

#post-lightbox-container #pagewrap{
    padding:0 !important;
}
#post-lightbox-wrap.post-lightbox-temp{
    visibility:hidden;
    z-index:-1;
    opacity:0;
}
#post-lightbox-wrap.lightbox-message #post-lightbox-container {
    padding: 4%;
}
#post-lightbox-wrap.lightbox-message .lightbox-added {
    padding: 0 0 5%;
    text-align: center;
}
#post-lightbox-wrap.lightbox-message .lightbox-added h2 {
	margin: 1em 0;
}
#post-lightbox-wrap.lightbox-message .lightbox-added a.button {
	margin: 0 .5em .5em;
}
#post-lightbox-wrap #content .product .images, #post-lightbox-wrap .product .summary{
    margin-bottom:0;
    margin-top:0;
}
.zoomContainer {
    z-index: 998;
}

/* QUICK PRODUCT LIGHTBOX
================================================ */
.product-lightbox {
	box-sizing: border-box;
	margin: 0 auto;
	max-height: 95%;
	overflow: auto;
}
.product-lightbox div.product .product_title a {
	color: inherit;
	text-decoration: none;
}
.cart_empty.icon-menu-count{
	display:none;
}

/* ARCHIVE PRODUCT HOVER SLIDER
================================================ */
.product-slider .product-slider-arrow,
.woocommerce .products .slider-finish img.wp-post-image{
    visibility:hidden;
    opacity:0;
}
.product-slider .themify_spinner{
    display:none;
}
.slider-loading .themify_spinner{
    display:block;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 6px;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    z-index:2;
}
.slider-finish  .product-slider-arrow{
    cursor: pointer;
    position: absolute;
    top: 50%;
    left:0;
    font-size: 24px;
    width: 26px !important;
    height: 26px !important;
    margin-top: -26px;
    text-align: center;
    border-bottom-width: 0;
    color: #000;
    text-decoration: none;
    outline: none;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    z-index: 3;
}
.slider-finish .tiled_overlay_link{
	z-index:2;
}
.slider-finish .product-slider-arrow:before{
    position: absolute;
    top: 0;
    left: 0;
	font-family: 'themify_theme_icon';
}
.slider-finish .product-slider-prev:before{
    content: "\e803"; /* ti-angle-left */
}
.slider-finish .product-slider-next:before{
    content: "\e802"; /* ti-angle-right */
    text-align: right;    
}
.slider-finish .product-slider-next{
    right: 0;
    left:auto;
}
.istouch .slider-finish .product-slider-next,
.slider-finish:hover .product-slider-next{
    right: 0;
}
.istouch .slider-finish .product-slider-prev,
.slider-finish:hover .product-slider-prev{
    left: 0;
}
.themify_swiper_container{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0;
    visibility:hidden;
    -webkit-transition:opacity ease .3s;
    -moz-transition:  opacity  ease .3s;
    -ms-transition: opacity ease .3s; /* IE10 is actually unprefixed */
    -o-transition: opacity ease .3s;
    transition: opacity ease .3s;
    z-index:1;
}
.swiper-container.swiper-container-thumbs{
    position:absolute;
    bottom: 1%;
    left:0;
    width:100%;
    overflow:visible;
    z-index:4;
}
.swiper-container-thumbs .swiper-wrapper{
    align-items: center;
    justify-content: center; 
    padding: 0 20px;
    box-sizing: border-box;
}
.istouch .slider-finish .product-slider-arrow,
.swiper_img_progress.swiper_img_loaded,
#post-lightbox-wrap .themify_swiper_ready.swiper-container,
.single-product .themify_swiper_ready.swiper-container,
.slider-finish:hover .product-slider-arrow,
.slider-finish .themify_swiper_container,
.single-product .loops-wrapper .swiper-container{
	opacity:1;
	visibility:visible;
}
.swiper-container-thumbs .swiper-slide{
	margin: 0;
	cursor: pointer;
	width: 28px;
	box-sizing: border-box;
	-webkit-transform: scale(.8,.8);
	-moz-transform: scale(.8,.8);
	transform: scale(.8,.8);
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	transition: all .3s linear;
}
.swiper-container-thumbs .swiper-slide-active,
.swiper-container-thumbs .swiper-slide:hover {
	-webkit-transform: none;
	-moz-transform: none;
	transform: none;
}
.swiper-container-thumbs .swiper-slide img {
	-webkit-transition: border .3s linear;
	-moz-transition: border .3s linear;
	transition: border .3s linear;
	border: 1px solid transparent;
}
.swiper-container-thumbs .swiper-slide-active img,
.swiper-container-thumbs .swiper-slide:hover img {
    border-color: #000;
}
.product-slider .carousel-prev,
.product-slider .carousel-next {
    position: absolute;
    left: -25px;
    top: 25%;
    font-size:23px;
}
.product-slider .carousel-next {
    right: 0px;
    left: auto;
}
.iphone .swiper-slide.woocommerce-main-image.zoom .themify_spinner {
	display: none;
}
.auto_tiles .slider-finish:hover .product-slider-prev {
	left: 5%
}
.auto_tiles .slider-finish:hover .product-slider-next {
	right: 5%
}

/* WOOCOMMERCE CATEGORIES
================================================ */
.module.module-product-categories .product {
	position: relative;
	overflow: hidden;
	text-align: center;
}
.module.module-product-categories .product-thumbs + a {
	position: absolute;
	top: 50%;
	left: 0;
	text-align: center;
	width: 100%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}
.woocommerce .module.module-product-categories .product .product-thumbs + a h3 {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 1.1em;
	letter-spacing: .01em;
	color: #fff;
	display: inline-flex;
}
.module.module-product-categories .product-thumbs + a .count {
	color: inherit;
	font-size: 80%;
	font-weight: 300;
	margin: -.3em 0 0 .5em;
	display: inline-block;
	vertical-align: super;
}
.module.module-product-categories .product-thumbs {
	position: absolute;
	bottom: 0;
	z-index: 1;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	transition: .3s ease;
}
.module.module-product-categories .product .product-thumbs .post {
	width: 15%;
	vertical-align: bottom;
	margin-bottom: 4px;
	padding-bottom: .65em;
}
.module.module-product-categories .product:before {
	content: '';
	display: block;
	background-color: rgba(0,0,0,.2);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	-webkit-transition: .3s ease-in-out;
	-moz-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.module.module-product-categories .product:hover .product-thumbs {
	-webkit-transform: none;
	-moz-transform: none;
	transform: none;
}
.module.module-product-categories .product:hover:before {
	background-color: rgba(0,0,0,.6);
}
.module.module-product-categories .product .product-thumbs .post img {
	border: 1px solid transparent;
}
.module.module-product-categories .product .product-thumbs .post:hover > img {
	border-color: #000;
}

.woocommerce #content table.cart td.actions .coupon .input-text,
.woocommerce table.cart td.actions .coupon .input-text,
.woocommerce-page #content table.cart td.actions .coupon .input-text,
.woocommerce-page table.cart td.actions .coupon .input-text {
	width: 7.6em;
	font-size: .83em;
}
.woocommerce #content .shop_table.cart .actions input[type=submit],
.woocommerce-page #content .shop_table.cart .actions input[type=submit] {
	background: #fff;
	border: 1px solid #ccc;
	color: #666;
	font-size: .8em;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1280px) {
	#wishlist-wrapper .products .product .add_to_cart_button {
		position: static;
	}
}
@media screen and (max-width: 768px) {
	/* Product Image */
	.woocommerce #content div.product div.images,
	.woocommerce div.product div.images,
	.woocommerce-page #content div.product div.images,
	.woocommerce-page div.product div.images {
		width: 100%;
		display: table;
		table-layout: fixed;
	}
	.woocommerce #content div.product div.summary,
	.woocommerce div.product div.summary,
	.woocommerce-page #content div.product div.summary,
	.woocommerce-page div.product div.summary {
		padding-left: 0;
	}
	.woocommerce #content div.product div.images,
	.woocommerce #content div.product div.summary,
	.woocommerce div.product div.images,
	.woocommerce div.product div.summary,
	.woocommerce-page #content div.product div.images,
	.woocommerce-page #content div.product div.summary,
	.woocommerce-page div.product div.images,
	.woocommerce-page div.product div.summary {
		float: none;
		width: 100%;
	}
	
	/* tabs */
	.woocommerce #content div.product.woocommerce-tabs,
	.woocommerce div.product .woocommerce-tabs {
		max-width: none;
		width: auto;
	}
	.woocommerce div.product .woocommerce-tabs ul.tabs li a {
		padding: .4em 1em;
		font-size: .9em;
	}
	
	/* quantity */
	.woocommerce .quantity .qty {
		margin: auto;
		padding: .5em;
	}
	.woocommerce div.product form.cart .button {
		padding: .725em .5em;
	}
	
	/* Fix Cart Responsive */
	.woocommerce table.shop_table {
		border-collapse: inherit;
	}
	.woocommerce .cart-collaterals .cart_totals tr td,
	.woocommerce-page .cart-collaterals .cart_totals tr th {
		width: auto !important;
	}	
	.sidebar-none .woocommerce table.shop_table.cart,
	.woocommerce.sidebar-none .cart-collaterals .cart_totals,
	.woocommerce-page.sidebar-none .cart-collaterals .cart_totals,
	.woocommerce .cart-collaterals .cart_totals,
	.woocommerce .cart-collaterals .cross-sells,
	.woocommerce .cart-collaterals .shipping_calculator,
	.woocommerce-page .cart-collaterals .cart_totals,
	.woocommerce-page .cart-collaterals .cross-sells,
	.woocommerce-page .cart-collaterals .shipping_calculator {
		width: 100%;
		float: none;
		text-align: left;
	}
	.woocommerce-page table.cart td.actions .button,
	.woocommerce-page table.cart td.actions .coupon .input-text + .button {
		float: right;
	}
	.woocommerce #content table.cart td.actions,
	.woocommerce table.cart td.actions,
	.woocommerce-page #content table.cart td.actions,
	.woocommerce-page table.cart td.actions {
		padding: 1em 0;
	}
	.woocommerce table.cart td.actions .input-text+.button,
	.woocommerce-page table.cart td.actions .input-text+.button,
	.woocommerce-page #content table.cart td.actions .input-text+.button,
	.woocommerce table.cart td.actions .button,
	.woocommerce table.cart td.actions input,
	.woocommerce-page #content table.cart td.actions .button,
	.woocommerce-page #content table.cart td.actions input,
	.woocommerce-page table.cart td.actions .button,
	.woocommerce-page table.cart td.actions input {
		float: none;
		width: 100%;
		margin: 0;
	}
	.woocommerce #content table.cart td.actions .coupon,
	.woocommerce table.cart td.actions .coupon,
	.woocommerce-page #content table.cart td.actions .coupon,
	.woocommerce-page table.cart td.actions .coupon {
		margin-bottom: .5em;
	}
	.woocommerce #content table.cart td.actions .coupon .input-text,
	.woocommerce table.cart td.actions .coupon .input-text,
	.woocommerce-page #content table.cart td.actions .coupon .input-text,
	.woocommerce-page table.cart td.actions .coupon .input-text {
		width: 48%;
		float: left;
	}
	.woocommerce #content table.cart td.actions .coupon .button.alt,
	.woocommerce #content table.cart td.actions .coupon .input-text+.button,
	.woocommerce table.cart td.actions .coupon .button.alt,
	.woocommerce table.cart td.actions .coupon .input-text+.button,
	.woocommerce-page #content table.cart td.actions .coupon .button.alt,
	.woocommerce-page #content table.cart td.actions .coupon .input-text+.button,
	.woocommerce-page table.cart td.actions .button,
	.woocommerce-page table.cart td.actions .coupon .input-text + .button {
		width: 48%;
		clear: none;
		white-space: normal;
		letter-spacing: 0;
	}
	.woocommerce .cart-collaterals .cross-sells .amount,
	.woocommerce-page .cart-collaterals .cross-sells .amount {
		text-align: left;
	}
	
	.woocommerce table.shop_table_responsive tr:nth-child(2n) td,
	.woocommerce-page table.shop_table_responsive tr:nth-child(2n) td {
		background-color: transparent;
	}
	.woocommerce-cart table.cart tr.cart_item {
		border-top: 1px solid rgba(0,0,0,.05);
		position: relative;
		padding: .5em 0 .5em 35px;
	}
	.woocommerce-cart table.cart td,
	.woocommerce-cart table.cart th {
		width: auto;
		border: none;
		padding: .2em 0;
	}
	.woocommerce-cart table.cart tr td.product-remove {
		position: absolute;
		left: 3px;
	}
		
	/* gallery lightbox */
	div.pp_woocommerce .pp_next,
	div.pp_woocommerce .pp_previous,
	div.pp_woocommerce .pp_arrow_next,
	div.pp_woocommerce .pp_arrow_previous {
		margin-top: auto;
	}
	div.pp_woocommerce .pp_arrow_next:before,
	div.pp_woocommerce .pp_arrow_previous:before,
	div.pp_woocommerce .pp_nav p {
		line-height: normal;
		font-size: 24px;
	}
	div.pp_woocommerce .pp_close:before {
		font-size: 24px;
	}
	
	/* my account */
	.woocommerce-account .woocommerce-MyAccount-navigation,
	.woocommerce-account .woocommerce-MyAccount-content {
		width: auto;
		float: none;
		clear: both;
	}
	.woocommerce-account .woocommerce-MyAccount-content {
		margin-top: 2em;
	}
	.woocommerce form .form-row {
		padding: 0;
	}
	
	/* wishlisted */
	#wishlist-wrapper {
		padding-left: 0;
		padding-right: 0;
	}
	#wishlist-wrapper .products .product {
		display: block;
		width: 100% !important;
	}
	#wishlist-wrapper .products .product > a,
	#wishlist-wrapper .products .product .product-content,
	#wishlist-wrapper .products .product a img,
	#wishlist-wrapper .products .product .product-content h3,
	#wishlist-wrapper .products .product .product-content .price,
	#wishlist-wrapper .products .product .product-content .product-description {
		display: block;
	}
	#wishlist-wrapper .products .product a img,
	#wishlist-wrapper .products .product .product-content h3,
	#wishlist-wrapper .products .product .product-content .price {
		max-width: none;
		margin: 0 0 .5em;
	}
	#wishlist-wrapper .products .product .wishlist-wrap {
		transform: none;
		top: 0;
		margin-top: 2em;
	}
	#wishlist-wrapper .products .product .add_to_cart_button {
		position: static;
	}
	
	.woocommerce #content div.product .woocommerce-tabs ul.tabs li a,
	.woocommerce div.product .woocommerce-tabs ul.tabs li a,
	.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a,
	.woocommerce-page div.product .woocommerce-tabs ul.tabs li a {
		font-size: .8em;
	}
	
	.woocommerce .related.products {
		overflow-x: hidden;
	}
	.woocommerce .related ul.products .product,
	.woocommerce.woocommerce-page .related ul.products .product {
		width: 48.4%;
		box-sizing: border-box;
		padding-left: 2%;
		padding-right: 2%;
	}
	
	/* SINGLE PRODUCT LAYOUT OPTIONS */
	.product-img-center.woocommerce #content div.product div.images,
	.product-img-center.woocommerce div.product div.images,
	.product-img-center.woocommerce-page #content div.product div.images,
	.product-img-center.woocommerce-page div.product div.images,
	.product-img-center.woocommerce #content div.product div.summary,
	.product-img-center.woocommerce div.product div.summary,
	.product-img-center.woocommerce-page #content div.product div.summary,
	.product-img-center.woocommerce-page div.product div.summary {
		width: 100%;
	}
	.product-img-right.woocommerce #content div.product div.images,
	.product-img-right.woocommerce div.product div.images,
	.product-img-right.woocommerce-page #content div.product div.images,
	.product-img-right.woocommerce-page div.product div.images,
	.product-img-right.woocommerce #content div.product div.summary,
	.product-img-right.woocommerce div.product div.summary,
	.product-img-right.woocommerce-page #content div.product div.summary,
	.product-img-right.woocommerce-page div.product div.summary {
		float: none;
		clear: both;
	}

	/* product description */
	.woocommerce.sidebar-none div.product .woocommerce-tabs .panel {
		padding-left: 0;
		padding-right: 0;
	}
	.woocommerce.sidebar-none #content div.product .woocommerce-tabs ul.tabs, 
	.woocommerce.sidebar-none div.product .woocommerce-tabs ul.tabs, 
	.woocommerce-page.sidebar-none #content div.product .woocommerce-tabs ul.tabs, 
	.woocommerce-page.sidebar-none div.product .woocommerce-tabs ul.tabs {
		text-align: left;
	}

	.woocommerce ul.products li.product:nth-child(2n), .woocommerce-page ul.products li.product:nth-child(2n), 
	.woocommerce-page[class*=columns-] ul.products li.product:nth-child(2n), 
	.woocommerce[class*=columns-] ul.products li.product:nth-child(2n) {
		float: right !important;
	}
	/* builder woocommerce - categories */
	.module.module-product-categories ul.products .product {
		width: 100%;
		margin: 0 0 10px !important;
	}

}
@media screen and (max-width: 680px) {
	/* product single */
	.woocommerce div.product .product_title {
		font-size: 1.6em;
	}
	.woocommerce div.product p.price, 
	.woocommerce div.product span.price {
		font-size: 1.3em;
	}

	/* product archive */
	.woocommerce .woocommerce-ordering {
		margin: 0 0 1em;
		float: none;
		text-align: right;
	}
	.woocommerce .woocommerce-result-count {
		text-align: right;
		float: none;
	}
	.products.masonry .grid-sizer{
		width: 48.4%;
		float: left;
		clear: both;
	}
	.products.masonry.no-gutter .grid-sizer,
	.woocommerce.woocommerce-page ul.products.no-gutter .product {
		width: 50% !important;
		margin-left: 0 !important;
		margin-right: 0;
	}
	.swiper-container-thumbs .swiper-slide {
		width: 20px;
	}
	.woocommerce ul.products li.product h3 {
		font-size: 1em;
	}
	.woocommerce ul.products li.product h3 + .price {
		margin-top: -.3em;
	}
	.woocommerce ul.products li.product .add_to_cart_button {
		font-size: .65em;
		margin-bottom: .8em;
	}
	.product-share-wrap {
		font-size: .9em;
	}
	.wishlist-button {
		width: 20px;
		height: 22px;
		padding: 1px 3px 3px;
	}
	.woocommerce span.onsale,
	.woocommerce-page span.onsale,
	.woocommerce ul.products li.product .onsale,
	.woocommerce-page ul.products li.product .onsale {
		font-size: .65em;
	}
	.woocommerce ul.products li.product .price {
		font-size: .85em;
		margin: 0 0 .4em;
	}
	.woocommerce-page.columns-4 ul.products li.product, 
	.woocommerce.columns-4 ul.products li.product,
	.woocommerce ul.products.grid4 .product,
	.woocommerce-page.columns-3 ul.products li.product, 
	.woocommerce.columns-3 ul.products li.product,
	.woocommerce ul.products.grid3 .product,
	.woocommerce-page.columns-2 ul.products li.product,
	.woocommerce.columns-2 ul.products li.product,
	.woocommerce ul.products.grid2 .product {
		width: 48% !important;
		float: left !important;
		margin-left: 0;
	}

	/* quick look */
	#post-lightbox-wrap #post-lightbox-container {
		padding: 11% 5% 5%;
	}
	#post-lightbox-wrap .close-lightbox {
		width: 24px;
		top: 5px;
		right: 4%;
	}
	
	.wpf_item_price .wpf_items_group {
		margin-left: 12px;
		margin-right: 12px;
	}

}
@media screen and (max-width: 400px) {
	.woocommerce-page .quantity .qty,
	.woocommerce .quantity .qty {
		padding: .35em;
	}
	.woocommerce div.product form.cart .button {
		font-size: .9em;
	}
}

/*Swipe Slider*/
.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.swiper-container-android .swiper-slide, .swiper-wrapper {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate(0px,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.swiper-wrapper .swiper-slide img{
	width:100%;
}
.swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
}
.swiper-container-vertical>.swiper-wrapper {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.swiper_img_progress,
#post-lightbox-wrap .swiper-container,
.single-product .swiper-container{
    opacity:0;
    visibility:hidden;
    -webkit-transition: height 0.3s ease-out, opacity 0.3s ease 0.5s;
    -moz-transition: height 0.3s ease-out, opacity 0.3s ease 0.5s;
    -ms-transition: height 0.3s ease-out, opacity 0.3s ease 0.5s; /* IE10 is actually unprefixed */
    -o-transition: height 0.3s ease-out, opacity 0.3s ease 0.5s;
    transition: height 0.3s ease-out, opacity 0.3s ease 0.5s;
}
.product-images-carousel{
    height:0;
}
.single-product .images .themify_spinner,
.images .themify_spinner {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index:3;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.product-images-carousel.themify_swiper_ready{
    height:auto;
}
.product-images-carousel{
    float: right;
    width: 87%;
}

/* product gallery thumbs */
.product-thumbnails-carousel{
    float: left;
    width: 12%;
}
.woocommerce-page div.product div.images .product-thumbnails-carousel .thumbnails{
    float:none;
    width:100%;
}
.woocommerce-page div.product div.images .product-thumbnails-carousel .thumbnails .post-image {
	margin: 0 0 .4em;
}
.product-thumbnails-carousel .swiper-slide{
    cursor:pointer;
}
.product-thumbnails-carousel .swiper-slide.swiper-slide-active{
    cursor: default;
    opacity: 0.2;
}
.product-thumbnails-carousel .swiper-slide {
	width: auto;
	height: auto;
	flex-shrink: initial;
	display: inline-block;
	margin: 0 0 .3em 0;
}
.product-img-center .product-thumbnails-carousel .swiper-slide {
	margin: 0 .3em .3em .3em;
}
.product-thumbnails-carousel .swiper-wrapper {
	display: inline-block;
	margin-left: 0;
}
.product-img-center .product-thumbnails-carousel .swiper-wrapper {
	margin-top: 10px;
}
.product-thumbnails-carousel .swiper-slide img {
	width: auto !important;
	max-width: 52px;
}

/* SHOP CART
================================================ */
#cart-wrap {
    border: 1px solid rgba(0, 0, 0, .1);
    background-color: #f5f5f5;
    box-sizing:  border-box;
    width: 300px;
    position: absolute;
    right: -11px;
    top: 100%;
    text-align: left;
    opacity: 0;
    visibility: hidden;
    margin-top: 10px;
    transition: all 200ms ease-in-out;
    transition-property: margin-top, left;
    max-height: 300px;
    z-index: 11;
}
.top-icon-wrap li.show_cart #cart-wrap,
.top-icon-wrap li:hover #cart-wrap {
    opacity: 1;
    visibility: visible;
    margin-top: -1px;
}
.top-icon-wrap .nicescroll-rails-vr {
    display: none !important;
}
.top-icon-wrap:hover .nicescroll-rails-vr {
    display: block !important;
}

/* product */
#cart-list {
    background-color: #fff;
    padding: .9em .75em 0;
}
#cart-wrap a {
    padding: 0;
}
#cart-wrap .product {
    overflow: hidden;
	margin: 0;
    margin-bottom: .7em;
    padding-bottom: .19em;
    border-bottom: 1px solid rgba(0,0,0,0.07);
	display: block;
}
#cart-wrap .product:last-child {
    border: none;
    margin-bottom: 0;
}
#cart-wrap .remove-item {
    float: right;
    width: 14px;
    height: 14px;
    padding: 0;
    overflow: hidden;
    position: relative;
    transform-origin: center;
    margin-top: 4px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	right: 0;
	top: 0;
	background: none;
}
#cart-wrap .remove-item:not(.themify_spinner):before,
#cart-wrap .remove-item:not(.themify_spinner):after {
    content: '';
    display: block;
    border-top: 1px solid;
    position: absolute;
    width: 100%;
    top: 50%;
    transition: all .3s ease;
    transition-property: transform;
    transform-origin: center;
	left: 0;
}
#cart-wrap .remove-item:not(.themify_spinner):before {
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}
#cart-wrap .remove-item:not(.themify_spinner):after {
    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
}
#cart-wrap .remove-item.themify_spinner {
    font-size: 4px;
    width: 1em;
    height: 1em;
    margin-right: 13px;
    margin-top: 13px;
    transition: none;
}
#cart-wrap .product-image {
    float: left;
    margin-right: .95em;
    width: 40px;
}
#cart-wrap .product-details {
    overflow: hidden;
}
#cart-wrap .product-title {
    font-size: .9em;
    font-weight: normal;
    margin: 0 8px -5px 0;
}
#cart-wrap .quantity-count {
    font-size: .7em;
    opacity: .5;
    margin: 0;
    letter-spacing: 0.04em;
}

/* cart total */
#cart-wrap .cart-total {
    float: left;
    padding: .8em 0 0 .7em;
    margin: 0;
    color: #777;
}
#cart-wrap .cart-total .amount {
    font-size: 1em;
    display: block;
    margin-bottom: -2px;
}
#cart-wrap .cart-total #view-cart {
    font-size: .75em;
	line-height: 1.3em;
    display: block;
    color: #777;
}
#cart-wrap .cart-total #view-cart:hover {
    color: #000;
}
#cart-wrap .checkout-button {
    float: right;
    padding: 1.05em .75em .95em;
    margin: 0;
}
#cart-wrap .button {
    background: none;
    border: 1px solid #000;
    color: #030301;
    font-size: .95em;
    line-height: 110%;
    font-weight: 500;
    letter-spacing: .095em;
    padding: .55em 1em .4em;
}
#cart-wrap .button:hover {
    background: #000;
    color: #fff;
}
.shopdock_empty#shopdock{
	display:none;
}
.top-icon-wrap #cart-wrap {
	padding-bottom: 65px;
}
.top-icon-wrap #cart-list {
	padding-bottom: 15px;
	max-height: 235px;
	overflow: hidden;
	overflow-y: auto;
    -webkit-overflow-scrolling: touch;
	box-sizing: border-box;
}
.top-icon-wrap .cart-total-checkout-wrap {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	background-color: #f5f5f5;
}
.cart-style-dropdown.wc-cart-empty #shopdock{
	display:none;
}
.product.has-default-attributes.has-children>.images{
	opacity: 1;
}

/* WooCommerce 3.0 fix */

.woocommerce div.product div.images {
	margin-bottom: 2em;
	opacity: 1 !important;
}

.woocommerce div.product div.images img {
	display: block;
	width: 100%;
	height: auto;
	box-shadow: none;
}

.woocommerce div.product div.images div.thumbnails {
	padding-top: 1em;
}

.woocommerce div.product div.images.woocommerce-product-gallery {
	position: relative;
}

.woocommerce div.product div.images .woocommerce-product-gallery__wrapper {
	transition: all cubic-bezier(.795, -.035, 0, 1) .5s;
}

.woocommerce div.product div.images .woocommerce-product-gallery__image:nth-child(n+2) {
	width: 25%;
	display: inline-block;
}

.woocommerce div.product div.images .woocommerce-product-gallery__trigger {
	position: absolute;
	top: .5em;
	right: .5em;
	font-size: 2em;
	z-index: 9;
	width: 36px;
	height: 36px;
	background: #fff;
	text-indent: -9999px;
	border-radius: 100%;
	box-sizing: content-box;
}

.woocommerce div.product div.images .woocommerce-product-gallery__trigger:before {
	content: "";
	display: block;
	width: 10px;
	height: 10px;
	border: 2px solid #000;
	border-radius: 100%;
	position: absolute;
	top: 9px;
	left: 9px;
	box-sizing: content-box;
}

.woocommerce div.product div.images .woocommerce-product-gallery__trigger:after {
	content: "";
	display: block;
	width: 2px;
	height: 8px;
	background: #000;
	border-radius: 6px;
	position: absolute;
	top: 19px;
	left: 22px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	box-sizing: content-box
}

.woocommerce div.product div.images .flex-control-thumbs {
	overflow: hidden;
	zoom: 1;
	margin: 0;
	padding: 0
}

.woocommerce div.product div.images .flex-control-thumbs li {
	width: 25%;
	float: left;
	margin: 0;
	list-style: none
}

.woocommerce div.product div.images .flex-control-thumbs li img {
	cursor: pointer;
	opacity: .5;
	margin: 0
}

.woocommerce div.product div.images .flex-control-thumbs li img.flex-active,
.woocommerce div.product div.images .flex-control-thumbs li img:hover {
	opacity: 1
}

/* general checkbox */
.woocommerce form .form-row .input-checkbox {
	display: inline-block;
}