html { overflow-x: hidden; }
.main-container { max-width: 100%; }
/*-----------------------------------------------
/* @media queries
/*---------------------------------------------*/

@media screen and (max-width:1366px) {
	.primary-slider .slide-caption-inner {
		right: 5%
	}
	.shareit {
		position: relative!important;
		width: 100%!important;
		top: 0!important;
		padding-left: 0!important;
		padding-right: 0!important;
		margin: 0!important;
		padding-top: 10px!important;
		border: none !important;
		margin-bottom: 25px!important;
	}
}

@media screen and (max-width:1280px) {
	.primary-slider .slide-caption-inner {
		right: 7.6%
	}
}

@media screen and (max-width:1230px) {
	#page,
	.container {
		width: 96%
	}
	.widget #wp-subscribe p.text {
		width: 100%
	}
	img {
		max-width: 100%;
		height: auto!important;
	}
	.related-posts .latestPost .featured-thumbnail {
		margin-right: 5%
	}
	.related-posts .title a {
		font-size: 17px!important
	}
	.primary-slider .slide-caption-inner {
		right: inherit;
		left: 6%;
	}
	.primary-slider .owl-dots {
		right: 2%
	}
	.primary-slider .owl-controls {
		right: 2%
	}
	.building-slider .owl-controls {
		min-height: 100px!important;
		bottom: 0;
	}
	.our-clients-section .client-info {
		width: 14.25%;
		margin: 0 1.2% 30px 1.2%;
	}
}

@media screen and (max-width:1130px) {
	.counter_wrap .counting .counter {
		font-size: 90px
	}
	.general-quotes .text {
		width: 80%
	}
	.widget .wpt_thumb_small,
	.widget .wp_review_tab_thumb_small {
		margin-right: 8%
	}
	.sidebar.c-4-12 {
		padding-left: 2.5%
	}
	.widget .wpt_widget_content .tab-content li,
	.widget .wp_review_tab_widget_content .tab-content li {
		padding-left: 8%
	}
	.widget .wpt_widget_content .wpt-pagination a,
	.widget .wp_review_tab_widget_content .wp-review-tab-pagination a {
		margin: 0 8%
	}
	/*...blog2......*/
	.blog2 .latestPost .post-info {
		padding-bottom: 10px
	}
	.blog2 .latestPost .title {
		margin-top: 15px;
		margin-bottom: 10px
	}
	.blog2 .latestPost .front-view-content {
		padding-bottom: 20px;
		margin-bottom: 20px;
	}
	#project .project-image:hover .project-caption .readMore,
	.related-posts-projects .project-image:hover .project-caption .readMore {
		transform: translate3d(0, -160%, 0) translate3d(0, -160%, 0);
	}
	.widget.widget_services li a:before {
		width: 9%;
		left: -9%;
	}
	.widget.widget_services li a:after {
		left: -12%
	}
	.single-title {
		font-size: 25px!important
	}
	.services .designing .lists li .icon {
		left: 10px
	}
	.services .designing .lists li a {
		padding-left: 50px;
		padding-right: 15px
	}
	#site-footer .tagcloud a {
		margin-bottom: 7px;
		margin-right: 7px;
		font-size: 12px!important;
		line-height: 30px;
	}
	#move-to-top {
		width: 30px;
		height: 30px;
		bottom: 40px;
	}
	#move-to-top .fa-angle-up {
		line-height: 30px;
		font-size: 20px;
	}
	.featured-view-posts .slide-caption .readMore {
		bottom: 5px;
	}
}

@media screen and (max-width:1060px) {
	.primary-slider .slide-caption {
		max-width: 100%;
	}
	.primary-slider .slide-caption-inner {
		padding-top: 65px
	}
	.primary-slider .slide-caption .slide-title,
	.primary-slider .slide-caption .slide-description {
		width: 85%
	}
	#site-footer .widget li {
		width: 100%;
		margin-right: 0;
	}
	#site-footer .widget.widget_categories li:nth-child(2) > a,
	#site-footer .widget.widget_archive li:nth-child(2) > a,
	#site-footer .widget.widget_pages li:nth-child(2) > a,
	#site-footer .widget.widget_meta li:nth-child(2) > a,
	#site-footer .widget.widget_nav_menu li:nth-child(2) > a {
		padding-top: 10px
	}
	.toggle-menu .toggle-caret {
		top: 12px
	}
	.widget .wpt_widget_content .entry-title,
	.widget .wp_review_tab_widget_content .entry-title {
		font-size: 15px
	}
	.widget .wpt_widget_content .tab-content li,
	.widget .wp_review_tab_widget_content .tab-content li {
		padding-right: 10px
	}
	#project .project-image:hover .project-caption .readMore,
	.related-posts-projects .project-image:hover .project-caption .readMore {
		transform: translate3d(0, -140%, 0) translate3d(0, -140%, 0);
	}
	.widget.widget_services li a:after {
		left: -13%;
		border-width: 8.5px 12px 8.5px 0;
	}
	.related-posts .latestPost .featured-thumbnail {
		margin-right: 0
	}
	.related-posts article header {
		float: left;
		margin-top: 20px;
	}
	.related-posts .latestPost {
		width: 32%;
		margin-right: 2%;
	}
	.related-posts .latestPost:nth-child(even) {
		margin-right: 2%;
	}
	.related-posts .latestPost:nth-child(3n) {
		margin-right: 0;
	}
	.services .designing,
	.services .building {
		width: 100%;
		float: none;
		margin-left: auto;
		margin-right: auto;
		overflow: hidden;
	}
	.services .building {
		margin-top: 20px
	}
}

@media screen and (max-width:1000px) {
	.featured-view-posts .tab-content {
		width: 32%;
		margin-right: 2%;
		max-width: 100%;
		max-height: 100%;
		margin-bottom: 30px;
	}
	.featured-view-posts .tab-content > a img {
		float: left;
	}
	.featured-content {
		padding: 60px 0 30px 0
	}
	.featured-view-posts .tab-content:nth-child(3n) {
		margin-right: 0;
	}
	.featured-view-posts .tab-content img {
		width: 100%
	}
}

@media screen and (max-width:920px) {
	#secondary-navigation {
		left: 0;
	}
	.ad-300 img {
		max-width: 100%
	}
	.ad-125 li {
		max-width: 40%
	}
	.ad-125 img {
		padding: 0;
		background: #FAFAFA;
		border: 0;
	}
	.navigation a {
		padding: 18px 20px
	}
	.general-quotes .text {
		width: 100%
	}
	#project .project-image:hover .project-caption .readMore,
	.related-posts-projects .project-image:hover .project-caption .readMore {
		transform: translate3d(0, -130%, 0) translate3d(0, -130%, 0);
	}
	.post-comment-left,
	.post-comment-right {
		float: none;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		overflow: hidden;
	}
	.post-comment-right {
		margin-top: 20px
	}
}

@media screen and (max-width:865px) {
	.mts-cart span a {
		padding-bottom: 0;
	}
	.mts-cart {
		float: none;
		text-align: center!important;
	}
	.header-layout-2 #header h1,
	.header-layout-2 #header h2,
	.header-layout-2 .site-description {
		float: none;
		text-align: center;
		width: 100%;
		max-width: 100%;
		padding: 0;
	}
	.header-layout-2 #logo a,
	.header-layout-2 #logo img {
		float: none;
		letter-spacing: 0;
	}
	.header-layout-2 .logo-wrap {
		margin-bottom: 10px;
		margin-top: 0;
		width: 100%;
	}
	#primary-navigation a:hover,
	#primary-navigation ul li.current-menu-item > a,
	#primary-navigation .navigation ul li:hover > a {
		background: transparent;
		color: #ffffff!important;
	}
	.navigation {
		width: 100%;
		display: none;
	}
	#secondary-navigation {
		width: 100%!important;
		position: relative!important;
	}
	.navigation .menu a,
	.navigation .menu .fa > a,
	.navigation .menu .fa > a {
		color: #fff!important;
		background: transparent;
	}
	.navigation .menu {
		display: block!important;
		float: none;
		background: transparent;
	}
	.navigation ul ul {
		visibility: visible!important;
		opacity: 1!important;
		position: relative;
		left: 0!important;
		border: 0;
		width: 100%;
		box-shadow: none!important;
	}
	.navigation ul li li {
		background: transparent;
		border: 0;
	}
	nav.navigation {
		height: auto;
	}
	nav.navigation li,
	.navigation ul li li {
		width: 100%!important;
		float: left;
		position: relative;
	}
	.navigation ul li:after {
		display: none;
	}
	.navigation ul li:before {
		display: none;
	}
	nav.navigation li a {
		border-bottom: 1px solid rgba(255, 255, 255, 0.1)!important;
		width: 100%!important;
		box-sizing: border-box;
	}
	nav.navigation a {
		text-align: left;
		width: 100%;
		text-indent: 25px;
	}
	.pagination a,
	#load-posts a {
		width: auto;
		text-indent: 0;
	}
	a#pull {
		display: block;
		width: 100%;
		position: relative;
		color: #fff;
		padding: 10px 0;
		text-indent: 15px;
		text-transform: uppercase;
		font-size: 16px;
	}
	a#pull:after {
		content: "\f0c9";
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 10px;
		font-family: FontAwesome;
	}
	.navigation ul .sfHover a,
	.navigation ul li:hover,
	.navigation ul .sfHover ul li {
		background: transparent;
	}
	/*disable flayout*/
	#catcher {
		height: 0 !important
	}
	.sticky-navigation-active {
		position: relative !important;
		top: 0 !important;
	}
	/*-[ Responsive Navigation ]--------------------------------*/
	.main-container {
		position: relative;
		left: 0;
		transition: left 500ms ease;
	}
	.mobile-menu-active .main-container {
		left: 300px;
		transition: left 500ms ease;
	}
	.navigation.mobile-menu-wrapper {
		display: block;
		position: fixed;
		top: 0;
		left: -300px;
		width: 300px;
		height: 100%;
		background-size: cover;
		border-right: 1px solid rgba(255, 255, 255, 0.1);
		overflow: auto;
		transition: left 500ms ease;
		-webkit-backface-visibility: hidden;
		box-sizing: border-box;
	}
	.navigation ul li a:before {
		display: none
	}
	#primary-navigation .menu li:first-child a {
		border-left: none
	}
	.mobile-menu-active .navigation.mobile-menu-wrapper {
		left: 0
	}
	.navigation ul li {
		width: 100%;
		display: block;
	}
	.navigation ul li:hover {
		background: none;
	}
	.navigation ul li a,
	.navigation ul ul a {
		padding: 11px 0!important;
		width: 100%;
		border: none;
		line-height: 1.4!important;
	}
	#secondary-navigation ul li a {
		text-transform: uppercase;
		font-size: 15px;
	}
	.navigation ul ul {
		position: static;
		width: 100%;
		border: none;
	}
	.navigation ul ul li {
		background: none;
		width: 100%;
	}
	.navigation i {
		display: inline;
	}
	.navigation .toggle-caret {
		display: block;
		width: 44px;
		height: 42px;
		line-height: 46px;
		color: #ffffff;
		border-left: 1px solid rgba(255, 255, 255, 0.1);
		font-size: 16px;
		top: 0;
	}
	.navigation .menu-item-has-children > a:after {
		content: ''
	}
	/*-[ Mega Menu ]--------------------------------*/
	#wpmm-megamenu .wpmm-subcategories {
		width: 100%;
		text-indent: 0;
	}
	#wpmm-megamenu .wpmm-posts {
		width: 100%
	}
	#wpmm-megamenu .wpmm-post {
		width: 100%!important;
		padding: 0 10px!important;
		text-align: center!important;
	}
	#wpmm-megamenu .wpmm-thumbnail img {
		float: left
	}
	#secondary-navigation #wpmm-megamenu.wpmm-light-scheme {
		display: none;
		background: transparent;
	}
	#secondary-navigation .wpmm-megamenu-showing.wpmm-light-scheme {
		background: transparent!important;
	}
	.request-quote {
		text-align: center;
		padding: 10px 0;
		padding-bottom: 20px;
	}
	.request-quote .description {
		float: none
	}
	.request-quote .readMore {
		float: none;
		margin-top: 10px;
	}
	.request-quote .readMore a {
		float: none;
		display: inline-block;
	}
	.counter_wrap .counting .counter {
		font-size: 60px
	}
	.counter_wrap .counting .description {
		margin-top: 10px
	}
	#header .contact-info {
		padding-left: 15px;
		padding-right: 15px;
	}
	#header .contact-info .icon {
		height: 28px;
		width: 28px;
		margin-right: 15px;
	}
	#header .contact-info .icon i {
		font-size: 15px;
		line-height: 28px;
	}
	.navigation ul ul li a:hover {
		color: #fff!important;
	}
	.toggle-menu .toggle-caret:hover {
		color: #fff
	}
	.why-us-section-us p {
		float: left
	}
	.featured-category-title {
		font-size: 25px;
		padding-top: 30px;
		margin-bottom: 30px;
		padding-bottom: 20px;
	}
	.testimonial-container .custom-nav {
		top: 30px
	}
	.our-clients-section .client-info {
		width: 21%;
		margin: 0 2% 30px 2%;
	}
	.our-clients-section {
		padding-bottom: 10px
	}
	#project .project-image:hover .project-caption .readMore,
	.related-posts-projects .project-image:hover .project-caption .readMore {
		transform: translate3d(0, -115%, 0) translate3d(0, -115%, 0);
	}
	#move-to-top {
		margin-left: 0;
		margin-top: 12px;
	}
}

@media screen and (max-width:800px) {
	.admin-bar .pace .pace-progress { top: 46px; }
	.article {
		width: 100%;
		padding-left: 2.5%;
		padding-top: 20px;
	}
	.article:before { display: none; }
	.single_post,
	.related-posts,
	.postauthor,
	#comments,
	#commentsAdd { margin-bottom: 30px; }
	.postauthor { padding-bottom: 30px; }
	#content_box {
		padding-right: 0px;
		padding-left: 0px!important;
	}
	.sidebar.c-4-12 {
		float: none!important;
		width: 100% !important;
		padding-right: 2.5%;
		margin: 0 auto;
		overflow: hidden;
	}
	.sub-header .title {
		font-size: 35px;
		margin: 30px 0;
	}
	#project .project-image:hover .project-caption .readMore,
	.related-posts-projects .project-image:hover .project-caption .readMore {
		transform: translate3d(0, -110%, 0) translate3d(0, -110%, 0);
	}
	.project-single .sidebar.c-4-12 { box-shadow: none; }
	.related-posts .latestPost .featured-thumbnail { margin-right: 5%; }
	.f-widget,
	.widgets-num-4 .f-widget,
	.widgets-num-3 .f-widget {
		width: 48%;
		margin-right: 4%;
		max-width: 100%;
	}
	.f-widget:nth-child(even),
	.widgets-num-4 .f-widget:nth-child(even),
	.widgets-num-3 .f-widget:nth-child(even) {
		margin-right: 0
	}
	.f-widget:nth-child(odd),
	.widgets-num-4 .f-widget:nth-child(odd),
	.widgets-num-3 .f-widget:nth-child(odd) { clear: left; }
	.project-single .article { padding-right: 2.56%; }
}

@media screen and (max-width:728px) {
	#header h1,
	#header h2,
	.site-description {
		float: none;
		text-align: center;
		width: 100%;
		max-width: 100%;
		padding: 0;
	}
	.site-description {
		margin-top: 0;
	}
	#logo a,
	#logo img {
		float: none;
		letter-spacing: 0;
	}
	.widget-header {
		max-width: 100%;
		float: left;
	}
}
@media screen and (min-width:400px) {
	.widget-header .adcode-widget {
		width: 320px;
		height: 100px;
	}
}
@media screen and (min-width:550px) {
	.widget-header .adcode-widget {
		width: 468px;
		height: 60;
	}
}
@media screen and (min-width:985px) {
	.widget-header .adcode-widget {
		width: 728px;
		height: 90;
	}
}
@media screen and (max-width:720px) {
	#secondary-navigation a {
		padding-top: 10px!important;
		padding-bottom: 10px!important;
	}
	.ad-125 li { max-width: 45%; }
	#comments { margin-right: 0; }
	.widget-header .textwidget {
		margin-top: 0;
		padding-left: 0;
		border-left: none;
	}
	.primary-slider .slide-caption { width: 45%; }
	#header {
		padding-top: 25px;
		padding-bottom: 25px;
	}
	.logo-wrap {
		margin-top: 0;
		width: 100%;
		float: none;
		text-align: center;
	}
	.logo-wrap .image-logo {
		float: none
	}
	#header .contact-info-wrap {
		float: none;
		text-align: center;
	}
	#header .contact-info {
		float: none;
		overflow: hidden;
		display: inline-block;
	}
	.sub-header .title {
		margin: 20px 0
	}
	#project .mix {
		width: 47.7%
	}
	.related-posts-projects .mix {
		width: 48%;
		margin-right: 4%;
	}
	.related-posts-projects .mix:nth-child(even) {
		margin-right: 0
	}
	#project .mix-content .title {
		font-size: 17px
	}
	#project .project-image:hover .project-caption .readMore,
	.related-posts-projects .project-image:hover .project-caption .readMore {
		transform: translate3d(0, -155%, 0) translate3d(0, -155%, 0);
	}
	.related-posts .latestPost .featured-thumbnail {
		margin-right: 0
	}
	.related-posts article header {
		float: left;
		margin-top: 20px;
	}
	.widget h3 {
		padding-bottom: 20px;
		margin-bottom: 30px;
		font-size: 18px;
	}
	.featured-view-posts .tab-content {
		width: 48%;
		margin-right: 4%;
	}
	.featured-view-posts .tab-content:nth-child(3n) {
		margin-right: 4%;
	}
	.featured-view-posts .tab-content:nth-child(2n) {
		margin-right: 0;
	}
	.latest-container .slide-caption .slide-name {
		top: 50px;
		left: 15px;
		right: 15px;
		font-size: 12px;
		font-weight: 300;
	}
	.latest-container .slide-caption .readMore {
		left: 15px
	}
	.copyright-left,
	.to-top,
	.copyrights .footer-social {
		float: none;
	}
	.copyrights .footer-social {
		margin-top: 8px;
	}
}

@media screen and (max-width:640px) {
	.primary-slider .slide-caption {
		width: 50%
	}
	.primary-slider .slide-caption .slide-title {
		font-size: 25px
	}
	.primary-slider .slide-caption-inner {
		padding-top: 40px
	}
	.counter_wrap .counting {
		float: none;
		width: 48%;
	}
	.ourwork-section .ourwork-content {
		width: 48%;
		margin-right: 4%;
	}
	.ourwork-section .ourwork-content:nth-child(3n+1) {
		margin-right: 4%
	}
	.ourwork-section .ourwork-content:nth-child(odd) {
		margin-right: 0
	}
	.ourwork-section .ourwork-content:nth-child(3n+2) {
		clear: none
	}
	.projects .links li a {
		padding: 18px 20px
	}
	#project .project-image:hover .project-caption .readMore,
	.related-posts-projects .project-image:hover .project-caption .readMore {
		transform: translate3d(0, -130%, 0) translate3d(0, -130%, 0);
	}
	.sub-header .title {
		font-size: 28px
	}
}

@media screen and (max-width:550px) {
	.sbutton {
		float: right
	}
	.f-widget,
	.widgets-num-4 .f-widget {
		width: 100%;
		margin-right: 0;
	}
	.primary-slider .slide-caption .slide-title {
		font-size: 22px
	}
	#header .contact-info .description > div:first-child {
		font-size: 16px
	}
	#header .contact-info .description > div:last-child {
		font-size: 14px
	}
	.custom-nav {
		top: -70px;
		right: 50%;
		margin-right: -30px;
	}
	#site-header .upper-navigation .content-right {
		float: left;
		clear: both;
		margin-top: 5px;
	}
	.why-us-left,
	.why-us-right {
		float: none;
		width: 100%;
		clear: both;
		margin-left: auto;
		margin-right: auto;
	}
	.why-us-section p {
		float: none
	}
	.copyright-left {
		float: none
	}
	.copyrights .top {
		float: none;
		margin-top: 15px;
	}
	.copyrights .footer-social {
		float: none
	}
	#project .project-image:hover .project-caption .readMore,
	.related-posts-projects .project-image:hover .project-caption .readMore {
		transform: translate3d(0, -110%, 0) translate3d(0, -110%, 0);
	}
	input#author,
	input#email,
	input#url,
	.contact-form input,
	.contact-form textarea {
		width: 100%
	}
	.our-clients-section .client-info {
		width: 29.3%;
		margin: 0 2% 30px 2%;
	}
}

@media screen and (max-width:480px) {
	.navigation {
		margin-top: 0;
		margin-bottom: 0;
		border-bottom: 0;
	}
	.navigation.pagination {
		margin-bottom: 50px;
	}
	#secondary-navigation {
		width: 102%;
		height: 35px;
	}
	#header .contact-info-wrap {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	#header .contact-info {
		width: 100%;
		clear: both;
		padding-right: 0;
		padding-left: 0;
		max-width: 100%;
		display: block;
	}
	#header .contact-info .description { float: none; }

#header .contact-info .icon {
    float: none;
    display: inline-block;
    margin: 5px 0;
}
	#header .contact-info { border-right: none; }
	.related-posts .latestPost {
		width: 48%;
		float: left;
		max-width: 100%;
		margin-left: 0;
		margin-right: 4%;
	}
	.related-posts .latestPost:nth-child(3n) {
		margin-right: 4%;
		clear: left;
	}
	.related-posts .latestPost:nth-child(even) {
		width: 48%;
		margin-right: 0;
		margin-left: 0;
	}
	.related-posts .relatepostli4 {
		padding-bottom: 15px;
		border-bottom: 1px solid #CCC;
		margin-bottom: 11px;
	}
	.ss-full-width .related-posts .latestPost {
		width: 48%;
		margin-right: 4%
	}
	.ss-full-width .related-posts .latestPost:nth-child(3n) {
		margin-right: 2%
	}
	.ss-full-width .related-posts .latestPost:nth-child(even) {
		margin-right: 0
	}
	.one_half,
	.one_third,
	.two_third,
	.three_fourth,
	.one_fourth,
	.one_fifth,
	.two_fifth,
	.three_fifth,
	.four_fifth,
	.one_sixth,
	.five_sixth {
		width: 100%;
		margin-right: 0;
	}
	.copyrights {
		text-align: center
	}
	.top {
		width: 100%
	}
	#cancel-comment-reply-link {
		margin-bottom: 0;
		margin-top: -43px;
	}
	.primary-slider .slide-caption {
		width: 65%
	}
	.featured-view-posts .slide-caption .slide-place {
		top: 50px
	}
	.featured-view-posts .slide-caption .slide-name {
		top: 80px
	}
	.featured-view-posts .slide-caption .readMore {
		bottom: 25px
	}
	.general-quotes .text {
		font-size: 18px
	}
	.latestPost,
	.latestPost:nth-child(even) {
		width: 100%;
		float: none;
		overflow: hidden;
		margin-left: auto;
		margin-right: auto;
	}
	.blog2 .post-image,
	.blog2 .latestPost-left {
		float: none;
		width: 100%;
		max-width: 100%;
	}
	.blog2 .latestPost {
		max-width: 370px;
		margin-left: auto;
		margin-right: auto;
	}
	.blog2 .latestPost .post-info {
		padding-top: 10px;
	}
	.project-category .filter a {
		font-size: 12px
	}
	#project .project-image:hover .project-caption .readMore,
	.related-posts-projects .project-image:hover .project-caption .readMore {
		transform: translate3d(0, -100%, 0) translate3d(0, -100%, 0);
	}
}

@media screen and (max-width:430px) {
	article header {
		overflow: hidden
	}
	.slidertext {
		display: none
	}
	.counter_wrap .counting .description {
		font-size: 16px
	}
	.ourwork-section .ourwork-content {
		width: 100%;
		margin-right: 0;
	}
	.ourwork-section .ourwork-content:nth-child(3n+1) {
		margin-right: 0
	}
	.why-us-section p {
		float: left
	}
	.our-clients-section .client-info {
		width: 48%;
		margin: 0 4% 30px 4%;
	}
	.our-clients-section .client-info:nth-child(2n) {
		margin-right: 0;
	}
	#project {
		width: 100%;
		float: none;
		margin-left: auto;
		margin-right: auto;
		overflow: hidden;
	}
	.project-category .filter {
		margin-right: 5px;
	}
	#project .mix,
	.related-posts-projects .mix {
		width: 100%;
		float: none;
		margin-left: auto;
		margin-right: auto;
		max-width: 100%;
	}
	#project .project-image:hover .project-caption .readMore,
	.related-posts-projects .project-image:hover .project-caption .readMore {
		transform: translate3d(0, -160%, 0) translate3d(0, -160%, 0);
	}
	.project-caption {
		max-height: 100%;
	}
	.f-widget,
	.widgets-num-4 .f-widget,
	.widgets-num-3 .f-widget {
		width: 100%;
		max-width: 370px;
		margin: 0;
		padding: 0 2.5%;
		overflow: hidden;
	}
}
@media screen and (max-width:400px) {
	.share-item { width: 70px }
	.share-item.facebookbtn, .share-item.twitterbtn { width: 62px }
	.share-item.gplusbtn { width: 59px }
	.breadcrumb .container > div:first-child { padding-left: 7px }
	.counter_wrap .counting .counter { font-size: 50px }
	.custom-nav { top: -42px }
}