/*--------------------------------------
WooCommerce Custom CSS template for
MyThemeShop.com Themes.
---------------------------*/
.woocommerce .widget li ul.children { padding-top: 0 }
.woocommerce .widget li:first-child > a { padding-top: 10px }
.woocommerce .widget li ul.children li { border-bottom: 1px solid #e4e4e4 }
.woocommerce .widget li ul.children li:last-of-type { border-bottom: 0 }
.woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering {
	margin: 0 0 20px 20px;
	width: auto;
	float: right;
}
.woocommerce select {
	display: block;
	width: 100%;
	height: 44px;
	padding: 0px 15px;
	font-size: 14px;
	border-radius: 2px;
	line-height: 46px;
	font-family: inherit;
	color: #101010;
	background-color: inherit;
	border: 1px solid #dedede;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.woocommerce #site-footer select {
	background: #ffffff;
}
.woocommerce .woocommerce-ordering select {
	text-transform: uppercase;
	font-weight: 600;
	color: #757575;
}
.woocommerce .woocommerce-result-count {
	float: left;
	margin-top: 10px;
	margin-bottom: 15px;
}
.woocommerce .products ul, .woocommerce-page .products ul, .woocommerce ul.products, .woocommerce-page ul.products {
	padding-top: 25px;
	border-top: 1px solid #eee;
}
.woocommerce a.button, .woocommerce-page a.button, .woocommerce button.button, .woocommerce-page button.button, .woocommerce input.button, .woocommerce-page input.button, .woocommerce #respond input#submit, .woocommerce-page #respond input#submit, .woocommerce #content input.button, .woocommerce-page #content input.button {
	background: #fbd713;
	color: #252525;
	line-height: 38px;
	padding: 0 31px;
	padding-top: 2px;
	box-shadow: none;
	text-transform: uppercase;
}
.woocommerce a.button:hover, .woocommerce-page a.button:hover, .woocommerce button.button:hover, .woocommerce-page button.button:hover, .woocommerce input.button:hover, .woocommerce-page input.button:hover, .woocommerce #respond input#submit:hover, .woocommerce-page #respond input#submit:hover, .woocommerce #content input.button:hover, .woocommerce-page #content input.button:hover { background: #fbd713 }
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product { 
	width: 30.8%;
	text-align: left;
	box-sizing: border-box; 
}
.woocommerce ul.products li.product h3, .woocommerce-page ul.products li.product h3 {
	float: left;
	width: 100%;
	padding: 17px 40px 12px 0;
	margin: 0;
	font-size: 18px;
	border-bottom: 1px solid #dedede;
	box-sizing: border-box;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.WooCommerce button.button.single_add_to_cart_button, .woocommerce .mts-wishlist-table .product-add-to-cart .button { 
	padding: 14px 14px 14px 40px; 
	background: #fbd713; 
	color: #252525; 
	transition: all  0.2s ease-in-out;
}
.woocommerce button.button.single_add_to_cart_button { float: right !important; color: #252525!important; }
.woocommerce .product-data a.button:hover, .woocommerce .product-data a.button.mts-add-to-wishlist.added, .woocommerce .product-data a.button.mts-add-to-wishlist.loading, .woocommerce .product-data a.button.compare.added, .woocommerce .product-data a.button.compare.loading, .woocommerce .product-data a.button.add_to_cart_button.loading, .woocommerce .product-data a.button.add_to_cart_button.added, .woocommerce .mts-cart-content-footer a.button.mts-cart-button:hover {
	background: #fbd713;
	color: #252525 !important;
	border-color: #fed80c;
}
.woocommerce .single_add_to_cart_button:before, .woocommerce .product-data a.button:before, .woocommerce .mts-wishlist-table .product-add-to-cart .button:before {
	position: absolute;
	left: 0;
	top: 0;
	width: 34px;
	text-align: center;
	font-size: 14px;
	line-height: 30px;
	font-family: FontAwesome;
	content: "\f217";
}
.woocommerce .single_add_to_cart_button:before, .woocommerce .mts-wishlist-table .product-add-to-cart .button:before {
	width: 43px;
	line-height: 40px;
}
.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover { color: #252525; }
.woocommerce ul.products li.product .price {
	color: #ed4848;
	font-size: 20px;
	font-weight: bold;
	float: left;
	padding-top: 16px;
	margin-bottom: 15px;
}
.woocommerce ul.products li.product .price del, .woocommerce-page ul.products li.product .price del { 
	font-size: 20px;
	float: left;
	margin-right: 5px; 
}
.woocommerce ul.products li.product .price ins, .woocommerce-page ul.products li.product .price ins { 
	font-size: 20px;
	float: left; 
}
.woocommerce-main-image.zoom img { margin-bottom: 12px }
.woocommerce ul.products li.product a {
	position: relative;
	overflow: hidden;
	display: block;
	text-decoration: none;
	transition: all ease-in-out .15s;
}
.woocommerce ul.products li.product a img, .woocommerce-page ul.products li.product a img, .woocommerce ul.products li.product a:hover img, .woocommerce-page ul.products li.product a:hover img, .woocommerce div.product div.images img, .woocommerce-page div.product div.images img, .woocommerce #content div.product div.images img, .woocommerce-page #content div.product div.images img {
	width: 100%;
	border: 1px solid #dedede;
	margin-bottom: 0;
}
.woocommerce #content div.product div.thumbnails a.last, .woocommerce div.product div.thumbnails a.last, .woocommerce-page #content div.product div.thumbnails a.last, .woocommerce-page div.product div.thumbnails a.last {
	margin-right: 0!important;
}
.woocommerce ul.cart_list li img, .woocommerce-page ul.cart_list li img, .woocommerce ul.product_list_widget li img, .woocommerce-page ul.product_list_widget li img {
	box-shadow: none;
	width: auto;
	max-width: 84px;
	float: left;
}
.woocommerce .related ul.products, .woocommerce-page .related ul.products, .woocommerce .upsells.products ul.products, .woocommerce-page .upsells.products ul.products, .woocommerce .related ul, .woocommerce-page .related ul, .woocommerce .upsells.products ul, .woocommerce-page .upsells.products ul {
	margin-bottom: 0;
	border-top: 1px solid #ebe0d8;
}
.woocommerce .related, .woocommerce-page .related {
	float: left;
	width: 100%;
	clear: both;
	padding-bottom: 30px;
}
.woocommerce ul.cart_list li, .woocommerce ul.product_list_widget li { 
	padding: 25px 20px;
	border: 1px solid #dedede;
	border-bottom: none; 
}
.woocommerce ul.cart_list li, .woocommerce ul.product_list_widget li:last-child { border-bottom: 1px solid #e4e4e4 }
.woocommerce ul.cart_list li, .woocommerce ul.product_list_widget li:nth-child(even) { background: #fff }
.woocommerce ul.cart_list li a, .woocommerce ul.product_list_widget li a { padding: 0; padding-bottom: 10px }
.woocommerce ul.product_list_widget li img, .woocommerce-page ul.product_list_widget li img { 
	margin-top: 0!important;
	border: 1px solid #dedede; 
}
.woocommerce form .form-row textarea { height: 200px }
.woocommerce .related ul.products li.product, .woocommerce-page .related ul.products li.product, .woocommerce .upsells.products ul.products li.product, .woocommerce-page .upsells.products ul.products li.product, .woocommerce .related ul li.product, .woocommerce-page .related ul li.product, .woocommerce .upsells.products ul li.product, .woocommerce-page .upsells.products ul li.product {
	width: 30%;
	clear: none;
	margin-right: 4.7%;
	margin-bottom: 0;
	border-bottom: 0;
	padding-bottom: 15px;
}
.woocommerce .related ul.products li.product:last-child, .woocommerce-page .related ul.products li.product:last-child, .woocommerce .upsells.products ul.products li.product:last-child, .woocommerce-page .upsells.products ul.products li.product:last-child, .woocommerce .related ul li.product:last-child, .woocommerce-page .related ul li.product:last-child, .woocommerce .upsells.products ul li.product:last-child, .woocommerce-page .upsells.products ul li.product:last-child { margin-right: 0 }
.woocommerce div.product form.cart .button, .woocommerce-page div.product form.cart .button, .woocommerce #content div.product form.cart .button, .woocommerce-page #content div.product form.cart .button { 
	background: #fbd713; 
	padding: 0 30px;
	padding-left: 40px;
}
.woocommerce .widget.woocommerce.widget_product_search form { width: 100% }
.woocommerce .widget.woocommerce.widget_product_search .search-field { width: 74%; max-width: 260px; }
.woocommerce .widget.woocommerce.widget_product_search input[type="submit"] { 
	width: 23%; 
	float: right; 
	max-width: 80px; 
	height: 41px;
	background: #fbd713;
	border-color: #fbd713;
	font-weight: bold;
	color: #252525;
	text-transform: uppercase;
	border-radius: 2px;
}
.woocommerce form .form-row select, .woocommerce-page form .form-row select, .woocommerce form .form-row input.input-text, .woocommerce-page form .form-row input.input-text, .woocommerce form .form-row textarea, .woocommerce-page form .form-row textarea {
	border-radius: 2px;
}
.woocommerce table.cart input, .woocommerce-page table.cart input, .woocommerce #content table.cart input, .woocommerce-page #content table.cart input { line-height: 1.3 }
.woocommerce .mts-cart > span:first-child { margin-right: 10px }
#coupon_code { padding: 6px 10px; height: 40px; }
.woocommerce-page table.cart td.actions #coupon_code { width: auto; }
.woocommerce .checkout_coupon .form-row.form-row-first { margin-bottom: 0 }
.woocommerce div.product div.images div.thumbnails a, .woocommerce-page div.product div.images div.thumbnails a, .woocommerce #content div.product div.images div.thumbnails a, .woocommerce-page #content div.product div.images div.thumbnails a {
	width: 22.75%;
	margin-right: 3%;
}
.woocommerce .woocommerce-product-rating .star-rating {
	margin: 5px;
	margin-left: 0;
}
.woocommerce #commentform p label { padding-left: 0; }
.comment-text .star-rating {
	margin-top: 0;
	margin-right: 0;
}
.woocommerce .product_list_widget .amount {
	color: #85AD74;
	font-weight: normal;
	font-size: 16px;
}
.woocommerce .product_list_widget del .amount {
	font-size: 13px;
	color: rgba(145, 145, 145, 0.5);
	font-weight: normal;
}
.woocommerce ul.cart_list li .star-rating, .woocommerce-page ul.cart_list li .star-rating, .woocommerce ul.product_list_widget li .star-rating, .woocommerce-page ul.product_list_widget li .star-rating {
	float: right;
	margin-top: 2px;
	font-weight: normal;
	margin-right: 0;
}
.star-rating { color: #fbd713 }
.woocommerce .widget_layered_nav ul li, .woocommerce-page .widget_layered_nav ul li { margin-left: 0 }
.woocommerce .widget_layered_nav ul small.count, .woocommerce-page .widget_layered_nav ul small.count {
	font-weight: normal;
	background: #222;
	color: #fff;
	padding: 0;
	width: 29px;
	text-align: center;
	border-radius: 2px;
}
.woocommerce .products .star-rating, .woocommerce-page .products .star-rating { 
	float: right;
	font-size: 14px;
	height: 1em;
	line-height: 1em;
	width: 5.2em;
	position: relative;
	margin: 20px 0 0 0; 
	overflow: hidden;
}
.woocommerce span.onsale {
	transform: translateX(50%) rotate(-45deg);
	transform-origin: center top;
	background: #ed4848;
	text-transform: uppercase;
	padding: 1.2em 0 .11em;
	width: 120px;
	height: 40px;
	z-index: 1;
	line-height: 2.1;
	left: -120px;
	top: -1px;
	border-radius: 0;
	z-index: 1;
}
.woocommerce ul.products li.product .onsale, .woocommerce .products .product .ribbon {
	transform: translateX(50%) rotate(45deg);
	margin: 0;
	width: 100%;
}
.woocommerce div.product { overflow: hidden }
.woocommerce div.product .product_title {
	line-height: 1;
	font-size: 28px;   
}
.woocommerce div.product p.price, .woocommerce div.product span.price {
	font-weight: 600;
	font-size: 30px;
	color: #ed4848;
}
.woocommerce div.product .woocommerce-variation-price span.price { position: relative; font-size: 25px; }
.woocommerce div.product div.summary p { clear: both }
.woocommerce ul.products li.product:last-child, .woocommerce-page ul.products li.product:last-child, .woocommerce ul.products li.product:nth-last-child(2), .woocommerce-page ul.products li.product:last-child:nth-last-child(2), .woocommerce ul.products li.product:nth-last-child(3), .woocommerce-page ul.products li.product:nth-last-child(3) { margin-bottom: 0 }
.woocommerce nav.woocommerce-pagination { 
	margin-bottom: 60px;
	float: left;
	margin-top: 25px; 
}
.woocommerce .related  .button:before, .woocommerce .products .product .button:before ,.page .related ul.products li.product .button:before {
	position: absolute;
	left: 0;
	top: 0;
	width: 34px;
	text-align: center;
	font-size: 14px;
	line-height: 32px;
	font-family: FontAwesome;
	content: "\f217";
}
.woocommerce .related .button, .woocommerce .products .product .button, .page .related ul.products li.product .button {
	background: #fbd713;
	color: #252525!important;
	padding: 0;
	padding-top: 2px;
	padding-left: 36px;
	width: 0;
	position: absolute;
	overflow: hidden;
	bottom: 45px;
	right: 0;
	font-weight: 600;
	margin-top: 0!important;
	line-height: 32px;
}
.woocommerce .related .added_to_cart, .woocommerce .products .product .added_to_cart, .page .related ul.products li.product .added_to_cart {
	position: absolute;
	left: 0;
	bottom: -15px;
	font-weight: bold;
}
.woocommerce.single-product ul.products li.product .button { bottom: 60px }
.woocommerce .related .button:hover, .woocommerce .products .product .button:hover, .page .related ul.products li.product .button:hover { width: 140px }
.woocommerce .related .button.product_type_variable:hover, .woocommerce .products .product .button.product_type_variable:hover, .page .related ul.products li.product .button.product_type_variable:hover { width: 160px }
.woocommerce .related .button.ajax_add_to_cart.added, .woocommerce .products .product .button.ajax_add_to_cart.added, .page .related ul.products li.product .button.ajax_add_to_cart.added {
	width: 32px;
	direction: rtl;
	padding: 0 10px 0 20px;
}
.woocommerce .related .button.ajax_add_to_cart.added:before, .woocommerce .products .product .button.ajax_add_to_cart.added:before, .page .related ul.products li.product .button.ajax_add_to_cart.added:before, .woocommerce .related .button.ajax_add_to_cart.loading:before, .woocommerce .products .product .button.ajax_add_to_cart.loading:before, .page .related ul.products li.product .button.ajax_add_to_cart.loading:before {
	display: none;
	content: '';
}
.mts-cart {
	z-index: 1;
	float: right;
}
.mts-cart span a {
	display: inline-block;
	padding: 8px;
}
.article .woocommerce-error {
	margin-top: 0;
	margin-left: 0;
}
.woocommerce .bypostauthor {
	padding: 0!important;
	width: 100%!important;
}
.woocommerce .bypostauthor:after {
	display: none!important;
}
.woocommerce #reviews #comments ol.commentlist:after { clear: both }
.woocommerce #reviews #comments ol.commentlist li {
	padding: 0 0 15px 0;
	width: 100%;
	border-bottom: 1px solid #dedede;
}
.woocommerce #reviews #comments ol.commentlist li .meta {
	color: #777;
	font-size: .75em;
}
.woocommerce #reviews #comments ol.commentlist li img.avatar {
	padding: 0;
	width: auto;
	height: auto;
	border-radius: 50%;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text {
	padding: 0 0 10px 0;
	width: 87%;
	border: 0;
	float: right;
	position: relative;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text:after, .woocommerce #reviews #comments ol.commentlist li .comment-text:before {
	content: " ";
	display: table;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text:after { clear: both }
.woocommerce #reviews #comments ol.commentlist li .comment-text p { margin: 0 0 1em }
.woocommerce #reviews #comments ol.commentlist ul.children {
	list-style: none outside;
	margin: 20px 0 0 50px;
}
.woocommerce #reviews #comments ol.commentlist ul.children .star-rating { display: none }
.woocommerce #reviews #comments ol.commentlist #respond {
	border: 1px solid #f0eef0;
	border-radius: 2px;
	padding: 1em 1em 0;
	margin: 20px 0 0 50px;
}
.woocommerce p.stars.selected a:not(.active):before, .woocommerce p.stars.selected a.active:before, .woocommerce p.stars:hover a:before { color: #fbd713 }
.woocommerce #reviews #comments .commentlist > li:before { content: "" }
.add_review { float: left; }
.woocommerce #comments { padding-top: 0 }
.widget.woocommerce .buttons {
	margin-bottom: 0;
	padding: 0;
	font-size: inherit;
	border-radius: 0;
}
.widget.woocommerce .buttons a { margin-right: 5px; }
.woocommerce nav.woocommerce-pagination ul li span.current, .woocommerce-page nav.woocommerce-pagination ul li span.current, .woocommerce #content nav.woocommerce-pagination ul li span.current, .woocommerce-page #content nav.woocommerce-pagination ul li span.current {
	color: #252525;
	display: inline-block;
	float: left;
	padding: 0px 19px;
	background: #fbd713;
	line-height: 44px;
	min-width: 48px;
	text-align: center;
}
.woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce-page nav.woocommerce-pagination ul li a:hover, .woocommerce #content nav.woocommerce-pagination ul li a:hover, .woocommerce-page #content nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce-page nav.woocommerce-pagination ul li a:focus, .woocommerce #content nav.woocommerce-pagination ul li a:focus, .woocommerce-page #content nav.woocommerce-pagination ul li a:focus {
	background: #fbd713; 
	color: #252525; 
	border-color: #fbd713;
}
.woocommerce nav.woocommerce-pagination ul li, .woocommerce-page nav.woocommerce-pagination ul li, .woocommerce #content nav.woocommerce-pagination ul li, .woocommerce-page #content nav.woocommerce-pagination ul li { margin-right: -1px; }
.woocommerce nav.woocommerce-pagination ul, .woocommerce-page nav.woocommerce-pagination ul, .woocommerce #content nav.woocommerce-pagination ul, .woocommerce-page #content nav.woocommerce-pagination ul {
	border: 0;
	margin: 0;
}
.woocommerce nav.woocommerce-pagination ul li a { 
	float: left;
	background: #fff;
	margin: 0;
	display: inline-block;
	text-decoration: none;
	color: #757575;
	padding: 0px 19px;
	line-height: 42px;
	border: 1px solid #dedede;
	margin-right: -1px;
	min-width: 48px;
}
.woocommerce nav.woocommerce-pagination ul li:first-child a {
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}
.woocommerce nav.woocommerce-pagination ul li:last-child a {
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}
.woocommerce nav.woocommerce-pagination ul li a.next, .woocommerce nav.woocommerce-pagination ul li a.prev {
	font-size: 18px;
	font-weight: bold;
}
.woocommerce nav.woocommerce-pagination ul li a.next { 
	margin-left: 10px;
	border-radius: 2px;
}
.woocommerce nav.woocommerce-pagination ul li a.prev {
	margin-right: 10px;
	border-radius: 2px;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta, .woocommerce-page #reviews #comments ol.commentlist li .comment-text p.meta {
	font-size: 18px;
	margin-bottom: 20px;
	color: #252525;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta time, .woocommerce-page #reviews #comments ol.commentlist li .comment-text p.meta time {
	font-size: 14px;
	font-weight: 600;
}
#searchform #searchsubmit { width: 30%; }
#searchform #searchsubmit:hover {background: #222; }
.added_to_cart {
	clear: both;
	float: left;
	width: 100%;
}
.woocommerce #page { float: none }
.woocommerce .quantity .qty {
	height: 44px;
	float: left;
	text-align: left;
	border: 1px solid #dfe6e9;
	border-radius: 2px;
	box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	width: 100px;
}
.woocommerce div.product .woocommerce-product-rating {
	border-bottom: 1px solid #dedede;
	position: relative;
	padding-top: 5px;
	padding-bottom: 15px;
	margin-bottom: 20px;
}
.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
	position: relative;
	min-height: 504px;
}
.woocommerce-page div.product div.summary .product_meta {
	margin-top: 16px;
	border-top: 1px solid #dedede;
	padding-top: 15px;
}
.woocommerce-page div.product div.summary .product_meta > span { margin-right: 10px }
.woocommerce-page div.product div.summary .product_meta span.posted_in {
	position: relative;
	margin-left: 15px;
}
.woocommerce-page div.product div.summary .product_meta span.posted_in:before {
	position: absolute;
	content: "\f02e";
	font-family: FontAwesome;
	left: -15px;
	top: 0;
	font-size: inherit;
}
.woocommerce-page div.product div.summary .product_meta a { font-weight: 600 }
.woocommerce div.product form.cart .variations { margin-bottom: 10px }
.woocommerce .single_variation_wrap .woocommerce-variation { margin-bottom: 18px; }
.woocommerce div.product form.cart .variations select {
	width: 120px;
	height: 38px;
}
.woocommerce .woocommerce-breadcrumb { margin: 0 }
.woocommerce #respond input#submit.loading:after, .woocommerce a.button.loading:after, .woocommerce button.button.loading:after, .woocommerce input.button.loading:after { top: 0; }
/*Tabs*/
.woocommerce div.product .woocommerce-tabs { 
	margin: 30px 0; 
	float: left; 
}
.woocommerce div.product .woocommerce-tabs ul.tabs {
	padding: 0;
	padding-left: 1px;
	margin: 0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	margin-left: -1px;
	border: 1px solid #d3ced2;
	border-radius: 0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:first-child {
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:last-child {
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a {
	display: inline-block;
	padding: 14px 51px 8px;
	font-weight: 700;
	color: #757575;
	text-transform: uppercase;
	text-decoration: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover {
	text-decoration: none;
	color: #252525;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active { 
	background: #fbd713; 
	border-bottom: 1px solid #fbd713; 
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a { color: #252525; text-shadow: inherit; }
.woocommerce div.product .woocommerce-tabs ul.tabs li:before, .woocommerce div.product .woocommerce-tabs ul.tabs li:after { display: none }
.woocommerce div.product .woocommerce-tabs .panel h2, .woocommerce #reviews h3 {
	font-size: 20px;
	position: relative;
	margin: 52px 0 30px;
	padding-bottom: 15px;
}
.woocommerce div.product .woocommerce-tabs .panel h2 span {
	color: #757575;
	font-weight: 400;
	padding-left: 5px;
}
.woocommerce div.product .woocommerce-tabs .panel h2:after, .woocommerce #reviews h3:after {
	position: absolute;
	content: '';
	width: 50px;
	height: 3px;
	background: #fbd713;
	left: 0;
	bottom: 0;
}
.woocommerce #reviews h3 { float: left; width: 100%; margin-bottom: 27px; margin-top: 0; }
.woocommerce #review_form #respond {
	position: static;
	margin: 0;
	width: auto;
	padding: 0;
	background: transparent none;
	border: 0;
}
.woocommerce #reviews .comment-form p { clear: none;}
.woocommerce #reviews .comment-form .comment-form-author, .woocommerce #reviews .comment-form .comment-form-email { width: 49.3%; 
	max-width:381px; 
	float: left; 
}
.woocommerce #reviews .comment-form .comment-form-email { float: right }
.woocommerce #reviews .comment-form .comment-form-rating { 
	width: 100%; 
	float: left; 
	font-weight: 600; 
	padding: 15px 0;
	padding-top: 8px;
}
.woocommerce #reviews .comment-form .comment-form-rating label { 
	float: left; 
	line-height: 1; 
	margin-right: 15px; 
	color: #252525;
}
.woocommerce #reviews .comment-form .comment-form-rating p { width: auto }
.woocommerce #review_form #respond textarea, .woocommerce #review_form #respond input { margin-top: 5px }
.woocommerce #review_form #respond .form-submit input { 
	float: left; 
	width: auto; 
	padding: 0 60px; 
	padding-top: 2px;
}
.woocommerce .woocommerce-message, .woocommerce .woocommerce-info { border-top-color: #fbd713; line-height: 2.5 }
.woocommerce .woocommerce-error .button, .woocommerce .woocommerce-info .button, .woocommerce .woocommerce-message .button { text-transform: uppercase }
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
	background: #fbd713;
	color: #252525;
	padding-top: 0;
	padding-bottom: 0;
	padding-top: 2px;
	line-height: 43px;
	text-transform: uppercase;
}
.woocommerce form .form-row label.inline { margin-left: 15px }
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
	background: #fbd713;
	color: #252525;
}
.woocommerce table.cart th { text-transform: uppercase }
.woocommerce-cart table.cart img { width: auto }
.woocommerce table.cart tbody .cart_item { position: relative }
.woocommerce table.cart tbody .cart_item td.product-remove, .woocommerce table.cart th:first-child { 
	position: absolute;
	border: 0;
	left: -14px;
	padding: 0;
}
.woocommerce table.cart tbody .cart_item td.product-thumbnail { text-align: center; }
.woocommerce td.product-name dl.variation dt { text-align: left }
dl.customer_details { margin-bottom: 1.5em }
.woocommerce-main-image  { display: block }
.woocommerce .cart .button, .woocommerce .cart input.button {
	line-height: 1.8;
	height: 40px;
	padding-top: 2px;
	padding-bottom: 0;
	margin-left: 15px;
	text-transform: uppercase;
}
/*remove button*/
.woocommerce table.cart tr td { position: relative; padding: 15px ; }
.woocommerce table.cart a.remove, .mts-cart-product a.remove {
	position: relative;
	height: 28px;
	width: 28px;	
	color: #757575!important;	
	line-height:1.5;
	background: #dedede;
	z-index: 2;
}
.woocommerce table.cart a.remove:hover, .mts-cart-product a.remove:hover {
	background: red;
	color: #fff!important;
}
.woocommerce .cart-collaterals, .woocommerce-page .cart-collaterals {
	margin-top: 25px;
	float: left;
	width: 100%;
	clear: both;
}
.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals { min-width: 370px }
.woocommerce .cart-collaterals .cart_totals h2, .woocommerce-page .cart-collaterals .cart_totals h2 {
	text-transform: uppercase;
}
.woocommerce-cart .cart-collaterals .cart_totals tr td, .woocommerce-cart .cart-collaterals .cart_totals tr th {
	padding: 20px 25px;
	text-transform: uppercase;
}
.woocommerce-cart .cart-collaterals .cart_totals tr th { color: #252525 }
.woocommerce-cart .cart-collaterals .cart_totals tr td { text-align: right }
.woocommerce-account h2 { margin-bottom: 25px }
.woocommerce .order_details { padding: 10px 0; font-size: 15px }
.woocommerce table.shop_table { font-size: 15px; padding: 0; }
.woocommerce table.shop_table th { text-transform: uppercase }
.woocommerce .order_details li strong { padding-top: 5px }
.woocommerce .widget_price_filter .price_slider_amount .button { float: right }
.woocommerce .widget_price_filter .price_slider_amount .price_label {
	float: left;
	font-size: 16px;
}
.price_label span { font-weight: 600; }
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
	cursor: pointer;
	background: #252525;
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
	background: #ddd;
	height: 5px;
	margin-top: 2em;
	margin-bottom: 2em;
}
.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range { background: #252525 }
.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range-min { left: -1px }
.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range-max { right: -1px }
.woocommerce .widget_shopping_cart .total, .woocommerce.widget_shopping_cart .total {
	padding: 15px 0 0;
	font-size: 16px;
	border: none;
	float: left;
	width: 100%;
	clear: both;
}
.woocommerce .widget_shopping_cart .cart_list li, .woocommerce.widget_shopping_cart .cart_list li {
	border: none;
	background: none;
}
.woocommerce .widget_shopping_cart .cart_list li:nth-child(even), .woocommerce.widget_shopping_cart .cart_list li:nth-child(even) { background: none }
.woocommerce .widget_shopping_cart .cart_list li a.remove, .woocommerce.widget_shopping_cart .cart_list li a.remove { padding: 0 }
.woocommerce .product_list_widget .amount { color: #757575 }
.woocommerce form .form-row .select2-container { line-height: 39px }
.woocommerce .col2-set, .woocommerce-page .col2-set { margin-bottom: 10px; }
.woocommerce .widget_layered_nav ul li a, .woocommerce .widget_layered_nav ul li span { padding: 10px 0 }
.woocommerce-breadcrumb > div {
	padding: 0 7px;
	overflow: hidden;
	float: none;
	display: inline-block;
	color: #252525;
}
.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3 {
	padding-top: 20px;
	padding-bottom: 0px;
}
.woocommerce ul.products li.product .star-rating { font-size: 1em }
.upsells.products h2 {
	float: left;
	width: 100%;
	clear: both;
}
.woocommerce div.product div.images .woocommerce-product-gallery__wrapper { margin: 0 }
/*My Account Page*/
.woocommerce-account h1.title { margin-bottom: 13px }
.woocommerce-account .woocommerce-MyAccount-navigation { background: #000 }
.woocommerce-account .woocommerce-MyAccount-navigation ul {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.woocommerce-account .woocommerce-MyAccount-navigation li {
    padding: 10px 20px;
    font-size: 14px;
}
.woocommerce-account .woocommerce-MyAccount-navigation li:nth-child(even) { background: #111 }
.woocommerce-account .woocommerce-MyAccount-navigation li.is-active { background: #3d8fe8 }
.woocommerce-account .woocommerce-MyAccount-navigation li a { color: #fff }
.woocommerce-account .woocommerce-MyAccount-content {
    width: 70%;
    padding-left: 20px;
    box-sizing: border-box;
}
.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1, .woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
    float: none;
    width: 100%;
}
.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1 {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 3px solid #f2f2f2;
}
.woocommerce-account .addresses .title .edit, .woocommerce-account ul.digital-downloads li .count {
    clear: both;
    float: left;
}
@media screen and (max-width:1060px) {
	.woocommerce table.cart tr td { padding: 10px }
}
@media screen and (max-width:865px) {
	.woocommerce nav.woocommerce-pagination ul li {
		width: auto!important;
	}
	.woocommerce nav.woocommerce-pagination ul li a {
		border-bottom: 1px solid #dedede!important;
		width: auto!important;
		text-align: center;
		text-indent: 0;
	}
}
@media screen and (max-width:768px) { 
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product, .woocommerce .related ul.products li.product, .woocommerce-page .related ul.products li.product { width: 45%; }
	.woocommerce .related ul.products li.product:last-child, .woocommerce-page .related ul.products li.product:last-child, .woocommerce .upsells.products ul.products li.product:last-child, .woocommerce-page .upsells.products ul.products li.product:last-child, .woocommerce .related ul li.product:last-child, .woocommerce-page .related ul li.product:last-child, .woocommerce .upsells.products ul li.product:last-child, .woocommerce-page .upsells.products ul li.product:last-child { clear: left }
	.woocommerce table.shop_table_responsive tr, .woocommerce-page table.shop_table_responsive tr { display: table-row; }
	.woocommerce table.shop_table_responsive tr td, .woocommerce-page table.shop_table_responsive tr td { display: table-cell; }
	.woocommerce table.cart tbody .cart_item td.product-remove, .woocommerce table.cart th:first-child {
		position: relative;
		padding: 15px;
		left: 0;
		border-right: 1px solid #dedede;
	}
	.woocommerce div.product form.cart, .woocommerce div.product p.cart { position: static; }
	.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary { min-height: auto; }
}
@media screen and (max-width:728px) { 
	.woocommerce .article { width: 100% }
}
@media screen and (max-width:550px) {
	.woocommerce table.cart tr td { display: block; height: 60px; }
	.woocommerce .quantity .qty { width: 40px; float: right; height: 40px; padding: 5px; }
	.woocommerce #content table.cart td.actions, .woocommerce table.cart td.actions, .woocommerce-page #content table.cart td.actions, .woocommerce-page table.cart td.actions { height: auto }
}
@media screen and (max-width:480px) { 
	.woocommerce div.product div.images, .woocommerce-page div.product div.images, .woocommerce #content div.product div.images, .woocommerce-page #content div.product div.images { width: 100% }
	.woocommerce div.product div.summary, .woocommerce-page div.product div.summary, .woocommerce #content div.product div.summary, .woocommerce-page #content div.product div.summary { width: 100% }
}
@media screen and (max-width:480px) {
	.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals { min-width: auto; }
}