/*---------------------------------------------------------
**
** Backend CSS for woffice
**
----------------------------------------------------------*/
$font-family : 'Lato', 'Open Sans', sans-serif;
$grey1 : #444444;
$grey2 : #4e4e4e;
$grey3 : #c7c7c7;
$colored : #388da9;
$woffice-brand: #82b440;
$red-backend : #E5493A;
$radius: 5px;
.feedback-wrapper{
  margin: 20px 0 0 0;
  .badge.badge-pill.badge-success{
    color: #FFFFFF;
    background: lighten($woffice-brand, 10%);
    padding: 6px;
    margin-right: 5px;
    border-radius: 4px;
    font-weight: bold;
  }
}

form.fw-settings-form.fw-backend-side-tabs{
  font-family: $font-family;
  border-radius: $radius;
  box-shadow: 0 4px 10px 0px rgba(0,0,0,.1);
  background: lighten($grey1,3%);
  .fw-option-html{
    .dashicons{
      padding-right: 5px;
      &.dashicons-yes{
        color: #00b700;
      }
      &.dashicons-no{
        color: #d80000;
      }
    }
  }
  a{
    color: $colored;
  }
  .fw-settings-form-header{
    padding: 30px;
    border-radius: $radius $radius 0 0;
    background-color: #F8F8F8;
    background-image: url('../images/settings-bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    h2{
      font-weight: 600;
      color: $grey1;
      font-size: 36px;
      small{
        font-size: 15px;
        font-weight: 300;
        color: $grey2;
        text-transform: uppercase;
      }
    }
    .form-header-buttons{
      .submit-button-save{
        padding: 20px;
        color: #ffffff;
        background: $colored;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,.2);
        height: initial;
        line-height: 0;
        &:hover{
          color: $colored;
          background: #FFFFFF;
          transition: background .3s;
        }
      }
      .submit-button-reset{
        color: $grey2;
      }
    }
  }
  .fw-options-tab{
    box-shadow: -2px 2px 10px 0px rgba(0,0,0,.2);
    padding: 0;
  }
  .fw-backend-postboxes{
    .fw-postbox{
      .handlediv:before{
        color: #FFF;
        z-index: 10;
        top: 8px;
        right: 10px;
        font: 400 30px/1 dashicons;
      }
      .hndle{
        background: $colored;
        box-shadow: 0px 2px 5px 0 rgba(0,0,0,.2);
        color: #FFFFFF;
        height: 55px;
        line-height: 55px;
        font-size: 24px;
        text-transform: uppercase;
        font-weight: 300;
        &:after{
          display: none;
        }
      }
      .adaptive-switch{
        .switch-dot span{
          background-color: $colored;
        }
        .switch-switcher label.switch-label{
          color: $grey2;
        }
      }
      .fw-backend-option-label label{
        font-weight: 300;
        text-transform: uppercase;
      }
    }
  }
  .fw-options-tabs-first-level{
    padding: 0;
    border-radius: 0 0 $radius 0;
    background: lighten($grey1,3%);
    .fw-options-tabs-list{
      ul{
        li{
          border-color: lighten($grey1,8%);
          padding: 0;
          a.nav-tab{
            background: lighten($grey1,5%);
            font-weight: 300;
            text-transform: uppercase;
            color: $grey3;
          }
          &.ui-state-active{
            a.nav-tab,&:hover{
              background: $grey1;
            }
          }
        }
      }
    }
  }
  .form-footer-buttons{
    background: $grey1;
    border-radius: 0 0 $radius 0;
    border-left: 1px solid lighten($grey1,8%);
    border-top: 1px solid lighten($grey1,8%);
    min-height: 100px;
    input[type="submit"]{
      text-shadow: none;
      box-shadow: 0px 0px 5px 0px rgba(0,0,0,.4);
      border:0;
      padding: 20px;
      margin: 30px 0 0 25px;
      line-height: 0;
      &.button-primary{
        background: $colored;
      }
    }
  }
  .fw-options-tabs-wrapper + .form-footer-buttons {
    margin: -72px 0 0 198px;
  }
}
#fw-backend-option-fw-option-project_wunderlist {
  display: none;
}

.woffice-alka-pro{
  padding-top: 50px;
  iframe{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    border-radius: 5px;
    display: block;
  }
  ul{
    margin-bottom: 20px;
  }
  .dashicons{
    font-size: 26px;
    padding-right: 10px;
    position: relative;
    top: -2px;
    &.dashicons-no{
      color: #9f0e0e;
    }
    &.dashicons-yes{
      color: #0e9f37;
    }
  }
  .highlight {
    background-color: #fff79d;
    padding: 3px 6px;
    border-radius: 3px;
  }
  a.button-hero{
    margin: 0 10px;
  }
  hr{
    margin: 40px 0;
  }
  .text-center{
    text-align: center;
  }
}

.woffice-welcome{
  .woffice-welcome-pre-header{
    padding: 20px;
    h1{
      font-size: 2.5em;
    }
  }
  .woffice-welcome-row{
    margin: 20px;
    h2{
      font-size: 30px;
      display: block;
    }
    .woffice-welcome-col-4{
      float: left;
      width: 31%;
      margin: 0 1%;
    }
    &:after{
      clear: both;
      content: '';
      visibility: hidden;
      display: block;
      font-size: 0;
      height: 0;
    }
  }
  .woffice-welcome-box{
    background: #FFF;
    padding: 20px;
    margin: 30px 15px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,.2);
    border-left: 5px solid $woffice-brand;
    &.woffice-welcome-showcase{
      padding: 0;
      .woffice-welcome-message{
        display: table-cell;
        padding: 20px;
      }
      .woffice-welcome-version{
        display: table-cell;
        text-align: center;
        background: $colored;
        color: #FFF;
        padding: 20px;
        vertical-align: middle;
        h1{
          color: #FFFFFF;
          margin: 0;
          padding: 0;
          font-size: 50px;
          font-family: $font-family;
          font-weight: bold;
        }
        h4{
          text-transform: uppercase;
          margin: 15px 0 15px 0;
          letter-spacing: 2px;
        }
        h3{
          color: #FFFFFF;
          font-size: 45px;
          margin: 0;
        }
      }
    }
  }
  .text-right{
    text-align: right;
  }
  .woffice-welcome-btn{
    background: $colored;
    color: #FFF;
    text-decoration: none;
    padding: 10px 16px;
    border-radius: 3px;
    display: inline-block;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,.1);
    transition: all .5s;
    &:hover{
      opacity: .8;
      transition: all .5s;
    }
  }
}

.woffice-newsletter {
  background: #fff;
  padding: 20px;
  margin: 30px 15px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  border-left: 5px solid $woffice-brand;
  @media(min-width: 600px) {
    padding-left: 120px;
    background-size: 100px 100px;
    background-position: 10px 30px;
    background-repeat: no-repeat;
    background-image: url('../images/newsletter.jpg');
  }
  .woffice-welcome-btn {
    background: $colored;
    color: #FFF;
    text-decoration: none;
    padding: 10px 16px;
    border-radius: 3px;
    display: inline-block;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,.1);
    transition: all .5s;
    &:hover{
      opacity: .8;
      transition: all .5s;
    }
    &.input-newsletter {
      margin-right: 1em;
      outline: 0;
      border: none;
      cursor: pointer;
      background-color:$woffice-brand !important;
    }
  }
}

#fw-backend-option-fw-option-footer_widgets_layout .image_picker_selector li {
  width: 70px;
}

@media (max-width: 992px) {
  .woffice-welcome .woffice-welcome-row .woffice-welcome-col-4{
    float: none;
    width: 100%;
  }
}