/*!
 Project   : Total WordPress Theme
 Purpose   : RTL styles
 Author    : WPExplorer
 Theme URI : http://www.wpexplorer.com
 Notes     : Un-compressed SASS files available
 */

 // Version 4.6.5

// Helpers
@import "../load-helpers";


/* General & Commons
--------------------------------------------------------------*/
body {
	direction: rtl;
	unicode-bidi: embed;
}

/* Text Align */
caption,
th,
td,
.wpex-social-share.position-horizontal {
	text-align: right;
}

/* Float Right */
.col,
.wpex-row .col,
.top-bar-left,
.header-two-logo,
.header-one #site-logo,
.sf-menu > li,
ul.page-numbers li,
.vcex-portfolio-filter li,
.vcex-testimonials-filter li,
.vcex-staff-filter li,
.vcex-blog-filter li,
.staff-social a,
.wpex-social-widget-output li,
.testimonial-entry-meta,
.wpex-fa-social-widget ul li {
	float: right;
}

/* Float Left */
.header-two-aside {
	float: left;
}

/* Theme Heading*/
.theme-heading span {
	padding-left: 15px;
	padding-right: 0;
}

.wpex-social-share.position-vertical {
	right: 0;
	left: auto;
	body.wpex-has-vertical-header & {
		right: auto;
		left: 0;
	}
}

.wpex-social-widget-output li,
.wpex-social-share.position-horizontal li {
	margin-right: 0;
	margin-left: 5px;
}

.wpex-social-share .wpex-label {
	margin-right: pem( 7px );
}

/* Change right position to Left position*/
.site-breadcrumbs.position-absolute,
#top-bar-social.top-bar-right,
#current-shop-items-dropdown,
#searchform-dropdown { right: auto; left: 0; }

/* Slider fixes */
.wpex-slider .sp-thumbnails-container.sp-bottom-thumbnails {
	direction:ltr
}


/* Topbar
--------------------------------------------------------------*/
.top-bar-right {
	float: left;
}

#top-bar-social.top-bar-left {
	left: auto;
	right: 0;
}

body.boxed-main-layout #top-bar-social {

	&.top-bar-right {
		left: $boxed__layout-inner-padding;
	}

	&.top-bar-left {
		right: $boxed__layout-inner-padding;
	}

}

#top-bar-content span.wpex-inline {
	margin-right: 0;
	margin-left: 20px;
}

#top-bar-content span.wpex-inline .fa {
	margin-right: 0;
	margin-left: pem( 6px );
}


/* Site Nav
--------------------------------------------------------------*/

/* Navbar One */
.navbar-style-one {
	right: auto;
	left: -12px;
}

.boxed-main-layout {

	.navbar-style-one {
		right: auto;
		left: 15px;
	}

	#searchform-dropdown {
		right: auto;
		left: 30px;
	}

}

.sf-menu li:not(.megamenu) ul ul {
	left: auto;
	right: 100%;
}

#site-navigation {

	.sf-menu li a .fa {
		margin-left: 8px;
		margin-right: 0;
	}

	.sf-menu > li ul li .nav-arrow {
		right: auto;
		left: 10px;
	}

	.dropdown-menu ul a.sf-with-ul {
		padding-left: 25px;
		padding-right: 12px;
	}

	.dropdown-menu li a .nav-arrow {
		margin-left: 0;
		margin-right: 4px;
	}

	.dropdown-menu ul ul {
		text-align: right;
	}

}

/* Search
--------------------------------------------------------------*/
#searchform-overlay input {
	padding-left: 40px;
	padding-right: 20px;
}

.searchform .searchform-submit {
	right: auto;
	left: 15px;
}

/* Mobile Nav
--------------------------------------------------------------*/
.sidr-class-dropdown-toggle {
	right: auto;
	left: 15px;
}
.sidr-class-dropdown-menu li.active > a > .sidr-class-dropdown-toggle {
    @include transform( rotate(-90deg) );
}

.sidr-class-dropdown-menu li.sidr-class-menu-item-has-children > a {
	padding-right: 20px;
	padding-left: 60px;
}

.sidr-class-dropdown-toggle:before {
	content: "\f104";
}

/* Breadcrumbs
--------------------------------------------------------------*/
.site-breadcrumbs .breadcrumb-trail > span {
	display: block;
	float: right;
	margin-left: 5px;
}

.site-breadcrumbs .breadcrumb-trail > span:last-child {
	margin-left: 0;
}


/* Sidebar/ Widgets
--------------------------------------------------------------*/
.wpex-widget-recent-posts-thumbnail {
	float: right;
	margin-right: 0;
	margin-left: 15px;
}

body.content-right-sidebar .modern-menu-widget a:after {
	right: auto;
	left: 10px;
}

#main .tagcloud a,
.post-tags a {
	float: right;
	margin: 0 0 5px 5px;
}

.wpex-fa-social-widget ul li {
	margin-right: 0;
	margin-left: 5px;
}


/* Posts
--------------------------------------------------------------*/
.meta li,
.entry .meta li {
	float: right;
	margin-left: 20px;
	margin-right: 0;
}

.meta li .fa {
	margin-right: 0;
	margin-left: 8px;
}

/* Next & Prev */
.post-pagination {

	.post-next {
		float: left;
		text-align: left;

		span {
			margin-left: 0;
			margin-right: 5px;
		}

	}

	.post-prev {
		float: right;
		text-align: right;

		span {
			margin-right: 0;
			margin-left: 5px;
		}

	}

	// Change pagination arrows
	.fa-angle-double-right:before {
		content: "\f100";
	}

	.fa-angle-double-left:before {
		content: "\f101";
	}

}

/* Comments
--------------------------------------------------------------*/
#comments {

	.comment .comment-body {
		margin-left: 0;
		margin-right: $comments-avatar__offset;
	}

	.comment-author .avatar {
		left: auto;
		right: -$comments-avatar__offset;
	}

	.comment-metadata .comment-edit-link {
		margin-left: 0;
		margin-right: 6px;
	}

	#cancel-comment-reply-link {
		float: left;

		.fa {
			margin-right: 0;
			margin-left: 7px;
		}

	}


}



/* Footer
--------------------------------------------------------------*/
#footer-callout-left {
	float: right;
	margin-left: 0;
}

#footer-callout-right {
	float: left;
	margin-left: 0;
	margin-right: 2%;
}

.sidebar-widget-icons {

	.widget_archive a:before,
	.widget_recent_entries a:before,
	.widget_recent_comments a:before,
	.widget_layered_nav a:before,
	.widget_product_categories a:before,
	.widget_categories a:before {
		margin-right: 0;
		margin-left: 10px;
	}

}

#footer-bottom-menu {
	left: 0;
	right: auto;

	ul li {
		float: right;

		&:first-child {
			margin-left: 20px;
		}

		&:last-child {
			margin: 0;
		}

	}

}

#site-scroll-top {
	right: auto;
	left: 30px;
}

/* Overlays
--------------------------------------------------------------*/
.overlay-category-tag {
	right: 0;
}

/* Visual Composer
--------------------------------------------------------------*/
.vcex-portfolio-filter li:last-child,
.vcex-testimonials-filter li:last-child,
.vcex-staff-filter li:last-child,
.vcex-blog-filter li:last-child {
	margin-right: 5px;
}

/*stretch row fix*/
.wpex-vc-row-stretch_row {
	direction: ltr;
}

.wpex-vc-row-stretch_row .wpb_column {
	direction: rtl;
}


/* Icon Box */
.vcex-icon-box-one {
	text-align: left;
}

/* Filters */
ul.vcex-filter-links li {
	float: right;
	margin-left: 5px;
	margin-right: 0;
}

/* Staff
--------------------------------------------------------------*/
.testimonial-caret {
	left: auto;
	right: 10px;
}

.staff-social a:first-child {
	margin-left: 5px;
}

/* Testimonials
--------------------------------------------------------------*/
.testimonial-entry-thumb {
	float: right;
	margin-right: 0;
	margin-left: 20px;
}

.vcex-testimonials-fullslider .sp-button {
	margin-left: 5px;
	margin-right: 0;
}

body .vcex-testimonials-fullslider .sp-button:first-child {
	margin-left: 5px;
}

/* WooCommerce
--------------------------------------------------------------*/

.wcmenucart-details.count {
	margin-left: 0;
	margin-right: 8px;
}

/* Sale & Out of Stock Tags */
.woocommerce span.onsale,
.woocommerce ul.products li.product .onsale,
.woocommerce ul.products li.product.outofstock .outofstock-badge {
	left: auto;
	right: 15px;
}

/* Stars */
.woocommerce .woocommerce-product-rating .star-rating {
	float: right;
	margin: .5em 0 0 4px;
}

/* Single Product */
.woocommerce div.product div.summary {
	float: left;
}

.woocommerce div.product div.images {
	float: right;
}

.woocommerce div.product form.cart .button {
	float: right;
}

.woocommerce div.product form.cart div.quantity {
	float: right;
	margin-right: 0;
	margin-left: 10px;
}

/* Single Product Tabs */
.woocommerce div.product .woocommerce-tabs ul.tabs li {
	float: right;
	margin-left: 20px;
	margin-right: 0;
}

/* Single Product Reviews */
.woocommerce #reviews #comments ol.commentlist li img.avatar {
	left: auto;
	right: 0;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text {
	margin-left: 0;
	margin-right: 80px;
}

/* WooCommerce Notices */
.woocommerce-error, .woocommerce-info, .woocommerce-message {
	padding-left: 0;
	padding-right: 26px;
}

.woocommerce-error:before, .woocommerce-info:before, .woocommerce-message:before {
	left: auto;
	right: 0;
}

/* Responsive
--------------------------------------------------------------*/
body.wpex-mobile-toggle-menu-icon_buttons #mobile-menu {
    right: auto;
    left: 0;
}

.boxed-main-layout.has-mobile-menu #mobile-menu,
.boxed-main-layout #footer-bottom-menu,
.boxed-main-layout .site-breadcrumbs.position-absolute {
	right: auto;
	left: $boxed__layout-inner-padding;
}

#mobile-menu a {
	float: right;
	margin-left: 0;
	margin-right: 10px;
}

@media only screen and (max-width: 959px) {

	body #site-header #site-logo {
		float: right;
		text-align: right;
	}
	
	// Offset mobile toggle icon
	body.wpex-mobile-toggle-menu-icon_buttons {

		#wrap #site-header-inner.container {
			padding-right: 0;
			padding-left: 80px;
		}

		&.boxed-main-layout #wrap #site-header-inner.container {
			padding-right: $boxed__layout-inner-padding; // reset right padding for boxed layout
		}

	}

}
