/*  
Skin Name: Orange
Version: 1.0
Description: Skin for Fullpane
*/

::-moz-selection {
	color: #fff;
	background-color: #e4822a;
}
::selection	  {
	color: #fff;
	background-color: #e4822a;
}

a,
#header a:hover i,
#main-nav a:hover,
#main-nav .current_page_item a, 
#main-nav .current-menu-item a,
.widget #wp-calendar th,
.testimonial .testimonial-author,
.gallery-info .post-category a:hover,
.team-post .team-social a i:hover,
.shortcode.team .team-social a:hover i {
	color: #e4822a;
}
.section-post.gallery .gallery-slider-prev:hover,
.section-post.gallery .gallery-slider-next:hover,
.section-post.gallery .timer-bar,
.pagenav .current,
#footer-tab a {
	background-color: #e4822a;
	color: #fff;
}
.pagenav .current {
	border-color: #e4822a;
}

.social-widget ul li a:hover,
.social-widget div.rss a:hover:before {
	color: #e4822a !important;
}

#main-nav a:hover,
#main-nav .current_page_item a, 
#main-nav .current-menu-item a,
.line,
.post .carousel-pager .selected,
.slider .carousel-pager .selected,
.post .carousel-pager .selected:hover,
.slider .carousel-pager .selected:hover {
	border-color: #e4822a !important;
}

.gallery-wrapper .item,
body.grid4 .portfolio-post .post-content,
body.grid3 .portfolio-post .post-content,
body.grid2 .portfolio-post .post-content,
.shortcode.portfolio.grid4 .post-content,
.shortcode.portfolio.grid3 .post-content,
.shortcode.portfolio.grid2 .post-content {
	background-color: #e4822a;
	background-color: rgba(228,130,42,0.7);
}