html,body{
    overflow: initial;
    margin:0;
    padding:0;
}
.tb_module_panel_modules_wrap:after,
.themify_builder_admin .clearfix:after,
.themify_builder_field:after,
#tb_toolbar:after {
    content: "";
    display: table;
    clear: both;
}
/* form label */
.themify_builder_admin label {
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    text-transform: none;
    border: none;
    background: none;
    width: auto;
    padding: 0;
    letter-spacing: 0;
    display: inline-block;
    vertical-align: middle;
    outline: none;
}
/* form input */
.themify_builder_admin input,
.themify_builder_admin textarea,
.themify_builder_admin select,
.themify_builder_admin input[type=search],
.themify_builder_admin button {
    font-size: 100%;
    font-family: inherit;
}
.themify_builder_admin button:not(.wp-switch-editor) {
    border: none;
}
.themify_builder_admin input[type="text"],
.themify_builder_admin input[type="password"],
.themify_builder_admin textarea,
.themify_builder_admin input[type="search"],
.themify_builder_admin input[type="email"] {
    font: 1.07em/1.5em 'Open Sans', sans-serif;
    background: #fff;
    height: auto;
    min-height: inherit;
    margin: 5px 5px 5px 0;
    padding: .3em .5em;
    box-shadow: none;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #ccc;
    color: #000;
    border-radius: 0;
    -webkit-appearance: none;
    box-sizing: border-box;
    width: 240px;
    max-width: 100%;
}
.themify_builder_admin input.tb_field_error {
    border-color: #ff0000;
}
.themify_builder_admin .tb_field_error_msg {
    color: #ff0000;
    display: block;
}
.themify_builder_admin input[type="radio"],
.themify_builder_admin input[type="checkbox"] {
    background: #fff;
    color: #555;
    display: inline-block;
    line-height: 0;
    height: 16px;
    width: 16px;
    min-width: 16px;
    margin: 0 4px 0 0;
    padding: 0 !important;
    text-align: center;
    border: 1px solid #aaa;
    vertical-align: middle;
    cursor: pointer;
    outline: 0;
    clear: none;
    -webkit-appearance: none;
    box-sizing: border-box;
}
.themify_builder_admin input[type="radio"] {
    border-radius: 5em;
}
.themify_builder_admin input[type="radio"] + label {
    position:relative;
    margin-right: 7px;
    cursor: pointer;
}
.themify_builder_admin input[type="radio"]:checked,
.themify_builder_admin input[type="checkbox"]:checked {
    border-color: #000;
}
.themify_builder_admin input[type="radio"]:checked:before {
    float: left;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    font: 400 21px/1 dashicons;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\2022';
    text-indent: -9999px;
    border-radius: 100%;
    font-size: 24px;
    width: 8px;
    height: 8px;
    margin: 3px;
    line-height: 16px;
    background-color: #1e8cbe;
}
.themify_builder_admin input[type="checkbox"]:checked:before {
    content: '\f147';
    margin: -3px 0 0 -4px;
    color: #1e8cbe;
    float: left;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    font: 400 21px/1 dashicons;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body.themify_builder_active.tb_responsive_mode{
    overflow: visible !important;
    background: #989898;
}
body.themify_builder_active.tb_responsive_mode.tb-preview-parent {
    overflow: hidden !important;
}
.tb_responsive_mode .reponive_disable,
.tb_responsive_mode .reponive_disable+label,
.tb_lb_option input[disabled]+label,
.tb_lb_option input[disabled]{
    opacity: .5;
    cursor: not-allowed;
    pointer-events: none;
}
/* image styled radio buttons */
.tb-icon-radio{
    display:inline-block;
}
.themify_builder_input .tb-icon-radio input{
    display:none;
}
.tb-icon-radio input:checked +label{
    background: #b2b2b2;
    border-color: #787878;
    color: #ffffff;
}
.tb-icon-radio label{
    -webkit-transition: background 100ms ease-in,color 100ms ease-in;
    -moz-transition: background 100ms ease-in,color 100ms ease-in;
    transition: background 100ms ease-in,color 100ms ease-in;
    border: 1px solid #b6b6b6;
    line-height: 100%;
    padding: 5px 10px 5px 10px;
}

/* insert icon input */

.themify_builder_admin input.themify_field_icon {
    width: 100px;
}
/* text area */

.themify_builder_admin textarea {
    line-height: 150%;
    width: 100%;
    min-height: 60px;
}
/* input field width */

.themify_builder_admin input.xsmall,
.themify_builder_admin textarea.xsmall {
    width: 10%;
    min-width: 50px;
}
.themify_builder_admin input.small,
.themify_builder_admin textarea.small {
    width: 20%;
}
.themify_builder_admin input.large,
.themify_builder_admin textarea.large {
    width: 60%;
}
.themify_builder_admin input.xlarge,
.themify_builder_admin textarea.xlarge {
    width: 80%;
}
.themify_builder_admin input.fullwidth{
    width: 95%;
}
/* form input:focus */
.themify_builder_admin textarea:focus,
.themify_builder_admin input[type=password]:focus,
.themify_builder_admin input[type=text]:focus,
.themify_builder_admin input[type=search]:focus,
.themify_builder_admin input[type=email]:focus {
    outline: none;
    background: #fff;
    color: #000;
    border-color: #000;
}
/* form button */

.themify_builder_admin input[type=reset],
.themify_builder_admin input[type=submit],
.builder-lightbox .themify-builder-import-file-inner .builder_button,
.builder-lightbox .builder_button {
    background: #f26522 !important;
    border: none;
    text-align: center;
    margin: 0 0 2px;
    padding: .5em 1em;
    color: #fff !important;
    font: normal 14px/1em Montserrat, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 2px 0 #c2511b;
    border-radius: 3px;
    display: inline-block;
    height: auto;
    width: auto;
    min-height: 0;
    min-width: auto;
}
/* form input:hover */

.themify_builder_admin input[type=reset]:hover,
.themify_builder_admin input[type=submit]:hover,
.builder-lightbox .builder_button.tb-gallery-btn:hover,
.tb-upload-btn .builder_button:hover,
.builder-lightbox .builder_button:hover {
    background: #f26522;
    box-shadow: none;
    -webkit-transform: translateY(2px);
    -ms-transform: translateY(2px);
    transform: translateY(2px);
}
.themify_builder_lightbox_actions .builder_button {
    float: left;
    box-shadow: none;
    padding: 0.58em .8em;
    margin: .25em .3em 0 0;
    letter-spacing: 0;
}
@-webkit-keyframes horizontal-loader {
    0%, 80%, 100% {
        opacity: 1;
    }
    40% {
        opacity: .5;
    }
}
@keyframes horizontal-loader {
    0%, 80%, 100% {
        opacity: 1;
    }
    40% {
        opacity: .5;
    }
}

/************************************************************************************
CLEAR & ALIGNMENT
*************************************************************************************/
.themify_builder_admin .clear {
    clear: both;
}
.themify_builder_admin .left {
    float: left;
}
.themify_builder_admin .right {
    float: right;
}
.themify_builder_admin .textleft {
    text-align: left;
}
.themify_builder_admin .textright {
    text-align: right;
}
.themify_builder_admin .textcenter {
    text-align: center;
}

/************************************************************************************
MODULES
*************************************************************************************/
/* default module style */

.themify_builder_module.active_module {
    border-radius: 2px;
    box-shadow: none;
}
.themify_builder_module:hover {
    background: #523d7e;
}
/* Icon Fonts
---------------------------------------------------------------*/
.themify_builder_icon:before {
    margin: -7px 0 0 1px;
    display: inline-block;
    vertical-align: middle;
}
.themify_builder_icon.small:before {
    padding-top: 2px;
    top: 2px;
    left: 3px;
}
.themify_builder_icon.delete:before {
    content: "\e646";
}
.themify_builder_icon.add:before {
    content: "\e61a";
    margin-top: -4px;
}
.themify_builder_icon.add{
    vertical-align: middle;
    margin-right: 7px;
}
.themify_builder_module .module_menu {
    position: absolute;
    top: 7px;
    left: 10px;
    text-align: left;
}
.themify_builder_active .themify_builder_module .module_menu {
    position: absolute;
    top: 7px;
    left: 10px;
}
.themify_builder_module .menu_icon {
    padding-bottom: 4px;
}
.themify_builder_module .menu_icon:before {
    content: "\e68e";
    font-size: 17px;
}
.themify_builder_module .module_menu:hover .tb_down{
    display: block;
}
/* Transitions
---------------------------------------------------------------*/
.themify_builder_admin input[type=reset],
.themify_builder_admin input[type=submit],
.builder-lightbox .builder_button,
.themify_builder_layout_lists .thumbnail img {
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
}
/* Builder Toolbar
----------------------------------*/

#tb_toolbar {
    background-color: #4a4a4a;
    color: #bdbdbd;
    font: normal 13px/1.6 'Open Sans', sans-serif;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    outline: none;
    min-height: 37px;
    display: none;
    will-change: width;
}
#tb_toolbar a {
    text-decoration: none;
    transition:none;
    outline:none;
    margin: 0;
    box-shadow: none;
    font-size: inherit;
    font-weight: inherit;
}
/* toolbar disabled */
.tb_disabled,
.tb_module_panel_locked .tb_toolbar_add_modules,
.tb_responsive_mode .tb_toolbar_zoom_menu a{
    opacity: .4;
    cursor: not-allowed;
}
/* TOOLBAR ADD MODULES */
#tb_toolbar .tb_toolbar_add_modules_wrap{
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
#tb_toolbar .tb_toolbar_add_modules {
    background: #52bb33;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 37px;
    position: relative;
    overflow: hidden;
    outline:none;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, .1);
}
#tb_toolbar .tb_toolbar_add_modules:before {
    content: '\e61a';
    font-family: themify;
    font-size: 1.6em;
    text-indent: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#tb_toolbar .tb_toolbar_add_modules:hover {
    background: #459a2c;
}
/* TOOLBAR MODULE PANEL */

#tb_module_panel {
    background-color: #f1f1f1;
    -webkit-box-shadow: inset -1px 0px 0px rgba(0, 0, 0, .07);
    box-shadow: inset -1px 0px 0px rgba(0, 0, 0, .07);
    position: fixed;
    z-index: 99998;
    width: 208px;
    top: 37px;
    left: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    opacity: 0;
    padding: 10px 0 110px 0;
    box-sizing: border-box;
    will-change:transform,opacity;
    height: 100%;
	visibility: hidden;
}
#tb_module_panel.tb_busy{
    opacity: .7;
}
#tb_module_panel.tb_busy:before{
    background-color: rgba(0,0,0,.6);
    width: 55px;
    height: 55px;
    z-index: 9999;
    position: absolute;
    top: 50%;
    left: 33%;
}
.tb_toolbar_add_modules_wrap:not(.tb_disabled):not(.tb_hide_panel):focus>#tb_module_panel,
.tb_module_panel_locked #tb_module_panel,
.tb_toolbar_add_modules_wrap:not(.tb_hide_panel) #tb_module_panel:hover{
    -webkit-transform: none;
    transform: none;
    opacity: 1;
	visibility: visible;
}
.themify_builder_drag_start #tb_module_panel{
    -webkit-transform: translateX(-100%) !important;
    transform: translateX(-100%) !important;
    opacity:0 !important;
}
#tb_toolbar .tb_module_panel_lock {
    border-radius: 100%;
    color: #696969;
    padding: 5px;
    float: right;
    width: 28px;
    height: 28px;
    font-size: 17px;
    line-height: 1;
    margin-right: 10px;
	box-sizing: border-box;
}
.tb_module_panel_locked #tb_toolbar .tb_module_panel_lock,
#tb_toolbar .tb_module_panel_lock:hover {
    background-color: rgba(0, 0, 0, .4);
    color: #fff;
}

.tb_module_panel_locked:not(.themify_builder_drag_start,.themify_builder_layoutPart_edit) .themify_builder_workspace_container {
    margin-left: 208px;
    width: calc( 100% - 208px );
}

/* TOOLBAR MENU */

.tb_toolbar_menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
.tb_toolbar_revision_btn ul li,
.tb_toolbar_menu li {
    list-style: none;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    list-style: none;
}
.tb_toolbar_menu li a {
    border-radius: 3px;
    color: #dcdcdc;
    display: inline-block;
    padding: 4px 6px 3px;
    line-height: 1.3;
}
.tb_toolbar_menu li a i {
    font-size: 17px;
    line-height: inherit;
}
.tb_toolbar_menu .tb_tooltip {
    padding-left: 8px;
    padding-right: 8px;
}
.tb-lightbox-switcher .ti-tablet_landscape,
.tb_toolbar_menu li a .ti-tablet_landscape {
    display: inline-block;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.builder-breakpoint-desktop a.breakpoint-desktop,
.builder-breakpoint-tablet a.breakpoint-tablet,
.builder-breakpoint-tablet_landscape a.breakpoint-tablet_landscape,
.builder-breakpoint-mobile a.breakpoint-mobile,
.tb_toolbar_zoom_active a,
.tb_toolbar_preview_active{
    background-color: #000;
    color: #fff;
    cursor: default;
}
.tb_toolbar_zoom_active a,
.tb_toolbar_preview_active {
    cursor: pointer;
}
.tb_toolbar_zoom_active .selected-zoom-size a,
.tb_toolbar_zoom_active .selected-zoom-size a:hover {
    cursor: default;
    color: #a0a0a0;
}
.tb_toolbar_menu li a i {
    vertical-align: middle;
}
.tb_toolbar_menu li a span {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}
/* toolbar menu tooltip */
.tb_toolbar_backend_edit{
    display: inline-block;
    margin-right: 8px;
    vertical-align: middle;
}
.tb_toolbar_backend_edit a{
    color: #dcdcdc;
}
.tb_toolbar_backend_edit i {
    position: relative;
    top: 1px;
	-webkit-transform: rotateZ(180deg);
	-moz-transform: rotateZ(180deg);
	transform: rotateZ(180deg);
	display: inline-block;
}
.tb_toolbar_backend_edit i + span {
    margin-left: 6px;
}
.tb_toolbar_close a span,
.tb_toolbar_menu li a.tb_tooltip span{
    background-color: #23282d;
    color: #bdbdbd;
    font-size: 12px;
    padding: 3px 10px 6px;
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    margin: 0;
    white-space: nowrap;
    z-index: 99999;
}
.tb_toolbar_close span:before,
.tb_tooltip span:before {
    content: '';
    display: block;
    position: absolute;
    left: 13px;
    bottom: 100%;
    border: 4px solid transparent;
    border-bottom-color: #23282d;
}
.tb_toolbar_close a:hover span,
.tb_toolbar_menu li a.tb_tooltip:hover span {
    opacity: 1;
    visibility: visible;
}
.tb_toolbar_menu li a:hover {
    color: #fff;
}
/* toolbar menu dropdown */

.tb_toolbar_save_btn .tb_toolbar_revision_btn ul,
.tb_toolbar_menu li ul {
    list-style: none;
    background-color: #23282d;
    margin: 0;
    padding: 5px 0 7px;
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    display: none; /* will toggle on hover */
    z-index: 9999;
}
.tb_toolbar_revision_btn ul:before,
.tb_toolbar_menu li ul:before {
    content: '';
    display: block;
    position: absolute;
    left: 13px;
    bottom: 100%;
    border: 4px solid transparent;
    border-bottom-color: #23282d;
}
.tb_toolbar_menu li ul li {
    float: none;
    display: block;
}
.tb_toolbar_menu li ul li a {
    border-radius: 0;
    box-sizing: border-box;
    display: block;
    width: 140px;
    padding: 3px 5px 4px 12px;
    letter-spacing: -.01em;
    font-weight: normal;
}
.tb_toolbar_revision_btn:focus ul,
.tb_toolbar_revision_btn ul:hover,
.compact-toolbar .tb_toolbar_menu li:hover > ul {
    opacity: 1;
    display: block;
}
/* DIVIDER */

.tb_toolbar_divider:before {
    content: '';
    border-left: 1px solid #aeaeae;
    display: inline-block;
    height: 16px;
    opacity: .2;
    margin: 7px 2px 0;
}
/* CLOSE & SAVE */

.tb_toolbar_save_wrap {
    position: relative;
    display: inline-block;
    float: right;
    top: 3px;
    right: 3px;
}
.themify_builder_admin .tb_toolbar_save_wrap {
	top: 1px;
}
.tb_toolbar_close,
.tb_toolbar_revision_btn,
.tb_toolbar_save_btn {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}
.tb_toolbar_close a {
    color: #bababa;
    padding: 5px 6px;
    display: inline-block;
}
.tb_toolbar_close a span {
    right: 0;
    left: auto;
}
.tb_toolbar_close span:before {
    right: 10px;
    left: auto;
}
.tb_toolbar_save_btn {
    color: #fff;
    margin-left: 8px;
}
.tb_toolbar_save_btn a {
    color: inherit;
}
#tb_toolbar .tb_toolbar_save {
    background: #f26522;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
    letter-spacing: .05em;
    padding: 9px 14px 8px;
    float: left;
    border-radius: 3px 0 0 3px;
}
.tb_toolbar_save_btn .tb_toolbar_revision_btn ul {
    right: 0;
    left: auto;
}
.tb_toolbar_revision_btn ul:before {
    right: 12px;
    left: auto;
}
.tb_toolbar_revision_btn {
    background: #f26522;
    border-left: 1px solid rgba(255, 255, 255, .15);
    padding: 8px 7px 0px 11px;
    cursor: pointer;
    border-radius: 0 2px 2px 0;
    min-height: 23px;
    outline: none;
}
.tb_toolbar_revision_btn .ti-angle-down {
    font-size: 14px;
    line-height: 1;
}
.tb_toolbar_revision_btn ul a {
    box-sizing: border-box;
    display: block;
    width: 140px;
    padding: 3px 5px 4px 12px;
    color: #bdbdbd;
    line-height: 1.3;
    margin: 3px 0;
}
.tb_toolbar_revision_btn:hover,
.tb_toolbar_save:focus +.tb_toolbar_revision_btn,
#tb_toolbar .tb_toolbar_save_btn .tb_toolbar_save:hover {
    background-color: #ff7635;
}
.tb_toolbar_revision_btn ul a:hover {
    color: #fff;
}


/* GALLERY SHORTCODE PREVIEW */
.tb_shortcode_preview img {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    border: solid 1px #bbb;
    width: 50px;
}

/* BUILDER REVISIONS */
.themify_builder_revision_lists {
    margin: 0;
    padding: 28px 13px;
	width: 100%;
	box-sizing: border-box;
}
.themify_builder_revision_lists li {
    border-top:1px solid #ccc;
    list-style-type: none;
    margin:0;
    padding: 14px 2px;
    color: #adadad;
}
.themify_builder_revision_lists li:last-child {
    border-bottom: 1px solid #ccc;
}
.themify_builder_revision_lists li .builder-delete-revision-btn {
    float:right;
    font-weight: bold;
    color: #000;
}

/* Builder Toolbar Backend
----------------------------------*/

.themify_builder_admin #tb_toolbar {
    position: relative;
    left: auto;
    top: auto;
    display: block;
	z-index: auto;
}
.themify-gutenberg-editor .themify_builder_admin #tb_toolbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}
.themify_builder_admin #tb_module_panel {
    top: 32px;
}
.themify_builder_admin .themify_builder_row_panel {
    border: solid 1px rgba(0, 0, 0, .1);
    border-top: none;
    box-shadow: none;
    border-radius: 0;
}
.themify_builder_admin .tb_toolbar_close,
.tb_auto_draft .tb_toolbar_save_wrap,
.tb_auto_draft .themify_builder_switch_frontend,
.themify_builder_admin .hide-if-backend {
    display: none;
    /* don't need it in backend */
}
/* highlight panel when repsonsive icon selected */

.tablet_landscape-responsive-selected,
.tablet-responsive-selected,
.mobile-responsive-selected,
.tablet-direction-selected,
.mobile-direction-selected {
    background: #f6feff;
}
/* Builder Toolbar Backend Tooltip */

.themify_builder_admin .tb_toolbar_menu li a span {
    background-color: #23282d;
    color: #bdbdbd;
    display: inline-block;
    font-size: 12px;
    padding: 3px 10px 6px;
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    margin: 0;
}
.themify_builder_admin .tb_toolbar_menu li a span:before {
    content: '';
    display: block;
    position: absolute;
    left: 13px;
    bottom: 100%;
    border: 4px solid transparent;
    border-bottom-color: #23282d;
}
.themify_builder_admin .tb_toolbar_menu li a:hover span {
    opacity: 1;
    visibility: visible;
}
/* BACKEND STICKY MODULE PANEL */

.themify_builder_admin #tb_toolbar.tb_toolbar_fixed {
    position: fixed;
    top: 32px;
    left: 207px;
    z-index: 9999;
}

@media screen and (min-width: 960px) {
    .themify-gutenberg-editor.auto-fold .themify_builder_admin #tb_toolbar.tb_toolbar_fixed {
        left: 160px;
        top: 88px;
    }
}

@media screen and (min-width: 782px) {
    .themify-gutenberg-editor.folded .themify_builder_admin #tb_toolbar.tb_toolbar_fixed {
        left: 36px;
    }   
}

/* BUILDER TOOLBAR MEDIA QUERIES */

@media screen and (max-width: 1000px) {
    .tb_toolbar_menu li a span {
        background-color: #23282d;
        color: #bdbdbd;
        display: inline-block;
        font-size: 12px;
        padding: 3px 10px 6px;
        position: absolute;
        top: 100%;
        left: 0;
        opacity: 0;
        visibility: hidden;
        margin: 0;
    }
    .tb_toolbar_menu li a span:before {
        content: '';
        display: block;
        position: absolute;
        left: 13px;
        bottom: 100%;
        border: 4px solid transparent;
        border-bottom-color: #23282d;
    }
    .tb_toolbar_menu li a:hover span {
        opacity: 1;
        visibility: visible;
    }
}
/* Repeater Field
----------------------------------*/

.tb_repeatable_field {
    position: relative;
    padding: 0;
    border: 1px solid #B3B3B3;
    background: #eee;
    margin-bottom: 20px;
}
.tb_repeatable_field.collapsed {
    height: auto;
}
.tb_repeatable_field_content {
    border: none;
    margin: 0;
    padding: 10px;
    background: #fff;
    display: block;
}
.tb_repeatable_field:hover ~ .tb_repeatable_field {
    z-index: 9;
    /* fix row menu overlap */
}
/* row top */

.tb_repeatable_field_top {
    padding: 5px 10px 0px;
    box-sizing: border-box;
    cursor: move;
    z-index: auto;
    /* fix row column menu overlap undo/redo is covering */

    background: #CCC;
    color: #000;
    position: relative;
    text-align: left;
}
.tb_repeatable_field_top a:hover {
    color: #000;
}
.tb_repeatable_field_top .toggle_row {
    float: right;
    display: block;
    cursor: pointer;
    border: none;
    font-size: 17px;
}
.tb_repeatable_field_top .toggle_row:before {
    content: "\e648";
}
.tb_repeatable_field.collapsed .toggle_row:before {
    content: "\e64b";
}
.themify_builder_workspace_container {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: none;
    margin-top: 37px;
    text-align: center;
}

.themify_builder_site_canvas_iframe {
    background: #fff;
    width: 100%;
    height: 100%;
    border: none;
    -webkit-transition: width .6s ease-in 0s;
    transition: width .6s ease-in 0s;
}
body:not(.tb_responsive_mode) .themify_builder_site_canvas_iframe{
    min-height: 100%;
    max-height: 100%;
}

/* Themify Gutenberg Editor */
.themify-gutenberg-editor .tb_toolbar_revision_btn {
	line-height: normal;
	padding-bottom: 5px;
}
.tb_premade_rows_grid .tb_rows_grid li {
	list-style: none;
}
.edit-post-layout__content .edit-post-visual-editor .editor-block-list__block {
	max-width: 90%;
}
.edit-post-layout__content .edit-post-visual-editor .editor-post-title {
	max-width: 96%;
}
.edit-post-layout__content .editor-block-list__layout .editor-block-list__block .editor-block-list__block-edit:before {
	outline-color: #e2e4e7;
}
@media (min-width: 782px) {
	.gutenberg .edit-post-layout .components-notice-list {
		top: auto;
		bottom: 0;
	}
	.gutenberg .edit-post-layout .components-notice-list .notice {
		margin-bottom: 0;
	}
}
@media (min-width: 960px) {
	.tb_module_panel_locked .gutenberg .edit-post-layout .components-notice-list,
	.gutenberg .edit-post-layout .components-notice-list {
		margin-left: 48px;
	}
}

/************************************************************************************
LIGHTBOX OPTION PANEL
*************************************************************************************/
.builder-lightbox {
    background: #fff;
    font: normal 12px/150% 'Open Sans', sans-serif !important;
    color: #444;
    border: 1px solid #AAAAAA;
    width: 500px;
    position: fixed;
    top: 30px;
    z-index: 9999;
    text-align: left;
    min-height: 320px;
    /* corresponds to minHeight of jQuery resizable in setupLightbox() */
    box-sizing: border-box;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    text-transform: none;
    font-weight: normal;
    text-decoration: none;
    letter-spacing: 0;
    display: none;
    opacity: 1 !important; /* required */
}
.themify_lightbox_drag iframe{
	pointer-events:none;
}
.themify_lightbox_drag .ui-draggable-dragging{
	opacity: .4;
}
.builder-lightbox button {
    font-variant: inherit;
    text-transform: none;
    font-family: inherit;
    font-weight: normal;
    text-decoration: none;
    letter-spacing: 0;
}
.builder-lightbox.larger-lightbox {
    font-size: 13px !important;
}
.builder-lightbox a {
    color: #605ca8;
    font-family: inherit;
    font-size: inherit;
}
.builder-lightbox a:hover {
    color: #000;
}
/* lightbox title */

.builder-lightbox .themify_builder_lightbox_title {
    font: 300 2.61em/1.2em 'Open Sans', sans-serif;
    color: #000;
    margin: 0;
    padding: 0;
    text-align: left;
    text-shadow: none;
    text-transform: none;
    border: none;
    background: none;
    box-shadow: none;
    border-radius: 0;
}
/* lightbox cancel button */

.themify_builder_lightbox_actions .builder_cancel_lightbox {
    background: none;
    border: none;
    -webkit-appearance: none;
    margin: .7em .6em .5em 0;
    padding: 0 .8em;
    color: #777;
    position: relative;
    cursor: pointer;
    float: left;
}
.themify_builder_lightbox_actions .builder_cancel_lightbox:hover {
    color: #000;
}
.themify_builder_lightbox_actions .builder_cancel_lightbox .ti-close {
    padding: 0 .5em;
    font-size: 12px;
    line-height: 1.5;
}
.themify_builder_lightbox_actions .builder_cancel_lightbox .ti-close:before {
    position: absolute;
    bottom: 1px;
}
.themify_builder_lightbox_actions .builder_cancel_lightbox:hover .ti-close:before {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(180deg);
    transform: rotate(90deg);
}
.builder-lightbox.animated {
    -webkit-animation-duration: .1s;
    animation-duration: .1s;
}
/* switch to frontend */

.themify_builder_admin .themify_builder_switch_frontend {
    color: #dcdcdc;
    display: inline-block;
    float: right;
    line-height: 36px;
    margin-right: 3px;
    text-decoration: none;
}
.builder-lightbox a.themify_fa_toggle {
    font-size: .95em;
    background: none;
    border: none;
    color: #605ca8;
    text-decoration: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}
.builder-lightbox a.themify_fa_toggle:hover {
    color: #000;
}
/* lightbox tab wrapper */

.builder-lightbox .themify_builder_options_tab_wrapper {
    position: relative;
    overflow: hidden;
    margin: 0;
    -webkit-overflow-scrolling: touch;
    display: none;
    height: inherit;
}
.builder-lightbox .themify_builder_options_tab_wrapper:first-child{
    display: block;
}
.builder-lightbox .themify_builder_options_tab_content {
    padding: 10px 2px 5px 2px;
    width: 100%;
    box-sizing: border-box;
}
/* reset TinyMCE button */

.builder-lightbox .wp-editor-wrap button:not(.wp-switch-editor),
.builder-lightbox .wp-editor-wrap button:not(.wp-switch-editor):hover {
    color: inherit;
    background: inherit;
    border-radius: inherit;
    box-shadow: none;
	min-width: inherit;
}

/************************************************************************************
WP ADMIN STYLES
*************************************************************************************/
.media-modal,
.media-modal button {
    font-variant: inherit;
    text-transform: none;
    font-weight: normal;
    letter-spacing: 0;
    font-family: 'Open Sans', sans-serif;
}
.media-modal .themify_gallery_settings .gallery-settings { 
    display:none 
}
.themify_builder_admin a.builder_button.insert-media {
    background: #fff;
    padding: 4px 10px !important;
    border: solid 1px #ccc;
    text-decoration: none;
    font-size: 12px;
    line-height: 23px;
    height: auto;
    margin: 0;
    cursor: pointer;
    border-radius: 3px;
    white-space: nowrap;
    text-shadow: none;
    display: inline-block;
}
.themify_builder_admin .wp-editor-tools a {
    color: inherit !important;
}

/* LITE LIGHTBOX (confirmation lightbox) */
.themify_builder_lite_lightbox_modal {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    z-index: 999999;
	font-family: 'Open Sans', sans-serif;
}
.themify_builder_lite_lightbox_modal .media-modal {
    width: 450px;
    margin: 0 auto;
    bottom: auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}
.themify_builder_lite_lightbox_modal .media-modal-content {
    min-height: 200px;
    position: relative;
    background: #fff;
    box-shadow: 0 3px 3px rgba(0,0,0,.2);
}
.themify_builder_lite_lightbox_modal .media-modal-backdrop {
    background: transparent;
}
.themify_builder_lite_lightbox_modal .themify_builder_lite_lightbox_content {
    padding: 40px 20px;
    text-align: center;
    font-size: 14px;
}
.themify_builder_lite_lightbox_modal .themify_builder_lite_lightbox_content p:first-child {
    font-size: 1.2em;
    color: #000;
}
.themify_builder_lite_lightbox_modal button {
    background-color: #E7E7E7;
    color: #000;
    border: 1px solid #ACACAC;
    padding: .7em 1.4em;
    cursor: pointer;
    font-weight: bold;
    margin: 10px 5px;
    display: inline-block;
    text-align: center;
    box-shadow: none;
    border-radius: 3px;
    text-decoration: none;
    outline: none;
}
.themify_builder_lite_lightbox_modal .media-modal-close {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
	background: none;
	border: none;
}
.themify_builder_lite_lightbox_modal .themify_builder_litelightbox_prompt_input {
    font-size: 1em;
    max-width: 80%;
    width: 100%;
    background: #fff;
    border: 1px solid #bdbdbd;
    padding: .7em .5em;
    margin: 0 1.15em .4em 0;
    -webkit-appearance: none;
    color: #5b6270;
}

/* lightbox modal tabs */
.builder-lightbox .themify_builder_options_tab {
    margin: 0;
    float: left;
    padding: 0;
    list-style-type: none;
}
.builder-lightbox .themify_builder_options_tab li {
    float: left;
    margin: 0 0 -1px;
    padding: 0;
}
.builder-lightbox .themify_builder_options_tab li.title {
    text-transform: capitalize;
}
.builder-lightbox .themify_builder_options_tab li.current,
.builder-lightbox .themify_builder_options_tab li.title {
    background-color: #ffffff;
    color: #000;
}
.builder-lightbox .themify_builder_options_tab li a,
.builder-lightbox .themify_builder_options_tab li.title {
    display: block;
    padding: 0.7em .8em;
    color: #424242;
    font-size: 14px;
}
.builder-lightbox.larger-lightbox .themify_builder_options_tab li a,
.builder-lightbox.larger-lightbox .themify_builder_options_tab li.title {
    font-size: 1.1em;
}
.builder-lightbox .themify_builder_options_tab li.current a {
    color: #000000;
}
/* Lightbox action buttons (cancel, save) */

.themify_builder_lightbox_actions {
    float: right;
}
.builder-lightbox .reset-styling {
    font-size: 1.07em;
    margin: 20px 0 0;
    display: inline-block;
}
.builder-lightbox .reset-styling:hover {
    color: #000;
}
/* reset Editor button */

.themify_builder_admin .wp-editor-wrap .quicktags-toolbar input,
.themify_builder_admin .wp-editor-wrap .quicktags-toolbar textarea,
.themify_builder_admin .wp-editor-wrap .quicktags-toolbar select,
.themify_builder_admin .wp-editor-wrap .quicktags-toolbar input[type=search],
.themify_builder_admin .wp-editor-wrap .quicktags-toolbar .button {
    color: #555;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #f7f7f7;
    font-weight: normal;
    -webkit-box-shadow: 0 1px 0 #ccc;
    box-shadow: 0 1px 0 #ccc;
    vertical-align: top;
    text-transform: none;
    padding: 0px 8px 1px;
}
.themify_builder_admin .wp-editor-wrap .quicktags-toolbar input:hover,
.themify_builder_admin .wp-editor-wrap .quicktags-toolbar textarea:hover,
.themify_builder_admin .wp-editor-wrap .quicktags-toolbar select:hover,
.themify_builder_admin .wp-editor-wrap .quicktags-toolbar input[type=search]:hover,
.themify_builder_admin .wp-editor-wrap .quicktags-toolbar .button:hover {
    background: #fafafa;
    border-color: #999;
    color: #23282d;
}
.themify_builder_admin .wp-editor-wrap .button {
    border: 1px solid #ccc;
    padding: 0px 8px 1px;
}
.themify_builder_admin .wp-editor-wrap .button:hover {
    border-color: #999;
}
.themify_builder_show_start div,
.themify_builder_show_start a,
.themify_builder_show_start a:before,
.themify_builder_show_start span,
.themify_builder_show_start figure,
.themify_builder_show_start ul,
.themify_builder_show_start button,
.themify_builder_show_start input,
.themify_builder_show_start textarea,
.themify_builder_show_start li{
    transition:none !important;
    -webkit-transition:none !important;
    animation:none !important;
}
/************************************************************************************
LIGHTBOX FIELDS AND INPUT
*************************************************************************************/
.themify_builder_field {
    margin: 0 0 8px;
    cursor: auto;
    -webkit-transition: opacity .5s ease-in-out,max-height .5s ease-in-out;
    transition: opacity .5s ease-in-out,max-height .5s ease-in-out;
    max-height: 100000px;/*animate style rows*/
}
.tb-group-element{
    display:none;
}
.themify_builder_label {
    width: 22%;
    min-width: 100px;
    margin: 0 2% 0 0;
    padding-top: .5em;
    float: left;
    line-height: 1.5em;
    box-sizing: border-box;
}
.themify_builder_input {
    width: 75%;
    position: relative;
    float: left;
    box-sizing: border-box;
    margin: 0;
}
.themify_builder_input.pushed, 
.tb_multi_fields.pushed{
    margin-left: 24%;
}
/* fix vertical alignment in checkbox fields with only one option */

.themify_builder_input .themify-checkbox input + label:first-of-type:last-child {
    margin-top: .5em;
    vertical-align: bottom;
}
.themify_builder_field input[type=text] {
    margin-right: 5px;
    margin-bottom: 5px;
}
.themify_builder_field select {
    font: 1.07em/1.5em 'Open Sans', sans-serif;
    position: relative;
    background-color: transparent !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    padding: .3em 30px .3em .5em;
    outline: none;
    z-index: 2;
    cursor: pointer;
    text-indent: 0.01px;
    text-overflow: '';
    border-radius: 0;
    width: 130%;
    max-width: 165px;
    height: auto;
    border: none;
    color: #000;
    box-shadow: none;
}
.themify_builder_field select::-ms-expand {
    display: none;
}
.themify_builder_field .selectwrapper {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    margin: 5px 5px 5px 0;
    background: transparent;
    overflow: hidden;
    border: 1px solid #ccc;
}
.themify_builder_field .selectwrapper:before {
    content: "\e64b";
    position: absolute;
    width: 30px;
    text-align: center;
    top: 50%;
    right: 2px;
    margin-top: -.5em;
    color: #aaa;
    font-size: 12px;
    z-index: 1;
}
.themify_builder_field .selectwrapper:after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #fff;
    z-index: 0;
    width: 100%;
    content: '';
    z-index: 0;
}
.themify_builder_field .selectwrapper.clicked:before {
    color: #000;
}
.themify_builder_field .selectwrapper.clicked select {
    border-color: #000;
}
/* multi fields */

.themify_builder_label + .tb_multi_fields {
    float: left;
    width: 75%;
}
.tb_multi_fields > .themify_builder_field {
    display: inline-block;
    vertical-align: top;
}
.tb_fields_count_2 .themify_builder_field {
    max-width: 49%;
}
.tb_fields_count_3 .themify_builder_field {
    max-width: 32.5%;
}
.tb_fields_count_4 .themify_builder_field {
   max-width: 24%;
}
.tb_fields_count_5 .themify_builder_field {
   max-width: 19.2%;
}
.multi_circle_feature .themify_builder_field {
    width: 30%;
    max-width: 100%;
}
.tb_multi_fields .themify_builder_label {
    width: 100%;
}
.tb_multi_fields .fullwidth {
    width: 100% !important;
    max-width: 100% !important;
}
.tb_multi_fields .themify_builder_input {
    width: auto;
    float: none;
    min-width: 0;
    max-width: 100%;
    margin-right: 5px;
}
.tb_multi_fields input.medium {
    width: 60px;
}

/* feature module */
.multi_circle_feature .circle_percentage_feature,
.multi_circle_feature .circle_stroke_feature,
.multi_circle_feature .circle_color_feature,
.multi_circle_feature .circle_size_feature {
    width: 100%;
}

/*image auto_fullwidth field*/
.image_fullwidth_container.tb_multi_fields > .themify_builder_field {
    width: auto;
    vertical-align: middle;
}
.image_fullwidth_container.tb_multi_fields > .themify_builder_field.width_image {
    width: 90px;
    padding-bottom: 0;
}
/* small description text */

.themify_builder_admin small,
.themify_builder_admin .small {
    font-size: 11px;
    color: #888;
}
.themify_builder_admin small a {
    color: #666;
    text-decoration: underline;
}
/* layout icon */

.themify_builder_admin .themify-layout-icon {
    margin: 0;
}
.themify_builder_admin .themify-layout-icon a{
    border: solid 3px #eee;
    margin: 0;
    border-radius: 5px;
    position: relative;
    text-decoration: none;
    outline: none;
    box-shadow: none;
}
.themify_builder_admin .themify-layout-icon a:hover{
    border-color: #ddd;
}
.themify_builder_admin .themify-layout-icon a.selected{
    border-color: #f26522;
}
#themify_builder_lightbox_parent .themify_tooltip,
.themify_builder.builder-lightbox .themify_tooltip {
    position: absolute;
    bottom: 100%;
    left: 50%;
    top: auto;
    text-align: center;
    width: auto;
    white-space: nowrap;
    z-index: 11;
    background: rgba(0, 0, 0, .8);
    color: #fff;
    font-size: 11px;
    line-height: 1.1em;
    padding: 4px 6px;
    border-radius: 3px;
    -webkit-transform: translate(-50%, -6px);
    -ms-transform: translate(-50%, -6px);
    transform: translate(-50%, -6px);
    display: none;
}
.themify_builder_field .themify_tooltip:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid rgba(0, 0, 0, .8);
    border-bottom: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.themify-layout-icon img, #themify_builder_lightbox_parent label:hover .themify_tooltip, 
#themify_builder_lightbox_parent a:hover .themify_tooltip,
.themify_builder.builder-lightbox a:hover .themify_tooltip {
    display: block;
}
.themify_builder_field .tfl-icon {
    display: inline-block;
}
/*layouts*/
.tb-sprite{
    background-image: url('../img/builder/layouts.png');
    background-repeat: no-repeat;
    display: block;
    width: 46px;
    height: 35px;
}
.tb-accordion-default {
    background-position: -5px -5px;
}
.tb-accordion-separate {
    background-position: -61px -5px;
}
.tb-callout-button-bottom {
    background-position: -117px -5px;
}
.tb-callout-button-bottom-center {
    background-position: -173px -5px;
}
.tb-callout-button-left {
    background-position: -229px -5px;
}
.tb-callout-button-right {
    background-position: -5px -50px;
}
.tb-dashed {
    background-position: -61px -50px;
}
.tb-dotted {
    background-position: -117px -50px;
}
.tb-double {
    background-position: -173px -50px;
}
.tb-fullwidth {
    background-position: -229px -50px;
}
.tb-grid2 {
    background-position: -5px -95px;
}
.tb-grid2-thumb {
    background-position: -61px -95px;
}
.tb-grid3 {
    background-position: -117px -95px;
}
.tb-grid4 {
    background-position: -173px -95px;
}
.tb-icon-left {
    background-position: -229px -95px;
}
.tb-icon-right {
    background-position: -5px -140px;
}
.tb-icon-top {
    background-position: -61px -140px;
}
.tb-image-center {
    background-position: -117px -140px;
}
.tb-image-left {
    background-position: -173px -140px;
}
.tb-image-overlay {
    background-position: -229px -140px;
}
.tb-image-right {
    background-position: -5px -185px;
}
.tb-image-top {
    background-position: -61px -185px;
}
.tb-list-post {
    background-position: -117px -185px;
}
.tb-list-thumb-image {
    background-position: -173px -185px;
}
.tb-menu-bar {
    background-position: -229px -185px;
}
.tb-menu-fullbar {
    background-position: -5px -230px;
}
.tb-menu-vertical {
    background-position: -61px -230px;
}
.tb-slider-agency {
    background-position: -117px -230px;
}
.tb-slider-caption-overlay {
    background-position: -173px -230px;
}
.tb-slider-default {
    background-position: -229px -230px;
}
.tb-slider-image-top {
    background-position: -5px -275px;
}
.tb-solid {
    background-position: -61px -275px;
}
.tb-tab-frame {
    background-position: -117px -275px;
}
.tb-tab-top {
    background-position: -173px -275px;
}
.tb-tab-vertical {
    background-position: -229px -275px;
}
.tb-tab-window {
    background-position: -285px -5px;
}
.tb-testimonials-image-bottom {
    background-position: -285px -50px;
}
.tb-testimonials-image-top {
    background-position: -285px -95px;
}
.tb-video-left {
    background-position: -285px -140px;
}
.tb-video-overlay {
    background-position: -285px -185px;
}
.tb-video-right {
    background-position: -285px -230px;
}
.tb-video-top {
    background-position: -285px -275px;
}
/*colors*/
.tb-colors .tb-sprite{
    background-image: url('../img/builder/colors.png');
    background-repeat: no-repeat;
    display: block;
    width: 20px;
    height: 20px
}
.tb-black {
    background-position: -1px -1px;
}
.tb-blue {
    background-position: -23px -1px;
}
.tb-brown {
    background-position: -45px -1px;
}
.tb-default {
    background-position: -67px -1px;
}
.tb-green {
    background-position: -1px -23px;
}
.tb-grey {
    background-position: -23px -23px;
}
.tb-lavender {
    background-position: -45px -23px;
}
.tb-light-blue {
    background-position: -67px -23px;
}
.tb-light-green {
    background-position: -1px -45px;
}
.tb-light-purple {
    background-position: -23px -45px;
}
.tb-orange {
    background-position: -45px -45px;
}
.tb-pink {
    background-position: -67px -45px;
}
.tb-purple {
    background-position: -1px -67px;
}
.tb-red {
    background-position: -23px -67px;
}
.tb-rose {
    background-position: -45px -67px;
}
.tb-transparent {
    background-position: -67px -67px;
}
.tb-violet {
    background-position: -89px -1px;
}
.tb-white {
    background-position: -89px -23px;
}
.tb-yellow {
    background-position: -89px -45px;
}
.tb-outline {
    background-position: -89px -67px;
}
/* thumb preview */

.themify_builder_admin .thumb_preview {
    position: absolute;
    top: -5px;
    right: 0;
    display:block;
}
.themify_builder_admin .thumb_preview img {
    padding: 2px;
    background: #fff;
    border: solid 1px #eee;
    border-radius: 3px;
    object-fit: cover;
}
.themify_builder_admin .thumb_preview .themify_builder_icon.delete {
    position: absolute;
    top: -3px;
    left: 38px;
    width: 16px;
    height: 16px;
    background: #333;
    color: #fff;
    font-size: .53em;
    padding: 3px;
    border-radius: 100%;
    text-align: center;
}
.img-placeholder:empty+.themify_builder_icon{
    display:none;
}
.themify_builder_admin .thumb_preview .themify_builder_icon.delete:hover {
    background: #f00;
}
.themify_builder_admin .thumb_preview .themify_builder_icon.delete:before {
    display: inline-block;
    margin-top: -5px;
    margin-left: 0;
    font-size: 10px;
    padding: 0;
}
.themify_builder_admin .pad-right {
    margin-right: 7px;
    display: inline-block;
    vertical-align: middle;
}
/* color picker
---------------------------------------------------------------*/

.themify_builder_field .themify_builder_input .minicolors-swatch {
    border: none;
    background: none;
    width: 29px;
    height: 29px;
    border: 1px solid #ddd;
    background: url(../img/jquery.minicolors.png) -80px 0;
    left:0;
    box-sizing: border-box;
}
.builder-lightbox.larger-lightbox .themify_builder_input .minicolors-swatch {
    width: 30px;
    height: 30px;
}
.themify_builder_input .minicolors-focus {
    z-index: 200;
}
.themify_builder_input .minicolors-focus .minicolors-swatch {
    border-color: #ccc !important;
}
.themify_builder_input .minicolors-focus .minicolors-swatch span {
    background-position: right top;
}
.themify_builder_input .minicolors-picker {
    width: 20px;
    height: 4px;
}
.themify_builder_input .minicolors-grid .minicolors-picker {
    width: 12px;
    height: 12px;
}
.themify_builder_field input.minicolors-input {
    width: 70px;
    margin-left: 28px;
}
.minicolors.tb-minicolors-right .minicolors-panel{
    left:auto;
    right:0;
}
/* Lightbox top bar with tabs */

.themify_builder_lightbox_top_bar {
    background-color: #E5E5E5;
    cursor: move;
}
.themify_builder_admin {
    margin: 5px auto;
}
.lightbox_inner,
.themify_builder_admin form {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    height: inherit;
}
.themify_builder_admin img {
    vertical-align: bottom;
}
.themify_builder_admin hr {
    height: 1px;
    border: none;
    background: none;
    border-top: solid 1px rgba(0, 0, 0, .1);
    margin: 20px 0;
    clear: both;
}
.themify_builder_admin p {
    margin: 0 0 15px;
    padding: 0;
    font-size: inherit;
    line-height: inherit;
}
.themify_builder_admin a {
    outline: none;
    text-decoration: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
    box-shadow: none;
}
/* sub headings */

.themify_builder_admin h1,
.themify_builder_admin h2,
.themify_builder_admin h3,
.themify_builder_admin h4,
.themify_builder_admin h5,
.themify_builder_admin h6 {
    font-size: inherit;
    font-family: inherit;
    margin: 0;
    padding: 0;
    color: #000;
    text-align: left;
    font-style: normal;
    border: none;
    box-shadow: none;
    background: none;
}
.themify_builder_admin h3 {
    font-weight: normal;
    font-size: 1.5em;
    line-height: 1.5em;
    margin: 20px 0 10px;
}
.themify_builder_admin h4 {
    color: #000;
    font-weight: bold;
    font-size: 110%;
    line-height: 125%;
    margin: 25px 0 10px;
}
.themify_builder_admin .tb-style-toggle{
    color: #000;
    border-top: solid 1px rgba(0, 0, 0, .1);
    padding: 16px 0;
    margin: 0;
    cursor:pointer;
    text-transform: uppercase;
    letter-spacing: .05em;
}
.themify_builder_admin .tb-style-toggle:hover {
    background: linear-gradient(to bottom, rgba(0,0,0,.04) 0%, rgba(255,255,255,.1) 100%);
}
.themify_builder_admin .tb-style-toggle:first-child{
    border:none;
}
.tb-style-toggle i{
    float: right;
}
.tb-style-toggle .tb-closed:before{
    content: "\e64b";
}
.tb-closed~.tb-field-expanded{
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.tb-closed~.tb-field-expanded div{
    display:none;
}
.themify_builder_admin hr + h4,
.themify_builder_options_tab_wrapper h4:first-child {
    margin-top: 0;
}
/* upload button */

.tb-upload-btn {
    display: inline-block;
}
.themify_builder_admin .plupload-button {
    background: #eee;
    padding: 2px 10px;
    font: normal 100%/100% Arial, Helvetica, sans-serif;
    color: #666;
    border: solid 1px #ddd;
}
.builder-lightbox .tb-gallery-btn,
.tb-upload-btn .builder_button{
    background: none !important;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: inherit;
    font-size: 1.1em;
    color: #491aaf !important;
    border: none;
    cursor: pointer;
    text-transform: none;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    text-decoration:none;
}
.tb-upload-btn .builder_button:hover{
    background: none;
    color: #000;
}

/************************************************************************************
DROPDOWN MENU
*************************************************************************************/
.tb_down {
    background: #fff;
    width: 100px !important;
    margin: 0 !important;
    padding: 0 !important;
    position: absolute;
    z-index: 550;
    top: 26px;
    left: -1px;
    font-weight: normal;
    border: 1px solid #d6d6d6;
    display: none;
}
.themify_builder_row_top .tb_down {
    top: 24px;
    left: -10px;
}
.themify_builder_admin .tb_down {
    font-size: .95em;
    font-weight: 600;
    top: 100%;
    left: -9px;
    background: #fff;
    border: solid 1px #ccc;
}
.tb_down li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.tb_down a {
    display: block;
    color: #666 !important;
    line-height: 100%;
    text-decoration: none;
    padding: 8px 10px;
    border-bottom: 1px solid #eee;
    font-weight: normal;
}
.tb_down a:hover {
    color: #000 !important;
    text-decoration: none;
    background: #eee;
}
.tb_down li:last-child a {
    border: none;
}
.themify_builder_admin .row_menu {
    display: inline-block;
    position: relative;
}
.themify_builder .row_menu .menu_icon {
    width: 1em;
    cursor: pointer;
    line-height: 1em;
}
.themify_builder .row_menu .menu_icon:after {
    content: "\e68e";
    font-size: 17px;
}
.themify_builder .row_menu:hover .tb_down{
    display: block;
}
/* add new */

.themify_builder .add_new {
    font-size: 1.05em;
    margin: .5em 1.4em 1.8em 0;
    display: inline-block;
}
/* STYLING sub-tabs */
.themify_builder_tab{
    padding: 20px 0 0;
    display: none;
}
.themify_builder_tabs{
    position: relative;
    padding: .2em;
    zoom: 1;
}
.themify_builder_tabs .themify_builder_tab:nth-of-type(1){
    display: block;
}
#themify_builder_lightbox_container .themify_builder_tabs > ul {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    margin: 0;
    padding: .2em .2em 0;
}
#themify_builder_lightbox_container .themify_builder_tabs > ul li {
    border: 1px solid transparent;
    font-size: 13px;
    list-style: none;
    float: left;
    margin: 1px .2em 0 0;
    border-bottom: 0;
    padding: 0;
    white-space: nowrap;
    color: #555555;
}
#themify_builder_lightbox_container .themify_builder_tabs > ul li.current {
    border-color: rgba(0, 0, 0, .15);
    border-bottom-color: transparent;
    margin-bottom: -1px;
    padding-bottom: 1px;
    background: #fff;
}
#themify_builder_lightbox_container .themify_builder_tabs > ul li a:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}
#themify_builder_lightbox_container .themify_builder_tabs li a {
    color: #666;
    float: left;
    padding: .5em .7em;
    text-decoration: none;
}
#themify_builder_lightbox_container .themify_builder_tabs li.current a,
#themify_builder_lightbox_container .themify_builder_tabs li a:hover {
    color: #000;
}
#themify_builder_lightbox_container .themify_builder_tabs li.current a{
    cursor: text;
}
/* For Color Opacity Textbox */
.themify_builder_field input.color_opacity{
    width: 42px;
    margin-left: -10px;
    margin-right: 0;
	opacity: .5;
}   
.minicolors_wrapper{
    display:inline-block;
    width: 140px;
}
ul.tb_seperate_items{
    margin: 0;
    padding: 0;
    list-style: none;
}
.tb_seperate_items li{
    margin: 0 0 8px;
    padding: 0;
}
.tb_border_wrapper{
    display:inline;
}
.tb_seperate_items[data-checked="1"] .tb_text{
    display: none;
}

/************************************************************************************
Gradient Picker
*************************************************************************************/
.themify-gradient-field {
    position: relative;
    margin: 0 0 13px;
}
.themify-gradient-container {
    display: none;
    outline: none;
}
.themify-gradient-container:focus .gradient-pointer-info,
.themify-gradient-container .gradient-pointer-info:hover{
    display: block;
}
.themify-gradient-container .themify-color-picker:focus+.minicolors-swatch+.minicolors-panel,
.themify-gradient-container:not(.themify_gradient_drag):focus .gradient-pointer-info .minicolors-panel{
    display:block !important;
}
.themify-gradient-field .themify-checkbox{
    display: inline-block;
}
.themifyGradient .canvas {
    border: 1px solid #000;
    cursor: pointer;
}
.themifyGradient .gradient-pointer-info {
    display: none;    
    margin-right: 20px;
    margin-top: 3px;
    position: absolute;
    z-index: 80;
    transition: margin-left .3s ease-in-out;
    -moz-transition: margin-left .3s ease-in-out;
    -webkit-transition: margin-left .3s ease-in-out;
    height: 182px;
}
.themifyGradient .gradient-pointer-arrow {
    border-style: solid;
    border-width: 10px;
    height: 0;
    width: 0;
    margin-left: 20px;
    border-color: transparent transparent #000 transparent;
    display: none;
}
.themifyGradient .content {
    border: 1px solid #ccc;
    background-color: #fff;
    color: #afafaf;
    padding: 5px 4px;
    font-size: 12px;
    position: relative;
    max-width: 185px;
    width: 185px;
    margin-left: -15px;
}
.themifyGradient .points {
    position: absolute;
    z-index: 50;
    max-height: 20px;
    margin-top: -12px;
}
.points .point {
    position: absolute;
    width: 12px;
    margin-left: -7px;
    height: 12px;
    top: 0;
    border: 2px solid rgb(107, 107, 107);
    border-radius: 100%;
    cursor: pointer;
    margin-top: -4px;
}
.themifyGradient .gradient-point-delete {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 6px;
    right: 4px;
    color: #000 !important;
    font-size: 10px;
}
.themifyGradient .point-color {
    display: inline-block;
}
.themifyGradient .point-color .minicolors-swatch {
    position: relative;
    top: 0;
    left: 0;
    width: 20px !important;
    height: 20px !important;
    cursor: pointer;
    margin-top: -2px;
}
.themifyGradient .content .themify-color-picker,
.themifyGradient .content .point-position{
    display: inline-block;
    width: 60px;
    margin: 0 0 0 7px;
    height: 19px;
    padding: 0;
    font-size: inherit;
}
.themifyGradient .content .point-position{
    margin-left: 13px;
}
.themifyGradient .content .gradient_delimiter{
    position: absolute;
    left: 93px;
    top: 0;
    width: 1px;
    background: #ccc;
    margin: 0;
    height: 100%;
}
.themifyGradient .content .gradient_percent{
    margin-left: 2px;
    vertical-align: middle;
}
.themifyGradient .gradient-pointer-info .content .minicolors-panel {
    box-shadow: none;
    margin-left: -5px;
    margin-top: -2px;
}
.gradient-angle-knob {
    position: relative;
}

.themify_builder_field .gradient-angle-knob {
    margin-left: 1px;
}
.themify_builder_field .gradient-angle-knob .themify-gradient-angle {
    border-radius: 0;
    margin: 5px 0 0.5em;
}
.gradient-angle-knob canvas {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 2px;
    background: #fff;
    z-index: 99999;
    margin-top: 6px;
}
.themify-gradient-angle:focus+canvas{
    display: block;
}
.themify-gradient-field .themify-clear-gradient {
    font-size: 15px;
    color: inherit !important;
    opacity: 0.4;
    position: absolute;
    left: 225px;
    bottom: 3px;
}
.themify-gradient-field .themify-clear-gradient:hover {
    color: #000 !important;
    opacity: 1;
}
.themify_builder_fixed_scroll{
    position:fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 100;
    display: none;
}
.themify_builder_drag_start .themify_builder_fixed_scroll{
    display: block;
}
.themify_builder_drag_start #tb_toolbar ul,
.themify_builder_drag_start #tb_toolbar div{
    pointer-events: none;
}
body.themify_builder_active:not(.tb_responsive_mode){
    overflow: hidden;
}
.themify-builder-import-file-inner h3, .themify-builder-import-file-inner p {
    text-align: center;
}
.themify-builder-import-file-inner .tb-upload-btn {
    text-align: center;
    width: 100%;
}
.themify-builder-import-file-inner .builder_button {
    line-height: 44px;
    vertical-align: top;
    white-space: nowrap;
}
/* predesigned layouts
---------------------------------------------------------------*/
.themify_builder_layout_lists .layout_preview .thumbnail {
    cursor: pointer;
}
.themify_builder_layout_lists .layout_preview .layout-preview-link {
    font-size: 14px;
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
}
#themify_builder_lightbox_container .themify_builder_layout_lists .layout_preview .layout-preview-link {
	float: none;
	padding: 0;
}
.themify_builder_layout_lists,
.themify_builder_layout_lists .layout_action_dropdown {
    margin: 0;
    padding: 0;
    list-style: none;
}
.themify_builder_layout_lists > li {
    width: 24%;
    float: left;
    margin-left: 1.332%;
	margin-bottom: 1em;
}
.themify_builder_layout_lists {
    margin: 20px 0 0;
}
.themify_builder_layout_lists>li.layout-column-break{
    clear: left;
    margin-left: 0;
}

.themify_builder_layout_lists .thumbnail {
    margin: 0 0 .5em;
    padding: 0;
    border: none;
    border-radius: 0;
}
.themify_builder_layout_lists .thumbnail img {
    border: 1px solid #c7c7c7;
    background: #fff;
    width: 100%;
    height: auto;
    padding: 2px;
    box-sizing: border-box;
}
.themify_builder_layout_lists > li:hover .thumbnail img {
    border-color: #ff9640;
    background: #ffe3c3;
    cursor: pointer;
}

.themify_builder_layout_lists .layout_action {
    position: relative;
}
.themify_builder_layout_lists .menu_icon {
    font-size: 1.18em;
    display: inline-block;
    vertical-align: middle;
    margin: -5px 10px 0 0;
}
.themify_builder_layout_lists .layout_title,
.themify_builder_layout_lists .layout_dropdown_wrapper {
    display: inline-block;
}
.themify_builder_layout_lists .layout_dropdown_wrapper {
    position: relative;
    padding-bottom: 10px;
    cursor: pointer;
}

.themify_builder_layout_lists .layout_action_dropdown {
    background: #fff;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    border: 1px solid #ddd;
}
.themify_builder_layout_lists .layout_action_dropdown li {
    margin: 0;
    padding: 0;
}
.themify_builder_layout_lists .layout_action_dropdown li a {
    display: block;
    width: 100px;
    padding: 10px 15px;
    color: #7f7f7f;
}
.themify_builder_layout_lists .layout_action_dropdown li a:hover {
    color: #000;
}
.themify_builder_layout_lists .layout_action_dropdown li:nth-child(2) a {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

/* predesigned layout category filter */
#themify_builder_pre-designed-filter {
    padding: 0;
    margin: 0;
}
#themify_builder_lightbox_container #themify_builder_pre-designed-filter li {
    list-style: none;
    display: inline-block;
    position: relative;
    top: 0;
    margin: 1px .2em 0;
    padding: 0;
    white-space: nowrap;
    border: none;
    background: none;
    font-weight: normal;
    color: inherit;
}
#themify_builder_lightbox_container #themify_builder_pre-designed-filter a {
    padding: .4em .6em;
    text-decoration: none;
    color: inherit;
    letter-spacing: .02em;
    opacity: .6;
    border-radius: 4px;
    line-height: 1.2em;
}
body:not(.tb_module_panel_docked) #themify_builder_lightbox_container #themify_builder_pre-designed-filter a.selected {
    border: none;
    background: #8c8c8c;
    font-weight: normal;
    color: #fff;
}
#themify_builder_layout_search {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
}
#themify_builder_layout_search:focus {
    width: 100px;
}

/* WP media lightbox */
.themify_builder_active .media-frame input:not([type='checkbox']):not([type='radio'])
.themify_builder_active .media-frame textarea {
    background: #fff;
    border: solid 1px #dfdfdf;
    color: #999;
    max-width: 100%;
}
.themify_builder_active .media-frame input:not([type='checkbox']):not([type='radio']):focus,
.themify_builder_active .media-frame textarea:focus {
    background: #fff;
    border: solid 1px #dfdfdf;
    color: #333;
}
.themify_builder_active .media-modal .screen-reader-text {
    visibility: hidden;
}

.media-modal h1,
.media-modal h2,
.media-modal h3 {
    color: #222;
    font-style: normal;
    font-variant: inherit;
    text-transform: none;
    font-family: inherit;
    font-weight: normal;
    text-align: inherit;
    letter-spacing: 0;
}
.media-modal h1 {
    font-size: 22px;
}
.media-modal h2 {
    font-size: 18px;
}
.media-modal h3 {
    font-size: 16px;
}

/* wp editor */

/* fix WP editor insert link search field */
#wp-link p.howto{
    padding:0; 
}
#link-selector{
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    line-height: 1.5;
}
#link-selector input{
    margin: 1px;
    padding: 3px 5px;
}
.wp-editor-container {
    background: #fff !important;
}
div.mce-toolbar-grp {
    border: none !important;
}
.mce-statusbar .mce-container-body {
    border: solid 1px #eee !important;
    border-width: 0 1px 1px !important;
}
.mce-edit-area {
    border: solid 1px #ddd !important;
}
/* Themify Shortcodes Button */
i.mce-ico.mce-i-themify {
    background: url('../img/favicon.png') no-repeat 4px 2px;
}
.mce-container .mce-label {
    color: initial;
}
.screen-reader-text,
.tb-hide {
    display: none;
}
.ui-autocomplete {
    position: absolute;
    top: 0;
    cursor: default;
}
.tb_resizable{ 
    position: absolute;
    z-index: 90;
}
.tb_resizable-e{
    cursor: e-resize;
    width: 7px;
    right: 0;
    top: 0;
    height: 100%;
}
.tb_resizable-s{
    cursor: s-resize;
    height: 7px;
    width: 100%;
    bottom: -5px;
    left: 0;
}
.tb_resizable-w {
    cursor: w-resize;
    width: 7px;
    left: -5px;
    top: 0;
    height: 100%;
}
body:not(.tb_module_panel_docked) .tb_resizable-w {
    display: none;
}
.tb_resizable-se{
    cursor: se-resize;
    right: 2px;
    bottom: -2px;
    font-size: 12px;
}
.tb_resizable-se:before{
    font-family: 'themify';
    content: "\e6be";
}
.tb_resizable_overlay{
    position:fixed;
    z-index: 9000;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display: none;
}
.tb_resizing .themify_builder_lightbox_top_bar,
.tb_resizing #themify_builder_lightbox_container{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none; /*for wp editor*/
}
.tb-lightbox-switcher{
    margin: 5px 0 0;
    padding: 20px 15px 5px 0;
}
.tb-lightbox-switcher li{
    margin: 0 8px 0 0;
    float: left;
    list-style: none;
}
.tb-lightbox-switcher a{
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    max-width: 33px;
    white-space: nowrap;
    position: relative;
    padding: 6px 7px;
    color: #666;
    font-size: 12px;
    line-height: 1;
    border-radius: 2px;
    text-align: center;
}
.tb-lightbox-switcher i:before {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.5em;
}
.tb_module_settings .tb-lightbox-switcher{
    margin-left: 6px;
}
.builder-breakpoint-tablet_landscape .tab-tablet_landscape,
.builder-breakpoint-tablet .tab-tablet,
.builder-breakpoint-desktop .tab-desktop,
.builder-breakpoint-mobile .tab-mobile,
.tb-lightbox-switcher a:hover{
    background: rgba(213,213,213,.8);
}

/* Module Favorite Feature */
.themify_module_favorite {
	position: absolute;
	top: 5px;
	left: 5px;
	font-size: 13px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	opacity: 0;
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-webkit-transition: all 0.3s ease 0.1s;
	transition: all 0.3s ease 0.1s;
	color: #909090;
}

.favorite-separator {
    display: none;
}

.themify_builder_module_outer.favorited,
.themify_builder_module_outer.favorited ~ .favorite-separator {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
}

.themify_builder_module_outer.favorited ~ .favorite-separator {
    display: block;
    width: 100%;
    height: 1px;
    background: #dedede;
    margin: 20px 0;
}

.themify_builder_module_outer.favorited .themify_module_favorite {
    color: #ffab11;
}

.themify_builder_module:hover .themify_module_favorite {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

/* make sure Widget module options are visible */
.themify_builder_field.instance_widget .widget-inside {
    display: block;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: none;
}

/* OPTION LIGHTBOX DOCK MODE */
.tb_module_panel_docked .themify_builder.builder-lightbox {
	min-width: 300px;
	height: 100vh;
	top: 0 !important;
	right: 0 !important;
	left: auto !important;
	bottom: auto !important;
	margin: 0;
	border-right: none;
	border-top: none;
	border-bottom: none;
}
.tb_module_panel_docked .themify_builder_lightbox_actions {
	position: absolute;
	bottom: 0;
	right: 0;
	background: #fff;
	width: 100%;
	z-index: 100;
	padding: 3px 5px 5px;
	box-sizing: border-box;
	text-align: right;
	border-top: solid 1px rgba(0,0,0,.1);
	box-shadow: 0 -1px 5px rgba(0,0,0,.1);
}
.tb_module_panel_docked .themify_builder_options_tab_wrapper {
	max-height: 100vh;
	height: auto;
}
.tb_module_panel_docked .themify_builder_label,
.tb_module_panel_docked .themify_builder_input {
	width: 100%;
	margin-bottom: 3px;
}
.tb_module_panel_docked .themify_builder_label:empty,
.tb_module_panel_docked .themify_builder_input:empty {
    display: none; /* hide wrapper if no element in field */
}
.tb_module_panel_docked .themify_builder_input.pushed {
	margin-left: 0;
}
.tb_module_panel_docked #themify_builder_lightbox_parent .tb_lb_option input:first-child + label .themify_tooltip {
    left: 0;
    transform: none;
    margin-bottom: 6px;
}
.tb_module_panel_docked #themify_builder_lightbox_parent .tb_lb_option input:first-child + label .themify_tooltip:before {
    margin-left: 5px;
}
.tb_module_panel_docked #themify_builder_lightbox_parent .tb_lb_option label:last-child .themify_tooltip {
    left: 0;
    margin-left: 5px;
}
.tb_module_panel_docked #themify_builder_lightbox_parent .tb_lb_option label:last-child .themify_tooltip:before {
    margin-right: 5px;
}
.tb_module_panel_docked .themify_builder_label {
	font-weight: 600;
}
.tb_module_panel_docked .builder-lightbox .themify_builder_options_tab li a {
	font-size: 12px;
}
.tb_module_panel_docked .themify_builder_options_tab_content {
	padding-bottom: 50px;
}
.tb_module_panel_docked .builder_cancel_lightbox,
.tb_module_panel_docked .builder_button {
	display: inline-block;
	float: none;
}
.tb_module_panel_docked  .builder-lightbox .simplebar-scroll-content {
	height: calc( 100vh - 80px ) !important;
}
.tb_module_panel_docked .ui-icon-arrow-1-se,
.tb_module_panel_docked .tb_resizable:not(.tb_resizable-w) {
	display: none;
}
.tb_module_panel_docked .builder_cancel_docked_mode{
    display:block;
}
.builder_cancel_docked_mode {
	position: absolute;
	top: 8px;
	left: 8px;
	color: #444444 !important;
	font-size: 14px !important;
	cursor: pointer;
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	display:none;
}
.themify-dock-highlight:before {
	content: '';
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	width: 50px;
	background: rgba(109, 85, 160, 0.4);
	z-index: 999;
}
.tb_module_panel_docked .themify_builder_lightbox_actions {
	 pointer-events: none;
}
.tb_module_panel_docked .themify_builder_lightbox_actions a, 
.tb_module_panel_docked .themify_builder_lightbox_actions button{
	pointer-events: auto;
}
/* Docked panel each label */
.tb_module_panel_docked .tb-icon-radio label {
	margin-bottom: 5px;
}
/* Docked panel pre-designed */
.tb_module_panel_docked .themify_builder_layout_lists > li {
	width: 50%;
	margin-left: 0;
	margin-right: 0;
	box-sizing: border-box;
    padding-right: 4%;	
}

.tb_module_panel_docked .themify-gradient-field .themify-gradient-container {
    padding-left: 5px;   
}

/* Docked panel Image Module */
.tb_module_panel_docked .image_fullwidth_container .auto_fullwidth {
	width: 100%;
	max-width: none;
	display: block;
}

/* Docked Layout filter */

.tb_filter_layouts + ul {
	position: absolute;
	z-index: 9;
	visibility: hidden;
	opacity: 0;
	background: #ffffff;
	-webkit-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
	border: 1px solid #c6c6c6;
	min-width: 140px;
	padding: 12px 3px !important;
}

.tb_filter_layouts:hover + ul,
.tb_filter_layouts + ul:hover {
	visibility: visible;
	opacity: 1;
}

.tb_filter_layouts + ul > li {
	display: block !important;
	overflow: hidden;
}

.tb_filter_layouts + ul a {
	display: block !important;
	width: 100%;
	box-sizing: border-box;
}

.tb_filter_layouts + ul a:hover {
	color: #000000 !important;
	opacity: 1 !important;
}

/* Docked panel Save Button */
.tb_module_panel_docked .tb_tooltip.builder_save_button span {
	top: auto;
	bottom: 100%;
	margin-bottom: 5px;
}
.tb_module_panel_docked .tb_tooltip.builder_save_button span:before {
	bottom: auto;
	top: 100%;
}

/* Docked Panel Fields */
.tb_module_panel_docked .tb-tile-options .themify_builder_input.pushed,
.tb_module_panel_docked .layout_masonry .themify_builder_input.pushed,
.tb_module_panel_docked .menu_breakpoint .themify_builder_input.pushed,
.tb_module_panel_docked .menu_slide_direction .themify_builder_input.pushed,
.tb_module_panel_docked .allow_menu_breakpoint .themify_builder_input.pushed {
	margin-left: 0;
}

/* Docked Panel Accordion Fields */
.tb_module_panel_docked .multi_accordion_icon {
	width: 100%;
}
.tb_module_panel_docked .multi_accordion_icon .themify_builder_field {
	max-width: none;
	width: 100%;
}

/* Zoom BG */
.themify_builder_zoom_bg .themify_builder_site_canvas_iframe{
    -webkit-transition: scale .3s ease-in-out,transform .3s ease-in-out;
    -moz-transition: scale .3s ease-in-out,transform .3s ease-in-out;
    transition: scale .3s ease-in-out,transform .3s ease-in-out;
}
.themify_builder_zoom_bg .themify_builder_zooming_50 {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: center top 0px;
    transform-origin: center top 0px;
}
.themify_builder_zoom_bg .themify_builder_zooming_75 {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
    -webkit-transform-origin: center top 0px;
    transform-origin: center top 0px;
}
.themify_builder_zoom_bg {
    background: #e6e6e6;
}
.tb-preview-parent.tb_responsive_mode .themify_builder_site_canvas_iframe {
    border: 21px solid #1d2d2d;
    border-radius: 15px;
    height: 85vh;
	margin: auto;
}
.tb-preview-parent.tb_responsive_mode:not(.builder-breakpoint-tablet_landscape) .themify_builder_site_canvas_iframe {
	border-bottom-width: 42px;
}
.tb-preview-parent.tb_responsive_mode.builder-breakpoint-tablet_landscape .themify_builder_site_canvas_iframe {
	border-right-width: 42px;
}
.tb-preview-parent #themify_builder_lightbox_parent {
    display: none !important;
}
.tb-preview-parent.tb_module_panel_docked .themify_builder_workspace_container,
.tb-preview-parent.tb_module_panel_docked #tb_toolbar {
    width: 100% !important;
}

.tb-preview-parent.builder-breakpoint-tablet_landscape .themify_builder_site_canvas_iframe {
	height: 768px;
}

.tb-preview-parent.builder-breakpoint-tablet .themify_builder_site_canvas_iframe {
    height: 1024px;
}
.tb-preview-parent.builder-breakpoint-mobile .themify_builder_site_canvas_iframe {
    height: 667px;
}
.tb-preview-parent.tb_responsive_mode .themify_builder_workspace_container {
    overflow: auto;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex !important;
	justify-content: center;
}

/* Toolbar responsive */
.compact-toolbar #tb_toolbar .tb_toolbar_menu li a span,
.compact-toolbar #tb_toolbar .tb_toolbar_backend_edit > a span,
.compact-toolbar #tb_toolbar .tb_toolbar_menu > .tb_toolbar_redo,
.compact-toolbar #tb_toolbar .tb_toolbar_menu > .tb_toolbar_tablet_landscape_switcher,
.compact-toolbar #tb_toolbar .tb_toolbar_menu > .tb_toolbar_tablet_switcher,
.compact-toolbar #tb_toolbar .tb_toolbar_menu > .tb_toolbar_mobile_switcher,
.compact-toolbar #tb_toolbar .tb_toolbar_menu > .tb_toolbar_export {
	display: none;
}
.compact-toolbar #tb_toolbar .tb_toolbar_menu {
    margin-left: 5px;   
}
.compact-toolbar #tb_toolbar .tb_toolbar_menu > li > a {
    padding-left: 6px;
    padding-right: 6px;
    margin-right: 3px;
}
.compact-toolbar #tb_toolbar .tb_toolbar_save {
	padding-left: 12px;
	padding-right: 10px;
}
.compact-toolbar #tb_toolbar .tb_toolbar_revision_btn {
    padding-left: 5px;
    padding-right: 5px;
}
.compact-toolbar .tb_toolbar_backend_edit {
    margin-right: 0px;
}
.compact-toolbar .tb_toolbar_menu li ul {
    left: -2px
}
.compact-toolbar .tb_toolbar_menu .tb_toolbar_divider {
    display: none;
}
.compact-toolbar .tb_toolbar_compact_item > a {
	pointer-events: none;
}

.compact-toolbar .tb_toolbar_desktop_switcher.tb_toolbar_compact_item > a {
	background: #000000;
	color: #ffffff;
}

.compact-toolbar .tb_toolbar_desktop_switcher.tb_toolbar_compact_item .tb_compact_group a,
.compact-toolbar .tb_toolbar_undo.tb_toolbar_compact_item .tb_compact_group a {
	width: 33px;
}

.compact-toolbar .tb_toolbar_zoom_menu > ul a {
	width: 60px;
}

.compact-toolbar .tb_toolbar_import.tb_toolbar_compact_item > ul > li > a {
	width: 100px;
}

body:not(.compact-toolbar) .tb_compact_group {
	display: none;
}

.compact-toolbar.builder-breakpoint-desktop .tb_toolbar_menu > li > a.breakpoint-desktop i:before { content: '\e640'; }
.compact-toolbar.builder-breakpoint-tablet .tb_toolbar_menu > li > a.breakpoint-desktop i:before { content: '\e609'; }
.compact-toolbar.builder-breakpoint-tablet_landscape .tb_toolbar_menu > li > a.breakpoint-desktop i { -webkit-transform: rotate(-90deg); transform: rotate(-90deg); display: inline-block; }
.compact-toolbar.builder-breakpoint-tablet_landscape .tb_toolbar_menu > li > a.breakpoint-desktop i:before { content: '\e609'; }
.compact-toolbar.builder-breakpoint-mobile .tb_toolbar_menu > li > a.breakpoint-desktop i:before { content: '\e621'; }

.compact-toolbar .tb_toolbar_import.tb_toolbar_compact_item .tb_compact_group > li > a span {
	display: inline-block !important;
	visibility: visible;
	opacity: 1;
	position: static;
	padding: 0;
	line-height: 16px;
	margin-left: 12px;
}

.compact-toolbar .tb_toolbar_import.tb_toolbar_compact_item .tb_compact_group > li > a:hover span {
	color: inherit;
}

.compact-toolbar .tb_toolbar_import.tb_toolbar_compact_item > ul:not(.tb_compact_group) {
	display: none !important;
}

.compact-toolbar .tb_toolbar_import.tb_toolbar_compact_item .tb_compact_group > li > a {
	padding-left: 12px;
}

body:not(.compact-toolbar) .tb_toolbar_import.tb_toolbar_compact_item a span {
	display: none;
}

.compact-toolbar .tb_toolbar_import.tb_toolbar_compact_item .tb_compact_group ul {
	left: 100%;
	top: 0;
}

.compact-toolbar .tb_toolbar_import.tb_toolbar_compact_item .tb_compact_group ul:before {
    display: none;
}