/************************************************************************************
MOBILE NAVIGATION
*************************************************************************************/
/* change max-width to trigger mobile menu active class */

/************************************************************************************
HEADER
*************************************************************************************/
.mobile_menu_active #header {
	height: auto;
}

/* reset absolute elements to static */
.mobile_menu_active #site-logo, 
.mobile_menu_active #site-description  {
	position: static;
	float: none;
	clear: both;
	margin: 0;
	padding: 0;
}

/* site logo */
.mobile_menu_active #site-logo {
	font-size: 30px;
}

/* header widget */
.mobile_menu_active .header-widget {
	position: static;
	float: none;
	text-align: left;
	clear: both;
	margin: 0;
}
.mobile_menu_active .header-widget .widget {
	margin: 0 0 10px;
}

/* menu icon */
.mobile_menu_active #menu-icon {
	position: absolute;
	display: block;
	top: 50%;
	right: 10px;
	text-decoration: none;
	font-size: 1.2em;
	-webkit-transform:	translateY(-50%);
	-moz-transform:		translateY(-50%);
	transform:			translateY(-50%);
}

/* 
MENU PANEL
================================================ */
/* Mobile Menu Styles */
.mobile_menu_active .sidemenu {
	transition: all .2s ease-in-out;
	height: 100%;
	width: 250px;
	padding: 50px 25px 20px;
	background-color: #00be8a;
	display: block;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	position: fixed;
	top: 0;
	z-index: 111;
}
.mobile_menu_active #mobile-menu {
	right: -300px;
}
.mobile_menu_active #mobile-menu.sidemenu-on {
	right: 0;
}
.mobile_menu_active.sidemenu-active {
	position: relative;
}
.mobile_menu_active.sidemenu-active,
.mobile_menu_active.sidemenu-active #headerwrap {
	left: 0;
	transition: left .2s ease-in-out;
}
.mobile_menu_active.sidemenu-right,
.mobile_menu_active.sidemenu-right #headerwrap {
	left: -250px;
}
.mobile_menu_active.sidemenu-left,
.mobile_menu_active.sidemenu-left #headerwrap {
	left: 250px;
}

/* mobile menu panel link */
.mobile_menu_active #mobile-menu-panel a {
	color: #fff;
	text-decoration: none;
}

/* slide menu close */
.mobile_menu_active #menu-icon-close {
	position: absolute;
	display: block;
	text-decoration: none;
	top: 10px;
	right: 20px;
	font-size: 1.4em;
}
.mobile_menu_active #menu-icon-close:after {
	content: '\e808';
	font-family: 'themify_theme_icon';
}
.mobile_menu_active #menu-icon-close:hover {
	color: #000;
}

/* main nav */
.mobile_menu_active #main-nav-wrap {
	display: block;
}
.mobile_menu_active #main-nav {
	position: static;
	width: auto;
	height: auto;
	padding: 0;
	margin: 15px 0 50px;
	background: none;
	border: none;
	text-align: left;
	float: none;
	clear: both;
}
.mobile_menu_active #main-nav li {
	float: none;
	display: block;
	border: none;
	background: none;
	padding: 0;
	margin: 0;
	clear: both;
}

/* sub level */
.mobile_menu_active #main-nav ul {
	position: static;
	width: auto;
	height: auto;		
	display: block;
	border: none;
	margin: 0;
	padding: 0 0 0 1em;
	background: none;
	visibility: visible;
	opacity: 1;
	clear: both;
}
.mobile_menu_active #main-nav ul li {
	border: none;
	background: none;
	padding: 0;
	margin: 0;
}

/* menu link */
.mobile_menu_active #main-nav a, 
.mobile_menu_active #main-nav ul a {
	width: auto;
	display: block;
	border: none;
	padding: .6em 0;
	margin: 0;
	color: #fff;
	font-size: 100%;
	font-weight: bold;
	line-height: 1.5em;
	background: none;
	text-decoration: none;
	border-bottom: solid 1px rgba(255,255,255,.3);
}
.mobile_menu_active #main-nav li a:after {
	display: none;
}

/* sub level menu link */
.mobile_menu_active #main-nav ul a {
	font-weight: normal;
	font-size: .95em;
	text-align: left;
}

/* menu hover */
.mobile_menu_active #main-nav a:hover,
.mobile_menu_active #main-nav ul a:hover {
	color: #fff;
}

/* sub-menu icon */
.mobile_menu_active #main-nav .menu-item-has-children > a:after,
.mobile_menu_active #main-nav ul .menu-item-has-children > a:after {
	display: none;
}

/* current link */
.mobile_menu_active #main-nav .current_page_item > a, 
.mobile_menu_active #main-nav .current-menu-item > a {
	color: #fff;
}
.mobile_menu_active #main-nav ul:after,
.mobile_menu_active #main-nav ul:before {
	display: none;
}
.mobile_menu_active #main-nav .sub-arrow {
	display: none !important;
}
.mobile_menu_active.admin-bar .sidemenu {
	top: 32px;
}

/* 
SEARCH FORM
================================================ */
.mobile_menu_active #searchform-wrap {
	float: none;
}
.mobile_menu_active #headerwrap #searchform {
	position: relative;
	left: auto;
	right: auto;
	top: auto;
	bottom: auto;
	float: none;
	clear: both;
	margin: 0 0 1em;
	padding: 0;
	width: auto;
}
.mobile_menu_active #headerwrap #searchform #s  {
	width: 100%;
	float: none;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
	background-color: #fff;
	opacity: 1;
}
.mobile_menu_active #headerwrap #searchform #s:focus,
.mobile_menu_active #headerwrap #searchform #s:hover,
.mobile_menu_active #headerwrap #searchform .icon-search:hover + #s {
	width: 100%;
	color: #000;
}
.mobile_menu_active #headerwrap #searchform .icon-search:before {
	padding: 0;
	color: #000;
}

/* 
SOCIAL WIDGET
================================================ */
.mobile_menu_active .social-widget {
	margin: 0 0 1em;
	position: static;
	float: none;
}
.mobile_menu_active .social-widget .widgettitle {
	display: block;
	margin: 0 0 .4em;
}

@media screen and (max-width: 1400px) {

	/************************************************************************************
	STRUCTURE
	*************************************************************************************/
	#pagewrap {
		max-width: 100%;
	}
	
	#layout,
	.pagewidth,
	.full_width .themify_builder_row .row_inner {
		max-width: 96%;
	}
	/* make row inner to max-width 100% in IE 10/11 browsers */
	.split-ie .themify_builder_row .row_inner,
	.split-ie.full_width .themify_builder_row .row_inner,
	.split-scroll .themify_builder_row .row_inner,
	.split-scroll-off .themify_builder_row .row_inner {
		max-width: 100%;
	}

}

@media screen and (max-width: 1200px) {
	/* window width resize nicescroll */
	.single-post.sidebar-none .post-content,
	.single-portfolio.sidebar-none .post-content {
		max-height: none;
	}
	.single-post.sidebar-none .post-nav .prev,
	.single-post.sidebar-none .post-nav .next,
	.single-portfolio.sidebar-none .post-nav .prev,
	.single-portfolio.sidebar-none .post-nav .next {
		display: block;
		float: left;
	}
	.single-post.sidebar-none .post-nav a,
	.single-portfolio.sidebar-none .post-nav a {
		max-width: 100%;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}

}

@media screen and (max-width: 800px) {
	
	/************************************************************************************
	POST LAYOUTS
	*************************************************************************************/
	.loops-wrapper.grid4 .post {
		width: 48.4%; /* change grid4 to 2 columns */
	}
	.loops-wrapper.grid4 .post:nth-of-type(2n+1) {
		margin-left: 0;
		clear: left;
	}

}

@media screen and (max-width: 760px) {

	/************************************************************************************
	STRUCTURE
	*************************************************************************************/
	#layout,
	.pagewidth,
	.full_width .themify_builder_row .row_inner {
		max-width: 90%;
	}
	.split-scroll .themify_builder_row .row_inner,
	.split-scroll-off .themify_builder_row .row_inner {	
		max-width: 100%;
	}	
	#layout {
		max-width: 90%;
	}
	.sidebar1 #content,
	#content {
		width: 100%;
		max-width: 100%;
		float: none;
		clear: both;
		display: block !important;
		padding: 6.2% 0;
	}
	
	/* sidebar */
	#sidebar {
		width: 100%;
		max-width: 100%;
		float: none;
		clear: both;
		display: block;
	}
	
	.single-post.sidebar-none .featured-area,
	.single-post.sidebar-none #layout,
	.single-post.sidebar-none .post-nav,
	.single-post.sidebar-none #footerwrap,
	.single-portfolio.sidebar-none .featured-area,
	.single-portfolio.sidebar-none #layout,
	.single-portfolio.sidebar-none .post-nav,
	.single-portfolio.sidebar-none #footerwrap {
		width: 100%;
		position: relative !important;
		float: none;
	}
	.single-post.sidebar-none #footerwrap,
	.single-portfolio.sidebar-none #footerwrap {
		margin: 0;
	}
	.single-post .featured-area,
	.single-portfolio .featured-area {
		position: relative;
	}
	.single-post .post-content {
		overflow: hidden !important;
	}
	.post-nav {
		margin-bottom: 1.6em;
		display: block !important;
	}
	.post-nav .prev,
	.post-nav .next {
		width: 100%;
		display: block;
		margin-bottom: 10px;
		clear: both;
	}
	.post-nav a {
		max-width: 100%;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		padding-top: 2.3%;
		padding-bottom: 2.3%;
		font-size: .7em;
	}
	.single-post.sidebar-none .post-nav,
	.single-portfolio.sidebar-none .post-nav {
		padding-right: 11.1%;
	}
	.single-post.sidebar-none .post-nav .prev,
	.single-post.sidebar-none .post-nav .next,
	.single-portfolio.sidebar-none .post-nav .prev,
	.single-portfolio.sidebar-none .post-nav .next {
		margin: 0;
		border-right: none;
	}
	
	.top-excerpt-wrap {
		max-width: none;
		font-size: .9em;
		line-height: normal;
		margin-top: 1em;
	}
	.post-meta {
		font-size: .75em;
		margin:  0 0 1em;
	}
	.post-author {
		margin-bottom: .95em;
	}
	.author-avatar .avatar {
		width: 26px;
	}
	.post-tag {
		margin-top: 1em;
	}

	/* all post title */
	.post-title,
	.loops-wrapper.list-post .post-title,
	.loops-wrapper.grid4 .post-title,
	.loops-wrapper.grid3 .post-title,
	.loops-wrapper.grid2 .post-title,
	.loops-wrapper.grid2-thumb .post-title,
	.loops-wrapper.list-thumb-image .post-title,
	.loops-wrapper.list-large-image .post-title,
	.loops-wrapper.slider .post-title {
		font-size: 1.7em;
	
		margin-bottom: .7em;
}

	/************************************************************************************
	 WOOCOMMERCE
	*************************************************************************************/
	.woocommerce .col2-set .col-1,
	.woocommerce .col2-set .col-2,
	.woocommerce-page .col2-set .col-1,
	.woocommerce-page .col2-set .col-2 {
		float:none;
		width:100%;
	}
	.woocommerce .cart-collaterals .cart_totals,
	.woocommerce .cart-collaterals .cross-sells,
	.woocommerce .cart-collaterals .shipping_calculator,
	.woocommerce-page .cart-collaterals .cart_totals,
	.woocommerce-page .cart-collaterals .cross-sells,
	.woocommerce-page .cart-collaterals .shipping_calculator {
		width:100%;
		float:none;
		text-align: left;
	}
	.woocommerce ul.products {
		width: 100%;
		margin: 0;
	}
	.woocommerce ul.products li.product,
	.woocommerce-page ul.products li.product {
		width: 50% !important;
		margin: 0 0 2.992em 0;
		float: left;
		clear: both;
		padding: 0 3%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.woocommerce ul.products li.product:nth-child(2n),
	.woocommerce-page ul.products li.product:nth-child(2n) {
		float: right;
		clear: none!important;
	}
	.woocommerce ul.products li.product,
	.woocommerce-page ul.products li.product {
		min-height: inherit;
	}
	
}


/************************************************************************************
SPLIT SCROLL
*************************************************************************************/
@media only screen and (min-width: 680px) and (max-width: 1100px)  {
	.split-scroll .themify_builder_content  {
		font-size: .85em; /* make font size smaller for better split scroll design */
		line-height: 1.6em;
	}
	.split-scroll .col4-1 h1,
	.split-scroll .col5-1 h1,
	.split-scroll .col6-1 h1  {
		font-size: 2em;
	}
	.split-scroll .col4-1 h2,
	.split-scroll .col5-1 h2,
	.split-scroll .col6-1 h2  {
		font-size: 1.8em;
	}
	.split-scroll .col4-1 h3,
	.split-scroll .col5-1 h3,
	.split-scroll .col6-1 h3  {
		font-size: 1.4em;
	}
	.split-scroll .col4-1 h4,
	.split-scroll .col5-1 h4,
	.split-scroll .col6-1 h4  {
		font-size: 1.2em;
	}
}

/* reset builder css for col6-1 */
@media (min-width: 680px) and (max-width: 959px) {
	.split-ie .col6-1,
	.split-scroll .col6-1 {
		width: 14%;
	}
	.split-ie .gutter-none .row_inner  > .col6-1,
	.split-scroll .gutter-none .row_inner  > .col6-1 {
		width: 16.7%;
	}
	.split-ie .gutter-narrow .row_inner  > .col6-1,
	.split-scroll .gutter-narrow .row_inner  > .col6-1 {
		width: 15.33%;
	}
}


@media screen and (max-width: 680px) {
	
	/************************************************************************************
	HEADING
	*************************************************************************************/
	h1 {
		font-size: 2em;
	}
	h2 {
		font-size: 1.8em;
	}
	h3 {
		font-size: 1.6em;
	}
	h4 {
		font-size: 1.2em;
	}

	/************************************************************************************
	GRID
	*************************************************************************************/
	.col4-1,
	.col4-2, .col2-1,
	.col4-3,
	.col3-1,
	.col3-2	 {
		margin-left: 0;
		width: 100%;
		max-width: 100%;
	}
	
	/************************************************************************************
	HEADER
	*************************************************************************************/
	/* prevent logo img extend the fixed header on mobile */
	.has-fixed-header #headerwrap #site-logo img {
		width: auto;
		max-height: 40px;
	}

	/************************************************************************************
	POST LAYOUTS
	*************************************************************************************/
	/* all post */
	.shortcode.loops-wrapper.list-post .post,
	.shortcode.loops-wrapper.grid4 .post,
	.shortcode.loops-wrapper.grid3 .post,
	.shortcode.loops-wrapper.grid2 .post,
	.shortcode.grid2-thumb .post,
	.shortcode.list-thumb-image .post,
	.shortcode.list-large-image .post,
	.loops-wrapper.list-post .post,
	.loops-wrapper.grid4 .post,
	.loops-wrapper.grid3 .post,
	.loops-wrapper.grid2 .post,
	.loops-wrapper.grid2-thumb .post,
	.loops-wrapper.list-thumb-image .post,
	.loops-wrapper.list-large-image .post {
		width: 100%;
		margin-left: 0;
		float: none;
	}

	/* slider post */
	.loops-wrapper.slider .post-content {
		position: static;
		background-color: #000;
		padding-top: 10px;
		padding-bottom: 5px;
	}
	.loops-wrapper.slider .post-meta {
		position: static;
	}
	
	/************************************************************************************
	COMMENTS
	*************************************************************************************/
	.commentlist {
		padding-left: 0;
	}
	.commentlist .commententry {
		clear: left;
		max-width: none;
	}
	.commentlist .avatar {
		float: left;
		width: 40px;
		height: 40px;
		margin: 0 1em 1em 0;
	}
	.commentlist .reply {
		position: static;
	}

	/************************************************************************************
	PORTFOLIO
	*************************************************************************************/
	.single-portfolio .project-meta {
		font-size: .9em;
	}

	/************************************************************************************
	FOOTER
	*************************************************************************************/
	.footer-text .one,
	.footer-text .two {
		float: none;
		text-align: left;
	}
	
	/************************************************************************************
	 WOOCOMMERCE
	*************************************************************************************/
	.woocommerce #content table.cart .product-thumbnail,
	.woocommerce table.cart .product-thumbnail,
	.woocommerce-page #content table.cart .product-thumbnail,
	.woocommerce-page table.cart .product-thumbnail,
	.woocommerce table.cart .porduct-price,
	.woocommerce-page table.cart .product-price {
		display: none;
	}
	.woocommerce-cart table.cart td.actions .coupon .input-text {
		float: none;
	}
	.woocommerce-page table.cart td.actions .button,
	.woocommerce-page table.cart td.actions .coupon .input-text + .button {
		float: right;
	}
	.woocommerce div.product .woocommerce-tabs ul.tabs li a {
		padding: .4em 1em;
		font-size: .9em;
	}
	.woocommerce #content div.product div.images,
	.woocommerce #content div.product div.summary,
	.woocommerce div.product div.images,
	.woocommerce div.product div.summary,
	.woocommerce-page #content div.product div.images,
	.woocommerce-page #content div.product div.summary,
	.woocommerce-page div.product div.images,
	.woocommerce-page div.product div.summary {
		float: none;
		width: 100%;
	}
	.woocommerce #content table.cart td.actions .coupon,
	.woocommerce table.cart td.actions .coupon,
	.woocommerce-page #content table.cart td.actions .coupon,
	.woocommerce-page table.cart td.actions .coupon {
		margin-bottom: 1em;
	}
	.woocommerce-page table.cart td.actions .button,
	.woocommerce-page table.cart td.actions .coupon .input-text + .button {
		float: none;
		clear: both;
	}
	
	/************************************************************************************
	 BUILDER
	*************************************************************************************/
	/* custom fullheight map class */
	.fullheight-map .map-container {
		height: 300px !important;
	}
	.full-section-scrolling.themify_builder_active .themify_module_holder,
	body:not(.themify_builder_active).full-section-scrolling .row_inner > .module_column,
	.full-section-scrolling .themify_builder .row_inner {
		height: auto;
		min-height: inherit;
	}
	
}

@media screen and (max-height: 860px) {
	.split-scroll .tb-column  {
		font-size: .85em;
		line-height: 1.4;
	}
	.split-scroll h1  {
		font-size: 2.8em;
	}
	.split-scroll h2  {
		font-size: 2.3em;
	}
	.split-scroll h3  {
		font-size: 1.7em;
	}
	.split-scroll h4  {
		font-size: 1.3em;
	}		
}
@media screen and (max-height: 570px) {
	.split-scroll .footer-widgets {
		max-height: 280px;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
	}
}