/* Layouts */
@import 'variables.less';
/* PAGE LAYOUT
-----------------------------*/
.page-wrapper {
    background-color: @pagecontentbg;
}
.page-template-demo2 {
    .page-wrapper {
        background: #fff;
    }
}
.home.page-template-demo4 {
    .categories-menu.show_home .categories {
        display: none;
    }
    .categories-menu.show_home .morelesscate {
        display: none;
    }
    .page-wrapper {
        background: #fff;
    }
}
.small-body .page-wrapper {
    min-height: 100vh;
    position: relative;
    .footer {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
    }
}
.heightzero {
    height: 0;
    overflow: hidden;
}
.wrapper .vc_row.full-width {
    .row-container {
        margin-left: 0;
        margin-right: 0;
        max-width: 100% !important; // override 
        padding-left: 0 !important;
        padding-right: 0 !important;
        width: 100%;
    }
}
.wrapper .no-gap {
    margin-left: 0;
    margin-right: 0;
    .row-container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .vc_column-inner {
        padding-left: 0;
        padding-right: 0;
    }
}
.wrapper {
    .vc_col-has-fill > .vc_column-inner,
    .vc_row-has-fill > .vc_column_container > .vc_column-inner {
        padding-top: 0;
    }
    .vc_column_container > .vc_column-inner {
        width: auto;
    }
}
/* IMAGE HOVER 
-----------------------------*/
// Image hover effect (in main-container, not include header, footer -> logo, image payment)
.main-container .wpb_single_image {
    > .wpb_wrapper {
        max-width: 100%; // for responsive FF and IE
        overflow: hidden;
    }
}
.main-container {
    .wpb_single_image a,
    .image-hover-effect {
        .image-hover-effect();
    }
}
/* ICON
-----------------------------*/
.wrapper i.icon {
    display: inline-block;
    height: auto;
    line-height: inherit;
    margin: 0;
    vertical-align: middle;
    width: auto;
}
/* SLIDER REVOLUTION
-----------------------------*/
.wrapper .wpb_revslider_element {
    .tp-caption {
        a {
            color: inherit;
            display: block;
            position: relative;
            .transition(inherit);
            &:hover {
                color: inherit;
            }
        }
        i {
            font-size: 16px;
            line-height: inherit !important;
            margin-left: 5px;
            vertical-align: top;
        }
    }
}
/* PRODUCT CAROUSEL GENERAL
-----------------------------*/
[class*='products-carousel'] {
    .columns-1 {
        .shop-products {
            .item-col {
                margin-bottom: 0;
            }
        }
    }
    // item col have equal height
    .slick-track {
        display: -webkit-box;
        display:    -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display:         flex;
        .item-col {
            height: auto;
        }
        .product-wrapper {
            min-height: 100%;
        }
    }
    .shop-products {
        .clearfix();
        .item-col {
            margin-bottom: 30px;
            width: 500px;
            &.first {
                clear: none;
            }
            &.last {
                margin-bottom: 0;
            }
        }
        .group {
            .item-col {
                max-width: 600px;
                padding: 0;
                width: 100%;
            }
        }
    }
}
/* HOME TABS GENERAL
-----------------------------*/
[class*='home-tabs'] {
    .wpb_content_element {
        display: none;
    }
    .shop-products {
        .group {
            .item-col {
                margin: 0 0 45px;
                width: 100%;
                &:last-child {
                    margin: 0;
                }
            }
        }
        .item-col {
            margin: 0;
            &.first {
                clear: none;
            }
        }
    }
}
/* BLOG CAROUSEL
-----------------------------*/
.latest-posts {
    .group {
        .item-col {
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .post-wrapper {
        .clearfix();
    }
    .post-thumb {
        margin-bottom: 18px;
        a {
            .image-hover-effect();
        }
    }
    .post-title {
        font-family: @headingfont;
        font-size: 1.143em;
        font-weight: @headingfontweight;
        margin-bottom: 11px;
        a {
            color: @darkcolor;
            &:hover {
                color: @linkhovercolor;
            }
        }
    }
    .post-meta {
        color: @greycolor;
        font-size: .857em;
        line-height: normal;
        margin-bottom: 18px;
        .clearfix();
    }
    .post-date,
    .post-slash,
    .post-comment {
        float: left;
    }
    .post-date {
        .day {
            &:after {
                content: ',';
                display: inline;
                margin: 0 2px 0 -2px;
            }
        }
    }
    .post-slash {
        margin: 0 5px;
    }
    .post-comment {
        a {
            color: @greycolor;
            &:hover {
                color: @linkhovercolor;
            }
        }
    }
    .post-excerpt {
        color: #515151;
        font-size: .929em;
        line-height: 1.6;
    }
}
/* BRAND CAROUSEL
-----------------------------*/
.brands-carousel {
    &.slick-slider {
        margin: 0;
        .slick-slide {
            padding: 0;
            text-align: center;
        }
        .slick-next,
        .slick-prev {
            top: 50%;
            .transform(translateY(-50%));
        }
        .slick-prev {
            left: 15px;
            right: auto;
        }
        .slick-next {
            left: auto;
            right: 15px;
        }
    }
    a {
        &:hover {
            img {
                .transform(scale(1.1));
            }
        }
        img {
            .transition();
        }
    }
}
/* LAYOUT1
-----------------------------*/
/* policy */
.policy.layout1 {
    .vc_row {
        float: left;
        margin: 0;
        width: 20%;
        &:first-child {
            .wpb_text_column {
                &:before {
                    display: none;
                }
            }
        }
        .vc_column-inner {
            padding: 0;
        }
    }
    .wpb_text_column {
        margin: 0;
        padding: 0 15px;
        position: relative;
        text-align: center;
        &:before {
            background: @bordercolor;
            content: '';
            display: block;
            height: 34px;
            left: 0;
            position: absolute;
            top: 50%;
            width: 1px;
            .transform(translateY(-50%));
        }
        .wpb_wrapper {
            display: inline-block;
            padding-left: 45px;
            position: relative;
            text-align: left;
        }
        div.icon {
            left: 0;
            position: absolute;
            top: 50%;
            .transform(translateY(-50%));
            i {
                color: @primarycolor;
                font-size: 0;
                line-height: 1;
                &:before {
                    font-size: 36px;
                }
            }
        }
        h3 {
            color: @darkcolor;
            font-size: 15px;
            font-weight: 600;
            margin-bottom: 0;
            text-transform: uppercase;
        }
        p {
            font-size: 14px;
        }
    }
}
/* product countdown */
.products-countdown.layout1 {
    .product-wrapper {
        &.gridview {
            display: none;
        }
        &.listview {
            display: block;
            .list-col4 {
                float: left;
                width: 40%;
                .quickviewbtn {
                    display: block;
                }
            }
            .list-col8 {
                display: block;
                float: left;
                padding: 30px 30px 30px 15px;
                width: 60%;
                .product-info,
                .actions-wrapper {
                    float: none;
                    padding: 0;
                    width: 100%;
                }
                .actions-wrapper {
                    border: none;
                    padding: 0;
                }
                .price {
                    ins,
                    del {
                        display: inline-block;
                        margin: 0;
                        vertical-align: middle;
                        width: auto;
                    }
                    del {
                        padding-top: 5px;
                    }
                }
                .add-to-cart,
                .actions {
                    display: none;
                }
                .count-down {
                    display: block;
                }
            }
        }
    }
}
/* product list */
.products-list {
    .slick-slider.shop-products {
        .slick-list {
            margin-bottom: 0;
            .slick-track {
                padding-bottom: 0; 
            }
        }
        .item-col {
            margin-bottom: 0;
        }
    }
    .product-wrapper {
        &:hover {
            .star-rating {
                .opacity(0);
            }
            .add-to-cart {
                .opacity(1);
            }
        }
    }
    .gridview {
        display: none;
    }
    .listview {
        padding: 10px 0;
        display: block;
        .list-col4 {
            float: left;
            width: 40%;
            padding: 0;
        }
        .list-col8 {
            float: left;
            padding-bottom: 55px;
            padding-top: 25px;
            position: relative;
            width: 60%;
            .product-info,
            .actions-wrapper {
                float: none;
                padding: 0;
                width: 100%;
            }
            .actions-wrapper {
                border: none;
            }
        }
        .onsale,
        .product-desc,
        .actions {
            display: none;
        }
        .product-name {
            color: @darkcolor;
            font-size: 15px;
            font-weight: normal;
            margin-bottom: 13px;
            &:hover {
                color: @linkhovercolor;
            }
        }
        .star-rating {
            bottom: 10px;
            position: absolute;
            .transition();
        }
        .list-col8 span.price {
            font-size: 20px;
            margin: 0;
            ins,
            del {
                display: inline-block;
                width: auto;
            }
            del {
                font-size: .8em;
                margin: 0;
            }
        }
        .add-to-cart {
            bottom: 0;
            left: 15px;
            margin: 0;
            position: absolute;
            .opacity(0);
            .transition();
        }
        .add_to_cart_inline {
            a {
                background: none;
                border: 2px solid @bordercolor;
                color: @darkcolor;
                display: inline-block;
                font-size: 15px;
                font-weight: normal;
                padding: 0 25px;
                width: auto;
                &:hover {
                    background: @primarycolor;
                    border-color: @primarycolor;
                    color: @white;
                }
            }
        }
    }
}
/* hometab layout1 */
.hometab {
    .vc_tta-tabs-container {
        margin: 0 !important;
        width: 20%;
    }
    .vc_tta-panels-container {
        background: @white;
        overflow: hidden;
        width: 80%;
        .vc_tta-panels {
            background: none !important;
            border: none !important;
            border-radius: 0 !important;
            display: table;
            height: 100%;
        }
        .vc_tta-panel {
            display: table-cell !important;
            margin: 0 !important;
            vertical-align: middle;
        }
    }
    .vc_tta-tabs-list {
        li {
            background: @white;
            float: left;
            margin: 0 !important;
            padding: 0 !important;
            text-align: center;
            width: 50%;
            a {
                background: transparent !important;
                border: none !important;
                border-bottom: 1px solid @bordercolor !important;
                border-radius: 0 !important;
                border-right: 1px solid @bordercolor !important;
                display: table !important;
                font-size: 13px;
                height: 135px;
                margin: 0 !important;
                padding: 0 !important;
                text-transform: uppercase;
                width: 100%;
                &:before,
                &:after {
                    display: none;
                }
                .vc_tta-title-text {
                    background: no-repeat center center;
                    background-size: cover;
                    display: block;
                    display: table-cell;
                    vertical-align: middle;
                    width: 100%;
                    &:before {
                        content: '';
                        display: block;
                        font-family: 'Ionicons';
                        font-size: 36px;
                        height: 30px;
                        line-height: 30px;
                        margin: auto;
                        text-align: center;
                        width: 30px;
                    }
                }
                &:hover {
                    background: @primarycolor !important;
                    color: @white !important;
                }
            }
            &:first-child {
                a {
                    .vc_tta-title-text {
                        &:before {
                            content: '\f43a';
                        }
                    }
                }
            }
            &:nth-child(2) {
                a {
                    .vc_tta-title-text {
                        &:before {
                            content: '\f465';
                        }
                    }
                }
            }
            &:nth-child(3) {
                a {
                    .vc_tta-title-text {
                        &:before {
                            content: '\f1fa';
                        }
                    }
                }
            }
            &:nth-child(4) {
                a {
                    .vc_tta-title-text {
                        &:before {
                            content: '\f3f5';
                        }
                    }
                }
            }
            &:nth-child(5) {
                a {
                    .vc_tta-title-text {
                        &:before {
                            content: '\f490';
                        }
                    }
                }
            }
            &:nth-child(6) {
                a {
                    .vc_tta-title-text {
                        &:before {
                            content: '\f460';
                        }
                    }
                }
            }
        }
    }
    .vc_tta-panel-body {
        overflow: visible !important; // for hover, override
        padding: 0 !important; // override
        img {
            margin: 0;
        }
    }
}
/* testimonial */
.testimonials-container.layout1 {
    .testimonials {
        .slick-slider {
            background: #292929;
            margin-left: 0;
            margin-right: 0;
            .slick-prev {
                left: auto;
                right: 30px;
            }
            .slick-next {
                left: auto;
                right: 0;
            }
        }
        // remove padding and margin
        .slick-list {
            padding: 0;
            padding: 0;
        }
        // style
        .slick-dots {
            margin-top: 25px;
            padding: 0;
        }
        .slick-slide {
            display: block;
            font-size: 15px;
            padding: 45px 35px;
            width: 100%;
        }
        .avatar,
        .avatar-link {
            display: block;
            height: 107px;
            margin: 0 auto 35px auto;
            width: 107px;
            .border-radius(100%);
        }
        .testimonials-text {
            background: none;
            border: none;
            color: #d0d0d0; // override
            font-size: 1em;
            font-style: italic;
            line-height: 1.6;
            margin-bottom: 25px;
            padding: 0;
            text-align: center;
            p {
                &:before,
                &:after {
                    content: ' " ';
                    display: inline-block;
                    font-weight: bold;
                    margin: 0 5px;
                }
                &:before {
                    margin-left: 0;
                }
                &:after {
                    margin-right: 0;
                }
            }
        }
        .author {
            display: block;
            position: relative;
            text-align: center;
            span[data-itemprop='name'] {
                color: @white;
                display: block;
                font-size: 15px;
                font-weight: 600;
                margin: auto;
                &:before,
                &:after {
                    content: '-';
                    display: inline-block;
                    margin: 0 5px;
                }
            }
            span.title {
                color: @white;
                display: none;
                font-size: .857em;
                font-weight: normal;
                margin: 0;
                margin: auto;
            }
            a {
                color: @primarycolor;
                display: block;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
/* LAYOUT2
-----------------------------*/
.slider-banner.layout2 {
    .wpb_single_image {
        margin-bottom: 30px;
    }
}
.sidebar.layout2 {
    .wpb_text_column {
        margin-bottom: 0;
        h3 {
            background: #ffcd38;
            color: @darkcolor;
            font-size: 18px;
            font-weight: 600;
            margin: 0;
            padding: 15px 18px;
            text-transform: uppercase;
        }
    }
    .slick-slider {
        margin-left: 0;
        margin-right: 0;
        .item-col {
            padding-left: 0;
            padding-right: 0;
        }
        .slick-prev,
        .slick-next {
            color: @darkcolor;
            &:hover {
                color: @primarycolor;
            }
        }
        .slick-prev {
            left: auto;
            right: 40px;
        }
        .slick-next {
            left: auto;
            right: 15px;
        }
    }
}
[class*='products-carousel'].layout2 {
    .wpb_wrapper > .woocommerce {
        background: @white;
        border: 1px solid @bordercolor;
        padding: 2px;
    }
}
/* top product category layout2 */
.top-category.layout2 {
    .wpb_column {
        margin-bottom: 35px;
    }
    .vc_column-inner {
        > .wpb_wrapper {
            background: @white;
            border: 1px solid @bordercolor;
        }
    }
    .wpb_single_image {
        text-align: center;
    }
    .wpb_text_column {
        text-align: center;
        a {
            color: @darkcolor;
            font-size: 16px;
            font-weight: 600;
            text-transform: uppercase;
            &:hover {
                color: @linkhovercolor;
            }
        }
    }
}
/* products-carousel-1 layout2 */
.products-carousel-1.layout2 {
    .shop-products .gridview {
        .box-shadow(none);
        .clearfix();
        &:hover {
            margin: 0;
            padding: 0;
        }
        .list-col4 {
            float: left;
            width: 38%;
        }
        .list-col8 {
            padding: 0 15px;
            float: left;
            width: 62%;
        }
        .product-name {
            line-height: 1.4;
        }
        .onsale,
        .quickviewbtn,
        .product-hidden {
            display: none;
        }
    }
}
.category-container.layout2 {
    .categories-menu-wrapper {
        .categories-menu-inner {
            position: static;
            .catemenu-toggler {
                background: @primarycolor;
                span {
                    display: block;
                    height: 100%;
                    position: relative;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.18);
                    &:before {
                        margin: 0;
                        position: absolute;
                        right: 0;
                    }
                }
            }
        }
        .categories-menu .categories > .menu_holder > .menu_inner > ul > li {
            &.current-menu-ancestor,
            &.current-menu-item,
            &.current-product-ancestor,
            &:hover {
                > a.item_link .link_text, > a.item_link:after {
                    color: @white;
                }
            }
        }
    }
    .categories-menu-wrapper .categories-menu .categories > .menu_holder .menu_inner > ul > li > a.item_link {
        border-color: rgba(255, 255, 255, 0.1);
    }
}
/* testimonial */
.testimonials-container.layout2 {
    > .wpb_column {
        > .vc_column-inner {
            > .wpb_wrapper {
                background: @white;
                border: 1px solid @bordercolor;
            }
        }
    }
    .slick-slider {
        margin-bottom: 0;
    }
    .testimonials {
        // remove padding and margin
        .slick-list {
            padding: 0;
            padding: 0;
        }
        // style
        .slick-dots {
            margin-top: 25px;
            padding: 0;
        }
        .slick-slide {
            display: block;
            font-size: 15px;
            padding: 45px 35px;
            width: 100%;
        }
        .avatar,
        .avatar-link {
            display: block;
            height: 107px;
            margin: 0 auto 30px auto;
            width: 107px;
            .border-radius(100%);
        }
        .testimonials-text {
            background: none;
            border: none;
            color: @darkcolor; // override
            font-size: 15px;
            font-style: italic;
            line-height: 1.6;
            margin-bottom: 25px;
            padding: 0;
            text-align: center;
            p {
                &:before,
                &:after {
                    content: ' " ';
                    display: inline-block;
                    font-weight: bold;
                    margin: 0 5px;
                }
                &:before {
                    margin-left: 0;
                }
                &:after {
                    margin-right: 0;
                }
            }
        }
        .author {
            display: block;
            position: relative;
            text-align: center;
            span[data-itemprop='name'] {
                color: @primarycolor;
                display: block;
                font-size: 15px;
                font-weight: 600;
                margin: auto;
                &:before,
                &:after {
                    content: '-';
                    display: inline-block;
                    margin: 0 5px;
                }
            }
            span.title {
                color: @white;
                display: none;
                font-size: .857em;
                font-weight: normal;
                margin: 0;
                margin: auto;
            }
            a {
                color: @primarycolor;
                display: block;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
/* home tab */
.home-tabs.layout2 {
    margin-bottom: 60px;
    .home-tabs-title {
        list-style-type: none;
        margin-bottom: 20px;
        padding: 0;
        li {
            display: inline-block;
            margin: 0 40px 0 0;
            vertical-align: middle;
            &:last-child {
                margin: 0;
            }
            a {
                color: #838383;
                cursor: pointer;
                font-family: @headingfont;
                font-size: 20px;
                font-weight: 600;
                position: relative;
                text-transform: uppercase;
                &:hover,
                &.active {
                    color: @darkcolor;
                }
            }
        }
    }
    .vc_column-inner > .wpb_wrapper > .woocommerce {
        background: @white;
        border: 1px solid @bordercolor;
        padding: 2px;
        &.heightzero {
            border: none;
        }
    }
}
.products-list.layout2 {
    .wpb_wrapper > .woocommerce {
        border: 1px solid @bordercolor;
        margin-bottom: 35px;
    }
    .slick-slider {
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        max-width: 99.5%; // fix border
        .slick-slide {
            padding-left: 0;
            padding-right: 0;
        }
        .slick-prev {
            left: auto;
            right: 30px;
        }
        .slick-next {
            left: auto;
            right: 0;
        }
    }
}
/* LAYOUT3
-----------------------------*/
/* products-carousel-1 layout3 */
.products-carousel-1.layout3 {
    > .vc_column-inner {
        > .wpb_wrapper {
            background: @white;
            padding: 15px 20px;
        }
    }
    .slick-slider {
        margin-bottom: 0;
        .slick-list {
            padding: 0;
        }
    }
    .shop-products .gridview {
        margin: 0;
        padding: 0;
        .box-shadow(none);
        .count-down {
            display: block;
        }
        .list-col8 {
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 10px;
        }
        .product-hidden {
            display: none !important;
        }
    }
}
/* policy layout3 */
.policy.layout3 {
    .vc_row {
        float: left;
        margin: 0;
        width: 20%;
        &:first-child {
            .wpb_text_column {
                &:before {
                    display: none;
                }
            }
        }
        .vc_column-inner {
            padding: 0;
        }
    }
    .wpb_text_column {
        margin: 0;
        position: relative;
        text-align: center;
        &:before {
            background: @bordercolor;
            content: '';
            display: block;
            height: 34px;
            left: 0;
            position: absolute;
            top: 50%;
            width: 1px;
            .transform(translateY(-50%));
        }
        .wpb_wrapper {
            display: inline-block;
            padding-left: 45px;
            position: relative;
            text-align: left;
        }
        div.icon {
            left: 0;
            position: absolute;
            top: 50%;
            .transform(translateY(-50%));
            i {
                color: @primarycolor;
                font-size: 0;
                line-height: 1;
                &:before {
                    font-size: 36px;
                }
            }
        }
        h3 {
            color: @darkcolor;
            font-size: 15px;
            font-weight: 600;
            margin-bottom: 0;
            text-transform: uppercase;
        }
        p {
            font-size: 14px;
        }
    }
}
.top-category.layout3 {
    .row-container {
        > .wpb_column > .vc_column-inner > .wpb_wrapper {
            background: @white;
            padding: 20px;
        }
    }
    .vc_row {
        margin-bottom: 0;
    }
    .wpb_single_image {
        text-align: center;
    }
    .wpb_text_column {
        margin-bottom: 0;
        text-align: center;
        a {
            color: @darkcolor;
            font-size: 16px;
            font-weight: 600;
            text-transform: uppercase;
            &:hover {
                color: @linkhovercolor;
            }
        }
    }
    [class*='title'] {
        margin-bottom: 15px;
        text-align: left;
    }
}
.products-carousel-2.layout3 {
    .row-container {
        > .wpb_column > .vc_column-inner > .wpb_wrapper {
            background: @white;
            margin-bottom: 35px;
            padding: 20px;
            padding-bottom: 5px;
        }
    }
    .slick-slider {
        margin-bottom: 0;
    }
}
/* home tab layout 3 */
.tabs-container.layout3 {
    .row-container {
        > .wpb_column > .vc_column-inner > .wpb_wrapper {
            background: @white;
            margin-bottom: 35px;
            padding: 20px;
            padding-bottom: 0;
            .vc_row {
                margin-bottom: 0;
            }
        }
    }
    .slick-slider {
        margin-bottom: 0;
        .slick-next {
            right: 15px;   
        }
        .slick-prev {
            right: 45px;
        }
    }
}
.home-tabs.layout3 {
    .container {
        width: 100%;
    }
    .home-tabs-title {
        border-bottom: 1px solid @bordercolor;
        list-style-type: none;
        margin-bottom: 0;
        padding: 0;
        li {
            display: inline-block;
            margin: 0 40px 0 0;
            vertical-align: middle;
            &:last-child {
                margin: 0;
            }
            a {
                color: #838383;
                cursor: pointer;
                display: block;
                font-family: @headingfont;
                font-size: 20px;
                font-weight: 600;
                padding-bottom: 15px;
                position: relative;
                text-transform: uppercase;
                &:hover,
                &.active {
                    color: @darkcolor;
                    &:after {
                        left: 0;
                        right: 0;
                        width: 100%;
                    }
                }
                &:after {
                    background: @primarycolor;
                    bottom: 0;
                    content: '';
                    display: block;
                    height: 1px;
                    left: 50%;
                    position: absolute;
                    right: 50%;
                    width: 0;
                    z-index: 2;
                    .transition();
                }
            }
        }
    }
}
.products-list.layout3 {
    .vc_column-inner {
        > .wpb_wrapper {
            background: @white;
            margin-bottom: 35px;
        }
    }
    .slick-slider {
        margin-bottom: 0;
        .slick-prev {
            right: 60px;
            left: auto;
        }
        .slick-next {
            left: auto;
            right: 30px;
        }
    }
    .wpb_text_column {
        padding: 15px 15px 0 15px;
    }
}
/* LAYOUT4
-----------------------------*/
.static-block.layout4 {
    .vc_column-inner {
        > .wpb_wrapper {
            position: relative;
            &:hover {
                .wpb_text_column {
                    .opacity(1);
                }
                .wpb_single_image {
                    a:before {
                        .opacity(1);
                    }
                }
            }
        }
    }
    .wpb_text_column {
        left: 50%;
        margin: 0;
        margin-right: -50%;
        max-width: 80%;
        pointer-events: none;
        position: absolute;
        text-align: center;
        top: 50%;
        z-index: 3;
        .transform(translate(-50%, -50%));
        .opacity(0);
        h3 {
            color: @white;
            font-size: 36px;
            font-weight: 600;
            text-transform: uppercase;
        }
    }
    .wpb_single_image {
        a {
            position: relative;
            &:before {
                background: fade(@primarycolor, 50%);
                bottom: 0;
                content: '';
                left: 0;
                right: 0;
                top: 0;
                z-index: 2;
                display: block;
                position: absolute;
                .opacity(0);
                .transition();
            }
        }
    }
}
.products-countdown.layout4 {
    .slick-slider {
        margin: 0;
    }
    .gridview {
        display: none;
    }
    .listview {
        display: block;
        .list-col4 {
            float: left;
            width: 40%;
        }
        .list-col8 {
            float: left;
            width: 60%;
        }
        .product-info {
            float: none;
            width: 100%;
        }
        .actions-wrapper {
            display: none;
        }
        .count-down {
            display: block;
        }
    }
}
/* product list layout4 */
.products-list.layout4 {
    .listview {
        .product-name {
            font-size: 15px;
            font-weight: normal;
        }
    }
    .vc_column-inner > .wpb_wrapper > .woocommerce {
        border-top: 1px solid @bordercolor;
        margin-bottom: 35px;
    }
    .slick-slider {
        margin-bottom: 0;
    }
}
