/* Less Variables */
@import 'variables.less';
.main-container {
    // Front page
    &.front-page {
        .page-content {
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }
    // Full width template
    &.full-width {
        blockquote {
            background: @white;
            border: 1px solid @bordercolor;
            border-left: 5px solid @primarycolor;
            font-size: 14px;
            font-style: italic;
            line-height: 26px;
            margin: 40px 0 40px 40px;
            padding: 30px 45px;
        }
    }
    // Default page template
    &.default-page {
        blockquote {
            background: @white;
            border: 1px solid @bordercolor;
            border-left: 5px solid @primarycolor;
            font-size: 14px;
            font-style: italic;
            line-height: 26px;
            margin: 40px 0 40px 40px;
            padding: 30px 45px;
        }
        .entry-content {
            .clearfix();
        }
        .comments-area {
            clear: both;
            margin: 60px 0;
            width: 100%;
            .comments-title,
            .comment-reply-title {
                padding: 30px 0 0 0;
                font-size: 24px;
                margin: 0 0 10px;
                text-transform: uppercase;
            }
            .commentlist {
                margin: 0;
                padding: 0;
                li {
                    list-style: none;
                    article.comment {
                        background: @white;
                        border: 1px solid @bordercolor;
                        margin: 0 0 20px;
                        padding: 30px;
                        width: 100%;
                        .comment-avatar {
                            float: left;
                            margin-right: 20px;
                        }
                        .comment-info {
                            border: none;
                            overflow: hidden;
                            position: relative;
                            .reply {
                                display: inline-block;
                                float: right;
                                position: absolute;
                                right: 0;
                                top: 0;
                                a {
                                    background: none;
                                    border: 1px solid @primarycolor;
                                    box-shadow: none;
                                    color: @primarycolor;
                                    display: inline-block;
                                    font-family: @headingfont;
                                    font-size: .8em;
                                    font-weight: bold;
                                    height: 28px;
                                    line-height: 26px;
                                    padding: 0 20px;
                                    text-shadow: none;
                                    text-transform: uppercase;
                                    -webkit-transition: all .3s ease;
                                            transition: all .3s ease;
                                    white-space: nowrap;
                                    .border-radius(500px);
                                    &:hover {
                                        background: @primarycolor;
                                        border-color: @primarycolor;
                                        color: #fff;
                                    }
                                }
                            }
                        }
                    }
                }
                .comment-meta {
                    color: @greycolor;
                    float: left;
                    margin: 0 0 15px;
                    width: 100%;
                    img {
                        margin-right: 10px;
                    }
                    cite {
                        display: block;
                        .fn {
                            a {
                                color: @darkcolor;
                                &:hover {
                                    color: @linkhovercolor;
                                }
                            }
                        }
                        span {
                            display: none;
                        }
                    }
                    time {
                        display: block;
                        font-size: .93em;
                        font-style: italic;
                    }
                }
                .comment-content {
                    color: @greycolor;
                    ul, ol {
                        li {
                            list-style-type: inherit;
                        }
                    }
                    p:last-child {
                        margin-bottom: 0;
                    }
                    .edit-link a {
                        color: @primarycolor;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
            .comment-respond {
                margin: 40px 0 50px 0;
                width: 100%;
                .comment-form {
                    label {
                        color: @greycolor;
                        display: block;
                        margin: 0 0 5px;
                    }
                    .comment-notes,
                    .form-allowed-tags {
                        color: @greycolor;
                        font-size: 12px;
                    }
                    .comment-input {
                        margin: 0 -10px;
                    }
                    .comment-form-author,
                    .comment-form-email,
                    .comment-form-url {
                        float: left;
                        padding: 0 10px;
                        width: 33.3333%;
                        margin-bottom: 30px;
                        input {
                            width: 100%;
                        }
                    }
                    #comment {
                        border: 1px solid @bordercolor;
                        height: 130px;
                        width: 100%;
                        background: @white;
                    }
                    .form-submit {
                        margin-top: 25px;
                    }
                }
            }
            .comment-form {
                label {
                    color: @greycolor;
                    display: block;
                }
                .comment-notes,
                .form-allowed-tags {
                    color: @greycolor;
                    font-size: 12px;
                }
                .comment-input {
                    margin: 0 -10px;
                }
                .comment-form-author,
                .comment-form-email,
                .comment-form-url {
                    float: left;
                    padding: 0 10px;
                    width: 33.3333%;
                    margin-bottom: 30px;
                    input {
                        width: 100%;
                    }
                }
                #comment {
                    border: 1px solid @bordercolor;
                    height: 130px;
                    width: 100%;
                    background: @white;
                }
                .logged-in-as {
                    a {
                        color: @primarycolor;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
            .form-submit {
                margin-top: 20px;
            }
            .logged-in-as {
                a {
                    color: @primarycolor;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    /* Error 404 page */
    &.error404 {
        border-top: 1px solid #f0f0f0;
        min-height: 200px;
        text-align: center;
        .search-form-wrapper {
            padding: 112px 0;
            h1 {
                color: @primarycolor;
                font-size: 200px;
                font-weight: 900;
                letter-spacing: 10px;
                line-height: 1.1;
                margin: 0 0 30px;
            }
            h2 {
                color: @darkcolor;
                font-size: 35px;
                text-transform: uppercase;
            }
            p {
                color: @darkcolor;
                font-size: 22px;
                font-weight: 300;
                margin: 20px auto 30px;
                text-align: center;
                width: 60%;
            }
            #blogsearchform {
                .form-input {
                    margin-left: auto;
                    margin-right: auto;
                    .input_text,
                    .button {
                        height: 50px;
                        line-height: 50px;
                    }
                }
            }
            a.button {
                background: @primarycolor;
                border-radius: 35px;
                box-shadow: none;
                color: #fff;
                display: inline-block;
                font-size: 14px;
                font-weight: bold;
                height: 40px;
                line-height: 40px;
                margin-top: 60px;
                padding: 0 30px;
                text-shadow: none;
                text-transform: uppercase;
                -webkit-transition: all .3s ease;
                        transition: all .3s ease;
                white-space: nowrap;
                &:hover {
                    background: #333;
                }
            }
        }
    }
    .entry-content {
        .clearfix();
    }
    .page-links {
        clear: both;
        margin: 15px 0;
        a {
            background: @darkcolor;
            border-bottom: 2px solid transparent;
            color: @white;
            display: inline-block;
            font-family: @headingfont;
            font-size: 12px;
            height: 36px;
            line-height: 34px;
            padding: 0;
            text-align: center;
            text-transform: uppercase;
            width: 36px;
            &:hover {
                background: @primarycolor;
                color: @white;
            }
        }
        & > span {
            background: @primarycolor;
            border-bottom: 2px solid transparent;
            color: @white;
            display: inline-block;
            font-family: @headingfont;
            font-size: 12px;
            height: 36px;
            line-height: 34px;
            padding: 0;
            text-align: center;
            text-transform: uppercase;
            width: 36px;
        }
    }
    /* BLOG PAGE
    -----------------------------*/
    .blog-page {
        &.blog-sidebar {
            .post-thumbnail {
                margin: 0 0 50px;
                width: 100%;
            }
        }
        &.blog-nosidebar {
            article {
                margin: 0 0 40px 0;
                width: 100%;
            }
        }
        .post,
        article {
            background: @white;
            border: 1px solid @bordercolor;
            margin: 0 0 60px;
            padding: 45px 30px;
            width: 100%;
            &.sticky,
            &.tag-sticky-2 {
                .entry-title a {
                    color: @primarycolor;
                    &:before {
                        content: '\f005';
                        display: inline-block;
                        font-family: FontAwesome;
                        font-size: 8px;
                        margin-right: 5px;
                        vertical-align: top;
                    }
                }
            }
            &:last-of-type {
                margin-bottom: 0;
            }
            .entry-title {
                font-size: 27px;
                margin-bottom: 10px;
            }
            .post-thumbnail {
                margin: 30px 0;
                position: relative;
                text-align: center;
                .su-slider-centered {
                    margin-bottom: 0;
                }
                .su-responsive-media-yes {
                    margin-bottom: 0;
                }
                .su-slider-slide-title {
                    display: none;
                }
            }
            .postinfo-wrapper {
                padding: 0;
                &.no-thumbnail {
                    padding: 0;
                    width: 100%;
                }
            }
            .searchform {
                .form-input {
                    .input_text {
                        height: 40px;
                    }
                }
            }
        }
        .entry-header {
            background: none;
            border: none;
            float: none;
            margin: 0 0 30px;
            position: relative;
            text-align: center;
        }
        .entry-title {
            font-size: 35px;
            font-weight: @headingfontweight;
            padding: 0;
            text-transform: none;
            text-transform: uppercase;
            &:after {
                display: none;
            }
            a {
                color: @headingcolor;
                &:hover {
                    color: @primarycolor;
                }
            }
        }
        .su-responsive-media-yes {
            margin-bottom: 0;
        }
        .player {
            margin-bottom: 20px;
            width: 100%;
        }
        .su-audio {
            margin: auto;
        }
        .archive-title {
            font-size: 30px;
            margin: 0 0 10px;
            padding: 0;
        }
        .entry-summary {
            color: @textcolor;
            text-align: center;
        }
        .entry-summary,
        .entry-content {
            font-size: 15px;
            margin: 0;
            width: 100%;
        }
        .post-password-form {
            label {
                float: left;
                height: 40px;
                line-height: 40px;
                input {
                    border: 1px solid @bordercolor;
                    height: 40px;
                    margin-left: 5px;
                    padding: 0 10px;
                }
            }
            input[type='submit'] {
                background: @primarycolor;
                border: none;
                color: @white;
                font-weight: @headingfontweight;
                height: 40px;
                line-height: 40px;
                margin-left: 5px;
                padding: 0 30px;
                text-align: center;
                &:hover {
                    background: darken(@primarycolor, 10%);
                }
            }
        }
        blockquote {
            background: @white;
            border: 1px solid @bordercolor;
            border-left: 5px solid @primarycolor;
            font-size: 14px;
            font-style: italic;
            line-height: 26px;
            margin: 40px 0 40px 40px;
            padding: 30px 45px;
        }
        .post-date {
            color: darken(@greycolor, 5%);
            display: inline-block;
            font-size: 0.93em;
            vertical-align: middle;
            &:before {
                content: '\f073';
                display: inline-block;
                font-family: FontAwesome;
                margin-right: 5px;
                vertical-align: top;
            }
        }
        .post-category {
            color: @primarycolor;
            display: block;
            font-size: 13px;
            font-weight: normal;
            margin-bottom: 10px;
            text-transform: uppercase;
            &:before {
                content: '\f07b';
                display: inline-block;
                font-family: FontAwesome;
                margin-right: 5px;
            }
            a {
                color: @primarycolor;
                text-decoration: underline;
                &:hover {
                    color: @darkcolor;
                }
            }
        }
        .post-separator {
            color: darken(@greycolor, 5%);
            display: inline-block;
            margin: 0 10px;
            vertical-align: middle;
        }
        .post-author {
            color: darken(@greycolor, 5%);
            display: inline-block;
            font-size: 0.93em;
            vertical-align: middle;
            &:before {
                content: '\f007';
                display: inline-block;
                font-family: FontAwesome;
                margin-right: 5px;
                vertical-align: top;
            }
        }
        .readmore {
            margin-top: 35px;
        }
        a.button {
            background: @primarycolor;
            border: 0;
            color: #fff;
            font-size: 12px;
            height: 40px;
            line-height: 40px;
            &:hover {
                background: #333;
            }
        }
        .entry-meta {
            border-bottom: 1px solid @bordercolor;
            border-top: 1px solid @bordercolor;
            color: @greycolor;
            font-family: @headingfont;
            font-size: 12px;
            margin: 0 0 30px;
            padding: 5px 0;
            width: 100%;
            a {
                color: @greycolor;
                &:hover {
                    color: @primarycolor;
                }
            }
        }
        .entry-meta {
            margin: 0 0 30px;
        }
        .social-sharing {
            margin: 40px 0;
            text-align: center;
            width: 100%;
            .widget_socialsharing_widget {
                display: inline-block;
            }
            .widget-title {
                background: none;
                color: darken(@greycolor, 5%);
                font-size: 12px;
                line-height: 26px;
                margin: 0 20px;
                text-transform: uppercase;
                width: auto;
            }
            .social-icons {
                float: left;
                margin: 10px 0 20px;
                padding: 0;
                li {
                    float: left;
                    list-style: none;
                    position: relative;
                    &:first-child {
                        border-left: none;
                    }
                    .begetip {
                        line-height: 1.5;
                    }
                    .social-icon {
                        background: #f7f7f7;
                        border-radius: 100%;
                        border-radius: 100%;
                        color: #353535;
                        display: inline-block;
                        font-size: 12px;
                        height: 26px;
                        line-height: 26px;
                        margin-right: 10px;
                        text-align: center;
                        width: 26px;
                        &:hover {
                            background: @primarycolor !important;
                            color: #fff;
                        }
                        i {
                            line-height: 26px;
                        }
                    }
                }
            }
        }
        .social-comment {
            a.comment {
                color: @primarycolor;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .author-info {
            margin: 0;
            width: 100%;
            h2 {
                font-size: 16px;
                margin: 0 0 10px;
                text-transform: uppercase;
            }
            .author-avatar {
                float: left;
            }
            .author-description {
                color: @greycolor;
                margin-left: 100px;
            }
        }
        .moretag {
            color: @primarycolor;
            &:hover {
                color: @primarycolor;
            }
        }
        .navigation {
            .newer {
                float: left;

                a:before {
                    content: '\f177';
                    display: inline-block;
                    font-family: FontAwesome;
                    font-size: 12px;
                    margin-right: 5px;
                }
            }
            .older {
                float: right;

                a:after {
                    content: '\f178';
                    display: inline-block;
                    font-family: FontAwesome;
                    font-size: 12px;
                    margin-left: 5px;
                }
            }
        }
        .pagination {
            margin-bottom: 35px;
            padding-top: 20px;
            text-align: right;
            width: 100%;
            a,
            span {
                background: @white;
                color: @darkcolor;
                display: inline-block;
                font-size: 15px;
                font-weight: normal;
                height: 42px;
                line-height: 42px;
                margin-right: 5px;
                min-width: 0; // override
                padding: 0 8px; // override
                text-align: center;
                vertical-align: middle;
                width: 42px; // override
                .transition(all .2s ease);
                &:last-child {
                    margin-right: 0;
                }
                &.next,
                &.prev {
                    font-size: 0;
                    &:before {
                        display: block;
                        font-size: 15px;
                    }
                }
                &.prev {
                    &:before {
                        content: '<<';
                    }
                }
                &.next {
                    &:before {
                        content: '>>';
                    }
                }
            }
            span.current,
            a:hover {
                background: @primarycolor; // override
                color: @white; // override
            }
        }
        .comments-area {
            clear: both;
            margin: 60px 0;
            width: 100%;
            .comments-title,
            .comment-reply-title {
                font-size: 24px;
                margin: 0 0 10px;
                text-transform: uppercase;
            }
            .commentlist {
                padding: 0;
                li {
                    list-style: none;
                    article.comment {
                        background: @white;
                        border: 1px solid @bordercolor;
                        margin: 0 0 20px;
                        padding: 30px;
                        width: 100%;
                        .comment-avatar {
                            float: left;
                            margin-right: 20px;
                        }
                        .comment-info {
                            border: none;
                            overflow: hidden;
                            position: relative;
                            .reply {
                                display: inline-block;
                                float: right;
                                position: absolute;
                                right: 0;
                                top: 0;
                                a {
                                    background: none;
                                    border: 1px solid @primarycolor;
                                    box-shadow: none;
                                    color: @primarycolor;
                                    display: inline-block;
                                    font-family: @headingfont;
                                    font-size: .8em;
                                    font-weight: bold;
                                    height: 28px;
                                    line-height: 26px;
                                    padding: 0 20px;
                                    text-shadow: none;
                                    text-transform: uppercase;
                                    -webkit-transition: all .3s ease;
                                            transition: all .3s ease;
                                    white-space: nowrap;
                                    .border-radius(500px);
                                    &:hover {
                                        background: @primarycolor;
                                        border-color: @primarycolor;
                                        color: #fff;
                                    }
                                }
                            }
                        }
                    }
                }
                .comment-meta {
                    color: @greycolor;
                    margin: 0 0 15px;
                    width: 100%;
                    img {
                        margin-right: 10px;
                    }
                    cite {
                        display: block;
                        .fn {
                            a {
                                color: @darkcolor;
                                &:hover {
                                    color: @linkhovercolor;
                                }
                            }
                        }
                        span {
                            display: none;
                        }
                    }
                    time {
                        display: block;
                        font-size: .93em;
                        font-style: italic;
                    }
                }
                .comment-content {
                    color: @greycolor;
                    ul, ol {
                        li {
                            list-style-type: inherit;
                        }
                    }
                    p:last-child {
                        margin-bottom: 0;
                    }
                    .edit-link a {
                        color: @primarycolor;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
            .comment-respond {
                margin: 40px 0 50px 0;
                width: 100%;
                .comment-form {
                    label {
                        color: @greycolor;
                        display: block;
                        margin: 0 0 5px;
                    }
                    .comment-notes,
                    .form-allowed-tags {
                        color: @greycolor;
                        font-size: 12px;
                    }
                    .comment-input {
                        margin: 0 -10px;
                    }
                    .comment-form-author,
                    .comment-form-email,
                    .comment-form-url {
                        float: left;
                        padding: 0 10px;
                        width: 33.3333%;
                        margin-bottom: 30px;
                        input {
                            width: 100%;
                        }
                    }
                    #comment {
                        border: 1px solid @bordercolor;
                        height: 130px;
                        width: 100%;
                        background: @white;
                    }
                    .form-submit {
                        margin-top: 25px;
                    }
                }
            }
            .comment-form {
                label {
                    color: @greycolor;
                    display: block;
                }
                .comment-notes,
                .form-allowed-tags {
                    color: @greycolor;
                    font-size: 12px;
                }
                .comment-input {
                    margin: 0 -10px;
                }
                .comment-form-author,
                .comment-form-email,
                .comment-form-url {
                    float: left;
                    padding: 0 10px;
                    width: 33.3333%;
                    margin-bottom: 30px;
                    input {
                        width: 100%;
                    }
                }
                #comment {
                    border: 1px solid @bordercolor;
                    height: 130px;
                    width: 100%;
                    background: @white;
                }
                .logged-in-as {
                    a {
                        color: @primarycolor;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
            .form-submit {
                margin-top: 20px;
            }
        }
        .nav-single {
            border-bottom: 1px solid @bordercolor;
            border-top: 1px solid @bordercolor;
            float: left;
            font-size: 13px;
            padding: 10px 0;
            width: 100%;
            a {
                color: @greycolor;
                &:hover {
                    color: @primarycolor;
                }
            }
            .nav-previous {
                float: left;
            }
            .nav-next {
                float: right;
            }
        }
        .btn,
        .btn-primary,
        #searchsubmit,
        #wsearchsubmit {
            background: @primarycolor;
            border: none;
            border-radius: 2px;
            box-shadow: none;
            color: #fff;
            font-size: 14px;
            font-weight: normal;
            height: 26px;
            line-height: 26px;
            padding: 0 10px;
            text-shadow: none;
            -webkit-transition: all .4s ease;
                    transition: all .4s ease;
            &:hover {
                background: @greycolor;
            }
        }
        .archive-header {
            margin-bottom: 30px;
            span {
                text-transform: uppercase;
            }
        }
        .author-info.archives {
            margin: 0 0 60px;
            .author-avatar {
                margin-right: 0;
            }
            .author-description {
                margin-left: 82px;
                h2 {
                    border-bottom: 1px solid @bordercolor;
                    margin: 0 0 10px;
                }
            }
        }
        .attachment {
            .navigation {
                border-bottom: 1px solid @bordercolor;
                border-top: 1px solid @bordercolor;
                margin: 0 0 25px;
                padding: 5px 0;
            }
        }
        &.single {
            .author-info {
                border-bottom: 1px solid @bordercolor;
                margin-bottom: 40px;
                padding-bottom: 40px;
            }
            .relatedposts {
                font-size: 12px;
                margin: 40px 0 0 0;
                width: 100%;
                h3 {
                    display: inline-block;
                    font-size: 20px;
                    margin: 0 0 25px;
                    position: relative;
                    text-transform: uppercase;
                }
            }
            .social-sharing,
            .entry-content {
                margin-bottom: 0;
            }
            .relatedthumb {
                float: left;
                margin-bottom: 35px;
                text-align: left;
                .image {
                    margin-bottom: 15px;
                }
                .post-date {
                    font-style: italic;
                }
                .short-description {
                    color: #727272;
                    font-size: 13px;
                    margin-bottom: 15px;
                }
                h4 {
                    font-size: 14px;
                    margin: 0;
                    text-transform: uppercase;
                    a {
                        color: @headingcolor;
                        &:hover {
                            color: @primarycolor;
                        }
                    }
                }
                img {
                    padding: 0;
                    width: 100%;
                }
                a {
                    display:inline-block;
                    text-decoration: none;
                }
            }
            .post {
                .player {
                    float: right;
                    max-width: none;
                    padding: 0;
                }
            }
            .post-thumbnail {
                width: 100%;
                .post-date {
                    left: 10px;
                    right: auto;
                }
            }
            .postinfo-wrapper {
                padding: 0;
                width: 100%;
                .entry-header {
                    margin: 30px 0 20px;
                    padding-top: 0;
                    &:after {
                        background: #e9e9e9;
                        content: '';
                        display: block;
                        height: 1px;
                        margin-top: 15px;
                        width: 60px;
                    }
                    .entry-title {
                        color: @headingcolor;
                        margin-top: 15px;
                        &:after {
                            max-width: 180px;
                        }
                    }
                    .post-category,
                    .post-author {
                        display: inline-block;
                        &:after {
                            display: none;
                        }
                    }
                    .post-separator {
                        color: @greycolor;
                        display: inline-block;
                        margin: 0 25px;
                    }
                }
            }
            a[rel='tag'],
            .comment-link {
                font-weight: 600;
                color: @primarycolor;
                &:hover {
                    text-decoration: underline;
                }
            }
            .entry-meta {
                font-size: 13px;
                padding: 15px 0;
                text-transform: uppercase;
                a {
                    font-size: 13px;
                    text-transform: uppercase;
                }
            }
            .comments-area {
                float: right;
                max-width: none;
                padding: 0;
            }
        }
    }
    /* ABOUT PAGE
    -----------------------------*/
    &.about-page {
        .bege-intro {
            h2 {
                margin-bottom: 20px;
            }
        }
        .title-breadcrumb {
            margin: 0;
        }
        .page-content {
            padding: 0;
        }
        img {
            margin: 0;
        }
        .corporate-counter {
            text-align: center;
            .counter-image {
                display: inline-block;
                margin-right: 20px;
                vertical-align: middle;
            }
            .counter-info {
                color: @darkcolor;
                display: inline-block;
                text-align:left;
                vertical-align: middle;
                .counter-number {
                    font-size: 30px;
                    font-weight: bold;
                }
                .counter-text {
                    font-size: 12px;
                    font-weight: bold;
                    text-transform: uppercase;
                }
            }
        }
        .our-works {
            ul {
                li {
                    padding-left: 60px;
                    i {
                        background: @primarycolor;
                        border: 3px solid lighten(@primarycolor, 15%);
                        border-radius: 84px;
                        color: #fff;
                        display: inline-block;
                        float: left;
                        font-family: Ubuntu;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: bold;
                        height: 48px;
                        left: 0;
                        line-height: 42px;
                        margin-right: 15px;
                        position: absolute;
                        text-align: center;
                        top: 0;
                        width: 48px;
                    }
                    strong {
                        display: block;
                    }
                }
            }
        }
        .about-intro {
            color: @textcolor;
            font-size: 15px;
            h2 {
                font-weight: 900;
                margin-bottom: 40px;
                text-transform: uppercase;
                strong {
                    font-weight: 900;
                }
            }
            p {
                margin-bottom: 15px;
            }
            a.button {
                background: none;
                border: 1px solid @darkcolor;
                border-width: 1px;
                color: @textcolor;
                height: 40px;
                line-height: 40px;
                margin-top: 26px;
                &:hover {
                    background: @primarycolor;
                    border-color: @primarycolor;
                    color: #fff;
                }
            }
        }
        .about-skill {
            .vc_progress_bar .vc_single_bar {
                margin-bottom: 35px;
                &:last-child {
                    margin-bottom: 0;
                }
                .vc_label {
                    padding: 0 0 0 10px;
                    text-transform: uppercase;
                }
            }
        }
        .vc_column_container {
            .wpb_wrapper {
                h3 {
                    border: none;
                    font-size: 21px;
                    margin: 0 0 10px;
                }
                .wpb_heading,
                h4 {
                    font-size: 16px;
                    margin: 0 0 25px;
                    padding: 0 0 5px;
                }
            }
            .vc_progress_bar {
                .vc_single_bar {
                    box-shadow: none;
                    margin: 0 0 40px;
                    .vc_label {
                        color: #000;
                        font-size: 12px;
                        height: 15px;
                        line-height: 15px;
                        padding-bottom: 0;
                        padding-left: 40px;
                        padding-top: 0;
                        .vc_label_units {
                            background: #3e3e3e;
                            border: 3px solid #a0a0a0;
                            border-radius: 100%;
                            color: #fff;
                            display: block;
                            font-size: 11px;
                            font-weight: 700;
                            height: 40px;
                            left: -10px;
                            line-height: 35px;
                            position: absolute;
                            text-align: center;
                            text-shadow: none;
                            top: -10px;
                            width: 40px;
                        }
                    }
                }
            }
            ul {
                padding: 0;
                li {
                    list-style: none;
                    padding-left: 0;
                    position: relative;
                }
            }
        }
        h3 {
            font-size: 30px;
            font-weight: 300;
            margin-bottom: 14px;
            strong {
                font-weight: normal;
            }
        }
        .about-us-text {
            h3 {
                margin-bottom: 24px;
            }
            p {
                margin-bottom: 30px;
            }
            ul {
                padding: 0;
                li {
                    list-style: none;
                    margin: 5px 0;
                    > i {
                        font-size: 0;
                        &:before {
                            color: @primarycolor;
                            font-size: 15px;
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
        .counter {
            .counter-box {
                float: left;
                text-align: center;
                width: 20%;
            }
            .counter-image {
                margin-bottom: 17px;
            }
            .counter-number {
                color: @darkcolor;
                font-family: @headingfont;
                font-size: 40px;
                margin-bottom: 15px;
            }
            .counter-text {
                color: @darkcolor;
                font-size: 15px;
                text-transform: uppercase;
            }
        }
    }
    /* Contact page */
    &.contact-page {
        // .title-breadcrumb {
        //     margin-bottom: 0;
        // }
        .page-content {
            padding: 0;
        }
        .contact-form,
        .contact-info {
            .wpb_content_element {
                h2 {
                    font-size: 30px;
                    font-weight: 900;
                }
            }
        }
        .contact-input {
            display: block;
            margin: 0 -10px;
            &:after {
                clear: both;
                content: '';
                display: block;
                height: 0;
                line-height: 0;
                visibility: hidden;
            }
            span {
                float: left;
                margin: 0 0 20px;
                padding: 0 10px;
                width: 50%;
                &.wpcf7-not-valid-tip {
                    margin: 0;
                }
                span {
                    width: 100%;
                }
                input,
                .wpcf7-text {
                    background: #f2f2f2;
                    border: none;
                    border-radius: 0;
                    height: 46px;
                    padding-left: 15px;
                    width: 100%;
                }
            }
        }
        .contact-message {
            float: left;
            margin: 0 0 20px;
            width: 100%;
            span {
                float: left;
                width: 100%;
            }
            textarea,
            .wpcf7-textarea {
                border: 1px solid @bordercolor;
                border-radius: 0;
                height: 135px;
                padding: 15px;
                width: 100%;
            }
        }
        .address {
            ul {
                max-width: 380px;
                padding: 0;
                li {
                    border-top: 1px solid #e4e4e4;
                    list-style: none;
                    padding: 10px 0;
                    i {
                        height: 40px;
                        line-height: 40px;
                        text-align: center;
                        width: 40px;
                    }
                }
            }
        }
        .box-contact-1 {
            text-align: center;
            .widget_text {
                .widgettitle {
                    font-size: 30px;
                    font-weight: 900;
                    text-transform: uppercase;
                }
            }
        }
        .box-contact-2 {
            text-align: center;
            .vc_icon_element {
                > div.vc_icon_element-inner {
                    border: 0;
                    border-radius: 100%;
                    box-shadow: 0 0 0 3px @darkcolor;
                    color: #fff;
                    height: 95px !important;
                    line-height: 95px !important;
                    text-align: center;
                    -webkit-transition: color .3s;
                       -moz-transition: color .3s;
                            transition: color .3s;
                    width: 95px !important;
                    &:hover {
                        background: @primarycolor !important;
                        box-shadow: 0 0 0 3px @primarycolor;
                        span,
                        a {
                            color: @white !important;
                        }
                    }
                }
            }
        }
        .box-contact-3 {
            .contact-input {
                span {
                    input {
                        background:#e7e7e7;
                    }
                }
            }
            .contact-message {
                .wpcf7-textarea {
                    background:#e7e7e7;
                }
            }
            .contact-submit {
                display: inline-block;
                text-align: center;
                width: 100%;
            }
            .button.wpcf7-submit {
                height: 55px;
                line-height: 55px;
                padding: 0 30px;
            }
        }
        .box-contact-4 {
            text-align: center;
            .vc_icon_element {
                // margin: 0;
                > div {
                    background: rgba(120, 120, 120, .61);
                    border: 0;
                    color: #fff;
                    height: 95px !important;
                    line-height: 95px !important;
                    text-align: center;
                    -webkit-transition: color .3s;
                    -webkit-transition: -webkit-transform .2s, opacity .2s;
                       -moz-transition: color .3s;
                       -moz-transition:    -moz-transform .2s, opacity .2s;
                            transition: color .3s;
                            transition:         transform .2s, opacity .2s;
                            transition: background .2s, color .2s;
                    width: 95px !important;
                    .border-radius(100%);
                    &:after {
                        border: 2px solid transparent;
                        border-radius: 50%;
                        bottom: 4px;
                        -webkit-box-sizing: content-box;
                           -moz-box-sizing: content-box;
                                box-sizing: content-box;
                        content: '';
                        left: 4px;
                        pointer-events: none;
                        position: absolute;
                        right: 4px;
                        top: 4px;
                        -webkit-transition: -webkit-transform .2s, opacity .2s;
                           -moz-transition:    -moz-transform .2s, opacity .2s;
                                transition:         transform .2s, opacity .2s;
                        z-index: 2;
                    }
                    &:hover {
                        &:after {
                            border-color: #fff;
                        }
                        span.fa-facebook {
                            background: #3b5998;
                        }
                        span.fa-twitter {
                            background: #1da1f2;
                        }
                        span.fa-google-plus {
                            background: #dd4b39;
                        }
                        span.fa-pinterest {
                            background: #bd081c;
                        }
                        span.fa-instagram {
                            background: #833ab4;
                        }
                        span.fa-skype {
                            background: #00aff0;
                        }
                    }
                    span,
                    a {
                        color: #fff !important;
                        z-index: 1;
                    }
                    span {
                        height: 100%;
                        line-height: 91px !important;
                        width: 100%;
                        .border-radius(100%);
                    }
                }
            }
        }
    }
    /* Service page */
    &.service-page {
        .page-content {
            padding: 0;
        }
        .box-services {
            .wpb_column {
                &:hover {
                    .wpb_text_column .box-content {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
            .wpb_content_element {
                margin-bottom: 0;
            }
            .vc_column-inner {
                padding: 0;
                .wpb_single_image {
                    margin-bottom: 0;
                }
                > .wpb_wrapper {
                    overflow: hidden;
                    position: relative;
                    .box-content {
                        background: #fff;
                        bottom: 0;
                        left: 0;
                        opacity: 0;
                        padding: 40px;
                        padding-top: 80px;
                        position: absolute;
                        right: 0;
                        text-align: center;
                        top: 0;
                        -webkit-transition: all .2s ease-out;
                           -moz-transition: all .2s ease-out;
                            -ms-transition: all .2s ease-out;
                             -o-transition: all .2s ease-out;
                        visibility: hidden;
                        i {
                            background: @darkcolor;
                            border-radius: 100%;
                            color: #fff;
                            display: inline-block;
                            font-size: 40px;
                            height: 115px;
                            line-height: 115px;
                            text-align: center;
                            width: 115px;
                            &:before {
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }
        }
        .our-services {
            color: @white;
        }
        .service-intro {
            .wpb_single_image {
                * {
                    width: 100%;
                }
            }
        }
        // corporate-counter
        .corporate-price-table {
            .ts-price-table {
                background: #fff;
                border-radius: 3px;
                box-shadow: 0 1px #fff inset, 0 1px 3px rgba(34, 25, 25, .4);
                text-align: center;
                header {
                    background: #3e3e3e;
                    padding: 20px;
                    h3,
                    h4 {
                        color: #fff;
                        font-size: 14px;
                        font-weight: 600;
                        text-transform: uppercase;
                    }
                }
                .table-description {
                    padding: 0 20px 40px 20px;
                    .table-price {
                        font-family: @headingfont;
                        font-size: 48px;
                        font-weight: bold;
                        margin: 0;
                        padding: 50px 0;
                        text-transform: uppercase;
                        .desc-price {
                            font-size: 12px;
                        }
                    }
                    ul {
                        li {
                            border-bottom: 1px solid @bordercolor;
                            list-style: none;
                            padding: 15px 0;
                            &:first-child {
                                border-top: 1px solid @bordercolor;
                            }
                        }
                    }
                    a.button {
                        margin: 40px 0 0;
                    }
                }
                &:hover {
                    header {
                        background: @primarycolor;
                    }
                }
            }
        }
    }
}