/* Responsive style sheet */
@import 'variables.less';
.visible-large {
    display: block;
}
.visible-small {
    display: none;
}
@media screen and (min-width: 1800px) {
    /* layout */
    .large-container {
        .container {
            width: 1800px;
        }
        .row-container {
            max-width: 1800px;
        }
    }
}
@media screen and (min-width: 1500px) {
    .slider-wrapper.layout1 {
        .slider {
           width: 61.33%;
        }
        .slider-banner {
            width: 22%;
        }
        .slider-hidden {
            width: 16.67%;
        }
    }
    .header-container {
        .menu-wrapper {
            width: 83.33%;
        }
        .category-wrapper {
            width: 16.67%;
        }
        
    }
    .banner.layout1 {
        .banner-1 {
            width: 39%;
        }
        .banner-2 {
            width: 61%;
        }
        .vc_row {
            margin-bottom: 0;
        }
    }
    .hometab-testimonials {
        .hometab {
            width: 77.5%;
        }
        .testimonials-container.layout1 {
            width: 22.5%;
        }
    }
    .sidebar.layout2 {
        width: 16.67%;
    }
    .main-column.layout2 {
        width: 83.33%;
    }
    .slider-wrapper.layout3 {
        .slider {
           width: 66.33%;
        }
        .products-carousel-1.layout3 {
            width: 17%;
        }
        .slider-hidden {
            width: 16.67%;
        }
    }
    .sidebar-shop {
        width: 16.66666667%;
    }
    #archive-product {
        width: 83.33333333%;
    }
    .single-product-wrapper {
        > .row {
            > .col-md-7 {
                width: 41.66666667%;
            }
            > .col-md-5 {
                width: 58.33333333%;
            }
        }
    }
}
@media screen and (min-width: 1200px) and (max-width: 1500px) {
    .slider-banner.layout1 {
        display: none;
    }
    .categories-menu-wrapper .categories-menu {
        .categories > .menu_holder .menu_inner > ul > li > a.item_link {
            height: 43px !important;
            line-height: 43px;
        }
        .morelesscate span {
            height: 45px;
            line-height: 45px;
        }
    }
    .header-3 {
        .categories-menu-wrapper .categories-menu {
            .categories > .menu_holder .menu_inner > ul > li > a.item_link {
                height: 39px !important;
                line-height: 39px;
            }
            .morelesscate span {
                height: 42px;
                line-height: 42px;
            }
        }
    }
    .banner.layout1 {
        .banner-1 {
            width: 39.5%;
        }
        .banner-2 {
            width: 60.5%;
        }
        .vc_row {
            margin-bottom: 0;
        }
    }
    .testimonials-container.layout1 .testimonials .slick-slide {
        padding-top: 32px;
        padding-bottom: 32px;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1800px) {
    /* layout */
    .large-container {
        .row-container {
            width: 95%;
            max-width: 95%;
        }
        .container {
            width: 95%;
            max-width: 95%;
        }
    }
    .hometab {
        .vc_tta-tabs-container {
            width: 25%;
        }
        .vc_tta-panels-container {
            width: 75%;
        }
    }
    .footer {
        .mc4wp-form input[type='email'] {
            width: 250px;
        }
    }
    
}
@media screen and (max-width: 1500px) {
    .slider-banner.layout1 {
        .wpb_single_image {
            float: left;
            width: 50%;
        }
    }
    .shop-products .listview .list-col8 .actions-wrapper {
        padding: 0 15px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1500px) {
    .products-countdown.layout1 {
        .shop-products .listview .count-down .count-down-inner {
            padding: 13px 30px;
        }
        
    }
    .footer {
        .social-icons li {
            margin: 0 5px 0 0;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}
@media screen and (min-width: 992px) and (max-width: 1500px) {
    .products-list .listview .product-name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

@media screen and (min-width: 1200px) {
    #archive-product .shop-products .listview {
        .list-col4 {
            width: 20%;
        }
        .list-col8 {
            width: 80%;
        }
    }
}

@media screen and ( max-width: 1199px ) {
    .wrapper {
        overflow-x: hidden;
        .row-container {
            width: 970px;
        }
    }
    .header-container {
        .header-default {
            h1.logo {
                text-align: center;
                margin-bottom: 35px;
            }
            .horizontal-menu .primary-menu-container {
                text-align: center;
            }
        }
    }
    /* header */
    .header-container {
        .logo {
            text-align: center !important;
            margin-bottom: 35px;
        }
        .header-middle-right {
            margin-top: 35px;
            > .vc_column-inner > .wpb_wrapper {
                float: none;
                text-align: center;
                > div {
                    float: none;
                    display: inline-block;
                    text-align: left;
                    vertical-align: middle;
                }
            }
        }
        &.header-1 {
            .mobile-menu {
                background: lighten(@primarycolor, 10%);
            }
        }
        &.header-2 {
            .horizontal-menu {
                text-align: center;
            }
            .topbar-nav {
                text-align: center;
                > .vc_column-inner > .wpb_wrapper {
                    float: none;
                    display: inline-block;
                    text-align: left;
                }
            }
        }
    }
    /* footer */
    .footer {
        .mc4wp-form input[type='email'] {
            width: 250px;
        }
        .social-icons {
            float: none;
            margin: 50px 0 0;
            text-align: center;
        }
        .newsletter-wrapper .wpb_text_column {
            &:last-child {
                float: right;
            }
        }
        .footer-copyright {
            text-align: center;
            .wpb_single_image {
                text-align: center;
                margin-top: 15px;
            }
        }
    }
    /* page */
    .hometab {
        .vc_tta-tabs-container {
            width: 25%;
        }
        .vc_tta-panels-container {
            width: 75%;
        }
    }
    .policy.layout1,
    .policy.layout3 {
        .vc_row {
            width: 33.33%;
            margin-bottom: 35px;
        }
    }
    .category-container.layout2 {
        .categories-menu {
            height: auto !important;
        }
    }
    /* shop page */
    .toolbar {
        .entry-header {
            float: none;
            width: 100%;
            margin: 0 0 30px 0;
        }
        .toolbar-inner {
            float: none;
            width: 100%;
            margin-bottom: 20px;
        }
        .woocommerce-ordering {
            float: left;
            margin: 0;
        }
    }
    .shop-products .listview .list-col8 {
        .product-info {
            width: 100%;
            float: none;
            padding: 0;
        }
        .actions-wrapper {
            float: none;
            width: 100%;
            padding: 0;
            margin-top: 30px;
            border: none;
        }
    }
}
@media screen and (max-width: 991px) {
    .wrapper {
        .row-container {
            width: 750px;
        }
    }
    .yith_magnifier_mousetrap {
        display: none;
    }
    .visible-large {
        display: none;
    }
    .visible-small {
        display: block;
    }
    .mobile-menu {
        background: lighten(@primarycolor, 10%);
        height: 60px;
        margin: 0;
        position: relative;
        .mbmenu-toggler {
            color: #fff;
            cursor: pointer;
            font-family: @menufont;
            font-size: 16px;
            font-weight: 400;
            height: 60px;
            line-height: 60px;
            padding: 0 12px;
            text-align: left;
            text-transform: uppercase;
            width: 100%;
            span.mbmenu-icon {
                display: block;
                float: right;
                margin-left: 5px;
                width: 22px;
            }
        }
        .mobile-menu-container {
            background: #fff;
            border-radius: 3px;
            box-shadow: 0 3px 5px rgba(0, 0, 0, .6);
            float: left;
            height: 0;
            left: 0;
            max-width: 100%;
            overflow: hidden;
            padding: 0 12px;
            position: absolute;
            top: 60px;
            -webkit-transition: all .5s ease;
                    transition: all .5s ease;
            z-index: 99;
            &.open {
                display: block;
            }
            ul.nav-menu {
                float: left;
                margin: 5px 0;
                padding: 0;
                text-align: left;
                width: 100%;
                & > li {
                    float: left;
                    list-style: none;
                    margin: 0;
                    position: relative;
                    width: 100%;
                    & > a {
                        border-top: 1px solid @bordercolor;
                        color: @greycolor;
                        display: block;
                        float: left;
                        font-size: 16px;
                        height: 40px;
                        line-height: 40px;
                        text-transform: uppercase;
                        width: 100%;
                        &:hover {
                            color: @primarycolor;
                        }
                    }
                    &:first-child {
                        a {
                            border-top: none;
                        }
                    }
                    .fa {
                        color: @greycolor;
                        cursor: pointer;
                        float: right;
                        height: 40px;
                        line-height: 40px;
                        position: absolute;
                        right: 0;
                        text-align: center;
                        top: 0;
                        width: 40px;
                        z-index: 2;
                        &:hover {
                            color: @primarycolor;
                        }
                    }
                    //first sub
                    & > ul.sub-menu {
                        & > li {
                            & > a {
                                color: @greycolor;
                                &:hover {
                                    color: @primarycolor;
                                }
                            }
                        }
                    }
                    ul.sub-menu {
                        float: left;
                        margin: 0;
                        padding: 0 0 0 10px;
                        width: 100%;
                        li {
                            float: left;
                            list-style: none;
                            margin: 0;
                            position: relative;
                            width: 100%;
                            a {
                                border-top: 1px solid #ddd;
                                color: @greycolor;
                                display: block;
                                float: left;
                                font-family: @menufont;
                                height: 40px;
                                line-height: 40px;
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
    .main-container {
        max-width: 100%;
        overflow: hidden;
    }
    .header-container .header-sticky {
        display: none !important;
    }
    #secondary {
        .sidebar-border {
            &.left {
                border-right: none;
                padding-right: 0;
            }
            &.right {
                border-left: none;
                padding-left: 0;
            }
        }
    }
    .main-container.error404 {
        .search-form-wrapper {
            padding: 80px 0;
            h1 {
                font-size: 100px;
                line-height: 100px;
            }
            h2 {
                font-size: 20px;
            }
            p {
                font-size: 16px;
            }
            .form-input {
                width: 300px;
            }
            a.button {
                margin-top: 40px;
            }
        }
    }
    /* header */
    .header-container {
        &.header-3 {
            .main-menu-wrapper {
                margin-top: 20px;
            }
        }
    }
    /* footer */
    .footer {
        .footer-policy .row-container {
            display: block;
            .wpb_column {
                &:nth-child(3) {
                    border-left: 1px solid @bordercolor;
                }
            }
        }
        .footer-main {
            .wpb_column.vc_col-sm-6 {
                &:nth-child(2n+1) {
                    clear: both;
                }
            }
        }
        .newsletter-wrapper {
            text-align: center;
            .newsletter-text {
                margin: 0 0 35px;
            }
            .wpb_text_column:last-child {
                float: none;
            }
            .mc4wp-form input[type='email'] {
                width: 360px;
            }
        }
        &.footer-4 {
            .newsletter-wrapper {
                .newsletter-text {
                    float: none;
                }
                .newsletter {
                    float: none;
                }
            }
        }
    }
    /* page */
    .policy.layout1,
    .policy.layout3 {
        .vc_row {
            width: 50%;
            margin-bottom: 35px;
            .wpb_text_column {
                text-align: left;
                &:before {
                    display: none;
                }
            }
        }
        
    }
    .slider-banner.layout2 {
        .wpb_single_image {
            text-align: center;
        }
    }
    /* product page */
    .main-container .product-view .product .woocommerce-tabs ul.tabs li {
        padding: 0 10px;
    }
}

@media screen and (min-width: 768px) {
    .banner.layout3 {
        .row-container {
            > .wpb_column {
                &:first-child {
                    width: 60.7%;
                }
                &:last-child {
                    width: 39.3%;
                }
            }
            
        }
        .vc_row {
            margin-bottom: 5px;
        }
        .wpb_single_image {
            * {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .wrapper {
        .row-container {
            padding-left: 15px;
            padding-right: 15px;
            width: 100%;
        }
    }
    .main-container .product-view .product .woocommerce-tabs {
        ul.tabs {
            li {
                margin: 0 0 25px 0;
                width: 100%;
                padding: 0;
                &:before {
                    display: none;
                }
                a {
                    border: none;
                    padding-bottom: 2px;
                }
            }
        }
    }
    .vc_row {
        margin-left: 0;
        margin-right: 0;
    }
    .shop-products.grid-view .item-col.product {
        &.first {
            clear: none;
        }
        &[class*='col-xs-6']:nth-child(2n+1) {
            clear: both;
        }
    }
    .shop-products.list-view .item-col {
        width: 50%;
        .list-col4 {
            margin-bottom: 30px;
        }
        .price-box {
            margin-bottom: 20px;
        }
        .product-desc {
            margin-bottom: 25px;
        }
        &.first {
            clear: none;
        }
        &:nth-child(2n+1) {
            clear: both;
        }
    }
    .main-container.contact-page {
        .contact-input span {
            width: 100% !important;
        }
        .contact-desc .wpb_text_column {
            padding: 0;
            h2 {
                font-size: 40px !important;
            }
        }
    }
    .main-container.error404 {
        .search-form-wrapper .form-input {
            max-width: 95%;
        }
    }
    /* blog page */
    .main-container .blog-page {
        .post-thumbnail {
            width: 100%;
        }
        .postinfo-wrapper {
            margin-top: 20px;
            width: 100%;
        }
    }
    /* product page */
    /* header */
    .header-container {
        .top-bar {
            text-align: center;
        }
        .topbar-nav {
            text-align: center;
            > .vc_column-inner > .wpb_wrapper {
                float: none;
                display: inline-block;
                text-align: left;
            }
        }
    }
    /* footer */
    .footer {
        .footer-policy .row-container .wpb_column {
            padding: 20px 20px;
        }
    }
    /* page */
    .hometab {
        .vc_tta-panels-container {
            .vc_tta-panels {
                display: block !important;
            }
            .vc_tta-panel {
                display: block !important;
            }
        }
    }
    .home-tabs.layout2 {
        .home-tabs-title {
            li {
                margin: 0 0 20px 0;
                width: 100%;
                text-align: center;
                a {
                    display: inline-block;
                }
            }
        }
    }
    .home-tabs.layout3 {
        .home-tabs-title {
            li {
                margin: 0 0 20px 0;
                width: 100%;
                text-align: center;
                a {
                    display: inline-block;
                    padding-bottom: 5px;
                }
            }
        }
    }
    .banner.layout3 {
        .row-container > .wpb_column {
            width: 100% !important;
            .wpb_single_image {
                text-align: center;
            }
        }
    }
    .static-block.layout4 {
        .wpb_single_image {
            text-align: center;
        }
    }
    .products-countdown.layout4 {
        .listview {
            .list-col4 {
                width: 100%;
            }
            .list-col8 {
                width: 100%;
            }
        }
    }
    /* shop page */
    .toolbar {
        .view-mode {
            float: left;
            width: 100%;
            margin-bottom: 20px;
        }
        .woocommerce-ordering {
            float: left;
            width: 100%;
            margin-bottom: 20px;
        }
        .woocommerce-result-count {
            float: left;
            width: 100%;
            margin-bottom: 20px;
            text-align: left;
        }
    }
}
@media screen and (min-width: 640px) and (max-width: 767px) {
    .products-countdown.layout1 {
        .shop-products .listview .count-down .count-down-inner {
            padding-left: 25px;
            padding-right: 25px;
        }
        
    }
}
@media screen and (max-width: 639px) {
    /* checkout page, shopping cart */
    .shop_table.cart {
        border: 1px solid @bordercolor !important;
        th,
        td,
        tr {
            display: block;
        }
        th,
        td {
            border: none;
        }
        tr {
            border-bottom: none;
        }
        .product-thumbnail {
            display: block;
            text-align: center;
            a {
                margin: auto;
            }
        }
        tbody > tr {
            border-bottom: 1px solid @bordercolor;
            margin-bottom: 20px;
        }
        thead tr {
            .product-thumbnail,
            .product-remove {
                display: none;
            }
        }
        .coupon {
            #coupon_code {
                width: 100%;
                margin: 0 0 20px 0;
            }
            .button {
                float: none !important;
                margin: 0;
                width: auto !important;
            }
        }
    }
    /* blog page */
    .main-container .blog-page .comments-area .commentlist li.comment article.comment .comment-info {
        time,
        cite,
        .reply {
            display: block;
            float: none;
            margin: 15px 0 0 0;
            width: 100%;
            &:first-child {
                margin-top: 0;
            }
        }
    }
    /* header */
    /* footer */
    .footer {
        .newsletter-wrapper {
            .mc4wp-form {
                text-align: center;
                input[type='email'] {
                    display: inline-block;
                    float: none;
                }
                button[type='submit'] {
                    margin-top: 20px;
                    float: none;
                    display: inline-block;
                }
            }
        }
    }
    /* page */
    .products-countdown.layout1 {
        .product-wrapper.listview {
            .list-col4 {
                width: 100%;
            }
            .list-col8 {
                width: 100%;
            }
            .product-image {
                a {
                    display: block;
                    width: 100%;
                }
                img {
                    width: 100%;
                }
            }
        }
    }
    .policy.layout1,
    .policy.layout3 {
        .vc_row {
            width: 100%;
        }
        
    }
}
@media screen and (max-width: 479px) {
    [class*='vc_col-'] {
        width: 100% !important;
    }
    /* inner page */
    .shop_table.cart {
        border: 1px solid @bordercolor !important;
        thead {
            display: none;
        }
        td,
        th {
            display: block;
        }
    }
    /* shop page only */
    .toolbar {
        margin-bottom: 40px;
    }
    .main-container .product-view .summary.single-product-info .product_meta {
        .sku_wrapper,
        .posted_in,
        .tagged_as {
            display: block;
            margin: 0 0 10px 0;
        }
    }
    // one item
    .shop_content .shop-products .item-col {
        clear: none !important;
        width: 100%;
    }
    /* header */
    .header-container {
        .topbar-nav {
            > .vc_column-inner > .wpb_wrapper > div {
                margin: 0;
                width: 100%;
                text-align: center;
                &:before {
                    display: none;
                }
            }
        }
        .switcher {
            > div {
                width: 100%;
                &:before {
                    display: none;
                }
            }
            .language .wpml-ls-legacy-dropdown .wpml-ls-item-toggle {
                padding: 0;
            }
            .currency .wcml_currency_switcher .wcml-cs-active-currency .wcml-cs-item-toggle {
                padding: 0;
            }
        }
        .header-search {
            .categories-container .cate-toggler {
                display: none;
            }
            .search-without-dropdown .widget_product_search #searchform .form-input {
                padding-right: 140px;
            }
            
        }
        .header-middle-right > .vc_column-inner > .wpb_wrapper > div {
            padding: 0 15px;
        }
        .widget_shopping_cart_content .mini_cart_content {
            right: -32px;
            .mini_cart_inner {
                padding: 30px 10px 15px 10px;
                width: 300px;
            }
        }
    }
    /* footer */
    .footer {
        .social-icons li {
            margin: 0 5px 0 0;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    /* page */
    .shop-products .listview .count-down {
        .count-down-inner {
            padding-left: 10px;
            padding-right: 10px;
        }
        .hastime {
            padding-left: 30px;
            &:before {
                margin-right: 10px;
            }
            .timebox {
                font-size: 14px;
            }
        }
    }
    .main-container {
        .product-view {
            .single-product-image {
                padding-left: 100px;
                .thumbnails.slider {
                    width: 50px;
                    .caroufredsel_wrapper {
                        width: 100% !important
                    }
                }   
            }
        }
        
    }
}
