/* TYPOGRAPHY
-----------------------------*/
@pagecontentbg: @page_content_background;

@bodyfont: @body_font, Arial, Helvetica, sans-serif;
@textcolor: @text_color;
@textsize: @text_size;
@textselectedcolor: @text_selected_color;
@textselectedbg: @text_selected_bg;
@headingfont: @heading_font, Arial, Helvetica, sans-serif;
@headingcolor: @heading_color;
@headingfontweight: @heading_font_weight;

@menufont: @menu_font, Arial, Helvetica, sans-serif;
@menucolor: @menu_color;
@menufontsize: @menu_font_size;
@menufontweight: @menu_font_weight;

@submenubg: @sub_menu_bg;
@submenufont: @sub_menu_font;
@submenufontsize: @sub_menu_font_size;
@submenufontweight: @sub_menu_font_weight;
@submenufont: @sub_menu_font;
@submenucolor: @sub_menu_color;

@dropdownbg: @dropdown_bg;
@dropdowncolor: @dropdown_color;

@linkcolor: @link_color;
@linkhovercolor: @link_hover_color;
@linkactivecolor: @link_active_color;
@headingfont: @heading_font, Arial, Helvetica, sans-serif;
@headingcolor: @heading_color;
@headingfontweight: @heading_font_weight;

@menufont: @menu_font, Arial, Helvetica, sans-serif;
@menufontsize: @menu_font_size;
@menufontweight: @menu_font_weight;
@menucolor: @menu_color;
@menubg: @menu_bg;

@categoriesfont: @categories_font, Arial, Helvetica, sans-serif;
@categoriesfontsize: @categories_font_size;
@categoriesfontweight: @categories_font_weight;
@categoriescolor: @categories_color;
@categoriesbg: @categories_menu_bg;

@categoriessubmenufont: @categories_sub_menu_font, Arial, Helvetica, sans-serif;
@categoriessubmenufontsize: @categories_sub_menu_font_size;
@categoriessubmenufontweight: @categories_sub_menu_font_weight;
@categoriessubmenucolor: @categories_sub_menu_color;
@categoriessubmenubg: @categories_sub_menu_bg;
// Colors
@primarycolor: @primary_color;
@salecolor: @sale_color;
@saletextcolor: @saletext_color;
@ratecolor: @rate_color;
@bordercolor:@border_color;
//Topbar
@topbarbg: @topbar_bg;
@topbarcolor: @topbar_color;
@topbarlinkcolor: @topbar_link_color;
@topbarlinkhovercolor: @topbar_link_hover_color;
@topbarlinkactivecolor: @topbar_link_active_color;
//Header
@headerbg: @header_bg;
@headercolor: @header_color;
@headerlinkcolor: @header_link_color;
@headerlinkhovercolor: @header_link_hover_color;
@headerlinkactivecolor: @header_link_active_color;
@headerstickybg: @header_sticky_bg;
//Footer
@footerbg: @footer_bg;
@footercolor: @footer_color;
@footerlinkcolor: @footer_link_color;
@footerlinkhovercolor: @footer_link_hover_color;
@footerlinkactivecolor: @footer_link_active_color;
// Defined colors
@darkcolor: #333;
@greycolor: #999;
@lightgreycolor: #afafaf;
@white: #fff;
@black: #000;
/* BUTTON MIXIN
-----------------------------*/
.buttonMixin() {
    background: #666;
    border: none;
    box-shadow: none;
    color: @white;
    display: inline-block;
    font-family: @headingfont;
    font-size: .714em;
    font-weight: normal;
    height: 45px;
    letter-spacing: .2em;
    line-height: 45px;
    outline: none;
    overflow: hidden;
    padding: 0 30px;
    text-shadow: none;
    text-transform: uppercase;
    -webkit-transition: all .3s ease;
            transition: all .3s ease;
    vertical-align: middle;
    white-space: nowrap;
    .border-radius(0);
    &:hover {
        background: @primarycolor;
        color: @white;
    }
    &.disabled,
    &:disabled,
    &[disabled] {
        color: @white !important;
        padding: 0 35px !important;
        &:hover {
            // color: @linkhovercolor !important;
        }
    }
}
.priceMixin() {
    color: @primarycolor;
    font-size: 1.143em;
    font-weight: normal;
    .clearfix();
    .special-price {
        float: left;
    }
    .old-price {
        color: @greycolor;
        font-size: .85em;
        font-weight: normal;
        margin-left: 5px;
        text-decoration: line-through;
    }
}
.noneTextSelect() {
    -webkit-user-select: none;  /* Chrome all / Safari all */
       -moz-user-select: none;     /* Firefox all */
        -ms-user-select: none;      /* IE 10+ */
            user-select: none;          /* Likely future */
}
.image-hover-effect() {
    display: inline-block;
    overflow: hidden;
    position: relative;
    vertical-align: top;
    img {
        .transition(all .3s ease-out 0s);
    }
    &:hover {
        img {
            .transform(scale(1.05));
        }
    }
}
.dropdown-boxshadow(@shadow: 0 0 6.65px .35px rgba(0, 0, 0, .15)) {
    -webkit-box-shadow: @shadow; // iOS <4.3 & Android <4.1
       -moz-box-shadow: @shadow;
            box-shadow: @shadow;
}
/* MIXINS
-----------------------------*/
// Opacity
.opacity(@opacity) {
    filter: ~"alpha(opacity=@{opacity-ie})";
    opacity: @opacity;
    // IE8 filter

    @opacity-ie: (@opacity * 100);
}
.clearfix() {
    &:after {
        clear: both;
        content: '';
        display: block;
        height: 0;
        line-height: 0;
        visibility: hidden;
    }
}
/* CSS3 PROPERTIES
-----------------------------*/
.border-radius(@radius: 4px) {
    -webkit-border-radius: @radius;
       -moz-border-radius: @radius;
            border-radius: @radius;
}
// Single Corner Border Radius
.border-top-left-radius(@radius) {
    -webkit-border-top-left-radius: @radius;
            border-top-left-radius: @radius;

    -moz-border-radius-topleft: @radius;
}
.border-top-right-radius(@radius) {
    -webkit-border-top-right-radius: @radius;
            border-top-right-radius: @radius;

    -moz-border-radius-topright: @radius;
}
.border-bottom-right-radius(@radius) {
    -webkit-border-bottom-right-radius: @radius;
            border-bottom-right-radius: @radius;

    -moz-border-radius-bottomright: @radius;
}
.border-bottom-left-radius(@radius) {
    -webkit-border-bottom-left-radius: @radius;
            border-bottom-left-radius: @radius;

    -moz-border-radius-bottomleft: @radius;
}
.border-top-radius(@radius) {
    border-top-left-radius: @radius;
    border-top-right-radius: @radius;
}
.border-right-radius(@radius) {
    border-bottom-right-radius: @radius;
    border-top-right-radius: @radius;
}
.border-bottom-radius(@radius) {
    border-bottom-left-radius: @radius;
    border-bottom-right-radius: @radius;
}
.border-left-radius(@radius) {
    border-bottom-left-radius: @radius;
    border-top-left-radius: @radius;
}
// Drop shadows
.box-shadow(@shadow) {
    -webkit-box-shadow: @shadow; // iOS <4.3 & Android <4.1
       -moz-box-shadow: @shadow;
            box-shadow: @shadow;
}
.transform(@transform) {
    -webkit-transform: @transform;
       -moz-transform: @transform;
            transform: @transform;
}
// Transitions
.transition(@transition: .3s ease) {
    -webkit-transition: @transition;
       -moz-transition: @transition;
        -ms-transition: @transition;
         -o-transition: @transition;
            transition: @transition;
}
.animation(@animation) {
    -webkit-animation: @animation;
       -moz-animation: @animation;
         -o-animation: @animation;
            animation: @animation;
}
/* ANIMATION KEYFRAME
-----------------------------*/
//rotate
@-moz-keyframes rotate {
    0% {
        .transform(rotateY(0deg));
    }
    50% {
        .transform(rotateY(180deg));
    }
    100% {
        .transform(rotateY(0deg));
    }
}
@-webkit-keyframes rotate {
    0% {
        .transform(rotateY(0deg));
    }
    50% {
        .transform(rotateY(180deg));
    }
    100% {
        .transform(rotateY(0deg));
    }
}
@keyframes rotate {
    0% {
        .transform(rotateY(0deg));
    }
    50% {
        .transform(rotateY(180deg));
    }
    100% {
        .transform(rotateY(0deg));
    }
}
// countdowntiming
// @-moz-keyframes countdowntiming {
//     0% {
//         bottom: 20px;
//         position: relative;
//         .opacity(0);
//     }
//     100% {
//         bottom: 0px;
//         position: relative;
//         .opacity(1);
//     }
// }
// @-webkit-keyframes rotate {
//     0% {
//         bottom: 20px;
//         position: relative;
//         .opacity(0);
//     }
//     100% {
//         bottom: 0px;
//         position: relative;
//         .opacity(1);
//     }
// }
@keyframes countdowntiming {
    0% {
        bottom: -50px;
        position: relative;
        .opacity(0);
    }
    100% {
        bottom: 0;
        position: relative;
        .opacity(1);
    }
}
