/*
Theme Name: Builders by MyThemeShop
Theme URI: http://mythemeshop.com/themes/builders/
Author: MyThemeShop
Author URI: https://mythemeshop.com/
Description: Builders is the perfect, specialist theme for blogs and websites in the construction industry. Impress future clients with a professional and polished theme with endless functionality!
Version: 1.2.1
Text Domain: builders
Domain Path: /lang
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline
}
html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased
}
*{ box-sizing: border-box }
audio, canvas, progress, video {
	display: inline-block;
	vertical-align: baseline
}
audio:not([controls]) {
	display: none;
	height: 0
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block }
ol, ul { list-style: none }
blockquote, q { quotes: none }
table {
	border-collapse: collapse;
	border-spacing: 0
}
button, input, select, textarea { margin: 0 }
:focus { outline: 0 }
img, video, object {
	max-width: 100%;
	height: auto!important
}
iframe { max-width: 100% }
blockquote {
	font-style: italic;
	font-weight: normal;
	font-size: 15px;
	padding: 0 10px 20px 27px;
	position: relative;
	margin-top: 25px
}
blockquote:after {
	font-family: FontAwesome;
	position: absolute;
	content: "\f10d";
	font-size: 20px;
	width: 50px;
	top: 0;
	left: 0
}
blockquote p { margin-bottom: 10px }
strong, b { font-weight: bold }
em, i, cite { font-style: italic }
small { font-size: 100% }
figure { margin: 10px 0 }
code, pre {
	font-weight: normal;
	font-style: normal
}
pre {
	margin: 5px 0 20px 0;
	line-height: 1.3em;
	padding: 8px 10px;
	overflow: auto
}
code {
	padding: 0 8px;
	line-height: 1.5
}
mark {
	padding: 1px 6px;
	margin: 0 2px;
	color: black;
	background: #FFF7A8
}
address {
	margin: 10px 0;
	font-style: italic
}
.wp-caption {
	background: #fff;
	border: 1px solid #f0f0f0;
	max-width: 100%;
	box-sizing: border-box;
	padding: 5px 3px 10px;
	margin-bottom: 20px;
	text-align: center
}
#gallery-1 img { border: 0!important }
dt {
	float: left;
	clear: left;
	width: 100px;
	text-align: right;
	font-weight: bold
}
dd {
	margin: 0 0 0 110px;
	padding: 0 0 0.5em 0;
	overflow: hidden;
}
/* =WordPress Core
-------------------------------------------------------------- */
/*-[ Framework ]--------------------*/
.alignnone, a img.alignnone {
	margin: 5px 20px 20px 0
}
.aligncenter, div.aligncenter, a img.aligncenter {
	display: block;
	margin: 5px auto 5px auto
}
.alignright, a img.alignright {
	float:right;
	margin: 5px 0 20px 20px
}
.alignleft, a img.alignleft {
	float: left;
	margin: 5px 20px 20px 0
}
.wp-caption {
	background: #fff;
	border: 1px solid #f0f0f0;
	max-width: 96%; /* Image does not overflow the content area */
	padding: 5px 3px 10px;
	text-align: center
}
.wp-caption img {
	border: 0 none;
	height: auto;
	margin: 0;
	max-width: 98.5%;
	padding: 0;
	width: auto
}
.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	margin: 0;
	padding: 0 4px 5px
}
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden
}
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 2px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	-o-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/*-[ Framework ]--------------------*/
body {
	font: 14px/22px 'Hind', sans-serif;
	color: #757575;
	background: #fafafa;
	overflow-x: hidden;
}
::-moz-selection {
	background: #374a50;
	color: white;
	text-shadow: none
}
::selection {
	background: #374a50;
	color: white;
	text-shadow: none
}
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	margin-bottom: 12px;
	color: #444
}
h1 {
	font-size: 28px;
	line-height: 1.4
}
h2 { line-height: 1.4 }
h3 {
	font-size: 22px;
	line-height: 1.4
}
h4 {
	font-size: 20px;
	line-height: 1.4
}
h5 {
	font-size: 18px;
	line-height: 1.4
}
h6 {
	font-size: 16px;
	line-height: 1.4
}
.sub-title { font-size: 12px }
p { margin-bottom: 15px }
a {
	text-decoration: none;
	color: #252525;
	transition: all 0.25s ease-in-out;
}
a:hover { color: #fbd713 }
a:link, a:visited, a:active { text-decoration: none }
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder { color:transparent; }
/* Mozilla Firefox 4 to 18 */
input:focus:-moz-placeholder, textarea:focus:-moz-placeholder { color:transparent; }
/* Mozilla Firefox 19+ */
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder { color:transparent; }
/* Internet Explorer 10+ */
input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder { color:transparent; }
/*------------all pgae -------------------*/
.row:after, .row:before {
	display: block;
	content: " "
}
.row:after { clear: both }
/*-[ Main container ]---------------*/
#page, .container {
	position: relative;
	margin-right: auto;
	margin-left: auto;
}
#page, .container {
	max-width: 1170px;
	min-width: 240px;
}
#page {
	min-height: 100px;
	float: none;
	clear: both;
}
/*-[ Header ]-----------------------*/
.top-nav {
	float: left;
	width: 100%;
	padding: 7px 0;
	background-color: #252525;
}
.top-nav > .container {
	padding: 7px 0;
	margin: -7px auto;
}
#secondary-navigation .navigation ul ul:before {
	content: '';
	height: 8px;
	width: 100%;
	position: absolute;
	top: -8px;
	left: 0;
}
#secondary-navigation .navigation ul ul li { background-color: #252525; }
#secondary-navigation .navigation ul ul a, #secondary-navigation .navigation ul ul a:link, #secondary-navigation .navigation ul ul a:visited {
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
#primary-navigation {
	position: relative;
	float: left;
	z-index: 2;
	width: 100%;
	background: #e5e5e5;
	background: linear-gradient(to bottom, #e5e5e5 0%, #dedede 100%);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.20), inset 0 1px 0 rgba(255, 255, 255, 0.50);
}
#site-header {
	position: relative;
	float: left;
	z-index: 99;
	width: 100%;
	clear: both;
}
#site-header h1, #site-header h2 {
	position: relative;
	float: left;
	display: inline-block;
	line-height: 1;
	margin: 5px 0;
}
.top-description {
	float: left;
	margin-top: 0;
	max-width: 350px;
	line-height: 1;
	padding-top: 8px;
}
.site-description {
	clear: left;
	color: #757575;
	margin-bottom: 10px;
}
.site-description, .text-logo { float: left }
.nav-right, .social_icons, .info-header, #secondary-navigation { float: right }
.social_icons { margin-left: 12px }
.social_icons a {
	float: left;
	width: 26px;
	height: 26px;
	line-height: 26px;
	display: block;
	vertical-align: middle;
	margin-left: 7px;
	border: 1px solid #757575;
	border-radius: 50%;
	color: #757575;
	text-align: center;
}
.social_icons a span { line-height: 26px }
.social_icons a:hover {
	border-color: #fbd713;
	color: #000;
	background-color: #fbd713;
}
.logo-container { padding: 44px 0 }
#secondary-navigation ul li a {
	float: left;
	line-height: 1;
	padding: 7px 9px 4px 9px;
	border-right: none;
}
#secondary-navigation ul li a i { line-height: 10px }
#secondary-navigation ul ul li a { padding: 10px 15px }
#secondary-navigation ul li:hover > a { color: #fbd713 }
#header {
	position: relative;
	float: left;
	width: 100%;
	padding-top: 40px;
	padding-bottom: 37px;
	background-position: top center;
	box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.1);
}
#header .contact-info-wrap {
	float: right;
	margin-top: 10px;
}
#header .contact-info {
	float: left;
	border-right: 1px solid rgba(255, 255, 255, 0.12);
	padding-left: 29px;
	padding-right: 29px;
}
#header .contact-info:last-child {
	border-right: none;
	padding-right: 0px;
}
#header .contact-info:first-child { padding-left: 0 }
#header .contact-info .icon {
	float: left;
	height: 50px;
	width: 50px;
	display: block;
	margin-right: 20px;
	text-align: center;
	border: 1px solid #757575;
	border-radius: 50%;
}
#header .contact-info .icon i {
	line-height: 48px;
	font-size: 30px;
	color: #757575;
}
#header .contact-info .description {
	float: left;
	line-height: 23px;
	margin-top: 4px;
}
#header .contact-info .description > div:first-child {
	color: #dedede;
	font-weight: 700;
	font-size: 18px;
}
#header .contact-info .description > div:last-child {
	font-weight: 400;
	font-size: 16px;
	margin-top: -1px;
}
#header .contact-info .description > div:last-child a:hover { color: #fbd713 }
#logo a {
	float: left;
	line-height: 1;
	color: #fff;
}
.image-logo { float: left }
#logo img { float: left }
.logo-wrap {
	float: left;
	line-height: 1;
	min-width: 200px;
}
#site-header .description p {
	font-size: 18px;
	color: #dedede;
	font-weight: 700;
}
#site-header .description a {
	font-size: 16px;
	color: inherit;
	font-weight: 400;
}
#site-header .description a:hover { color: #fbd713 }
.widget-header .adcode-widget {
    width: 300px;
    height: 250px;
    overflow: hidden;
    margin: 0 auto;
}
/*-[ Navigation ]-----------------*/
.menu-item-has-children > a:after {
	content: "\f0d7";
	font-family: FontAwesome;
	position: absolute;
	right: 20px;
}
#secondary-navigation .menu-item-has-children > a:after { right: 6px; }
.widget_nav_menu .menu-item-has-children > a:after { display: none }
#primary-navigation .navigation .menu-item-has-children > a { padding-right: 35px }
#secondary-navigation .navigation .menu-item-has-children > a { padding-right: 18px }
#primary-navigation .navigation { float: left }
.navigation a { 
	padding: 18px 29px;
	border-right: 1px solid rgba(0, 0, 0, 0.15);
	color: #757575;
}
#primary-navigation .menu li:first-child a { border-left: 1px solid rgba(0, 0, 0, 0.15) }
#primary-navigation .menu li:first-child a i { font-size: 14px }
#secondary-navigation a .sub {
	font-size: 11px;
	font-weight: normal;
	color: #9B9B9B;
}
.navigation ul { margin: 0 auto }
.navigation ul li {
	position: relative;
	float: left;
	line-height: 24px;
}
.navigation ul li a, .navigation ul li a:link, .navigation ul li a:visited { display: inline-block }
.navigation > ul > .current a {
	position: relative;
	color: #5a5a5a !important;
	background: transparent;
}
.navigation ul ul {
	position: absolute;
	z-index: 400;
	color: #798189;
	font-size: 12px;
}
.navigation ul ul {	box-shadow: -1px 0 1px rgba(0, 0, 0, 0.1), inset -1px 0 1px rgba(0, 0, 0, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.1)!important; }
#secondary-navigation .navigation ul ul { top: 33px }
#secondary-navigation .navigation ul ul ul { top: 0 }
.navigation ul ul li {
	padding: 0;
	background: #fff;
	border-bottom: 0;
}
.navigation ul ul a, .navigation ul ul a:link, .navigation ul ul a:visited {
	position: relative;
	padding: 13px 20px 13px 25px;
	width: 240px;
	margin: 0;
	text-transform: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	border-left: 0;
	border-right: 0;
	border-radius: 0;
	background: transparent;
}
#secondary-navigation .navigation ul ul a, #secondary-navigation .navigation ul ul a:link, #secondary-navigation .navigation ul ul a:visited { width: 185px }
.navigation ul ul a:before, .navigation ul ul a:link:before, .navigation ul ul a:visited:before { display: none }
.navigation ul ul li:first-child a { border-left: none!important }
.navigation ul ul li:last-child a { border-bottom: none }
.navigation ul ul { display: none }
.navigation ul ul ul {
	left: 240px;
	top: 0;
}
.navigation i { margin-right: 3px }
#secondary-navigation .navigation ul ul ul { left: 185px }
.sub-menu .menu-item-has-children:after { color: #fff }
.navigation .toggle-caret, .navigation.mobile-only { display: none }
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after { clear: both }
.clearfix { *zoom: 1; clear: both; }
a#pull { display: none }
#primary-navigation ul li.current-menu-item > a:before, #primary-navigation li a:before {
	position: absolute;
	content: '';
	left: 0px;
	top: -3px;
	opacity: 0;
	width: 99.2%;
	height: 3px;
	background: #fbd713;
}
#primary-navigation ul li:first-child a:before { 
	width: 98.5%;
	left: 1px; 
}
#primary-navigation a:hover, #primary-navigation ul li.current-menu-item > a {
	background: #fff;
	color: #252525;
}
#primary-navigation ul li:hover a:before, #primary-navigation ul li.current-menu-item > a:before { opacity: 1 }
#primary-navigation ul ul li:hover > a {
	background: #fbd713;
	color: #252525!important;
}
#primary-navigation ul ul li a:hover:before { display: none }
#primary-navigation .navigation ul li:hover > a {
	color: #252525;
	background: #fff;
}
#primary-navigation .navigation .sub-menu li:hover > a { background: #fbd713 }

/* Flyout nav */
#primary-navigation.sticky-navigation-active {
	position: fixed;
	top: 0;
	z-index: 500;
	margin: 0 !important;
	-webkit-backface-visibility: hidden;
}
#primary-navigation.admin-bar.sticky-navigation-active { top: 32px }
#primary-navigation.sticky-navigation a { transition: all 0.25s linear }

/*-------------------------------------------------
Blog Page
---------------------------*/
.latestPost {
	width: 48.05%;
	float: left;
	margin-bottom: 60px;
	max-width: 370px;
	margin-right: 3.90%;
}
.latestPost.last { margin-right: 0 }
.latestPost .latestPost .post-info {
	padding-top: 0;
	padding-bottom: 25px;
}
.front-view-content { 
	float: left;
	width: 100%;
	clear: both;
}
.blog .latestPost .title {
	margin: 20px 0;
	float: left;
	width: 100%;
}
.single article header { margin-bottom: 10px }
.latestPost .title {
	display: block;
	float: left;
	margin-top: 0;
	margin-bottom: 20px;
	width: 100%;
}
.latestPost .title a { 
	display: block; 
	line-height: 25px;
}
.sub-header {
	position: relative;
	width: 100%;
	z-index: 2;
	clear: both;
	background-position: center;
}
.sub-header > .container {
	padding: 48px 2% 46px;
	max-width: 100%;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.sub-header .title {
	font-size: 40px;
	text-align: center;
	margin-bottom: 0;
}
.blog2 .post-image {
	float: right;
	max-width: 370px;
	width: 47.86%;
}
.blog2 .latestPost-left {
	float: left;
	max-width: 370px;
	width: 47.86%;
}
.blog2 .latestPost {
	width: 100%;
	margin-right: 0;
	max-width: 100%;
}
.blog2 .latestPost .post-info {
	padding-top: 0;
	padding-bottom: 25px;
	margin-bottom: 25px;
}
.blog2 .latestPost .front-view-content {
	padding-bottom: 22px;
	border-bottom: 1px solid #dedede;
}

/*-[ Content ]--------------------*/
.featured-category-title {
	position: relative;
	float: left;
	width: 100%;
	clear: both;
	line-height: 1;
	padding-bottom: 30px;
	padding-top: 86px;
	margin-bottom: 56px;
	font-size: 30px;
}
.featured-category-title.blog {
	position: relative;
	line-height: 1;
	padding-top: 0;
	padding-bottom: 20px;
	margin-bottom: 26px;
	font-size: 20px;
}
.featured-category-title a { color: #252525 }
.featured-category-title:after {
	position: absolute;
	content: '';
	bottom: 2px;
	left: 1px;
	width: 50px;
	height: 3px;
	background: #fbd713;
}
.featured-title { padding-top: 0 }
.article {
	position: relative;
	float: left;
	width: 68.37%;
	max-width: 800px;
	padding: 0;
	padding-top: 60px;
	padding-right: 2.56%;
	box-sizing: border-box;
	background: #fff;
	box-shadow: 0px 0 1px rgba(0, 0, 0, 0.18);
}
.article:before {
	position: absolute;
	content: '';
	top:0;
	left: -1000px;
	width: 1000px;
	height: 100%;
	background: #fff;
	box-shadow: -1px 0 1px rgba(0, 0, 0, 0.18);
}
#content_box, .post {
	float: left;
	width: 100%;
}
.single_post {
	float: left;
	width: 100%;
	border-bottom: 1px solid #dedede;
	margin-bottom: 60px;
}
.services-single .single_post { 
	border-bottom: none;
	margin-bottom: 5px;
}
.single_page {
	background-color: white;
	padding-top: 0;
}
.post-content {
	margin-bottom: 15px;
	clear: both;
	float: left;
	width: 100%;
}
.single_post .single-image {
	float: left;
	width: 100%;
	clear: both;
}
.single_post .single-image img {
	float: left;
	width: 100%;
}
.single-title {
	float: left;
	width: 100%;
	line-height: 35px;
	margin-top: 25px;
	margin-bottom: 25px;
}
.post-single-content { clear: both }
.readMore {
	float: left;
	border-radius: 2px;
	text-transform: uppercase;
}
.readMore a { 
	color: #252525;
	display: block;
	border-radius: 2px;
	padding: 0 15px;
	line-height: 44px;
	background: #fbd713;
	font-weight: bold;
}
.readMore a:hover {
	color: #000;
	background-color: #fbd713;
}
.frontPost .readMore a {
	color: #252525;
	font-size: 12px;
}
.blog-page .thecomment, .search-results .thecomment {
	float: left;
	margin-left: 10px;
}
.blog-page .thecomment a, .search-results .thecomment a {
	border: 1px solid #dedede;
	text-align: center;
	padding: 0 18px;
	display: block;
	line-height: 42px;
	color: #757575;
	border-radius: 2px;
}
.blog-page .thecomment a i, .search-results .thecomment a i {
	line-height: 42px;
	margin-right: 5px;
}
.ss-full-width,.project-single .article.ss-full-width {
	background: white;
	overflow: hidden;
	padding: 30px;
	box-shadow: 0px 0 1px rgba(0, 0, 0, 0.18), 0px 0 1px rgba(0, 0, 0, 0.18);
	width: 100%;
	max-width: 100%;
}
.ss-full-width #content_box {
	padding-right: 0;
	padding-left: 0;
}
img {transition: all ease-in-out .5s;}
.post.excerpt {
	clear: both;
	margin-bottom: 30px;
	overflow: hidden;
	padding-bottom: 15px;
	background-color: #fff;
	width: auto;
}
.featured-thumbnail {
	position: relative;
	max-width: 100%;
	overflow: hidden;
}
.post-image {
	position: relative;
	display: block;
}
.featured-thumbnail:after {
	position: absolute;
	content: "";
	bottom: -30px;
	left: 50%;
	z-index: 5;
	width: 1px;
	height: 1px;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.1);
}
.post-image-fullwidth {
	position: relative;
	display: block;
	margin-bottom: 10px;
}
.featured-thumbnail:hover:after {
	animation: riseEffect 1.5s ease-out 75ms;
}
.featured-thumbnail img:hover {
	transform: scale(1.01);
}
.featured-thumbnail img {
	width: 100%;
	display: block;
	border-radius: 2px;
}
.title { clear: both }
.author-block {
	float: left;
	margin-right: 20px;
}
.author-block .author-image {
	float: left;
	display: block;
	width: 46px;
	padding: 4px;
	border: 2px solid #c0c0c0;
	border-radius: 50%;
}
.author-block .author-image img {
	border-radius: 50%;
	display: block
}
.author-block .theauthor {
	margin: 10px 0 0 20px;
	float: left;
}
.author-block .theauthor a {
	color: #101010;
	text-transform: uppercase;
}
.latestPost .post-info > span {
	float: left;
	color: #757575;
	margin-right: 18px;
}
.latestPost .post-info > span:last-child { margin-right: 0 }
.post-info a { color: #757575 }
.post-footer { 
	float: left;
	width: 100%;
	clear: both;
	margin-top: 30px 
}
.services .post-footer { margin-top: 25px }

/**********latest-posts***********/
.latestPost {
	position: relative;
	float: left;
	margin-bottom: 60px;
}
.services .latestPost .title a { font-size: 16px }
.services .latestPost {
	margin-bottom: 60px;
	float: left;
}
article img.left, article img.alignleft, .wp-caption.alignleft {
	margin: 0.3em 1.571em 0.5em 0;
	display: block;
	float: left;
}
article img.right, article img.alignright, .wp-caption.alignright {
	margin: 0.3em 0 0.5em 1.571em;
	display: block;
	float: right;
}
article img.center, article img.aligncenter, .wp-caption.aligncenter {
	margin: 0.3em auto 0.5em auto;
	display: block;
}
article img.aligncenter, article img.alignnone {
	margin-top: 1em;
	margin-bottom: 1em;
	display: block;
	clear: both;
	float: left;
}
article ul, .project-single .article ul, .services-single .single_post ul {
	margin: 1.5em 0 1.571em 2.5em;
	list-style-type: square;
	clear: both;
}
article ol, .project-single ol, .services-single .single_post ol {
	margin: 1.5em 0 1.571em 2.5em;
	list-style-type: decimal;
	clear: both;
}
article ul ul, article ol ol, article ul ol, article ol ul {
	margin-top: 0;
	margin-bottom: 0;
}
article .iconlist { margin-left: 0 }
article .iconlist li { list-style-type: none }

/*-[ Facebook like box Widget ]---------------------------*/
.tweets li { margin-bottom: 15px!important }
.fb_iframe_widget, .fb_iframe_widget span {
	max-width: 100%;
	width: 100%!important;
}
.widget.widget_mts_widget_recent_tweets li, #site-footer .widget.widget_mts_widget_recent_tweets li {
	width: 100%;
	text-transform: inherit;
}
/*-[ Custom Nav Widget ]---------------------------*/
.widget_nav_menu .fa > a, .widget_nav_menu .fa > a { padding-left: 5px }
.widget_nav_menu .menu-item-has-children > a:after { content: '' }
/*-[ Toggle menu ]---------------------------*/
.toggle-menu ul ul { display: none }
.toggle-menu .toggle-menu-item-parent { position: relative }
.toggle-menu .toggle-caret {
	position: absolute;
	top: 0px;
	right: 0;
	text-align: center;
	cursor: pointer;
	line-height: inherit;
	color: #dedede;
	font-size: 14px;
}
.widget li:hover > .toggle-caret { color: #fbd713 }
#site-footer .toggle-submenu .toggle-caret { top: 10px }
.toggle-menu .toggle-caret .fa {
	width: 20px;
	text-align: center;
	font-size: inherit;
	color: inherit;
	line-height: 20px;
}
.toggle-menu .active > .toggle-caret .fa:before { content: "\f068" }
/*-[ Text Widget ]---------------------------*/
.textwidget { line-height: 23px }
.mts-text { padding: 15px 0 } 
/*-[ Form Input ]------------------*/
input, textarea, select {
	padding: 8px 12px;
	font-size: 14px;
	color: #666;
	border: 1px solid #D8D8D8;
	font-family: inherit;
}
textarea {
	overflow: auto;
	resize: vertical;
}
select {
	padding: 6px 10px;
	border-color: #D8D8D8;
}
/*-[ Tables ]--------------------*/
table {
	width: 100%;
	text-align: left;
	margin-bottom: 30px;
	border: 1px solid #dedede;
}
thead {
	background: #fafafa;
	font-size: 14px;
	color: #252525;
	border-bottom: 1px solid #dedede;
}
table th, table td {
	padding: 7px 15px;
	text-align: left;
}
thead th { padding: 14px }
tbody th { font-weight: normal; }
/*-[ Line ]---------------------*/
hr {
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	width: 297px;
	margin: 35px 0;
	clear: both;
	position: relative;
}
/*-[ Search Form ]------------------*/
#searchform {
	position: relative;
	float: left;
	clear: both;
	box-sizing: border-box;
	width: 100%;
	border: 1px solid #dedede;
}
.article #searchform { max-width: 300px }
#searchform fieldset { float: left }
.sbutton, #searchsubmit {
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 10;
	width: 12%;
	height: 44px;
	border: 0;
	text-align: center;
	transition: all 0.25s linear;
	background: transparent;
	cursor: pointer;
}
#searchform .fa-search {
	position: absolute;
	top: 15px;
	right: 13px;
	color: #757575;
	font-size: 14px;
}
#s {
	float: left;
	width: 88%;
	text-indent: 0px;
	color: #757575;
	box-sizing:border-box;
	height: 44px;
	padding: 0 15px;
	border: none;
	background-color: inherit;
}
/* Search input placeholder text styling */
::-webkit-input-placeholder { color: #757575 }
:-moz-placeholder { color: #757575 }
::-moz-placeholder { color: #757575 }
:-ms-input-placeholder { color: #757575 }
:input-placeholder { color: #757575 }
/* Microphone icon position fix */
input::-webkit-input-speech-button {
	margin-right: 14px;
	margin-left: 4px;
	cursor: pointer;
}
#searchform fieldset { width: 100% }
.post-info {
	float: left;
	clear: both;
	display: block;
	color: #757575;
	width: 100%;
	text-transform: uppercase;
	padding-top: 14px;
	padding-bottom: 13px;
	margin-bottom: 15px;
	border-bottom: 1px solid #dedede;
	font-size: 12px;
}
.post-info a { color: #757575 }
.post-info a:hover{ color: #fbd713 }
.post-info > span { margin-right: 17px; }
.post-info > span:last-child { margin-right: 0 }
.post-info > span i { margin-right: 4px }
.related-posts .post-info {
	border-bottom: none;
	padding: 0;
	padding-top: 15px;
}
/*-----------------------
 Breadcrumb
-----------------------*/
.breadcrumb .container > div, .breadcrumb .fa-caret-right, .breadcrumb .root a { 
	float: none; 
	color: rgba(0, 0, 0, 0.25); 
}
.breadcrumb {
	float: left;
	width: 100%;
	clear: both;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding-top: 15px;
	padding-bottom: 4px;
	text-transform: uppercase;
}
.breadcrumb .container > div {
	padding: 0 7px;
	overflow: hidden;
	float: none;
	display: inline-block;
	color: rgba(0, 0, 0, 0.25);
}
.breadcrumb .container > div:first-child { padding-left: 0 }
.breadcrumb a { color: rgba(0, 0, 0, 0.25) }
.breadcrumb a:hover { color: #fbd713 }
.breadcrumb .fa-caret-right { padding: 0 }
.breadcrumb .root { padding: 0 }
.breadcrumb > div { overflow: visible }
.no-results h2 { font-size: 16px }
/*-[ Read More ]-------------------*/
.read-more {
	margin: 0 0 0 10px;
	line-height: 1.4em;
	background: none;
	padding: 0;
	font-size: 16px;
}
/*-[ Top Ad in Post ]-------------------------------------*/
.topad {
	margin-bottom: 10px;
	clear: both;
}
/*-[ Bottom Ad in post ]-----------*/
.bottomad {
	float: left;
	clear: both;
	margin-top: 10px;
}
/*-[ Sidebar ]---------------------*/
#sidebar p { line-height: 20px }
.sidebar.c-4-12 {
	float: right;
	width: 31.62%;
	line-height: 20px;
	max-width: 370px;
	padding-left: 30px;
	box-sizing: border-box;
	padding-top: 60px;
}
#sidebar .wp-post-image, #site-footer .wp-post-image {
	margin-bottom: 0;
	margin-top: 5px;
	margin-right: 20px;
	margin-left: 0;
}
.widget {
	margin-bottom: 55px;
	float: left;
	clear: both;
	width: 100%;
}
.sidebar .widget h3 {
	margin-bottom: 30px;
	padding-bottom: 20px;
}
.sidebar .widget h3:after {
	position: absolute;
	content: '';
	left: 0;
	bottom: 0;
	width: 50px;
	height: 3px;
	background: #fbd713;
}
.widget .title {
	font-weight: bold;
	text-transform: uppercase;
	color: #545E68;
	font-size: 12px;
}
.widget li {
	width: 100%;
	float: left;
	border-bottom: 1px solid #e4e4e4;
}
.widget li ul.children {
	overflow: hidden;
	padding: 10px 0 0 10px;
	border-top: 1px solid #e4e4e4;
}
.widget li ul.children li { border-bottom: none }
.sidebar .widget.widget_pages ul.children li { border-bottom: 1px solid #e4e4e4 }
.sidebar .widget.widget_pages ul.children li:last-of-type { border-bottom: none }
#site-footer .widget li ul.children li:last-of-type { border-bottom: none }
#site-footer .widget li ul.children li { width: 100% }
#site-footer .widget li ul.children { border-top: 1px solid rgba(255, 255, 255, 0.1); }
#site-footer .widget li {
	margin-left: 0px;
	text-transform: uppercase;
	width: 45%;
	margin-right: 10%;
	float: left;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
#site-footer .widget li:nth-child(even){ margin-right: 0 }
#site-footer .widget.mts_ad_widget li { border-bottom: 0 }
#site-footer .widget.mts_ad_widget li > a { padding-top: 0 }
#site-footer .widget.mts_ad_widget li:last-of-type > a, #site-footer .widget.mts_ad_widget li:nth-last-child(2) > a { padding-bottom: 0 }
#site-footer .widget.widget_calendar a, #site-footer .widget.widget_rss a { color: #dedede }
.sidebar .widget.widget_nav_menu li .sub-menu li:first-child { border-top: 1px solid #e4e4e4; padding-top: 10px; }
.sidebar .widget.widget_nav_menu li .sub-menu li:last-child { border-bottom: none }
.widget li > a {
	position: relative;
	padding: 10px 0;
	display: inline-block;
	color: #757575;
}
.widget li:first-child > a, .widget.mts_ad_widget li:nth-child(2) a { padding-top: 0 }
#site-footer .widget.widget_archive li:first-child > a, #site-footer .widget.widget_archive li:nth-child(2) > a, #site-footer .widget.widget_categories li:first-child > a, #site-footer .widget.widget_categories li:nth-child(2) > a, #site-footer .widget.widget_pages li:first-child > a, #site-footer .widget.widget_pages li:nth-child(2) > a, #site-footer .widget.widget_meta li:first-child > a, #site-footer .widget.widget_meta li:nth-child(2) > a, #site-footer .widget.widget_nav_menu li:first-child > a, #site-footer .widget.widget_nav_menu li:nth-child(2) > a { padding-top: 0 }
#site-footer .widget.widget_pages li ul.children li:nth-child(2) > a, #site-footer .widget.widget_meta li ul li:first-child > a, #site-footer .widget.widget_meta li ul li:nth-child(2) > a, #site-footer .widget.widget_nav_menu li ul li:first-child > a, #site-footer .widget.widget_nav_menu li ul li:nth-child(2) > a { padding-top: 10px }
.widget li.recentcomments:first-child > a { padding-top: 10px }
.widget.widget_categories.widget_services li a, .widget.widget_product_categories li a { transition: none }
.widget.widget_categories.widget_services li a, .widget.widget_product_categories li a { width: 100% }
.widget.widget_categories li a i, .widget.widget_archive li a i, .widget.widget_pages li a i, .widget.widget_meta li a i, .widget.widget_nav_menu li a i {
	width: 20px;
	height: auto;
}
.widget.widget_services li a i, .widget.widget_brochure li i, .widget.widget_brochure li a i, .widget.widget_project_details li a i, .widget.widget_project_details li i { width: 32px }
.widget.widget_project_details li {
	padding: 10px 0;
}
.widget.widget_project_details li a {
	padding: 0;
}
#site-footer .widget.widget_nav_menu li:hover > a, .sidebar .widget.widget_nav_menu li:hover > a { color: #fbd713 }
.widget.widget_recent_comments li, .widget.widget_rss li { padding: 10px 0 }
.widget.widget_recent_comments li:first-child, .widget.widget_rss li:first-child { padding-top: 0 }
#site-footer .widget.widget_recent_comments li, #site-footer .widget.widget_rss li, #site-footer .widget.widget_recent_entries li {
	width: 100%;
	margin-right: 0;
	text-transform: none;
}
#site-footer .widget.widget_recent_comments li a, #site-footer .widget.widget_rss li a {
	padding: 0; 
	display: inline-block;
}
.sidebar .toggle-menu .toggle-caret { top: 10px }
#site-footer .widget li > a {
	padding: 13px 0;
	display: block;
}
#site-footer .widget li a {color: inherit;}
#site-footer .social-profile-icons .social-profile-icons {
	border: none;
	padding: 0;
}
#site-footer .social-profile-icons li { 
	border-bottom: none; 
	width: auto!important;
}
#site-footer .social-profile-icons li a { padding: 0 }
#site-footer .advanced-recent-posts li, #site-footer .popular-posts li, #site-footer .category-posts li, #site-footer .related-posts-widget li, #site-footer .author-posts-widget li, #site-footer .wpt_widget_content .tab-content li {
	width: 100%;
	border: none;
	padding-top: 0;
	padding-bottom: 20px;
	padding-left: 0;
	background: none;
	text-transform: none;
}
#site-footer .wpt_widget_content .tab-content li:last-child { border-bottom: none }
#site-footer #searchform { border: 1px solid rgba(255, 255, 255, 0.1) }
#site-footer #s { color: #ffffff }
#site-footer .widget.widget_categories li a, #site-footer .widget_archive li a { display: inline-block }
.widget select { width: 100% }
#site-footer .toggle-menu .toggle-caret { top: 13px }
#site-footer .toggle-menu .sub-menu .toggle-caret { top: 10px }
#site-footer .wpt_widget_content ul.wpt-tabs li {
	width: 50%;
	margin: 0;
	border: none;
}
#site-footer .wpt_widget_content ul.wpt-tabs li.selected a { color: #252525; }
#site-footer .wpt_widget_content .inside {
	background: none;
	border: none;
}
.widget.widget_services li:first-of-type, .widget.widget_brochure li:first-of-type { border-top: 1px solid #e4e4e4 }
.widget.widget_services li > a, .widget.widget_brochure li { padding: 16px 0 14px 0 }
.widget.widget_brochure li a { padding: 0 }
.widget_nav_menu .sub-menu { margin-left: 6px }
#site-footer .widget_nav_menu .sub-menu li {
	width: 100%;
	margin-right: 0;
}
#site-footer .widget_nav_menu .sub-menu li:first-child { border-top: 1px solid rgba(255, 255, 255, 0.1) }
#site-footer .widget_nav_menu .sub-menu li:last-child { border-bottom: none }
#site-footer .widget_nav_menu .sub-menu li a { padding: 10px 0 }
.widget.widget_services li a:before, .widget.widget_product_categories li a:before {
	position: absolute;
	content: '';
	left: -30px;
	top: 0;
	opacity: 0;
	width: 30px;
	height: 100%;
	background: #fbd713;
}
.widget.widget_services li a:after, .widget.widget_product_categories li a:after {
	position: absolute;
	content: '';
	top: 50%;
	left: -37px;
	opacity: 0;
	width: 0;
	height: 0;
	margin-top: -8px;
	border-style: solid;
	border-width: 7.5px 7px 7.5px 0;
	border-color: transparent #fbd713 transparent transparent;
}
.widget.widget_services li a:hover, .widget.widget_product_categories li a:hover, .widget.widget_services li.active a {
	color: #252525;
	background: #fbd713;
}
.widget.widget_services li a:hover:before, .widget.widget_services li a:hover:after, .widget.widget_product_categories li a:hover:before, .widget.widget_product_categories li a:hover::after, .widget.widget_services li.active a:after, .widget.widget_services li.active a:before { opacity: 1 }
.widget h3 {
	position: relative;
	line-height: 24px;
	padding-bottom: 28px;
	margin-bottom: 55px;
	color: #dedede;
	font-size: 20px;
}
.widget h3:after {
	position: absolute;
	content: '';
	left: 0;
	bottom: 0;
	width: 50px;
	height: 3px;
	background: rgba(255,255,255,0.28);
}
.widget .post-info {
	width: auto;
	clear: none;
	border-bottom: none;
	padding-top: 8px;
	padding-bottom: 8px;
}
.advanced-recent-posts li, .popular-posts li, .category-posts li, .related-posts-widget li, .author-posts-widget li {
	list-style: none!important;
	transition: all 0.25s linear;
	box-sizing: border-box;
	padding: 25px 20px;
	padding-bottom: 20px;
	border: 1px solid #dedede;
	border-bottom: none;
	float: left;
}
.advanced-recent-posts li:last-child, .popular-posts li:last-child, .category-posts li:last-child, 
.related-posts-widget li:last-child, .author-posts-widget li:last-child { border-bottom: 1px solid #dedede }
.advanced-recent-posts li:nth-child(odd), .popular-posts li:nth-child(odd), .category-posts li:nth-child(odd), 
.related-posts-widget li:nth-child(odd), .author-posts-widget li:nth-child(odd) { background: #fff }
.advanced-recent-posts li .post-img, .popular-posts li .post-img, .category-posts li .post-img, .related-posts-widget li .post-img, .author-posts-widget li .post-img {
	float: left;
	max-width: 85px;
}
.vertical-small .advanced-recent-posts li .post-img, .vertical-small .popular-posts li .post-img, .vertical-small .category-posts li .post-img, .vertical-small .related-posts-widget li .post-img, .vertical-small .author-posts-widget li .post-img {
	max-width: 100%;
	width: 100%;
	margin-bottom: 15px;
}
.vertical-small .advanced-recent-posts li .post-img img, .vertical-small .popular-posts li .post-img img, .vertical-small .category-posts li .post-img img, .vertical-small .related-posts-widget li .post-img img, .vertical-small .author-posts-widget li .post-img img {
	width: 100%;
	background-size: cover;
}
.advanced-recent-posts .post-title a, .popular-posts .post-title a, .category-posts .post-title a, .related-posts-widget .post-title a, .author-posts-widget .post-title a {
	font-size: 16px;
	color: inherit;
}
.advanced-recent-posts li .post-info > span, .popular-posts li .post-info > span, .category-posts li .post-info > span, .related-posts-widget li .post-info > span, .author-posts-widget li .post-info > span { margin-right: 10px }
.advanced-recent-posts p, .popular-posts p, .category-posts p, .related-posts-widget p, .author-posts-widget p {
	margin: 0;
	font-size: 13px;
}
.advanced-recent-posts a, .popular-posts a, .category-posts a, .related-posts-widget a, .author-posts-widget a {display: block }
.blog-page .widget .thecomment { margin-left: 0 }
.widget.mts_ad_300_widget, #site-footer .mts_ad_300_widget {
	padding: 18.98px;
	text-align: center;
	border: 1px solid #dedede;
	box-sizing: border-box;
}
#site-footer .mts_ad_300_widget { border: 1px solid rgba(255, 255, 255, 0.1) }
.mts_ad_300_widget img { vertical-align: middle }
.widget .meta {
	font-size: 13px;
	color: #777;
	overflow: hidden;
}
/*-[ Business Hours Widget ]--------------------------*/
.businesshours li, .ouroffice li { padding: 15px 0 }
.ouroffice li:first-child { padding-top: 0; }
.businesshours li:first-child { border-top: 1px solid #e4e4e4 }
.ouroffice li .fa {
	margin-right: 18px;
	color: #757575;
}
#site-footer .ouroffice li .fa { color: rgba(255, 255, 255, 0.25); }
.ouroffice li span {
	display: block;
	width: 100%;
	color: rgba(0, 0, 0, 0.25);
	margin-left: 30px;
}
#site-footer .ouroffice li span { color: rgba(255, 255, 255, 0.25); }
.ouroffice li a, #site-footer .ouroffice li a { padding: 0; }
#site-footer .businesshours li, #site-footer .ouroffice li {
	width: 100%;
	text-transform: none;
	color: inherit;
}
#site-footer .businesshours li span.left {color: rgba(255, 255, 255, 0.25);}
#site-footer .businesshours li:first-child { border-top: 1px solid rgba(255, 255, 255, 0.1) }
.widget_business_hours_widget .widget-title {margin-bottom: 50px;}
/*-[ Social Buttons ]--------------------------*/
.shareit {
	padding: 12px 0 7px;
	clear: both;
	border: none;
	z-index: 1;
	width: 100%;
	margin-bottom: 25px;
}
.shareit:after {
    content: "";
    display: block;
    clear: both;
}
.shareit.top { padding-top: 0!important }
.elementor-column-gap-default > .elementor-row > .elementor-column > .elementor-element-populated {
    padding: 10px 0;
}
.share-item {
	display: block;
	margin: 0;
	float: left;
	height: 25px;
	width: 100px;
}
.share-item.facebookbtn {
	margin-top: -2px;
	width: 90px;
	height: 28px;
}
.share-item.facebooksharebtn { margin-top: -2px }
.share-item.twitterbtn { width: 80px }
.share-item.gplusbtn { width: 55px }
.share-item.pinbtn { width: 80px; }
.share-item.pinbtn a { transition: none }
.share-item.stumblebtn {
	margin-top: 1px;
	height: 24px;
}
.share-item iframe { max-width: none }

/*-[ Social Profile Widget ]--------------------------*/
.social-profile-icons .social-profile-icons {
	border: 1px solid #dedede;
	padding-left: 13px;
	padding-right: 13px;
	box-sizing: border-box;
	padding-top: 16px;
	padding-bottom: 8px;
	overflow: hidden;
}
.social-profile-icons ul {
	margin-left: -5px;
	margin-right: -5px;
}
.social-profile-icons ul li {
	float: left;
	margin: 0 5px 10px 5px!important;
	width: auto;
	border-bottom: none;
}
.social-profile-icons ul li a {
	width: 30px;
	height: 30px;
	display: block;
	float: left;
	border-radius: 50%;
	text-align: center;
	line-height: 30px;
	color: #FFF!important;
	padding: 0;
}
.sidebar .social-profile-icons ul li a:hover { background: #666 }
.social-profile-icons ul li i {
	font-size: 16px;
	line-height: 30px;
}
.social-profile-icons .social-youtube a { background: #c9322b; }
.social-profile-icons .social-rss a { background: #ef922f; }
.social-profile-icons .social-twitter a { background: #40bff5; }
.social-profile-icons .social-facebook a { background: #5d82d1; }
.social-profile-icons .social-gplus a { background: #eb5e4c; }
.social-profile-icons .social-vimeo a { background: #35c6ea; }
.social-profile-icons .social-dribbble a { background: #f7659c; }
.social-profile-icons .social-tumblr a { background: #426d9b; }
.social-profile-icons .social-instagram a { background: #91653f; }
.social-profile-icons .social-flickr a { background: #ff48a3; }
.social-profile-icons .social-pinterest a { background: #e13138; }
.social-profile-icons .social-linkedin a { background: #238cc8; }
.social-profile-icons .social-github a { background: #b5a470; }
.social-profile-icons .social-email a { background: #1d90dd; }
.social-profile-icons .social-behance a { background: #1879fd; }
.social-profile-icons .social-skype a { background: #13c1f3; }
.social-profile-icons .social-soundcloud a { background: #ff7e30; }
.social-profile-icons .social-stumbleupon a { background: #ff5c30; }
.social-profile-icons .social-dropbox a { background: #3476e4; }
.social-profile-icons .social-foursquare a { background: #0bbadf; }
.social-profile-icons .social-reddit a { background: #ff4400; }
/*-[ Footer ]-------------------*/
#site-footer .footeText {
	width: 960px;
	margin: 22px auto;
	text-align: center;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}
#site-footer .footeText a {
	color: #fff;
	border-bottom: 2px solid #fbd713;
}
#site-footer .sidebar .widget .title {
	font-size: 135%;
	color: #D4D8DB;
}
#site-footer {
	position: relative;
	float: left;
	z-index: 1;
	clear: both;
	overflow: hidden;
	width: 100%;
	padding-top: 56px;
	background-position: top center;
	background-repeat: repeat;
}
.footer-widgets {
	overflow: hidden;
	width: 100%;
}
.f-widget {
	position: relative;
	float: left;
	color: #dedede;
}
.widgets-num-4 .f-widget { 
	width: 23.08%;
	max-width: 270px; 
	margin-right: 2.56%;
}
.widgets-num-3 .f-widget {
	max-width: 370px;
	width: 31.56%;
	margin-right: 2.64%;
}
.widgets-num-4 .f-widget:nth-child(4n){ margin-right: 0 }
.widgets-num-3 .f-widget:nth-child(3n){ margin-right: 0 }
.copyrights {
	float: left;
	width: 100%;
	clear: both;
	padding-bottom: 12px;
	padding-top: 25px;
	color: rgba(255, 255, 255, 0.35);
	background: #252525;
	box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
}
#copyright-note {
	width: 100%;
	margin: 0 auto;
	clear: both;
	max-width: 100%;
	text-align: center;
}
.copyright-left { float: left }
.copyrights .top { float: right }
.copyrights a { color: rgba(255, 255, 255, 0.35); }
.copyrights .footer-social {float: left;margin-top: -2px;}
.copyrights .footer-social a {
	width: 26px;
	height: 26px;
	display: inline-block;
	border-radius: 50%;
	border: 1px solid rgba(255, 255, 255, 0.35);
	text-align: center;
	margin-right: 3px;
	line-height: 26px;
}
.copyrights .footer-social a:last-child { margin-right: 0px }
.copyrights .footer-social a:hover {
	background: #fbd713;
	color: #000;
	border: 1px solid #fbd713;
}
.postsby { margin-bottom: 25px }
/*-[ Back To Top ]---------------------------*/
.to-top {
	float: right;
	position: relative;
}
.toplink .fa-chevron-up {
	position: absolute;
	right: 0;
	top: 0px;
	font-size: 24px;
}
.toplink { padding-right: 27px }
#move-to-top {
	width: 44px;
	height: 44px;
	display: inline-block;
	margin-left: 30px;
	margin-top: -12px;
	transition: all 0.25s linear;
	-webkit-backface-visibility: hidden;
	color: rgba(0, 0, 0, 0.35);
	background: rgba(255, 255, 255, 0.35);
	border-radius: 2px;
	text-align: center;
}
#move-to-top .fa-angle-up {
	position: relative;
	top: 0;
	line-height: 44px;
	font-size: 25px;
	font-weight: bold;
}
#footer-to-top {
	background: green;
	width: 30px;
	height: 30px;
}
/*-[ Related Posts ]---------------------------*/
.related-posts {
	clear: both;
	float: left;
	width: 100%;
	border-bottom: 1px solid #dedede;
	margin-bottom: 60px;
}
.related-posts .latestPost {
	width: 47.92%;
	margin-right: 4.1%;
	max-width: 370px;
}
.related-posts .latestPost:nth-child(even) { margin-right: 0 }
.ss-full-width .related-posts .latestPost {
	width: 32%;
	max-width: 355px;
	margin-right: 2%;
}
.ss-full-width .related-posts .latestPost:nth-child(even) { margin-right: 2% }
.ss-full-width .related-posts .latestPost:nth-child(3n) { margin-right: 0 }
.related-posts .last {
	margin-right: 0;
	padding-bottom: 0;
}
.related-posts .title { 
	margin-bottom: 10px; 
	margin-top: 15px;
	line-height: 1;
	float: left;
	width: 100%;
}
.related-posts .title a { font-size: 18px!important }
.related-posts article header { 
	margin-bottom: 0;
	float: none;
	width: auto;
	overflow: hidden;
}
.related-posts .latestPost .featured-thumbnail {
	float: left;
	margin-right: 30px;
	max-width: 170px;
	width: 46.075%;
}
.related-posts .thetime {
	line-height: 10px;
	font-size: 12px;
	text-transform: uppercase;
}
.related-posts .latestPost .front-view-content { margin-bottom: 0 }
/*-[ Post Tags ]---------------------------------*/
.tags {
	margin: 20px 0 0 0;
	width: 100%;
	float: left;
}
.tags a { margin-left: 5px }
/*-[ Author Box ]--------------------------------*/
.postauthor {
	padding: 0;
	min-height: 180px;
	float: left;
	clear: both;
	width: 100%;
	border-bottom: 1px solid #dedede;
	padding-bottom: 60px;
	margin-bottom: 60px;
}
.postauthor h5 {
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	margin-top: -2px;
}
.postauthor img {
	float: left;
	margin: 2px 30px 20px 0;
	border-radius: 50%;
}
.postauthor h4 a { color: #473636 }
.postauthor-top {
	padding-top: 5px;
	padding-bottom: 8px;
	margin-bottom: 15px;
}
.postauthor p { margin-top: 20px }
.postauthor .author-social {
	float: left;
	margin-top: 2px;
}
.postauthor .author-social a {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: block;
	color: #fff;
	float: left;
	text-align: center;
	margin-right: 8px;
	line-height: 34px;
}
.postauthor .author-social a:last-child { margin-right: 0 }
.postauthor .author-social a.facebook { background: #6991c8 }
.postauthor .author-social a.twitter { background: #67d0fc }
.postauthor .author-social a.google-plus { background: #eb0f0f }
.postauthor .author-social a.pinterest { background: #e13138 }
.postauthor .author-social a.stumble { background: #ff5c30 }
.postauthor .author-social a.linkedin { background: #238cc8 }
.postauthor .author-social a:hover { background: #666666; }
.clear { clear: both }
.left { float: left }
.right { float: right }
.last { margin-right: 0 }
.postauthor h4, .related-posts h4, #comments h4, #respond h4, .related-posts-projects h4 {
	position: relative;
	margin: -5px 0 30px 0;
	padding-top: 0;
	padding-bottom: 15px;
	font-size: 20px;
}
.postauthor h4:after, .related-posts h4:after, #comments h4:after, #respond h4:after, .related-posts-projects h4:after {
	position: absolute;
	content: '';
	left: 0;
	bottom: 0;
	width: 50px;
	height: 3px;
	background: #fbd713;
}
/*-[ Tag widget ]------------------------------*/
.tagcloud a {
	padding: 0px 10px;
	margin-bottom: 12px;
	float: left;
	margin-right: 10px;
	background: transparent;
	color: inherit;
	font-size: 14px !important;
	line-height: 40px;
	text-transform: uppercase;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 2px;
}
.sidebar .tagcloud a {
	background: #fff;
	border: 1px solid #dedede;
}
.sidebar .tagcloud a:hover, .tagcloud a:hover {
	background: #fbd713;
	color: #252525;
	border: 1px solid #fbd713;
}
/*--------------------------
 Services Page
----------------------------*/
.services .latestPost .title a { font-size: 16px }
.services .designing {
	width: 48%;
	max-width: 373px;
	float: left;
	margin-bottom: 50px;
}
.services .building {
	width: 48.1%;
	max-width: 375px;
	float: right;
	margin-bottom: 50px;
}
.services .building img { border-radius: 2px }
.services .designing .lists {
	width: 100%;
	float: left;
	clear: both;
}
.services .designing .lists ul {
	list-style-type: none;
	margin: 0;
}
.services .designing .lists li {
	position: relative;
	width: 100%;
	min-height: 70px;
	line-height: 70px;
	box-sizing: border-box;
	border: 1px solid #dedede;
	border-bottom: none;
	padding-top: 10px;
	padding-bottom: 10px;
}
.services .designing .lists li:nth-child(odd) { background: #fafafa }
.services .designing .lists li:last-child { border-bottom: 1px solid #dedede }
.services .designing .lists li {
	overflow: hidden;
	line-height: 21px;
	display: table;
	vertical-align: middle;
	color: #757575;
	padding-left: 68px;
	padding-right: 20px;
}
.services .designing .lists li .designing-wrapper {
	display: table-cell;
	vertical-align: middle;
}
.services .designing .lists li:hover a {
	color: #111;
}
.services .designing .lists li .icon {
	position: absolute;
	top: 46%;
	left: 20px;
	height: 30px;
	width: 30px;
	margin-top: -15px;
	border-radius: 50%;
	background: #fbd713;
	color: #252525;
	text-align: center;
}
.services .designing .lists li .icon i {
	position: absolute;
	left: 10px;
	top: 0;
	line-height: 30px;
}
.services .designing .lists li:hover .icon {
	color: #fff;
	background: #222;
	width: 33px;
	height: 33px;
	transition: .25s all linear;
}
.services .designing .lists li:hover .icon i {
	line-height: 33px;
}
.services .designing .lists li a { color: inherit; }
.services .featured-category-title {
	float: left;
	width: 100%;
	clear: both;
}
.building-slider .owl-controls {
	position: absolute;
	display: -ms-flexbox;
	display: flex;
	right: 25px;
	top: 0;
	-ms-flex-align: center;
		align-items: center;
	min-height: 363px;
}
.building-slider .owl-dots {
	position: relative;
	bottom: 0;
	right: 0;
	counter-reset: dots;
}
.building-slider .owl-controls .owl-dot {
	display: block;
	margin-bottom: 7px;
}
body .building-slider .owl-dot:before { left: 11px }
.services-single {
	clear: both;
	padding-bottom: 30px;
}
.services-single .featured-category-title {
	padding-bottom: 20px;
	padding-top: 56px;
	margin-bottom: 26px;
	font-size: 20px;
}

/*--------------------------
 Project-Page
---------------------------*/
#project-page {
	width: 100%;
	float: left;
	clear: both;
	background: #fff;
}
#project {
	margin-left: -1.3%;
	margin-right: -1.3%;
	margin-bottom: 60px;
}
.tax-mts_project_categories #project {
	margin-top: 60px;
}
.project-category {
	float: left;
	width: 100%;
	clear: both;
	margin-top: 60px;
	margin-bottom: 18px;
}
.project-category .filter {
	float: left;
	margin-right: 10px;
	font-size: 14px;
	text-transform: uppercase;
}
.project-category .filter a {
	line-height: 42px;
	border: 1px solid #dedede;
	color: #757575;
	padding: 0 13px;
	display: block;
	border-radius: 2px;
}
#project .mix {
	display: none;
	margin-right: 1.15%;
	margin-left: 1.15%;
	width: 30.78%;
	max-width: 370px;
	vertical-align: top;
}
.mix-content .post-info {
	padding-top: 14px;
	padding-bottom: 13px;
}
.mix-content .title {
	margin-top: 15px;
	margin-bottom: 20px;
	float: left;
	font-size: 18px;
	max-height: 25px;
	line-height: 25px;
	overflow: hidden;
}
.mix-content .title a {
	display: block;
	color: #252525;
}
.mix-content .title a:hover { color: #fbd713 }
.project-category .filter.active a, .project-category .filter a:hover {
	background: #fbd713;
	color: #252525;
	border: 1px solid #fbd713;
}
.project-image {
	position: relative;
	float: left;
	width: 100%;
	clear: both;
	overflow: hidden;
	border-radius: 2px;
}
.project-image img {
	float: left;
	width: 100%;
}
.project-caption {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	background: rgba(37, 37, 37, 0.8);
	left: 0;
	bottom: 0px;
	max-height: 230px;
	opacity: 0;
	transition: all 0.25s ease-in-out;
}
.project-caption .readMore {
	position: absolute;
	left: 50%;
	bottom: 0;
	display: block;
	line-height: 34px;
	padding: 0 15px;
	margin-bottom: -17px;
	margin-left: -31px;
	color: #252525;
	background: #fbd713;
	font-size: 12px;
	text-transform: uppercase;
	transition: transform 0.4s, color 0.4s;
}
.project-image:hover .project-caption {
	opacity: 1;
	transform: translate3d(0,0,0) translate3d(0,0,0);
}
.project-image:hover .project-caption .readMore {
	transform: translate3d(0,-170%,0) translate3d(0,-170%,0)
}

/*--------------------------
 Project-Single
/*-------------------------*/
.project-single .article {
	float: right;
	padding-right: 0;
	padding-left: 2.56%;
	padding-bottom: 41px;
	box-shadow: 0px 0 1px rgba(0, 0, 0, 0.18);
}
.single-project-image {
	float: left;
	width: 100%;
	margin-bottom: 30px;
}
.project-single .article:before {
	left: auto;
	right: -1000px;
	box-shadow: 1px 0 1px rgba(0, 0, 0, 0.18);
}
.project-single .sidebar.c-4-12 {
	padding-left: 0;
	padding-right: 2.56%;
}
.project-single .sidebar.c-4-12 .widget { margin-bottom: 45px }
.project-single .single_post {
	border-bottom: none;
	margin-bottom: 5px;
}
.related-posts-projects {
	position: relative;
	float: left;
	width: 100%;
	clear: both;	
	padding-top: 60px;
	padding-bottom: 45px;
	border-top: 1px solid #e9e9e9;
	background: #fff;
}
.related-posts-projects:before, .related-posts-projects:after {
	position: absolute;
	content: '';
	width: 1000px;
	height: 100%;
	left: -1000px;
	top: -1px;
	background: #fff;
	border-top: 1px solid #e9e9e9;
}
.related-posts-projects:after {
	left: auto;
	right: -1000px;
}
.related-posts-projects .mix {
	float: left;
	width: 31.56%;
	max-width: 370px;
	margin-right: 2.66%;
}
.related-posts-projects .mix:nth-child(3n) { margin-right: 0 }

/*-[ Ad Widgets ]------------------------------*/
.ad-125 ul {
	float: left;
	width: 100%;
	margin: 0;
	list-style: none;
	max-width: 100%;
}
.ad-125 li {
	float: left;
	border: none;
	list-style: none!important;
	padding-left: 0;
	background: none;
	margin-bottom: 15px;
	margin-left: 0;
	max-width: 48%;
}
.ad-125 li:nth-child(2n+1), .ad-125 li:first-child { clear: both }
.ad-125 li:nth-child(2n+2) { float: right!important }
.ad-125 li:nth-last-child(2), .ad-125 li:last-child { margin-bottom: 0 }

/*-[ Calender Widget ]-------------------------*/
#wp-calendar { margin-bottom: 0 }
#wp-calendar td {
	text-align: center;
	padding: 7px 0;
	border-top: 1px solid #F1F4F6;
	border-right: 1px solid #F1F4F6;
}
#wp-calendar caption {
	font-size: 16px;
	padding-bottom: 10px;
	font-weight: bold;
}
#wp-calendar #prev {
	text-align: left;
	padding-left: 12px;
}
#wp-calendar #next {
	text-align: right;
	padding-right: 12px;
}
#wp-calendar thead th {
	padding: 10px 0;
	text-align: center;
}

/*-[Comments]--------------*/
.nocomments {
	margin-top: 20px;
	clear: both;
	float: left;
	width: 100%;
}
.total-comments {
	text-transform: uppercase;
	font-size: 19px;
	font-weight: bold;
	padding-top: 7px;
	padding-bottom: 9px;
}
.cnumber { color: #2DB2EB }
#comments {
	padding: 0;
	float: left;
	clear: both;
	width: 100%;
	margin-bottom: 60px;
}
#commentsAdd {
	width: 100%;
	float: left;
	clear: both;
	margin-bottom: 60px;
}
.ss-full-width #commentsAdd { max-width: 770px; }
#comments .avatar {
	margin-right: 30px;
	border-radius: 50%;
	margin-top: 2px;
}
.comment time { padding-left: 10px }
#comments .post-info { color: #959595 }
ul.children .commentImageLeft {
	position: absolute;
	left: -70px;
	top: -50px;
	width: 60px;
	height: 90px;
	border-left: 1px solid #c1bbb6;
	border-bottom: 1px solid #c1bbb6;
}
input.text-input, #commentform input { padding: 11px }
.post-comment-left {
	width: 34.97%;
	max-width: 270px;
	float: left;
}
.post-comment-right {
	width: 62.17%;
	max-width: 480px;
	float: right;
}
input#author, input#email, input#url, .contact-form input, .contact-form textarea {
	-webkit-appearance: none;
	width: 100%;
	border: 1px solid #dedede;
	background: #fff;
	max-width: 100%;
	box-sizing: border-box;
	height: 44px;
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
	transition: all 0.25s ease-in-out;
}
.single_page input#author, .single_page input#email, input#url, .single_page .contact-form input, .single_page .contact-form textarea { margin-bottom: 20px; }
#cancel-comment-reply-link {
	float: right;
	line-height: 24px;
	margin-top: 0;
}
#respond { position: relative; }
#cancel-comment-reply-link {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 90;
	margin-bottom: -20px;
	color: #ff0000;
	font-weight: bold;
	text-transform: capitalize;
	text-decoration: underline;
	cursor: pointer;
}
#commentform input#submit, .contact-form input[type="submit"] {
	-webkit-appearance: none;
	float: right;
	width: 100%;
	padding: 0;
	display: inline-block;
	color: #252525;
	border: none;
	border-radius: 2px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 44px;
	background-color: #fbd713;
	cursor: pointer;
	transition: all 0.2s linear;
	box-shadow: none;
}
#commentform input#submit:hover, .contact-form input[type="submit"]:hover { background: #eeca07 }
.error { color: red }
.thanks p { color: green }
ol.commentlist {
	float: left;
	width: 100%;
	margin-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	clear: both;
}
.comment {
	position: relative;
	float: left;
	width: 100%;
	box-sizing: border-box;
	list-style: none;
}
#comments .comment-wrap { 
	padding-top: 28px;
	padding-bottom: 30px;
	border-bottom: 1px solid #dedede; 
}
.commentlist p { margin-bottom: 5px }
#comments ol > li:nth-of-type(1) > .comment-wrap { padding-top: 0 }
#comments ol > li.bypostauthor:nth-of-type(1):after { top: -6px!important; } 
.ago {
	font-size: 12px;
	text-transform: uppercase;
}
.fn {
	line-height: 1.375em;
	font-weight: bold;
}
.fn a {
	color: #fbd713;
	font-weight: bold;
	font-size: 15px;
}
.comment-meta { font-size: 12px }
.commentmetadata {
	float: none;
	padding-top: 15px;
	clear: right;
	overflow: hidden;
	color: #555555;
}
.commentmetadata li {
	border: 0;
	padding: 0;
	margin-top: 0;
	margin-bottom: 5px;
	list-style: square;
}
.commentmetadata ol li { list-style: decimal }
.reply {
	float: right;
	margin-right: 1px;
}
.reply a {
	float: left;
	padding: 0 0px;
	color: #757575;
	font-size: 16px;
	font-weight: bold;
}
.comment #respond #respond { margin-top: 20px }
.commentlist .children {
	float: left;
	width: 95%;
	margin-left: 5%;
	box-sizing: border-box;
}
.commentlist .children li { margin-bottom: 0 }
.avatar { float: left }
#respond h3 {
	font-size: 18px;
	margin: 0;
	padding: 0;
}
.comment-awaiting-moderation {
	font-style: italic;
	font-weight: bold;
}
.commentmetadata ul, .commentmetadata ol { margin-top: 5px }
#comments .theauthor {
	font-size: 18px;
	color: #252525;
}
#comments .theauthor a { color: #252525 }
#comments .theauthor a:hover { color: #fbd713 }
#comments .post-info {
	float: none;
	width: auto;
	padding-top: 10px;
	padding-bottom: 0;
	margin-left: 100px;
	border-bottom: none;
	overflow: hidden;
}
#comments .post-info > div {
	float: left;
	color: #959595;
	font-size: 12px;
}
#comments .post-info > div:last-child { float: right }
#comments .post-info .like-us i { font-size: 18px }
#comments .post-info .like-us > .like { margin-right: 7px } 
#comments .post-info .like-us > .like:last-child { margin-right: 0 }

/*-[ Comment Form ]----------------------------*/
#commentform textarea, .contact-form textarea {
	width: 100%;
	height: 205px;
	line-height: 25px;
	padding: 2%;
	border: 1px solid #dedede;
	background: #fff;
	font-family: inherit;
	box-sizing: border-box;
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
}
#commentform p {
	margin-bottom: 10px;
	float: left;
	width: 100%;
	clear: both;
}
#commentform p label {
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 10px;
}
.cancel-comment-reply a {
	float: right;
	margin-top: -8px;
}
.required {
	color: red;
	padding: 0;
	line-height: 1;
}
.comment-notes .required {
	padding-left: 0;
	padding-top: 3px;
}
.comment-notes { font-style: italic }

/*-[ pagination ]------------------*/
.pagination {
	clear: both;
	overflow: hidden;
	float: left;
	width: 100%;
	margin-bottom: 60px;
	display: block!important;
}
.single .pagination {
	border: 0;
	box-shadow: none;
	margin-top: 0;
	padding: 2.2% 0;
	width: 100%;
	margin-bottom: 25px;
}
#project-page .pagination { margin-top: 30px }
.pagination ul {
	list-style: none;
	margin: 0;
}
.pagination ul li {
	float: left;
	margin-bottom: 5px;
}
.page-numbers.current, .pagination > span .currenttext {
	float: left;
	display: inline-block;
	line-height: 44px;
	min-width: 48px;
	padding: 0px 19px;
	color: #252525;
	background: #fbd713;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
}
.single_post .currenttext, .ss-full-width .currenttext { background: inherit }
.pagination a, #load-posts a {
	float: left;
	padding: 0px 19px!important;
	line-height: 42px;
	min-width: 48px;
	display: inline-block;
	border: 1px solid #dedede;
	margin-right: -1px;
	color: #757575;
	background: #fff;
	text-decoration: none;
	font-weight: bold;
	font-size: 15px;
}
#load-posts a { border-radius: 2px }
.pagination .nav-links .prev.page-numbers + .page-numbers, .pagination .nav-links .page-numbers:first-child { 
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px; 
}
.pagination .nav-links .page-numbers:last-child, .pagination .nav-links .page-numbers:nth-last-child(2) {
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px; 
}
.pagination .nav-links .page-numbers.dots {
	float: left;
	line-height: 44px;
	margin-left: 15px;
	margin-right: 15px;
}
.pagination.pagination-previous-next li.nav-next { float: right; }
.pagination.pagination-previous-next li a { border-radius: 2px; margin-right: 0 }
#load-posts {
	clear: both;
	margin-bottom: 55px;
}
.sidebar .pagination a {
	width: 100%;
	padding: 0 15px;
	box-sizing: border-box;
	text-transform: uppercase;
	border-right: 1px solid #dedede;
}
.pagination a i {
	font-size: 18px;
	font-weight: bold;
}
.pagination a:hover { 
	background: #fbd713; 
	color: #252525; 
	border-color: #fbd713; 
}
.pagination .nav-prev { float: left }
.sidebar .pagination .nav-previous {
	width: 45.5%;
	float: left;
}
.sidebar .pagination .nav-previous a span { float: right }
.sidebar .pagination .nav-next a i {
	float: right;
	line-height: 42px;
}
.pagination .prev { 
	margin-right: 9px;
	border-radius: 2px; 
}
.pagination .next { 
	margin-left: 9px; 
	border-radius: 2px;
}
.sidebar .pagination .nav-next {
	width: 45.5%;
	float: right;
}

/*--------------------------
 Tabs Widget
--------------------------*/
.widget .wpt_widget_content { border: none }
.widget .wpt_widget_content ul.wpt-tabs li, .widget .wptp_widget_content ul.wptp-tabs li { border: 0 }
.widget .wpt_widget_content .tab_title a {
	border-bottom: none;
	background: #252525;
	color: #757575;
	border-left: none;
	line-height: 1.6;
	text-transform: uppercase;
	padding: 11px 0 11px;
}
.widget .wpt_widget_content .tab_title.selected a {
	border-bottom: none;
	background: #fbd713;
	color: #252525;
}
.widget .wpt_widget_content .inside {
	border: 1px solid #dedede;
	border-top: none;
}
#site-footer .widget .wpt_widget_content .inside { padding-top: 55px }
.widget .wpt_widget_content #tags-8-tab-content.tab-content { padding: 20px }
.widget .wpt_widget_content .tab-content li {
	margin: 0;
	padding: 0;
	padding: 25px 30px;
	padding-bottom: 20px;
	border-bottom: 1px solid #dedede;
	padding-right: 20px;
}
.widget .wpt_widget_content .tab-content li:nth-child(even) { background: #fafafa }
.widget .wpt_widget_content .tab-content li:first-child { padding-top: 25px }
.widget .wpt_thumb_small {
	width: auto;
	height: 100%;
	margin-right: 20px;
	max-width: 70px;
	margin-bottom: 10px;
}
.widget .wpt_widget_content .entry-title { font-size: 16px }
.widget .wpt_widget_content a { color: #252525 }
.widget .wpt_widget_content a:hover { color: #fbd713 }
.widget .wpt_widget_content .wpt-postmeta, .widget .wpt_comment_content, .widget .wpt_excerpt {
	color: #757575;
	text-transform: uppercase;
	font-size: 12px;
	padding-top: 9px;
}
.widget .wpt_widget_content .wpt-pagination a {
	margin: 0 30px;
	text-transform: uppercase;
}
#site-footer .widget .wpt_widget_content .wpt-pagination a {
	color: #dedede;
	margin: 0;
}
.widget .wpt_widget_content .has-4-tabs .tab_title:nth-child(3) { clear: left }
.widget .wpt_widget_content .has-4-tabs .tab_title a {
	border-left: 1px solid #3b3b3b;
	border-bottom: 1px solid #3b3b3b;
}
.widget .wpt_widget_content .has-4-tabs .tab_title.selected a {
	border-bottom: 1px solid #fbd713;
	border-left: none;
}
.widget .wpt_widget_content .wpt-pagination { padding-bottom: 10px }
.widget .wpt_widget_content #tags-tab-content { padding-top: 10px }

/*--------------------------
 Review Tabs
--------------------------*/
.widget .wp_review_tab_widget_content { border: none }
.widget .wp_review_tab_widget_content ul.wp-review-tabs li {
	border: 0;
	width: 50%!important;
	margin-right: 0!important;
	border-bottom: 0!important;
}
.widget .wp_review_tab_widget_content .tab_title a {
	border-bottom: none;
	background: #252525;
	color: #757575;
	border-left: none;
	line-height: 1.6;
	text-transform: uppercase;
	padding: 11px 0 11px;
}
.widget .wp_review_tab_widget_content .tab_title.selected a {
	border-bottom: none;
	background: #fbd713;
	color: #252525!important;
}
.widget .wp_review_tab_widget_content .inside {
	background: none;
	border: 1px solid #dedede;
	border-top: none;
	padding-top: 0;
}
#site-footer .widget .wp_review_tab_widget_content .inside {
	background: none;
	margin-top: 40px;
	border: none;
}
.widget .wp_review_tab_widget_content .tab-content li {
	margin: 0;
	padding: 25px 30px;
	padding-bottom: 20px;
	border-bottom: 1px solid #dedede;
	padding-right: 20px;
}
#site-footer .widget .wp_review_tab_widget_content .tab-content li {
	width: 100%!important;
	text-transform: inherit!important;
	padding: 15px 0;
	border: none;
}
.widget .wp_review_tab_widget_content .tab-content li > a { 
	padding: 0!important; 
	display: block;
}
.widget .wp_review_tab_widget_content .tab-content li:first-child { padding-top: 25px }
.widget .wp_review_tab_thumb_small {
	width: auto;
	height: 100%;
	margin-right: 20px;
	max-width: 70px;
	margin-bottom: 10px
}
.widget .wp_review_tab_widget_content .entry-title { font-size: 16px }
.widget .wp_review_tab_widget_content .entry-title a { color: #252525; }
.widget .wp_review_tab_widget_content a:hover { color: #fbd713 }
.widget .review-total-only.small-thumb {
	color: #757575;
	margin-top: 14px;
}
.widget .wp_review_tab_widget_content .wp-review-tab-postmeta {
	color: #757575;
	text-transform: uppercase;
	font-size: 12px;
	padding-top: 9px;
}
.widget .review-total-only.small-thumb.review-type-star { margin-top: 15px }
.widget .wp_review_tab_widget_content ul.has-4-tabs li:nth-child(3) { clear: left }
.widget .wp_review_tab_widget_content ul.has-4-tabs .tab_title a {
	border-left: 1px solid #3b3b3b;
	border-bottom: 1px solid #3b3b3b;
}
.widget .wp_review_tab_widget_content ul.has-4-tabs .tab_title.selected a {
	border-bottom: 1px solid #fbd713;
	border-left: none;
}
.widget .wp_review_tab_widget_content .wp-review-tab-pagination a {
	margin: 0 30px;
	text-transform: uppercase;
}
.widget .wp_review_tab_widget_content .wp-review-tab-pagination { padding-bottom: 10px }

/*-[ widget_woo_shipping ]------------------*/
.widget_woo_shipping p {
	margin: 0;
	line-height: 1;
}
.widget_woo_shipping .form-row {
	margin-bottom: 10px;
}
.widget_woo_shipping select {
	background: #fff;
	box-shadow: none;
}
.sidebar .button {
	font-weight: 600;
	margin-top: 8px;
	padding: 15px 18px;
}
.widget .widget-slider .slide-caption {
	background: rgba(37, 37 , 37, 0.8);
}
.widget .widget-slider .slide-caption h2.slide-title {
	color: #ffffff;
	font-size: 14px;
	padding: 0 10px;
}

/*-[ Contact Form ]------------------*/
.contact-form { position: relative }
.contact-form.loading:after {
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: block;
	background: rgba(255, 255, 255, 0.8);
}
.contact-form label {
	display: block;
	width: 100%;
	box-sizing: border-box;
	margin-top: 12px;
	font-size: 16px;
}
.contact-form input[type="submit"] { margin-top: 12px }
.mtscontact_error { color: #B90101 }
/*-[ AJAX search results ]------------------*/
.widget_search { overflow: visible }
.ajax-search-box-open #s { border-bottom: 1px solid #fff }
.ajax-search-results-container {
	position: absolute;
	top: 100%;
	left: 0;
	box-sizing: border-box;
	width: 100%;
	z-index: 9;
	border-top: none;
	background: #fff;
	min-width: 340px;
	margin-left: -1px;
}
.ajax-search-results-container.loading:after {
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
	background-color: rgba(255, 255, 255, 0.8);
}
ul.ajax-search-results {
	float: left;
	width: 100%;
	padding-bottom: 10px;
	border: 1px solid #e4e4e4;
	border-top: none;
}
.ajax-search-results li {
	margin: 0;
	display: block;
	list-style: none;
	min-height: 60px;
	padding: 0 12px;
	border-bottom: 0;
}
.ajax-search-results li:first-child { padding-top: 5px }
.ajax-search-results li > a { display: block }
ul.ajax-search-results a:focus { text-decoration: underline }
/*up/down keys navigation*/
.ajax-search-results .wp-post-image {
	float: left;
	margin-bottom: 0;
	margin-top: 5px;
	margin-right: 10px;
	margin-left: 0;
}
.ajax-search-results .meta, .ajax-search-results .meta .thetime {
	font-size: 13px;
}
.ajax-search-results li > a { color: #252525 }
.ajax-search-meta {
	float: left;
	width: 100%;
	padding: 10px 12px;
}
.ajax-search-meta .results-count {
	float: left;
	color: #333;
}
.ajax-search-meta .results-link { float: right }
.ajax-search-results-container .no-results {
	padding: 8px;
	color: #AAA;
	font-style: italic;
}
/*-[ Load More ]-------------------*/
.pace .pace-progress {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2000;
	height: 3px;
	transition: width 0.8s;
	-webkit-backface-visibility: hidden;
	background: #29d;
}
.admin-bar .pace .pace-progress { top: 32px }
.pace-inactive { display: none }
#load-posts {
	float: left;
	width: 100%;
	text-align: center;
	margin-bottom: 60px
}
#load-posts a {
	float: none;
	text-align: center;
}
#load-posts a.inactive { cursor: default }
#load-posts .fa { margin-right: 8px }
#load-posts a:hover, #load-posts a.loading {
	color: #252525;
	border-color: #fbd713;
	background-color: #fbd713;
}

/*-[ 404 Page ]---------------------------*/
.error404 .post-content { margin-bottom: 80px }

/*-[ Misc ]---------------------------*/
pre {
	overflow: auto;
	padding: 25px 15px 15px;
	margin: 15px 0;
	position: relative;
	background: #777;
	font-family: monospace;
	color: #fff;
	box-sizing: border-box;
}
pre:before {
	content: "\f121";
	color: #FFF;
	position: absolute;
	font-size: 18px;
	right: 14px;
	top: 6px;
	font-family: fontawesome;
}
.flex-video {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	margin-bottom: 30px;
	height: 0;
	overflow: hidden;
	clear: both;
}
.flex-video-vimeo { padding-top: 0 }
.flex-video iframe, .flex-video object, .flex-video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/*-[ Parallax & Zoom Out ]--------------------------------*/
#parallax {
	position: relative;
	height: 0;
	overflow: hidden;
	background-size: cover;
	margin-bottom: 25px;
	min-height: 400px;
}
#page.parallax, #page.zoomout { padding-top: 20px }
#zoom-out-effect, #zoom-out-bg {
	position: relative;
	min-height: 400px;
	height: 0;
}
#zoom-out-effect {
	overflow: hidden;
	margin-bottom: 15px;
}
#zoom-out-bg {
	background-size: cover;
	width: 100%;
}

/*-[ WP Review ]--------------------------------*/
.latestPost-review-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	background: #FFF;
	padding: 5px 8px 3px;
	color: #222;
}
.latestPost-review-wrapper.review-type-circle {
	height: 42px;
}
.latestPost-review-wrapper .review-result-wrapper .review-result i {
	color: #222;
}
.latestPost-review-wrapper .review-total-star { margin: 4px 0 }
.latestPost-review-wrapper .percentage-icon {
	top: 0;
	font-size: inherit;
	font-style: normal;;
}

/*--------------------------
WP Real Estate Support
--------------------------*/
.listing-template-default #page.single, .agency-template-default #page.single, .wre.archive #page {
    padding: 50px 0;
}
.post-type-archive-agency #page {
    padding-top: 50px;
}
.wre.post-type-archive-listing #page { padding-top: 0; }

.ball-pulse { clear: both; display: block; text-align: center; margin-bottom: 15px; }
.ball-pulse > div:nth-child(0) { animation: scale 0.75s -0.36s infinite cubic-bezier(.2, .68, .18, 1.08); }
.ball-pulse > div:nth-child(1) { animation: scale 0.75s -0.24s infinite cubic-bezier(.2, .68, .18, 1.08); }
.ball-pulse > div:nth-child(2) { animation: scale 0.75s -0.12s infinite cubic-bezier(.2, .68, .18, 1.08); }
.ball-pulse > div:nth-child(3) { animation: scale 0.75s 0s infinite cubic-bezier(.2, .68, .18, 1.08); }
.ball-pulse > div {
	width: 10px;
	height: 10px;
	display: inline-block;
	border-radius: 100%;
	margin: 1px;
	background-color: #3d8fe8;
	animation-fill-mode: both;
}
.gallery-icon { width: 100%; }
.gallery-icon img {
	display: block;
	margin: 0 auto;
	float: none
}
.gallery-caption { clear: both; }
.wp-video, .wp-audio-shortcode { margin: 10px auto; }

/*--------------------------
Portfolio
--------------------------*/
.homepage-portfolio { padding: 60px 0 30px }
.full-width #filters {
	float: left;
	margin-bottom: 30px;
}
.full-width .widget {
	float: right;
	max-width: 340px;
	width: 33%;
	padding-bottom: 28px;
}
#filters { text-align: center }
#filters li { display: inline-block }
#filters li a {
	color: #757575;
	display: block;
	padding: 10px 15px;
	text-transform: uppercase;
	border: 1px solid #dedede;
	margin-right: 5px;
	text-transform: uppercase;
	font-weight: bold;
}
#filters li:last-child a { margin-right: 0 }
#filters li a:hover, #filters li a.selected {
	background: #fbd713;
	border-color: #fbd713;
	color: #252525;
}
#portfolio-grid {
	margin-left: -15px;
	margin-right: -15px;
}
#portfolio-grid .item {
	width: 33.33333%;
	float: left;
	margin: 0;
}
#portfolio-grid .project-post { margin: auto 15px }
#portfolio-grid .loader {
	position: absolute;
	left: 46%;
	top: 46%;
	width: 32px;
	height: 32px;
	color: #fff;
	font-size: 32px;
}
#portfolio-grid .loader i { animation: spin 0.8s infinite linear; }
.item_3 { width: 32.2% }
.item_4 { width: 23.7% }
.item_last { margin-right: 0 }
.expander {
	position: relative;
	display: none;
	line-height: 28px;
	padding: 20px 0;
	margin-bottom: 20px;
	clear: both;
	background-color: #EFEDED;
}
#portfolio-grid .item.disabled a { pointer-events: none }
#portfolio-grid .item a.expand-view .overlay h4 {
	color: #FFFFFF;
	padding-bottom: 20px;
	text-overflow: ellipsis;
	white-space: nowrap;
	border-bottom: 3px double #fff;
	margin-bottom: 20px;
	font-size: 30px;
	overflow: hidden;
	transition: all 0.35s ease-in-out;
}
#portfolio-grid .item a.expand-view .overlay p {
	color: #fff;
	overflow: hidden;
	max-height: 91px;
	transition: all 0.35s ease-in-out;
}
#portfolio-grid .item a.expand-view .overlay span {
	position: absolute;
	z-index: 3;
	display: block;
	padding: 12px 16px;
	color: #fff;
	border: 1px solid #fff;
	transition: all 0.6s ease-in-out;
}
.searchlink {
	bottom: 40px;
	right: -800px;
}
.readlink {
	bottom: 40px;
	left: -800px;
}
.searchlink:hover, .readlink:hover {
	background: #fff;
	color: #000 !important;
}
#portfolio-grid .item a.expand-view:hover .overlay {
	bottom: 0;
	top: 0;
}
#portfolio-grid .item a.expand-view:hover .searchlink { right: 40px }
#portfolio-grid .item a.expand-view:hover .readlink { left: 40px }
#portfolio-grid .item a.expand-view:hover .headline {
	right: auto;
	left: 800px;
}
#portfolio-grid .item a.expand-view:hover img {
	transform: scale(1.1);
}
#portfolio-grid .item a.expand-view .overlay span i { font-size: 16px }
.expander .close-view {
	position: absolute;
	right: 15px;
	top: 10px;
}
.expander .close-view a {
	width: 25px;
	height: 25px;
	color: #AAAAAA;
	border: 1px solid #999999;
	border-radius: 50%;
	display: inline-block;
	font-size: 14px;
	line-height: 23px;
	text-align: center;
}
.latestPost .owl-nav { display: none }
.latestPost .owl-controls {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	padding-bottom: 20px;
}
.latestPost .owl-dots { position: relative }
.latestPost .owl-controls .owl-dot span { background: rgba(255, 255, 255, .5) }

/*--------------------------
 Homepage Slider
--------------------------*/

/*-[slider-images]-*/
.primary-slider .slide-caption {
	width: 38.4%;
	max-width: 607px;
	padding: 0;
	height: 100%;
	bottom: 0;
	left: 0;
	max-height: 100%;
	background: rgba(37, 37 , 37, 0.8);
}
.primary-slider .slide-caption-inner {
	position: absolute;
	right: 0px;
	width: 100%;
	max-width: 400px;
	padding-top: 85px;
	padding-bottom: 93px;
}
.primary-slider .slide-caption .slide-title {
	width: 70%;
	line-height: 35px;
	color: #fff;
	font-size: 30px;
	font-weight: 700;
	transition: .25s color linear;
}
.primary-slider .slide-caption .slide-description {
	width: 95%;
	margin-top: 20px;
	color: #dedede;
	line-height: 1.6;
}
.primary-slider .slide-caption .readMore {
	display: block;
	padding: 4px 15px 0 15px;
	margin-top: 22px;
	color: #252525;
	font-weight: bold;
	background: #fbd713;
	text-transform: uppercase;
	line-height: 40px;
	transition: all 0.35s ease-in-out; 
}
.primary-slider .slide-caption .readMore:hover {
	background-color: #fbd713;
	border-radius: 2px;
}
.primary-slider .owl-controls {
	position: absolute;
	right: 6%;
	right: calc(50% - 585px);
	top: 0;
	float: none;
	min-height: 400px;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
}
body .owl-controls .owl-dot span {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #fff;
	transition: all 0.35s ease-in-out; 
}
body .widget_mts_post_slider_widget .owl-controls .owl-dot span {
	width: 12px;
	height: 12px;
}
.widget_mts_post_slider_widget .widget-slider .owl-dots { bottom: 10px }
.primary-slider .owl-controls .owl-dot {
	position: relative;
	display: block;
	margin: 0;
	margin-bottom: 6px;
}
.primary-slider .owl-dots {
	position: relative;
	bottom: 0;
	right: 0px;
	counter-reset: dots;
}
body .owl-dot:before {
	position: absolute;
	left: 9px;
	line-height: 26px;
	counter-increment: dots;
	content: counter(dots);
	color: #252525;
}
.widget-slider .owl-dot:before {
	display: none;
}
body .owl-dot.active:before { color: #252525; }
.owl-controls .owl-dot.active span, .owl-controls .owl-dot:hover span { background: #fbd713; }

/*----------------------------
 Getquote & Ourwork & Why Us
/*--------------------------*/
.request-quote { 
	float: left;
	width: 100%;
	clear: both;
	padding: 18px 0 
}
.request-quote .description {
	float: left;
	font-size: 20px;
	margin-top: 12px;
}
.request-quote .readMore { float: right }
.ourwork-section {
	width: 100%;
	clear: both;
	background: #fff;
	padding-bottom: 38px;
}
.ourwork-section .ourwork-content {
	float: left;
	width: 31.62%;
	max-width: 370px;
	margin-right: 2.56%;
	margin-bottom: 48px;
}
.ourwork-section .ourwork-content:nth-child(3n+1) { margin-right: 0 }
.ourwork-section .ourwork-content:nth-child(3n+2) { clear: left }
.ourwork-section .ourwork-content .icon {
	float: left;
	width: 30px;
	height: 30px;
	margin-top: -5px;
	margin-right: 23px;
	transition: all 0.35s ease-in-out 0s;
}
.why-us-section .icon {
	float: left;
	width: 20px;
	height: 20px;
	margin-right: 20px;
	transition: all 0.35s ease-in-out 0s;
}
.ourwork-content:hover .icon, .why-us-left-content:hover .icon {
	animation: 1s ease-in-out 75ms swing;
}
.ourwork-section .ourwork-content .icon i {
	color: #252525;
	font-size: 32px;
}
.why-us-section .icon i {
	color: #252525;
	font-size: 19px;
}
.ourwork-section .ourwork-content header, .why-us-section header {
	float: none;
	width: auto;
	overflow: hidden;
}
.ourwork-section .ourwork-content .title {
	margin-bottom: 20px;
	margin-top: -4px;
	font-size: 16px;
}
.why-us-section .title {
	margin-bottom: 20px;
	margin-top: -3px;
	font-size: 16px;
}
.ourwork-section .ourwork-content .title a, .why-us-section .title a {
	color: inherit;
	display: block;
}
.ourwork-section .ourwork-content .title a:hover, .why-us-section .title a:hover { color: #fbd713 }

/*----------------------------
 Projects Slider
----------------------------*/
.projects {}
.tab-projects {  
	float: left;
	width: 100%;
	background-position: center;
}
.latest, .project, .service {height: 0;overflow: hidden;}
.featured-view-posts.active {height: auto;}
.projects .links {
	float: left;
	width: 100%;
	clear: both;
	text-transform: uppercase;
	background: linear-gradient(to bottom, #252525 0%, #303030 100%);
	box-shadow: 0 1px 0px rgba(255, 255, 255, 0.10);
}
.projects .links li {
	float: left;
	display: inline-block;
}
.projects .links li a {
	position: relative;
	display: block;
	padding: 19px 30px;
	border-left: 1px solid rgba(255, 255, 255, 0.1);
	color: #757575;
	transition: none;
	font-weight: bold;
}
.projects .links li:last-child a { border-right: 1px solid rgba(255, 255, 255, 0.1) }
.projects .links .active a {
	color: #fff;
	border-bottom: 1px solid transparent;
	margin-bottom: -1px;
	background-position: center;
}
.projects .links .active a:after {
	position: absolute;
	content: '';
	left: 0px;
	top: -3px;
	width: 100%;
	height: 3px;
	background: #fbd713;
}
.projects .links .active a:before { 
	position: absolute;
	content: '';
	left: 0px;
	bottom: -1px;
	width: 100%;
	height: 1px;
	background-size: cover;
	z-index: 1;
}
.featured-content {
	float: left;
	width: 100%;
	clear: both;
	padding: 90px 0;
	height: auto;
}

/*----------------------------
[project, buildings, interior design sliders]
----------------------------*/
.custom-nav {
	position: absolute;
	right: 0;
	top: -132px;
}
.custom-nav a {
	float: left;
	width: 25px;
	height: 25px;
	display: block;
	margin-right: 10px;
	border-radius: 50%;
	color: rgba(255,255,255,0.25);
	background: rgba(255, 255, 255, 0.1);
	text-align: center;
	cursor: pointer;
}
.custom-nav a:last-child { margin-right: 0 } 
.custom-nav a i {
	line-height: 25px;
	font-size: 20px;
	font-weight: bold;
}
.custom-nav a.next i { margin-left: 3px }
.featured-view-posts .slide-caption {
	left: 0px;
	bottom: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
	max-height: 100%;
	padding: 0 10px;
	box-sizing: border-box;
	transition: all 0.25s ease-in-out;
	background: rgba(37, 37, 37, 0.9);
}
.featured-view-posts .slide-caption .slide-name {
	position: absolute;
	top: 75px;
	left: 30px;
	right: 30px;
	max-height: 66px;
	color: #fff;
	margin-bottom: 0px;
	font-size: 16px;
	overflow: hidden;
	transition: transform 0.35s, color 0.35s;
	-webkit-transition: transform 0.35s, color 0.35s;
}
.featured-view-posts .slide-caption .readMore {
	position: absolute;
	left: 30px;
	bottom: 15px;
	display: block;
	line-height: 34px;
	padding: 0 15px;
	border-radius: 2px;
	color: #252525;
	background: #fbd713;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	transition: transform 0.4s, color 0.4s;
	-webkit-transition: transform 0.4s, color 0.4s;
}
.featured-view-posts .slide-caption .thetime {
	position: absolute;
	left: 30px;
	top: 40px;
	right: 30px;
	font-size: 12px;
	transition: transform 0.4s, color 0.4s;
	-webkit-transition: transform 0.4s, color 0.4s;
	text-transform: uppercase;
}
.featured-view-posts .tab-content {
	position: relative;
	float: left;
	width: 23.07%;
	max-width: 270px;
	margin-right: 2.56%;
}
.featured-view-posts .tab-content img {
	float: left;
	border-radius: 2px;
}
.featured-view-posts .latest-slider .tab-content { width: 100%!important; }
.featured-view-posts .tab-content:nth-child(4n) { margin-right: 0 }
.featured-view-posts .tab-content:hover .slide-caption {
	opacity: 1;
	border-radius: 2px;
	transform: translate3d(0,0,0) translate3d(0,0,0);
}
.featured-view-posts .tab-content:hover .slide-caption .thetime {
	transform: translate3d(0,-40%,0) translate3d(0,-40%,0);	
}
.featured-view-posts .tab-content:hover .slide-caption .slide-name {
	transform: translate3d(0,-40%,0) translate3d(0,-40%,0);	
}

.featured-view-posts .tab-content:hover .slide-caption .readMore {
	transform: translate3d(0,-25%,0) translate3d(0,-25%,0);  
}
/*.featured-view-posts .tab-content img { margin-bottom: 25px; }*/
.tab-projects.loading .links a {
	pointer-events: none;
}
.tab-projects.loading .featured-content {
	position: relative;
}
.latest-container {
	opacity: 1;
	transition: opacity 0.2s ease-in-out;
	-webkit-transition: opacity 0.2s ease-in-out;
}
.tab-projects.loading .latest-container {
	opacity: 0;
}
.tab-projects.loading .featured-content:before {
	content: "\f1ce";
	font-family: FontAwesome;
	position: absolute;
	animation: fa-spin .6s infinite linear;
	left: 50%;
	top: 50%;
	margin-left: -6px;
	margin-top: -13.5px;
}

/*----------------------------
 Company Stats
----------------------------*/
.company-stats {
	float: left;
	width: 100%;
	padding-bottom: 90px;
	background: #fff;
}
.counter_wrap {
	float: left;
	width: 100%;
	padding-top: 15px;
	text-align: center;
}
.counter_wrap .counting {
	float: left;
	display: inline-block;
	width: 25%;
	overflow: hidden;
}
.counter_wrap .counting .counter {
	line-height: 90px;
	font-size: 120px;
	font-weight: 400;
}
.counter_wrap .counting .description {
	margin-top: 28px;
	font-size: 20px;
	font-weight: 400;
}

/*----------------------------
 Why Us
----------------------------*/
.why-us-section {
	float: left;
	width: 100%;
	clear: both;
	background-size: cover;
	padding-bottom: 70px;
}
.why-us-left {
	float: left;
	width: 49%;
	max-width: 570px;
}
.why-us-right {
	float: right;
	width: 49%;
	max-width: 570px;
}
.why-us-section img {
	float: left;
	margin-right: 5%;
	margin-bottom: 20px;
	border-radius: 2px;
}
.why-us-left-content {
	float: left;
	width: 100%;
	margin-bottom: 45px;
}
.why-us-left-content:last-of-type { margin-bottom: 0 }
.why-us-section p {
	margin-bottom: 23px;
	line-height: 25px;
}
.why-us-section .bold-content {
	color: #252525;
	font-weight: bold;
}
.why-us-section .readMore { margin-top: 10px }

/*----------------------------
 Testimonial Slider
----------------------------*/
.testimonial-container {
	float: left;
	width: 100%;
	clear: both;
	padding-bottom: 90px;
	background: #fff;
}
.testimonial-slider { float: left }
.testimonial-container .slide-caption {
	position: relative;
	left: 0px;
	padding: 1px;
	width: 100%;
	max-height: 100%;
	color: #757575;
	background: none;
}
.testimonial-container .slide-caption img {
	float: left;
	padding: 2px;
	max-width: 70px;
	border-radius: 50%;
	border: 3px solid #fbd713;
}
.testimonial-quotes {
	position: relative;
	padding: 25px 20px 20px 30px;
	box-sizing: border-box;
	line-height: 1.6;
	font-style: italic;
	font-size: 16px;
	border: 1px solid #dedede;
	border-radius: 2px;
}
.testimonial-quotes:after {
	position: absolute;
	content: '';
	left: 25px;
	bottom: -10px;
	z-index: 1;
	width: 0;
	display: block;
	color: transparent;
	border-style: solid;
	border-color: #fff transparent;
	border-width: 10px 10px 0;
}
.testimonial-quotes:before {
	position: absolute;
	content: '';
	bottom: -12px;
	left: 24px;
	z-index: -1;
	display: block;
	width: 0;
	color: transparent;
	border-width: 11px 11px 0;
	border-style: solid;
	border-color: #dedede transparent;
}
.testimonial-author { margin-top: 30px }
.testimonial-author > img { margin-right: 20px }
.testimonial-author-wrap {
	float: left;
	margin-top: 13px;
}
.testimonial-author-wrap .thename {
	font-size: 16px;
	margin-bottom: 2px;
}
.testimonial-author-wrap .theaddress { line-height: 20px }
.testimonial-author-wrap .theaddress a { color: #757575 }
.testimonial-container .custom-nav {
	top: 88px;
	right: 0;
	margin-right: 0;
}
.testimonial-container .custom-nav a {
	color: rgba(0, 0, 0, 0.4);
	background: rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease-in-out 0.1s;
}
.custom-nav a:hover {
	color: #000 !important;
	background: #fbd713;
}

/*----------------------------
 General Quote
----------------------------*/
.today-quotes {
	float: left;
	width: 100%;
	padding: 84px 0;
	clear: both;
	background-position: center;
}
.today-quotes .text {
	color: #fff;
	width: 75%;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	font-size: 20px;
	text-align: center;
}

/*----------------------------
 Clients & Partners
----------------------------*/
.our-clients-section {
	float: left;
	width: 100%;
	clear: both;
	padding-bottom: 58px;
	background: #fff;
}
.our-clients-section .row {
	margin-left: -13px;
	margin-right: -13px;
}
.our-clients-section .client-info {
	float: left;
	width: 14.3%;
	max-width: 170px;
	overflow: hidden;
	height: 170px;
	outline: 1px solid #dedede;
	border-radius: 2px;
	display: table;
	text-align: center;
	margin: 0 1.225% 30px 1.225%;
	padding: 0 10px;
	position: relative;
}
.our-clients-section .client-info img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.our-clients-section .client-info a {
	transition: all 0.25s ease-in-out 0s;
	display: table-cell;
	vertical-align: middle;
}
.our-clients-section .client-info a img { text-align: center; }
.latestPost .title a:hover, .primary-slider a:hover .slide-title { color: #fbd713; }

/*----------------------------
Portfolio Single
----------------------------*/
.port-row {
	margin-left: -20px;
	margin-right: -20px;
}
.col-half {
	width: 50%;
	float: left;
}
.col-half .featured-thumbnail {
	margin: 20px;
}
.col-half .portfolio-body {
	display: block;
	padding: 20px;
	margin: 0;
}
.col-half .single_post {
	border: 1px solid #e4e2e2;
	margin: 0;
	padding: 30px 40px;
}
.col-half .single_post header {
	margin: 0;
	padding: 0 5px
}
.col-half .single_post .title, .col-half .single_post .title a {
	font-size: 30px;
	margin-bottom: 25px;
}
.col-half .single_post p { margin-bottom: 20px; }
.col-half .post-info { margin-bottom: 20px; }
.col-half .post-info .theauthor {
	display: block;
	color: #101010;
	padding: 30px 0;
	padding-bottom: 44px;
	font-size: 30px;
}
.col-half .post-info .author, .col-half .post-info .author a {
	display: inline-block;
	margin-right: 10px;
	color: #101010;
	font-size: 14px;
	text-transform: uppercase;
}
.col-half .post-info .thetime { float: none; }
.col-half .link-web a {
	display: inline-block;
	padding: 12px 35px;
	margin-bottom: 21px;
	color: #101010;
	border: 1px solid #e4e2e2;
}
@keyframes tada {
	from {
		transform: scale3d(1, 1, 1);
	}
	10%, 20% {
		transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
	}
	30%, 50%, 70%, 90% {
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
	}
	40%, 60%, 80% {
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
	}
	to {
		transform: scale3d(1, 1, 1);
	}
}
.tada { animation-name: tada; }
@keyframes toLeftFromRight {
	49% {transform: translate(-100%);}
	50% {opacity: 0;transform: translate(100%);}
	51% {opacity: 1; }
}
/*--------------Rise Effect---------------------*/
@keyframes riseEffect {
	0% { opacity: 0.3; }
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #fbd713 , 0 0 0 10px rgba(255,255,255,0.3);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #fbd713 , 0 0 0 10px rgba(255,255,255,0.3);
		transform: scale(60);
		opacity: 0;
	}
}

/*-[ Dots Loader ]--------------------------------*/
@keyframes scale {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	45% {
		transform: scale(0.1);
		opacity: 0.7;
	}
	80% {
		transform: scale(1);
		opacity: 1;
	}
}
@keyframes zoomIn {
	from {
		opacity: 0;
		transform: scale3d(.3, .3, .3);
	}
	50% {
		opacity: 1;
	}
}
.zoomIn { animation-name: zoomIn }
@keyframes flip {
	from {
		transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
		animation-timing-function: ease-out;
	}
	40% {
		transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
		animation-timing-function: ease-out;
	}
	50% {
		transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
		animation-timing-function: ease-in;
	}
	80% {
		transform: perspective(400px) scale3d(.95, .95, .95);
		animation-timing-function: ease-in;
	}
	to {
		transform: perspective(400px);
		animation-timing-function: ease-in;
	}
}
@keyframes swing {
	20% {
		transform: rotate3d(0, 0, 1, 15deg);
	}
	40% {
		transform: rotate3d(0, 0, 1, -10deg);
	}
	60% {
		transform: rotate3d(0, 0, 1, 5deg);
	}
	80% {
		transform: rotate3d(0, 0, 1, -5deg);
	}
	to {
		transform: rotate3d(0, 0, 1, 0deg);
	}
}
.swing {
	transform-origin: top center;
	animation-name: swing
}
